<section class="control-bar">
  <h1>Loading spinner page</h1>
</section>
<section class="content-container padding-0">
  
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Loading spinner inline</h2>
      <div class="describe margin-bottom-1">
        <p>Loading spinner page blocks the UI whilst the page is loading.<br/>
        If required, please add <strong>loadingMessage="Your message..."</strong></p>
      </div>
      <aa-loading-spinner-page class="dl-version" [zIndex]="1"></aa-loading-spinner-page>
    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-loading-spinner-page</td>
            <td datalabel="Attribute">loadingMessage</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Null</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-loading-spinner-page</td>
            <td datalabel="Attribute">z-index</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">1</td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event)">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  
  <aa-blade 
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
    >
    <article class="blade-content">
      <a href="https://gist.github.com/angloux/198be7de1281cfe58e757a0f5eccdeb7" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/198be7de1281cfe58e757a0f5eccdeb7"></app-gist>
    </article>
  </aa-blade>

</section>
