@import './typography/fonts';
@import './elements/scrollbars';

body {
  // *Note: We wouldn't normally use the !important attribute BUT it is neccessary
  // here on the body to forcefully override some 3rd party css such as Bootstrap
  font-family: 'ph-smart-sans-regular', 'din-regular', Helvetica, sans-serif!important;
  line-height: initial!important;
  letter-spacing: .015rem!important;
  font-size: 13px!important;
  margin: 0!important;

  // for showing header-secondary
  &.light-mode.show-header-secondary,
  &.dark-mode.show-header-secondary,
  &#show-header-secondary {
    .header-secondary {
      position: fixed;
      left: 0;
      top: 3.45rem;
      width: 100%;
    }

    // New for 'Angular Elements' and using the new Left navigation
    main.main-content {
      padding-top: 7rem!important;
    }
    .nav-core {
      top: 7rem!important;
    }

    // Legacy using 'Core Anglo Angular Framework' - Will eventually be removed
    .main-container-fluid {
      padding-top: 6.9rem!important;
    }

    .nav-w-submenu-container .nav-vertical {
      top: 6.9rem!important;
    }
  }

  &.dark-mode {
    @import './lib/mixins';
    @import './lib/functions';
    @import './lib/vars';
    @import './lib/elements-dark';
    @import 'style-imports';
    background-color: _colour(trans-grey-2-to-black);
    color: _colour(ph-grey-100);
    min-width: _breakpoint(breakpoint-320);
  }

  &.light-mode {
    @import './lib/mixins';
    @import './lib/functions';
    @import './lib/vars';
    @import './lib/elements-light';
    @import 'style-imports';
    background-color: _colour(ph-grey-2);
    color: _colour(ph-grey-100);
    min-width: _breakpoint(breakpoint-320);
  }
}
