<section class="control-bar">
  <h1>Modal</h1>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Modal - component version</h2>
      <div class="describe margin-bottom-1">
        <p>Modals should only be used to inform the user of a particular event and or decision.
          Please avoid using modals for complex form data/tables etc, for this please use one 
          of the Design language blades.
        </p>
        <p>
          You can now set different colour themes for the modal. The available colours 
          are: red, orange, green and blue. 
        </p>
      </div>
      
      <div class="alert-shield margin-bottom-0-5 info">
        If you want to set the modal over aa-blade, 
        please set a rightPos and set lefPos to 'auto'</div>
      
      <h3>Component version</h3>
      <div class="field boxed">
        <button 
          (click)="toggleModal=!toggleModal" 
          class="primary margin-auto"
        >
        Show modal
      </button>
      </div>
      
      <aa-modal 
        *ngIf="toggleModal"
        [red]="true"
        [orange]=""
        [blue]=""
        [green]=""
        topPos=""
        rightPos=""
        leftPos=""
        minWidth=""
        maxWidth="20rem"
        zIndex="999"
        [heading]="'Are you sure?'"
      >
        <div content-custom>Custom content</div>
        <aa-button 
          (buttonClick)="toggleModal=!toggleModal" 
          buttonClass="primary" 
          fieldClass="boxed label-hidden" 
          buttonId="buttonId" 
          buttonText="Yes">
        </aa-button>
        <aa-button 
            (buttonClick)="toggleModal=!toggleModal" 
            buttonClass="cancel" 
            fieldClass="boxed label-hidden" 
            buttonId="buttonId" 
            buttonText="No">
        </aa-button>
      </aa-modal>

    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-modal</td>
            <td datalabel="Attribute">Colour</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">red, orange, green, blue</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-modal</td>
            <td datalabel="Attribute">zIndex</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">Your z-index value</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-modal</td>
            <td datalabel="Attribute">leftPos</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Unset by default</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-modal</td>
            <td datalabel="Attribute">topPos</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Unset by default</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-modal</td>
            <td datalabel="Attribute">minWidth</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Unset by default</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-modal</td>
            <td datalabel="Attribute">maxWidth</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">20rem</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-modal</td>
            <td datalabel="Attribute">*ngIf</td>
            <td datalabel="Type">Condition</td>
            <td datalabel="Default">false</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-modal</td>
            <td datalabel="Attribute">heading</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your heading</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-modal</td>
            <td datalabel="Attribute">content-custom</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Custom content</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-modal</td>
            <td datalabel="Attribute">button</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Yes</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-modal</td>
            <td datalabel="Attribute">button</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">No</td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event); showModalGist=true; showModalEventGist=false">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>

    <!-- start content repeater -->
    <section class="content-repeater flex-group">
      <section class="flex-1 col-left flex-start">
        <h2>Modal - service version</h2>
        <div class="describe margin-bottom-1">
          <p>You do not require the aa-modal component to use this version. You just need to call it 
            with the openModal() event. Please refer to the Gist.
          </p>
        </div>
        
        <h3>Service version</h3>
        <aa-button 
          (buttonClick)="openModal()" 
          buttonClass="primary" 
          fieldClass="boxed label-hidden" 
          buttonId="BtnId" 
          buttonLabel="Modal"
          buttonText="Show modal" 
          disabled=""
        >
        </aa-button>
        <div #modal></div>

  
      </section>
        
      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">Button</td>
              <td datalabel="Attribute">buttonClick</td>
              <td datalabel="Type">Function</td>
              <td datalabel="Default">openModal()</td>
            </tr>
            <tr>
              <td datalabel="Element">Div</td>
              <td datalabel="Attribute">Id</td>
              <td datalabel="Type">Id</td>
              <td datalabel="Default">#modal</td>
            </tr>
          </tbody>
        </table>
      </section>
      
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
          <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event); showModalGist=false; showModalEventGist=true">
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
    </section>
</section>

<aa-blade 
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
  >
  <article class="blade-content">
    <div *ngIf="showModalGist">
      <app-gist src="angloux/b1808895e0ff07b76375732574163aab"></app-gist>
      <a href="https://gist.github.com/angloux/b1808895e0ff07b76375732574163aab" target="_blank">View Gist on GitHub</a>
    </div>
    <div *ngIf="showModalEventGist">
      <app-gist src="angloux/fb5164e0aa6b55024dfe9b509fc1d110"></app-gist>
      <a href="https://gist.github.com/angloux/fb5164e0aa6b55024dfe9b509fc1d110" target="_blank">View Gist on GitHub</a>
    </div>
  </article>
</aa-blade>
