<section class="control-bar flex-group space-between">
  <h1>Fieldset</h1>
  <aa-alert alertClass="error max-width-unset" alertText="Please ensure ALL fieldset inputs are wrapped in div.field label"></aa-alert>
</section>

<section class="content-container padding-0">
  
  <section class="content-repeater flex-group">
          
      <section class="flex-1 col-left flex-start">
        <h2>Fieldset</h2>
        <div class="describe margin-bottom-1">
          <p>Use a fieldsets when building forms that contain<br/>multiple radios and checkboxes</p>
        </div>
        <div>
          <fieldset>
            <aa-tooltip 
            [includeLegend]="true"
            labelName="Radio button"
            class="margin-top-1"
            [isInfo]="true" 
            setMinWidth="12" 
            ypos="bottom" 
            xpos="right"
            zIndex="1"
          >
            <h4>My radio buttons</h4>
            <p>Add your details here</p>
          </aa-tooltip>
            <div class="field radio">
              <label [ngClass]="{checked: myRadios==='yes'}">
                <input [(ngModel)]="myRadios" name="myRadios" type="radio" value="yes">
                <span>Yes</span>
              </label>
            </div>
            <div class="field radio">
              <label [ngClass]="{checked: myRadios==='no'}">
                <input [(ngModel)]="myRadios" name="myRadios" type="radio" value="no">
                <span>No</span>
              </label>
            </div>
          </fieldset>
          <fieldset class="error">
            <legend>Radio button</legend>
            <div class="field radio">
              <label [ngClass]="{checked: myRadios2==='yes'}">
                <input [(ngModel)]="myRadios2" name="myRadios2" type="radio" value="yes">
                <span>Yes</span>
              </label>
            </div>
            <div class="field radio">
              <label [ngClass]="{checked: myRadios2==='no'}">
                <input [(ngModel)]="myRadios2" name="myRadios2" type="radio" value="no">
                <span>No</span>
              </label>
            </div>
            <div role="alert" class="error inline">Please select at least one option</div>
          </fieldset>
        </div>
      </section>
        
      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">Fieldset</td>
              <td datalabel="Attribute">N/A</td>
              <td datalabel="Type">HTML</td>
              <td datalabel="Default">N/A</td>
            </tr>
            <tr>
              <td datalabel="Element">Legend</td>
              <td datalabel="Attribute">N/A</td>
              <td datalabel="Type">HTML</td>
              <td datalabel="Default">Your fieldset title</td>
            </tr>
            <tr>
              <td datalabel="Element">Div</td>
              <td datalabel="Attribute">HTML</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">.field .radio</td>
            </tr>
            <tr>
              <td datalabel="Element">Label</td>
              <td datalabel="Attribute">[NgClass]</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">.checked + your logic</td>
            </tr>
            <tr>
              <td datalabel="Element">Input</td>
              <td datalabel="Attribute">[(ngModel)]</td>
              <td datalabel="Type">Model</td>
              <td datalabel="Default">Your model</td>
            </tr>
            <tr>
              <td datalabel="Element">Span</td>
              <td datalabel="Attribute">HTML</td>
              <td datalabel="Type">String</td>
              <td datalabel="Default">Your radio name</td>
            </tr>
          </tbody>
        </table>
      </section>
      
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
          <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event)">
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
    </section>
    
    <aa-blade 
      [showModal]="false"
      [toggleBlade]="toggleBlade"
      suppressAutoClose="false"
      topPosition="3.5"
      zIndex="2"
      bladeSize="one-column-width"
      bladeHeading="Gist"
      [enableIcon]="true"
      iconName="table_rows"
      (close)="toggleBlade = false"
      >
      <article class="blade-content">
          <app-gist src="angloux/4e6f7537babfe54d86ab2198c096c4fe"></app-gist>
          <a href="https://gist.github.com/angloux/4e6f7537babfe54d86ab2198c096c4fe" target="_blank">View Gist on GitHub</a>
      </article>
    </aa-blade>
  
</section>