.actions-summary {
    padding: .75rem 0;
    min-width: 5rem;
    overflow: hidden;
    width: fit-content;
    border-width: 2px;
    border-style: solid;
    border-color: _colour(aa-light-blue-15);
    border-radius: .5rem;
    background-color: _colour(aa-white-100);

    h4 {
        border-radius: 1rem;
        padding: 0 .5rem;
        min-width: 2rem;
        height: 2rem;
    }

    strong {
        color: _colour(trans-blue-to-white);
    }

    &.flex-column {
        padding: 1rem .75rem .75rem;
        section {
            margin: 0 0 .75rem 0;
            padding: 0 0 .25rem 0;
            &:last-child {
                margin: 0;
                padding: 0;
            }
            &:not(:last-child) {
                border-bottom: 2px solid _colour(aa-light-blue-15);
            }
        }
    }

    section {
        padding: 0 .75rem;
        margin: 0;
        &:not(:last-child, .flex-column section) {
            border-right: 2px solid _colour(aa-light-blue-15);
        }
    }

    .default {
        border-color: _colour(aa-blue-100);
    }

    .not-started {
        border-color: _colour(aa-grey-25);
    }

    .approved {
        border-color: _palette(aa-green-100);
    }

    .rejected {
        border-color: _palette(aa-red-100);
    }

    .pending {
        border-color: _palette(aa-orange-100);
    }
}