[role=alert] {
	background-repeat: no-repeat;
  background-size: 1.15rem;
  background-position: .85rem 50%;
	border-radius: .5rem;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
	font-size: _font(size-default);
	padding:  .5rem 1.25rem .5rem 2.75rem;
	max-width: 35rem;
  vertical-align: middle;

  .material-icons {
    font-size: _font(size-regular);
  }

  &.align-icon-top {
    background-position: .85rem 1rem;
    padding: .5rem 1rem .75rem;

    h3 {
      padding-left: 1.5rem;
    }
  }

  h3 {
    color: inherit;
  }

	&.sentence {
		display: block;
	}

  &.error {
    background-color: _colour(trans-red-5-to-red-dark);
    color: _colour(ph-red-100);
    position: relative;
    background-image: url("#{$icon-path}/icon-alert-red.svg");
  }

  &.info {
    background-color: _colour(trans-light-blue-10-to-blue-dark);
    color: _colour(ph-light-blue-100);
    background-image: url("#{$icon-path}/icon-info-blue.svg");
  }

  &.warning {
    background-color: _colour(trans-orange-10-to-orange-dark);
    color: _colour(ph-orange-100);
    background-image: url("#{$icon-path}/icon-info-orange.svg");
  }

  &.success {
    background-color: _colour(trans-green-5-to-green-dark);
    color: _colour(ph-green-100);
    background-image: url("#{$icon-path}/icon-check-green.svg");
  }

  .is-invalid {
    border: 1px solid _colour(ph-red-100) !important;
    background-color: _palette(trans-red-5-to-red-dark);
    border-radius: .25rem;
  }
}

.field.error {
  [role='alert'] {
    margin-top: .5rem;
    background-color: _colour(trans-red-5-to-red-dark);
    border-color: _colour(ph-red-10);
    color: _colour(ph-red-100);
    background-image: url("#{$icon-path}/icon-alert-red.svg");
  }
}

.alert-group {
	[role=alert] {
	margin-top: .5rem;
		&:not(:last-of-type) {
			margin-right: .5rem;
		}
	}
}
