.alert-shield-tooltip-wrapper,
.custom-alert-shield {
  &:hover {
    .alert-shield-tooltip {
      display: block;
    }
  }
  position: relative;
  cursor: default;
  .alert-shield-tooltip {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: _colour(aa-white-100);
    bottom: calc(100% + .5rem);
    border-radius: .5rem;
    padding: .75rem;
    border-style: solid;
    font-size: _font(size-default);
    border-width: 2px;

    h4 {
      margin-top: 0;
    }

    &.right.bottom {
      left: calc(100% + .5rem);
      top: 0;
      bottom: auto;
    }
  
    &.left.bottom {
      right: calc(100% + .5rem);
      top: 0;
      bottom: auto;
    }
  
    &.right.top {
      left: calc(100% + .5rem);
      bottom: 0;
    }
  
    &.left.top {
      right: calc(100% + .5rem);
      bottom: 0;
    }

    &.error {
      border-color: _colour(aa-red-100);
      h4 {color: _colour(aa-red-100)}
    }

    &.warning {
      border-color: _palette(aa-orange-100);
      h4 {color: _palette(aa-orange-100)}
    }

    &.success {
      border-color: _palette(aa-green-100);
      h4 {color: _palette(aa-green-100)}
    }

    &.info {
      border-color: _palette(aa-light-blue-100);
      h4 {color: _palette(aa-light-blue-100)}
    }
  }
}

.alert-shield {
  border-radius: 1rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: .3rem 50%;
  font-size: _font(size-default);
  padding: .425rem .75rem .425rem 2rem;
  border: 2px solid transparent;
  flex: none;
  height: 2rem;
  line-height: 1rem;
  white-space: nowrap;

  span {
    padding-right: 0;
  }

  &.small {
    background-size: 1rem;
    font-size: _font(size-small);
    padding: .275rem .5rem .275rem 1.75rem;
    height: 1.5rem;
    line-height: .75rem;

    span, div {
      padding-right: 0;
    }
  
  }
  
  &.success {
    background-color: _colour(trans-green-5-to-green-dark);
    color: _colour(aa-green-100);
    background-image: url("#{$icon-path}/icon-check-green.svg");
  }
  
  &.info {
    background-color: _colour(trans-light-blue-10-to-blue-dark);
    color: _colour(aa-light-blue-100);
    background-image: url("#{$icon-path}/icon-info-blue.svg");
  }

  &.pending {
    background-color: _colour(trans-light-blue-10-to-blue-dark);
    background-image: url("#{$icon-path}/timelapse-24px-light-blue.svg");
    color: _colour(aa-light-blue-100);
  }

  &.pending-orange {
    background-color: _colour(trans-orange-10-to-orange-dark);
    background-image: url("#{$icon-path}/timelapse-24px-orange.svg");
    color: _colour(aa-orange-100);
  }

  &.pending-red {
    background-color: _colour(trans-red-5-to-red-dark);
    background-image: url("#{$icon-path}/timelapse-24px-red.svg");
    color: _colour(aa-red-100);
  }

  &.risk-green {
    background-color: _colour(trans-green-5-to-green-dark);
    background-image: url("#{$icon-path}/icon-check-green.svg");
    color: _colour(aa-green-100);
  }

  &.risk-blue {
    background-color: _colour(trans-light-blue-10-to-blue-dark);
    background-image: url("#{$icon-path}/icon-check-blue.svg");
    color: _colour(aa-light-blue-100);
  }

  &.risk-low {
    background-color: _colour(trans-light-blue-10-to-blue-dark);
    background-image: url("#{$icon-path}/icon-risk-24px-blue.svg");
    color: _colour(aa-light-blue-100);
  }

  &.risk-medium {
    background-color: _colour(trans-orange-10-to-orange-dark);
    background-image: url("#{$icon-path}/icon-risk-24px-orange.svg");
    color: _colour(aa-orange-100);
  }

  &.risk-high {
    background-color: _colour(trans-red-5-to-red-dark);
    background-image: url("#{$icon-path}/icon-risk-24px-red.svg");
    color: _colour(aa-red-100);
  }

  &.risk-green-approved {
    background-color: _colour(trans-green-5-to-green-dark);
    background-image: url("#{$icon-path}/icon-check-green.svg");
    color: _colour(aa-green-100);
    border: 2px dotted _colour(aa-green-100);
  }

  &.risk-low-approved {
    background-color: _colour(trans-green-5-to-green-dark);
    background-image: url("#{$icon-path}/check_circle-blue-24px.svg");
    color: _colour(aa-green-100);
    border: 2px dotted _colour(aa-light-blue-100);
  }

  &.risk-medium-approved {
    background-color: _colour(trans-green-5-to-green-dark);
    background-image: url("#{$icon-path}/check_circle-orange-24px.svg");
    color: _colour(aa-green-100);
    border: 2px dotted _colour(aa-orange-100);
  }

  &.risk-high-approved {
    background-color: _colour(trans-green-5-to-green-dark);
    background-image: url("#{$icon-path}/check_circle-red-24px.svg");
    color: _colour(aa-green-100);
    border: 2px dotted _colour(aa-red-100);
  }

  &.warning {
    background-color: _colour(trans-orange-10-to-orange-dark);
    color: _colour(aa-orange-100);
    background-image: url("#{$icon-path}/icon-info-orange.svg");
  }

  &.void {
    background-color: _colour(trans-orange-10-to-orange-dark);
    background-image: url("#{$icon-path}/icon-cross-orange.svg");
    color: _colour(aa-orange-100);
  }

  &.error {
    background-color: _colour(trans-red-5-to-red-dark);
    background-image: url("#{$icon-path}/icon-alert-red.svg");
    color: _colour(aa-red-100);
  }

  &.removed, &.circle-x-red, &.do-not-use {
    background-color: _colour(trans-red-5-to-red-dark);
    background-image: url("#{$icon-path}/icon-close-24px-red.svg");
    color: _colour(aa-red-100);
  }

  &.withdrawn {
    background-color: _colour(trans-red-5-to-red-dark);
    background-image: url("#{$icon-path}/undo-red-24px.svg");
    color: _colour(aa-red-100);
  }
  
  &.returned {
    background-color: _colour(trans-red-5-to-red-dark);
    background-image: url("#{$icon-path}/icon-returned-red.svg");
    color: _colour(aa-red-100);
  }

  &.draft {
    background-color: _colour(aa-grey-10);
    color: _colour(aa-grey-100);
    @include draft-bg-image;
  }

  &.import {
    background-color: _colour(trans-orange-10-to-orange-dark);
    @include icon-left-medium;
    color: _colour(aa-orange-100);

    &:before {
      @include icon-button-large-material;
      content: "\e15e";
    }

    &.small {
      padding-left: 2rem;
      &:before {
        left: .4rem;
        top: 0
      }
    }
  }

  &.reject,
  &.cancel {
    background-color: _colour(trans-red-5-to-red-dark);
    background-image: url("#{$icon-path}/cancel-24px-red.svg");
    color: _colour(aa-red-100);
  }

  &.vanilla, &.blue {
    background-color: _colour(trans-light-blue-10-to-blue-dark);
    color: _colour(aa-light-blue-100);
    padding-left: .75rem;
  }

  &.green {
    background-color: _colour(trans-green-5-to-green-dark);
    color: _colour(aa-green-100);
    padding-left: .75rem;
  }

  &.orange {
    background-color: _colour(trans-orange-10-to-orange-dark);
    color: _colour(aa-orange-100);
    padding-left: .75rem;
  }

  &.red {
    background-color: _colour(trans-red-5-to-red-dark);
    color: _colour(aa-red-100);
    padding-left: .75rem;
  }
}

.custom-alert-shield {
  display: inline-block;
  .custom-alert-shield-container {
    height: 2rem;
    border-radius: 1rem;
    padding: 0 0 0 .25rem;

    span {
      font-size: _font(size-default);
      padding-right: .75rem;
    }
    &.icon-only {
      background-color: transparent!important;
      span {
        padding-right: 0;
      }
      &.small {
        .material-icons,
        .material-icons-outlined {
          font-size: _font(size-medium)!important;
        }
      }
  
      &.bg-aa-red-5,
      &.bg-aa-red-8,
      &.bg-aa-red-25,
      &.bg-aa-red-50,
      &.bg-aa-red-80,
      &.bg-aa-red-100 {color: _palette(aa-red-100)}
      &.bg-aa-green-5, .bg-aa-green-15 {color: _palette(aa-green-100)}
      &.bg-aa-green-100 {color: _palette(aa-green-100)}
      &.bg-aa-orange-10 {color: _palette(aa-orange-100)}
      &.bg-aa-orange-100 {color: _palette(aa-orange-100)}
      &.bg-aa-light-blue-15 {color: _palette(aa-light-blue-100)}
      &.bg-aa-light-blue-100 {color: _palette(aa-light-blue-100)}
      &.bg-aa-grey-10 {color: _palette(aa-grey-100)}
      &.bg-aa-grey-100 {color: _colour(aa-grey-100)}
  
      &.rotate {
        .material-icons,
        .material-icons-outlined {
          animation: m 3s infinite linear;
        }
        @keyframes m {
          100% { transform: rotate(360deg); }
        }
      }
    }
  }

  .bg-aa-red-5,
  .bg-aa-red-8,
  .bg-aa-red-25,
  .bg-aa-red-50,
  .bg-aa-red-80 {color: _palette(aa-red-100); background-color: _colour(trans-red-5-to-red-dark)!important;}
  .bg-aa-red-100 {color: _palette(aa-white-100)}
  .bg-aa-green-5, .bg-aa-green-15 {color: _palette(aa-green-100); background-color: _colour(trans-green-5-to-green-dark)!important;}
  .bg-aa-green-100 {color: _palette(aa-white-100)}
  .bg-aa-orange-10 {color: _palette(aa-orange-100); background-color: _colour(trans-orange-10-to-orange-dark)!important;}
  .bg-aa-orange-100 {color: _palette(aa-white-100)}
  .bg-aa-light-blue-15 {color: _palette(aa-light-blue-100); background-color: _colour(trans-light-blue-10-to-blue-dark)!important;}
  .bg-aa-light-blue-100 {color: _palette(aa-white-100)}
  .bg-aa-grey-10 {color: _palette(aa-grey-100)}
  .bg-aa-grey-100 {color: _colour(aa-white-100)}

  .material-icons,
  .material-icons-outlined {
    font-size: _font(size-large);
    margin-right: .25rem;
  }

  .small {
    font-size: _font(size-small);
    height: 1.75rem;
    padding: 0 0 0 .25rem;

    span {
      padding-right: .75rem
    }

    .material-icons,
    .material-icons-outlined {
      font-size: _font(size-medium);
    }
  }
}

.force-breaks {
  .alert-shield {
    display: table;
  }
}

.alert-shield.small {
  &.no-text {
    padding: 0.35rem 0.5rem 0.35rem 1.25rem;
  }
}

// extras

.icon-shield-container {
  .alert-shield {
    height: 1.9rem;
  }
}

.ag-header-cell {
  .alert-shield {
    line-height: 1rem;
  }
}

// MV specific styles - don't use or alter

#mineVisitGrid .alert-shield {
  background-position: 5% 50%;
  height: 95%;
  padding: 0 0.5rem 0 1.75rem;
}

.approved .alert-shield {
  background-color: _colour(trans-green-5-to-green-dark);
  background-image: url("#{$icon-path}/check_circle-24px-green.svg");
  color: _colour(aa-green-100);
}

.noMineVisitRegistered .alert-shield,
.void .alert-shield {
  background-color: _colour(trans-red-5-to-red-dark);
  background-image: url("#{$icon-path}/error_outline-24px-red.svg");
  color: _palette(alert-error-body);
}

.pending .alert-shield {
  background-color: _colour(trans-light-blue-10-to-blue-dark);
  background-image: url("#{$icon-path}/timelapse-24px-light-blue.svg");
  color: _colour(aa-light-blue-100);
}

.rejected .alert-shield {
  background-color: _colour(trans-red-5-to-red-dark);
  background-image: url("#{$icon-path}/highlight_off-24px-red.svg");
  color: _palette(alert-error-body);
}


