.box-shadow, .box-shadow-light {
    box-shadow: 0 0 .5rem .05rem _colour(box-shadow);
    -webkit-box-shadow: 0 0 .5rem .05rem _colour(box-shadow);
    -moz-box-shadow: 0 0 .5rem .05rem _colour(box-shadow);
}

.box-shadow-strong {
    box-shadow: 0 0 .5rem .05rem _colour(box-shadow-strong);
    -webkit-box-shadow: 0 0 .5rem .05rem _colour(box-shadow-strong);
    -moz-box-shadow: 0 0 .5rem .05rem _colour(box-shadow-strong);
}