.describe {
  background-color: _colour(trans-grey-5-to-plum-dark);
  border-radius: 0.25rem;
  display: inline-block;
  font-size: _font(size-default);
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.75rem;
}
