.progress-circle {
  position: relative;
  width: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  &.progress-circle-custom {
    h3 {margin: 0}
    header {
      width: 100%;
      padding: 1rem .75rem;
      margin-bottom: .5rem;
    }
    footer {
      width: 100%;
      padding: .25rem .75rem 1rem;
      
      button {
        margin: 0;
      }
    }
  }

  &.panel-view {
    background-color: _colour(ph-white-100);
    border: 1px solid _colour(ph-grey-10);
    margin-bottom: .75rem;
    width: 13rem;
    height: 13rem;

    h3.title {
      position: relative;
      margin: 0 0 1.25rem 0;
      width: 100%;
      padding: 1rem 0;
      border-bottom: 1px solid _colour(ph-grey-10);

      .material-icons:not(.status),
      .material-icons-outlined:not(.status) {
        position: absolute;
        right: .25rem;
        top: .75rem;
      }
    }

    .number {
      font-size: _font(size-small);
      margin: .5rem 0 0 0;
    }
  }

  .percent {
    position: relative;
    width: 6rem;
    height: 6rem;
  }

  .value {
    //color: _colour(ph-light-blue-100);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: _font(size-regular);
  }

  svg {
    position: relative;
    width: 100%;
    height: 100%;

    circle {
      fill: none;
      stroke-width: 5;
      transform: translate(.5rem, .5rem);
      stroke-dasharray: 250;
      stroke-dashoffset: 250;
      stroke-linecap: round;
    }
  }
}

.progress-circle-clean {

  a {
    cursor: pointer;
    text-decoration: none;
  }

  a,
  span {
    .progress-circle {
      height: 11rem;

      h3.title {
        position: static;
        width: auto;
        border-bottom: none;
        margin: 0;
        padding: 1rem 0 .5rem 0;

        .material-icons,
        .material-icons-outlined {
          display: none;
        }
      }
    }

    &.orange {
      svg circle {
        stroke: _palette(ph-orange-100);
      }

      .progress-circle,
      h3.title {
        color: _palette(ph-orange-100);
      }
    }

    &.green {
      svg circle {
        stroke: _palette(ph-green-100);
      }

      .progress-circle,
      h3.title {
        color: _palette(ph-green-100);
      }
    }

    &.blue {
      svg circle {
        stroke: _colour(ph-blue-100);
      }

      .progress-circle,
      h3.title {
        color: _colour(ph-blue-100);
      }
    }

    &.red {
      svg circle {
        stroke: _palette(ph-red-100);
      }

      .progress-circle,
      h3.title {
        color: _palette(ph-red-100);
      }
    }

    &.light-blue {
      svg circle {
        stroke: _palette(ph-light-blue-100);
      }

      .progress-circle,
      h3.title {
        color: _palette(ph-light-blue-100);
      }
    }
  }

  & a {
    &.orange {
      &.active,
      &:hover {
        h3.title {
          border-bottom: none
        }

        .progress-circle,
        h3.title,
        .percent {
          color: _palette(ph-white-100);
          background-color: _palette(ph-orange-100);
        }
      }
    }

    &.green {
      &.active,
      &:hover {

        .progress-circle,
        h3.title {
          color: _palette(ph-white-100);
          background-color: _palette(ph-green-100);
        }
      }
    }

    &.blue {
      &.active,
      &:hover {

        .progress-circle,
        h3.title {
          color: _palette(ph-white-100);
          background-color: _colour(ph-blue-100);
        }
      }
    }

    &.red {
      &.active,
      &:hover {

        .progress-circle,
        h3.title {
          color: _palette(ph-white-100);
          background-color: _palette(ph-red-100);
        }
      }
    }

    &.light-blue {
      &.active,
      &:hover {

        .progress-circle,
        h3.title {
          color: _palette(ph-white-100);
          background-color: _palette(ph-light-blue-100);
        }
      }
    }

    // default
    &.active,
    &:hover {
      svg circle {
        stroke: _palette(ph-white-100);
      }
    }
  }
}

.progress-circle.small {
  width: 2.5rem;

  +div {
    font-size: _font(size-small);
  }

  h3.title {
    font-size: _font(size-small);
    font-weight: _font(weight-medium);
  }

  .percent {
    width: 2.5rem;
    height: 2.5rem;
  }

  +div {
    font-size: _font(size-small);
  }

  h3.title {
    font-size: _font(size-small);
    font-weight: _font(weight-medium);
  }

  .percent {
    width: 2.5rem;
    height: 2.5rem;
  }

  .value {
    font-size: _font(size-small);
  }

  svg {
    width: 100%;
    height: 100%;

    circle {
      stroke-width: 2;
      transform: translate(.3rem, .3rem);
    }
  }
}