aa-status-indicator {
  &.hide-divider {
    .status-container {
      &:after {
        background: transparent!important;
      }
    }
  }
}

.status-indicator {
    .status-container {
      position: relative;
      margin: 0;
      line-height: 0;

      .marker {
        position: absolute;
        z-index: 25;
        right: .1rem;
        top: -.1rem;
        font-size: _font(size-tiny);
        color: _colour(aa-grey-2);
        border-radius: 50%;
        text-align: center;
        width: 0.65rem;
        height: 0.65rem;
        line-height: .65rem;
        background: _colour(aa-grey-100);
        box-shadow: 0 0 2px _palette(aa-white-100);
        padding-left: .05rem;
      }
  
      &:not(:last-child):after {
        position: absolute;
        left: 1.25rem;
        top: 50%;
        content: "";
        width: .5rem;
        height: 2px;
        background-color: _palette(aa-grey-10);
      }

      &.remove-line {
        &:after {
          background-color: transparent;
        }
      }
  
      div:not(.marker) {
        position: relative;
        border-radius: 50%;
        padding: 0;
        flex-direction: column;
        display: flex;
        align-items: center;
        line-height: 1.3rem;
        margin: auto;
        font-size: 1.3rem;
        border: 1px solid transparent;
  
        &.done {
          color: _palette(aa-green-100);
        }
        
        &.error {
          color: _palette(aa-red-100);
        }
  
        &.not-started {
          color: _palette(aa-grey-25);
          transform: rotate(-90deg);
        }
  
        &.pending {
          color: _palette(aa-orange-100);
        }
  
        &.loading {
          color: _palette(aa-blue-sky-100);
        }

        &.stopped {
          color: _palette(aa-red-100);
        }
      }
    }
  }