<section class="control-bar flex-group">
  <h1>Colours</h1>
  <div class="flex-group flex-end flex-align-center flex-nowrap">
    <ph-button
      [customIcons]="true"
      (buttonClick)="toggleTheme()"
      buttonClass="custom-icons light-blue"
      fieldClass="boxed"
      [showLabel]="false"
      buttonText="Show colours in dark-mode"
      buttonIcon="contrast"
      countColor="blue">
    </ph-button>
  </div>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater">
    <div class="flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Primary</h2>
      <div class="describe margin-bottom-1">
        <p>Generally elements already have colours applied. Don't use the hex values apart from in emails, or exceptional circumstances.</p>
      </div>
    </section>
    </div>
    <div class="flex-group">
      <div class="colour-swatch bg-ph-blue-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-blue-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-blue-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-blue-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-blue-70">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-blue-70</dd>
          <dt>Background</dt>
          <dd>.bg-ph-blue-70</dd>
          <dt>Border</dt>
          <dd>.bd-ph-blue-70</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-blue-60">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-blue-60</dd>
          <dt>Background</dt>
          <dd>.bg-ph-blue-60</dd>
          <dt>Border</dt>
          <dd>.bd-ph-blue-60</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-blue-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-blue-50</dd>
          <dt>Background</dt>
          <dd>.bg-ph-blue-50</dd>
          <dt>Border</dt>
          <dd>.bd-ph-blue-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-blue-40">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-blue-40</dd>
          <dt>Background</dt>
          <dd>.bg-ph-blue-40</dd>
          <dt>Border</dt>
          <dd>.bd-ph-blue-40</dd>
        </dl>
      </div>
    </div>
    
    <div class="flex-group">
      <div class="colour-swatch bg-ph-light-blue-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-light-blue-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-light-blue-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-light-blue-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-light-blue-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-light-blue-80</dd>
          <dt>Background</dt>
          <dd>.bg-ph-light-blue-80</dd>
          <dt>Border</dt>
          <dd>.bd-ph-light-blue-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-light-blue-60">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-light-blue-60</dd>
          <dt>Background</dt>
          <dd>.bg-ph-light-blue-60</dd>
          <dt>Border</dt>
          <dd>.bd-ph-light-blue-60</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-light-blue-40">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-light-blue-40</dd>
          <dt>Background</dt>
          <dd>.bg-ph-light-blue-40</dd>
          <dt>Border</dt>
          <dd>.bd-ph-light-blue-40</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-light-blue-15">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-light-blue-15</dd>
          <dt>Background</dt>
          <dd>.bg-ph-light-blue-15</dd>
          <dt>Border</dt>
          <dd>.bd-ph-light-blue-15</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-light-blue-10">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-light-blue-10</dd>
          <dt>Background</dt>
          <dd>.bg-ph-light-blue-10</dd>
          <dt>Border</dt>
          <dd>.bd-ph-light-blue-10</dd>
        </dl>
      </div>
      <!-- <div class="colour-swatch bg-ph-light-blue-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-light-blue-5</dd>
          <dt>Background</dt>
          <dd>.bg-ph-light-blue-5</dd>
          <dt>Border</dt>
          <dd>.bd-ph-light-blue-5</dd>
        </dl>
      </div> -->
    </div>
    <div class="flex-group">
      <div class="colour-swatch bg-ph-red-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-red-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-red-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-red-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-red-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-red-80</dd>
          <dt>Background</dt>
          <dd>.bg-ph-red-80</dd>
          <dt>Border</dt>
          <dd>.bd-ph-red-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-red-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-red-50</dd>
          <dt>Background</dt>
          <dd>.bg-ph-red-50</dd>
          <dt>Border</dt>
          <dd>.bd-ph-red-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-red-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-red-25</dd>
          <dt>Background</dt>
          <dd>.bg-ph-red-25</dd>
          <dt>Border</dt>
          <dd>.bd-ph-red-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-red-10">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-red-10</dd>
          <dt>Background</dt>
          <dd>.bg-ph-red-10</dd>
          <dt>Border</dt>
          <dd>.bd-ph-red-10</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-red-8">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-red-8</dd>
          <dt>Background</dt>
          <dd>.bg-ph-red-8</dd>
          <dt>Border</dt>
          <dd>.bd-ph-red-8</dd>
        </dl>
      </div>
    </div>
  </section>
   <!-- start content repeater -->
   <section class="content-repeater">
    <div class="flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Secondary</h2>
      <div class="describe margin-bottom-1">
        <p>Generally elements already have colours applied. Don't use the hex values apart from in emails, or exceptional circumstances.</p>
      </div>
    </section>
    </div>
    <div class="flex-group">
      <div class="colour-swatch bg-ph-grey-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-grey-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-grey-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-grey-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-grey-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-grey-50</dd>
          <dt>Background</dt>
          <dd>.bg-ph-grey-50</dd>
          <dt>Border</dt>
          <dd>.bd-ph-grey-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-grey-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-grey-25</dd>
          <dt>Background</dt>
          <dd>.bg-ph-grey-25</dd>
          <dt>Border</dt>
          <dd>.bd-ph-grey-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-grey-10">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-grey-10</dd>
          <dt>Background</dt>
          <dd>.bg-ph-grey-10</dd>
          <dt>Border</dt>
          <dd>.bd-ph-grey-10</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-grey-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-grey-5</dd>
          <dt>Background</dt>
          <dd>.bg-ph-grey-5</dd>
          <dt>Border</dt>
          <dd>.bd-ph-grey-5</dd>
        </dl>
      </div>
    </div>
    
    <div class="flex-group">
      <div class="colour-swatch bg-ph-green-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-green-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-green-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-green-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-green-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-green-80</dd>
          <dt>Background</dt>
          <dd>.bg-ph-green-80</dd>
          <dt>Border</dt>
          <dd>.bd-ph-green-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-green-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-green-50</dd>
          <dt>Background</dt>
          <dd>.bg-ph-green-50</dd>
          <dt>Border</dt>
          <dd>.bd-ph-green-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-green-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-green-25</dd>
          <dt>Background</dt>
          <dd>.bg-ph-green-25</dd>
          <dt>Border</dt>
          <dd>.bd-ph-green-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-green-15">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-green-15</dd>
          <dt>Background</dt>
          <dd>.bg-ph-green-15</dd>
          <dt>Border</dt>
          <dd>.bd-ph-green-15</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-green-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-green-5</dd>
          <dt>Background</dt>
          <dd>.bg-ph-green-5</dd>
          <dt>Border</dt>
          <dd>.bd-ph-green-5</dd>
        </dl>
      </div>
    </div>

    <div class="flex-group">
      <div class="colour-swatch bg-ph-lime-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-lime-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-lime-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-lime-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-lime-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-lime-80</dd>
          <dt>Background</dt>
          <dd>.bg-ph-lime-80</dd>
          <dt>Border</dt>
          <dd>.bd-ph-lime-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-lime-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-lime-50</dd>
          <dt>Background</dt>
          <dd>.bg-ph-lime-50</dd>
          <dt>Border</dt>
          <dd>.bd-ph-lime-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-lime-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-lime-25</dd>
          <dt>Background</dt>
          <dd>.bg-ph-lime-25</dd>
          <dt>Border</dt>
          <dd>.bd-ph-lime-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-lime-15">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-lime-15</dd>
          <dt>Background</dt>
          <dd>.bg-ph-lime-15</dd>
          <dt>Border</dt>
          <dd>.bd-ph-lime-15</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-lime-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-lime-5</dd>
          <dt>Background</dt>
          <dd>.bg-ph-lime-5</dd>
          <dt>Border</dt>
          <dd>.bd-ph-lime-5</dd>
        </dl>
      </div>
    </div>
    
    <div class="flex-group">
      <div class="colour-swatch bg-ph-orange-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-orange-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-orange-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-orange-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-orange-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-orange-80</dd>
          <dt>Background</dt>
          <dd>.bg-ph-orange-80</dd>
          <dt>Border</dt>
          <dd>.bd-ph-orange-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-orange-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-orange-50</dd>
          <dt>Background</dt>
          <dd>.bg-ph-orange-50</dd>
          <dt>Border</dt>
          <dd>.bd-ph-orange-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-orange-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-orange-25</dd>
          <dt>Background</dt>
          <dd>.bg-ph-orange-25</dd>
          <dt>Border</dt>
          <dd>.bd-ph-orange-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-orange-10">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-orange-10</dd>
          <dt>Background</dt>
          <dd>.bg-ph-orange-10</dd>
          <dt>Border</dt>
          <dd>.bd-ph-orange-10</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-orange-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-orange-5</dd>
          <dt>Background</dt>
          <dd>.bg-ph-orange-5</dd>
          <dt>Border</dt>
          <dd>.bd-ph-orange-5</dd>
        </dl>
      </div>
    </div>
  </section>
  
   <!-- start content repeater -->
   <section class="content-repeater">
    <div class="flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Tertiary</h2>
      <div class="describe margin-bottom-1">
        <p>Generally elements already have colours applied. Don't use the hex values apart from in emails, or exceptional circumstances.</p>
      </div>
    </section>
    </div>

    <div class="flex-group">
      <div class="colour-swatch bg-ph-plum-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-plum-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-plum-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-plum-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-plum-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-plum-80</dd>
          <dt>Background</dt>
          <dd>.bg-ph-plum-80</dd>
          <dt>Border</dt>
          <dd>.bd-ph-plum-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-plum-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-plum-50</dd>
          <dt>Background</dt>
          <dd>.bg-ph-plum-50</dd>
          <dt>Border</dt>
          <dd>.bd-ph-plum-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-plum-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-plum-25</dd>
          <dt>Background</dt>
          <dd>.bg-ph-plum-25</dd>
          <dt>Border</dt>
          <dd>.bd-ph-plum-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-plum-15">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-plum-15</dd>
          <dt>Background</dt>
          <dd>.bg-ph-plum-15</dd>
          <dt>Border</dt>
          <dd>.bd-ph-plum-15</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-plum-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-plum-5</dd>
          <dt>Background</dt>
          <dd>.bg-ph-plum-5</dd>
          <dt>Border</dt>
          <dd>.bd-ph-plum-5</dd>
        </dl>
      </div>
    </div>

    <div class="flex-group">
      <div class="colour-swatch bg-ph-burgundy-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-burgundy-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-burgundy-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-burgundy-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-burgundy-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-burgundy-80</dd>
          <dt>Background</dt>
          <dd>.bg-ph-burgundy-80</dd>
          <dt>Border</dt>
          <dd>.bd-ph-burgundy-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-burgundy-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-burgundy-50</dd>
          <dt>Background</dt>
          <dd>.bg-ph-burgundy-50</dd>
          <dt>Border</dt>
          <dd>.bd-ph-burgundy-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-burgundy-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-burgundy-25</dd>
          <dt>Background</dt>
          <dd>.bg-ph-burgundy-25</dd>
          <dt>Border</dt>
          <dd>.bd-ph-burgundy-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-burgundy-15">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-burgundy-15</dd>
          <dt>Background</dt>
          <dd>.bg-ph-burgundy-15</dd>
          <dt>Border</dt>
          <dd>.bd-ph-burgundy-15</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-burgundy-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-burgundy-5</dd>
          <dt>Background</dt>
          <dd>.bg-ph-burgundy-5</dd>
          <dt>Border</dt>
          <dd>.bd-ph-burgundy-5</dd>
        </dl>
      </div>
    </div>

    <div class="flex-group">
      <div class="colour-swatch bg-ph-brown-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-brown-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-brown-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-brown-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-ochre-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-ochre-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-ochre-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-ochre-100</dd>
        </dl>
      </div>
    </div>

    <div class="flex-group">
      <div class="colour-swatch bg-ph-yellow-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-yellow-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-yellow-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-yellow-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-yellow-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-yellow-50</dd>
          <dt>Background</dt>
          <dd>.bg-ph-yellow-50</dd>
          <dt>Border</dt>
          <dd>.bd-ph-yellow-50</dd>
        </dl>
      </div>
    </div>
    
    <div class="flex-group">
      <div class="colour-swatch bg-ph-blue-sky-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-blue-sky-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-blue-sky-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-blue-sky-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-pink-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-pink-100</dd>
          <dt>Background</dt>
          <dd>.bg-ph-pink-100</dd>
          <dt>Border</dt>
          <dd>.bd-ph-pink-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-pink-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-pink-50</dd>
          <dt>Background</dt>
          <dd>.bg-ph-pink-50</dd>
          <dt>Border</dt>
          <dd>.bd-ph-pink-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-ph-pink-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.ph-pink-25</dd>
          <dt>Background</dt>
          <dd>.bg-ph-pink-25</dd>
          <dt>Border</dt>
          <dd>.bd-ph-pink-25</dd>
        </dl>
      </div>
    </div>
  </section>
</section>
