<section class="control-bar flex-group">
  <h1>Colours</h1>
  <div class="flex-group flex-end flex-align-center flex-nowrap">
    <div role="alert" class="error">It is advisable to use lighter tints for ag-grid</div>
    <aa-button
      [customIcons]="true"
      (buttonClick)="toggleTheme()"
      buttonClass="custom-icons light-blue"
      fieldClass="boxed"
      [showLabel]="false"
      buttonText="Test colours in dark-mode"
      buttonIcon="contrast"
      countColor="blue">
    </aa-button>
  </div>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater">
    <div class="flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Primary</h2>
      <div class="describe margin-bottom-1">
        <p>Generally elements already have colours applied. Don't use the hex values apart from in emails, or exceptional circumstances.</p>
      </div>
    </section>
    </div>
    <div class="flex-group">
      <div class="colour-swatch bg-aa-blue-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-blue-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-blue-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-blue-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-blue-70">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-blue-70</dd>
          <dt>Background</dt>
          <dd>.bg-aa-blue-70</dd>
          <dt>Border</dt>
          <dd>.bd-aa-blue-70</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-blue-60">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-blue-60</dd>
          <dt>Background</dt>
          <dd>.bg-aa-blue-60</dd>
          <dt>Border</dt>
          <dd>.bd-aa-blue-60</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-blue-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-blue-50</dd>
          <dt>Background</dt>
          <dd>.bg-aa-blue-50</dd>
          <dt>Border</dt>
          <dd>.bd-aa-blue-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-blue-40">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-blue-40</dd>
          <dt>Background</dt>
          <dd>.bg-aa-blue-40</dd>
          <dt>Border</dt>
          <dd>.bd-aa-blue-40</dd>
        </dl>
      </div>
    </div>
    
    <div class="flex-group">
      <div class="colour-swatch bg-aa-light-blue-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-light-blue-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-light-blue-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-light-blue-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-light-blue-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-light-blue-80</dd>
          <dt>Background</dt>
          <dd>.bg-aa-light-blue-80</dd>
          <dt>Border</dt>
          <dd>.bd-aa-light-blue-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-light-blue-60">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-light-blue-60</dd>
          <dt>Background</dt>
          <dd>.bg-aa-light-blue-60</dd>
          <dt>Border</dt>
          <dd>.bd-aa-light-blue-60</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-light-blue-40">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-light-blue-40</dd>
          <dt>Background</dt>
          <dd>.bg-aa-light-blue-40</dd>
          <dt>Border</dt>
          <dd>.bd-aa-light-blue-40</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-light-blue-15">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-light-blue-15</dd>
          <dt>Background</dt>
          <dd>.bg-aa-light-blue-15</dd>
          <dt>Border</dt>
          <dd>.bd-aa-light-blue-15</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-light-blue-10">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-light-blue-10</dd>
          <dt>Background</dt>
          <dd>.bg-aa-light-blue-10</dd>
          <dt>Border</dt>
          <dd>.bd-aa-light-blue-10</dd>
        </dl>
      </div>
      <!-- <div class="colour-swatch bg-aa-light-blue-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-light-blue-5</dd>
          <dt>Background</dt>
          <dd>.bg-aa-light-blue-5</dd>
          <dt>Border</dt>
          <dd>.bd-aa-light-blue-5</dd>
        </dl>
      </div> -->
    </div>
    <div class="flex-group">
      <div class="colour-swatch bg-aa-red-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-red-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-red-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-red-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-red-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-red-80</dd>
          <dt>Background</dt>
          <dd>.bg-aa-red-80</dd>
          <dt>Border</dt>
          <dd>.bd-aa-red-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-red-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-red-50</dd>
          <dt>Background</dt>
          <dd>.bg-aa-red-50</dd>
          <dt>Border</dt>
          <dd>.bd-aa-red-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-red-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-red-25</dd>
          <dt>Background</dt>
          <dd>.bg-aa-red-25</dd>
          <dt>Border</dt>
          <dd>.bd-aa-red-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-red-10">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-red-10</dd>
          <dt>Background</dt>
          <dd>.bg-aa-red-10</dd>
          <dt>Border</dt>
          <dd>.bd-aa-red-10</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-red-8">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-red-8</dd>
          <dt>Background</dt>
          <dd>.bg-aa-red-8</dd>
          <dt>Border</dt>
          <dd>.bd-aa-red-8</dd>
        </dl>
      </div>
    </div>
  </section>
   <!-- start content repeater -->
   <section class="content-repeater">
    <div class="flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Secondary</h2>
      <div class="describe margin-bottom-1">
        <p>Generally elements already have colours applied. Don't use the hex values apart from in emails, or exceptional circumstances.</p>
      </div>
    </section>
    </div>
    <div class="flex-group">
      <div class="colour-swatch bg-aa-grey-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-grey-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-grey-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-grey-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-grey-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-grey-50</dd>
          <dt>Background</dt>
          <dd>.bg-aa-grey-50</dd>
          <dt>Border</dt>
          <dd>.bd-aa-grey-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-grey-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-grey-25</dd>
          <dt>Background</dt>
          <dd>.bg-aa-grey-25</dd>
          <dt>Border</dt>
          <dd>.bd-aa-grey-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-grey-10">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-grey-10</dd>
          <dt>Background</dt>
          <dd>.bg-aa-grey-10</dd>
          <dt>Border</dt>
          <dd>.bd-aa-grey-10</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-grey-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-grey-5</dd>
          <dt>Background</dt>
          <dd>.bg-aa-grey-5</dd>
          <dt>Border</dt>
          <dd>.bd-aa-grey-5</dd>
        </dl>
      </div>
    </div>
    
    <div class="flex-group">
      <div class="colour-swatch bg-aa-green-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-green-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-green-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-green-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-green-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-green-80</dd>
          <dt>Background</dt>
          <dd>.bg-aa-green-80</dd>
          <dt>Border</dt>
          <dd>.bd-aa-green-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-green-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-green-50</dd>
          <dt>Background</dt>
          <dd>.bg-aa-green-50</dd>
          <dt>Border</dt>
          <dd>.bd-aa-green-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-green-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-green-25</dd>
          <dt>Background</dt>
          <dd>.bg-aa-green-25</dd>
          <dt>Border</dt>
          <dd>.bd-aa-green-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-green-15">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-green-15</dd>
          <dt>Background</dt>
          <dd>.bg-aa-green-15</dd>
          <dt>Border</dt>
          <dd>.bd-aa-green-15</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-green-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-green-5</dd>
          <dt>Background</dt>
          <dd>.bg-aa-green-5</dd>
          <dt>Border</dt>
          <dd>.bd-aa-green-5</dd>
        </dl>
      </div>
    </div>

    <div class="flex-group">
      <div class="colour-swatch bg-aa-lime-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-lime-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-lime-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-lime-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-lime-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-lime-80</dd>
          <dt>Background</dt>
          <dd>.bg-aa-lime-80</dd>
          <dt>Border</dt>
          <dd>.bd-aa-lime-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-lime-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-lime-50</dd>
          <dt>Background</dt>
          <dd>.bg-aa-lime-50</dd>
          <dt>Border</dt>
          <dd>.bd-aa-lime-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-lime-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-lime-25</dd>
          <dt>Background</dt>
          <dd>.bg-aa-lime-25</dd>
          <dt>Border</dt>
          <dd>.bd-aa-lime-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-lime-15">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-lime-15</dd>
          <dt>Background</dt>
          <dd>.bg-aa-lime-15</dd>
          <dt>Border</dt>
          <dd>.bd-aa-lime-15</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-lime-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-lime-5</dd>
          <dt>Background</dt>
          <dd>.bg-aa-lime-5</dd>
          <dt>Border</dt>
          <dd>.bd-aa-lime-5</dd>
        </dl>
      </div>
    </div>
    
    <div class="flex-group">
      <div class="colour-swatch bg-aa-orange-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-orange-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-orange-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-orange-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-orange-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-orange-80</dd>
          <dt>Background</dt>
          <dd>.bg-aa-orange-80</dd>
          <dt>Border</dt>
          <dd>.bd-aa-orange-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-orange-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-orange-50</dd>
          <dt>Background</dt>
          <dd>.bg-aa-orange-50</dd>
          <dt>Border</dt>
          <dd>.bd-aa-orange-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-orange-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-orange-25</dd>
          <dt>Background</dt>
          <dd>.bg-aa-orange-25</dd>
          <dt>Border</dt>
          <dd>.bd-aa-orange-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-orange-10">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-orange-10</dd>
          <dt>Background</dt>
          <dd>.bg-aa-orange-10</dd>
          <dt>Border</dt>
          <dd>.bd-aa-orange-10</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-orange-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-orange-5</dd>
          <dt>Background</dt>
          <dd>.bg-aa-orange-5</dd>
          <dt>Border</dt>
          <dd>.bd-aa-orange-5</dd>
        </dl>
      </div>
    </div>
  </section>
  
   <!-- start content repeater -->
   <section class="content-repeater">
    <div class="flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Tertiary</h2>
      <div class="describe margin-bottom-1">
        <p>Generally elements already have colours applied. Don't use the hex values apart from in emails, or exceptional circumstances.</p>
      </div>
    </section>
    </div>

    <div class="flex-group">
      <div class="colour-swatch bg-aa-plum-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-plum-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-plum-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-plum-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-plum-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-plum-80</dd>
          <dt>Background</dt>
          <dd>.bg-aa-plum-80</dd>
          <dt>Border</dt>
          <dd>.bd-aa-plum-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-plum-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-plum-50</dd>
          <dt>Background</dt>
          <dd>.bg-aa-plum-50</dd>
          <dt>Border</dt>
          <dd>.bd-aa-plum-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-plum-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-plum-25</dd>
          <dt>Background</dt>
          <dd>.bg-aa-plum-25</dd>
          <dt>Border</dt>
          <dd>.bd-aa-plum-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-plum-15">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-plum-15</dd>
          <dt>Background</dt>
          <dd>.bg-aa-plum-15</dd>
          <dt>Border</dt>
          <dd>.bd-aa-plum-15</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-plum-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-plum-5</dd>
          <dt>Background</dt>
          <dd>.bg-aa-plum-5</dd>
          <dt>Border</dt>
          <dd>.bd-aa-plum-5</dd>
        </dl>
      </div>
    </div>

    <div class="flex-group">
      <div class="colour-swatch bg-aa-burgundy-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-burgundy-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-burgundy-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-burgundy-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-burgundy-80">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-burgundy-80</dd>
          <dt>Background</dt>
          <dd>.bg-aa-burgundy-80</dd>
          <dt>Border</dt>
          <dd>.bd-aa-burgundy-80</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-burgundy-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-burgundy-50</dd>
          <dt>Background</dt>
          <dd>.bg-aa-burgundy-50</dd>
          <dt>Border</dt>
          <dd>.bd-aa-burgundy-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-burgundy-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-burgundy-25</dd>
          <dt>Background</dt>
          <dd>.bg-aa-burgundy-25</dd>
          <dt>Border</dt>
          <dd>.bd-aa-burgundy-25</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-burgundy-15">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-burgundy-15</dd>
          <dt>Background</dt>
          <dd>.bg-aa-burgundy-15</dd>
          <dt>Border</dt>
          <dd>.bd-aa-burgundy-15</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-burgundy-5">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-burgundy-5</dd>
          <dt>Background</dt>
          <dd>.bg-aa-burgundy-5</dd>
          <dt>Border</dt>
          <dd>.bd-aa-burgundy-5</dd>
        </dl>
      </div>
    </div>

    <div class="flex-group">
      <div class="colour-swatch bg-aa-brown-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-brown-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-brown-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-brown-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-ochre-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-ochre-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-ochre-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-ochre-100</dd>
        </dl>
      </div>
    </div>

    <div class="flex-group">
      <div class="colour-swatch bg-aa-yellow-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-yellow-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-yellow-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-yellow-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-yellow-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-yellow-50</dd>
          <dt>Background</dt>
          <dd>.bg-aa-yellow-50</dd>
          <dt>Border</dt>
          <dd>.bd-aa-yellow-50</dd>
        </dl>
      </div>
    </div>
    
    <div class="flex-group">
      <div class="colour-swatch bg-aa-blue-sky-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-blue-sky-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-blue-sky-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-blue-sky-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-pink-100">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-pink-100</dd>
          <dt>Background</dt>
          <dd>.bg-aa-pink-100</dd>
          <dt>Border</dt>
          <dd>.bd-aa-pink-100</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-pink-50">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-pink-50</dd>
          <dt>Background</dt>
          <dd>.bg-aa-pink-50</dd>
          <dt>Border</dt>
          <dd>.bd-aa-pink-50</dd>
        </dl>
      </div>
      <div class="colour-swatch bg-aa-pink-25">
        <dl>
          <dt>Foreground</dt>
          <dd>.aa-pink-25</dd>
          <dt>Background</dt>
          <dd>.bg-aa-pink-25</dd>
          <dt>Border</dt>
          <dd>.bd-aa-pink-25</dd>
        </dl>
      </div>
    </div>
  </section>
</section>
