<section class="control-bar">
    <aa-anchor-back [anchorBackText]="'Style guide'" routerLink=""></aa-anchor-back>
    <h1>Toastr</h1>
</section>

<section class="content-container padding-0">

    <section class="content-repeater flex-group">

        <section class="flex-1 col-left flex-start">
            <h2>Toastr</h2>
            <div class="describe margin-bottom-1">
                <p>Use this Toastr for server-side validation.</p>
            </div>
            
            <div class="flex-group flex-start">
                <aa-button
                    (buttonClick)="triggerToastr(); error=true" 
                    fieldClass="boxed label-hidden" 
                    buttonLabel="Show toastr" 
                    buttonClass="bg-aa-red-100 aa-white-100 bd-aa-red-100" 
                    buttonText="Show error"
                    >
                </aa-button>
                <aa-button
                    (buttonClick)="triggerToastr(); warning=true" 
                    fieldClass="boxed label-hidden" 
                    buttonLabel="Show toastr" 
                    buttonClass="bg-aa-orange-100 aa-white-100 bd-aa-orange-100" 
                    buttonText="Show warning"
                    >
                </aa-button>
                <aa-button
                    (buttonClick)="triggerToastr(); success=true" 
                    fieldClass="boxed label-hidden" 
                    buttonLabel="Show toastr" 
                    buttonClass="bg-aa-green-100 aa-white-100 bd-aa-green-100" 
                    buttonText="Show success"
                    >
                </aa-button>
                <aa-button
                    (buttonClick)="triggerToastr(); info=true" 
                    fieldClass="boxed label-hidden" 
                    buttonLabel="Show toastr" 
                    buttonClass="primary" 
                    buttonText="Show info"
                    >
                </aa-button>
            </div>

            <aa-toastr [zIndex]="10">
                <aa-toastr-item
                    (closeToastr)="triggerToastr; error=false"
                    [showToastr]="error" 
                    [isError]="true"
                    heading="What the!"
                    message="OK chaps, looks like there's a serious error going on here, but I reckon we can fix it..."
                 >
                </aa-toastr-item>
                <aa-toastr-item
                    (closeToastr)="triggerToastr; warning=false"
                    [showToastr]="warning" 
                    [isWarning]="true"
                    heading="That's not so bad"
                    message="Well I guess this isn't as bad as it looks, probably needs investigation though..."
                >
                </aa-toastr-item>
                <aa-toastr-item
                    (closeToastr)="triggerToastr; success=false"
                    [showToastr]="success" 
                    [isSuccess]="true"
                    heading="This is amazing"
                    message="OK, this is looking good..."
                >
                </aa-toastr-item>
                <aa-toastr-item
                    (closeToastr)="triggerToastr; info=false"
                    [showToastr]="info" 
                    [isInfo]="true"
                    heading="Guess what"
                    message="I thought you might wanna know about this..."
                >
                </aa-toastr-item>
            </aa-toastr>
        </section>

        <section class="flex-2 col-right flex-start">
            <table class="half-width">
                <caption>Attributes</caption>
                <thead>
                    <tr>
                        <th>Element</th>
                        <th>Attribute</th>
                        <th>Type</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td datalabel="Element">aa-toastr</td>
                        <td datalabel="Attribute">aa-toastr</td>
                        <td datalabel="Type">Component</td>
                        <td datalabel="Default">N/A</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-toastr</td>
                        <td datalabel="Attribute">zIndex</td>
                        <td datalabel="Type">Number</td>
                        <td datalabel="Default">10</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-toastr-item</td>
                        <td datalabel="Attribute">(closeToastr)</td>
                        <td datalabel="Type">Function</td>
                        <td datalabel="Default">Your logic</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-toastr-item</td>
                        <td datalabel="Attribute">[showToastr]</td>
                        <td datalabel="Type">Boolean</td>
                        <td datalabel="Default">true or false</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-toastr-item</td>
                        <td datalabel="Attribute">[isError], [isWarning], [isSuccess], [isInfo]</td>
                        <td datalabel="Type">Boolean</td>
                        <td datalabel="Default">true or false</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-toastr-item</td>
                        <td datalabel="Attribute">heading</td>
                        <td datalabel="Type">Any</td>
                        <td datalabel="Default">Toastr heading</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-toastr-item</td>
                        <td datalabel="Attribute">message</td>
                        <td datalabel="Type">Any</td>
                        <td datalabel="Default">Toastr message</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- mini menu -->
        <nav class="mini-menu flex-group flex-end">
            <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event)">
                <span class="material-icons">visibility</span><span>View gist</span>
            </button>
        </nav>
    </section>

    <aa-blade 
        [showModal]="false"
        [toggleBlade]="toggleBlade"
        suppressAutoClose="false"
        topPosition="3.5"
        zIndex="999999"
        bladeSize="one-column-width"
        bladeHeading="Gist"
        [enableIcon]="true"
        iconName="table_rows"
        (close)="toggleBlade = false"
    >
        <article class="blade-content">
            <a href="https://gist.github.com/angloux/1cc8971c036b29d7c76a36ec92b7e583" target="_blank">View Gist on GitHub</a>
            <app-gist src="angloux/1cc8971c036b29d7c76a36ec92b7e583"></app-gist>
        </article>
    </aa-blade>

</section>