<section class="control-bar">
    <aa-anchor-back [anchorBackText]="'Style guide'" routerLink=""></aa-anchor-back>
    <h1>Anchor</h1>
</section>

<section class="content-container padding-0">
  
    <!-- start content repeater -->
    <section class="content-repeater flex-group">
      <section class="flex-1 col-left flex-start">
        <h2>Anchor</h2>
        <div class="describe margin-bottom-1">
          <p>Anchor sits inside the control-bar above the h1.</p>
        </div>
        <div>
          <aa-anchor-back anchorBackText="Previous page title"></aa-anchor-back>
        </div>
      </section>

      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">aa-anchor-back</td>
              <td datalabel="Attribute">anchorBackText</td>
              <td datalabel="Type">String</td>
              <td datalabel="Default">Previous page title</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-anchor-back</td>
              <td datalabel="Attribute">routerLink</td>
              <td datalabel="Type">Path</td>
              <td datalabel="Default">Your path</td>
            </tr>
          </tbody>
        </table>
      </section>

      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen(true); showAnchor=true; showAnchorAdv=false">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
    </section>
    <!-- start content repeater -->
    <section class="content-repeater flex-group">
        <section class="flex-1 col-left flex-start">
          <h2>Anchor advanced</h2>
          <div class="describe margin-bottom-1">
            <p>Anchor advanced would be used in your main page content area</p>
          </div>

          <section class="flex-group flex-start">
            <aa-anchor-advanced
              [routerLink]="routerLink"
              [width]="15"
              [pink]="true"
              icon="settings"
              title="Anchor title"
              desc="This is your Anchor advanced description. It can go over many lines but if it exceeds the available space, truncation will be applied."
              contentType="View recent"

            >
            </aa-anchor-advanced>

            <aa-anchor-advanced
              [anchorURL]="anchorURL"
              [width]="15"
              [lime]="true"
              icon="alarm"
              title="Anchor title"
              desc="This is your Anchor advanced description. It can go over many lines but if it exceeds the available space, truncation will be applied."
              contentType="View recent"

            >
            </aa-anchor-advanced>

            <aa-anchor-advanced
              [anchorURL]="anchorURL"
              [width]="15"
              [orange]="true"
              icon="schedule"
              title="Anchor title"
              desc="This is your Anchor advanced description. It can go over many lines but if it exceeds the available space, truncation will be applied."
              contentType="View recent"

            >
            </aa-anchor-advanced>

            <aa-anchor-advanced
              [anchorURL]="anchorURL"
              [width]="15"
              [blue]="true"
              icon="alarm"
              title="Anchor title"
              desc="This is your Anchor advanced description. It can go over many lines but if it exceeds the available space, truncation will be applied."
              contentType="View recent"

            >
            </aa-anchor-advanced>

            <aa-anchor-advanced
              [anchorURL]="anchorURL"
              [width]="15"
              [yellow]="true"
              icon="rocket_launch"
              title="Anchor title"
              desc="This is your Anchor advanced description. It can go over many lines but if it exceeds the available space, truncation will be applied."
              contentType="View recent"

            >
            </aa-anchor-advanced>

            <aa-anchor-advanced
              [anchorURL]="anchorURL"
              [width]="15"
              [green]="true"
              icon="accessible"
              title="Anchor title"
              desc="This is your Anchor advanced description. It can go over many lines but if it exceeds the available space, truncation will be applied."
              contentType="View recent"

            >
            </aa-anchor-advanced>
          </section>

        </section>

        <section class="flex-2 col-right flex-start">
          <table class="half-width">
            <caption>Attributes</caption>
            <thead>
              <tr>
                <th>Element</th>
                <th>Attribute</th>
                <th>Type</th>
                <th>Default</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td datalabel="Element">aa-anchor-advanced</td>
                <td datalabel="Attribute">[routerLink]</td>
                <td datalabel="Type">Route</td>
                <td datalabel="Default">Your router link</td>
              </tr>
              <tr>
                <td datalabel="Element">aa-anchor-advanced</td>
                <td datalabel="Attribute">[anchorURL]</td>
                <td datalabel="Type">URL</td>
                <td datalabel="Default">Your anchor url</td>
              </tr>
              <tr>
                <td datalabel="Element">aa-anchor-advanced</td>
                <td datalabel="Attribute">width</td>
                <td datalabel="Type">Number</td>
                <td datalabel="Default">15 is recommended</td>
              </tr>
              <tr>
                <td datalabel="Element">aa-anchor-advanced</td>
                <td datalabel="Attribute">icon</td>
                <td datalabel="Type">String</td>
                <td datalabel="Default"><a href="https://fonts.google.com/icons?icon.set=Material+Icons" target="_blank">Your material-icon name</a></td>
              </tr>
              <tr>
                <td datalabel="Element">aa-anchor-advanced</td>
                <td datalabel="Attribute">title</td>
                <td datalabel="Type">String</td>
                <td datalabel="Default">Your title</td>
              </tr>
              <tr>
                <td datalabel="Element">aa-anchor-advanced</td>
                <td datalabel="Attribute">desc</td>
                <td datalabel="Type">String</td>
                <td datalabel="Default">Your description</td>
              </tr>
              <tr>
                <td datalabel="Element">aa-anchor-advanced</td>
                <td datalabel="Attribute">contentType</td>
                <td datalabel="Type">String</td>
                <td datalabel="Default">Your content type description</td>
              </tr>
              <tr>
                <td datalabel="Element">aa-anchor-advanced</td>
                <td datalabel="Attribute">[lime]</td>
                <td datalabel="Type">Boolean</td>
                <td datalabel="Default">Colours incl: pink, blue, orange, yellow, green and lime</td>
              </tr>
            </tbody>
          </table>
        </section>

        <!-- mini menu -->
        <nav class="mini-menu flex-group flex-end">
          <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen(true); showAnchor=false; showAnchorAdv=true">
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
      </section>


      <aa-blade
        [blockPageUI]="false"
        [toggleBlade]="toggleBlade"
        [suppressAutoClose]="false"
        topPosition="3.5rem"
        [zIndex]="2"
        bladeSize="one-column-width"
        bladeHeading="Gist"
        [enableIcon]="true"
        iconName="table_rows"
        (bladeOpen)="bladeIsOpen($event)"
        >
        <article class="blade-content">
          <div *ngIf="showAnchor">
            <a href="https://gist.github.com/angloux/9e6c8132425e1a4a431014747fbe029b" target="_blank">View Gist on GitHub</a>
            <app-gist src="angloux/9e6c8132425e1a4a431014747fbe029b"></app-gist>
          </div>
          <div *ngIf="showAnchorAdv">
            <a href="https://gist.github.com/angloux/241ce4d13c50e069e8c0531ef3cb709f" target="_blank">View Gist on GitHub</a>
            <app-gist src="angloux/241ce4d13c50e069e8c0531ef3cb709f"></app-gist>
          </div>
        </article>
      </aa-blade>

</section>
