<div class="content-container padding-top-0 poem">
  <h2>Tab 1 content</h2>
    <p>I caught snowflakes
        on my fingertips
        but they melted
        to my dismay
    </p>
</div>

<div class="blades-data">
  <h3 class="boxed">Lets see some accordions - This h3 has class="boxed"</h3>
  <!-- Accordion one -->
  <aa-accordion
    [disabled]="false"
    (open)="showBodyOne = true"
    [dragable]="false"
    [showBody]="showBodyOne"
    [clearPadding]="false"
    accordionId="accordion01"
    sectionId="section01"
    iconBgColor=""
    customBgColor="bg-aa-blue-sky-100"
    [bespokeHeader]="true"
    >
    <ng-container bespoke-header>
      <div class="flex-group space-between flex-align-center">
        <section class="flex-group flex-start flex-nowrap flex-align-center">
          <div class="material-icons drag-icon aa-white-100 margin-right-0">drag_indicator</div>
          <aa-button
            class="margin-right-0-25"
            (buttonClick)="onClick()"
            buttonClass="bg-transparent size-large padding-0 aa-white-100"
            fieldClass="boxed"
            [customIconsRoundOutlined]="true"
            buttonIcon="arrow_circle_left">
          </aa-button>
          <div class="accordion-heading">
            Bespoke accordion
          </div>
        </section>

        <section>
          <div
            [position]="TooltipDynamicPosition.LEFT"
            class="
              material-icons-outlined
              margin-top-0-25
              small
              cursor-default
              aa-white-100"
            aaTooltip="
              <section class='width-15'>
                <h3>Information</h3>
                <p>
                  This is some information for that you
                  might want to display to your users
                </p>
              </section>"
            >
            info
          </div>
          <!-- <aa-alert-shield
            [alertShieldSmall]="true"
            [hideLabel]="false"
            [showTooltip]="true"
            [noWrap]="true"
            minWidth="12rem"
            alertShieldStatus="info"
            alertShieldText="Info"
            [showTooltipHeading]="true"
            tooltipHeading="Heading"
          >
            <ng-container tooltip-content>
              <p>This is my tooltip message</p>
              <p>This is another tooltip message</p>
            </ng-container>
          </aa-alert-shield> -->
        </section>

      </div>
    </ng-container>
    <ng-container>
      <p>
        This is an example of the accordion using a fully bespoke header.
        For example code, <a class="aa-red-100 cursor-pointer" routerOutlet="/accordion">please visit the the accordions page</a>.
      </p>
      <p>
        If you want to make your accordion dragable or add alert-shield tooltips, then
        this is the accordion you should be using.
      </p>
    </ng-container>
  </aa-accordion>

  <!-- Accordion two -->
  <aa-accordion
    [disabled]="false"
    [clearPadding]="true"
    (open)="showBodyTwo = true"
    [dragable]="false"
    [showBody]="showBodyTwo"
    accordionHeading="Nested accordions (set 'clearPadding' to true)"
    accordionId="accordion01"
    sectionId="section01"
    [iconsEnabled]="true"
    iconName="people"
    iconBgColor=""
    customBgColor="bg-aa-blue-sky-100"
    >
    <ng-container>
      <aa-accordion
        [disabled]="false"
        (open)="showNestedOne = true"
        [dragable]="false"
        [showBody]="showNestedOne"
        accordionHeading="How should we address you?"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconBgColor=""
      >
          <div class="field boxed">
            <label>First name</label>
            <input type="text"/>
          </div>
          <div class="field">
            <label>Last name</label>
            <input type="text"/>
          </div>
      </aa-accordion>
      <aa-accordion
        [disabled]="false"
        (open)="showNestedTwo = true"
        [dragable]="false"
        [showBody]="showNestedTwo"
        accordionHeading="How should we contact you?"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconBgColor=""
      >
          <div class="field boxed">
            <label>Email</label>
            <input type="text"/>
          </div>
          <div class="field">
            <label>Phone</label>
            <input type="text"/>
          </div>
      </aa-accordion>
      <aa-accordion
        [disabled]="false"
        (open)="showNestedThree = true"
        [dragable]="false"
        [showBody]="showNestedThree"
        accordionHeading="What's your preferred language?"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconBgColor=""
      >
          <div class="field boxed">
            <label>Language</label>
            <input type="text"/>
          </div>
          <div class="field">
            <label>Country</label>
            <input type="text"/>
          </div>
      </aa-accordion>
    </ng-container>
  </aa-accordion>

  <!-- Accordion three -->
  <aa-accordion
    [disabled]="false"
    (open)="showBodyThree = true"
    [dragable]="false"
    [showBody]="showBodyThree"
    accordionHeading="Instructions for adding accordions"
    accordionId="accordion01"
    sectionId="section01"
    [iconsEnabled]="true"
    iconName="hearing"
    iconBgColor=""
    customBgColor="bg-aa-blue-sky-100"
    >
    <div class="field boxed">
      <p>If you would like to use an accordion in your blade. Just add the
        <a class="cursor-pointer" routerLink="/accordion">standard accordion</a> like you would
        normally. For nested accordions, you will still need the boolean
        [iconsEnabled] but you won't need to add the iconName or iconBgColor
        as these are modified in css.
      </p>
    </div>
  </aa-accordion>

  <!-- Accordion four -->
  <aa-accordion
    [disabled]="false"
    (open)="showBodyFour = true"
    [dragable]="false"
    [showBody]="showBodyFour"
    accordionHeading="Instructions for adding tabs"
    accordionId="accordion01"
    sectionId="section01"
    [iconsEnabled]="true"
    iconName="password"
    iconBgColor=""
    customBgColor="bg-aa-plum-100"
    >
    <div class="field boxed">
      <h3>Standard blade</h3>
      <p>
        Please refer to the gist file. You have to make sure that the aa-tab-navigation component
        sits just above the blade-content wrapper. Then ensure that your router-outlet sits
        inside the blade-content wrapper.
      </p>
      <h3>Custom blade</h3>
      <p>
        If adding tabs to the custom-blade, you will need to add an ng-container with the select name
        custom-blade-tabs just inside your custom-header and below your content for the custom-header.
        Then add your router-outlet inside the custom-content ng-container wrapper. Again please refer
        to the custom-blade gist file.
      </p>
    </div>
  </aa-accordion>

  <!-- Accordion five -->
  <aa-accordion
    [disabled]="false"
    (open)="showBodyFive = true"
    [dragable]="false"
    [showBody]="showBodyFive"
    [clearPadding]="false"
    accordionId="accordion01"
    sectionId="section01"
    iconBgColor=""
    customBgColor="bg-aa-blue-sky-100"
    [bespokeHeader]="true"
    >
    <ng-container bespoke-header>
      <div class="flex-group space-between flex-align-center">
        <section class="flex-group flex-start flex-nowrap flex-align-center">
          <div class="material-icons drag-icon aa-white-100 margin-right-0">drag_indicator</div>
          <aa-button
            class="margin-right-0-25"
            (buttonClick)="onClick()"
            buttonClass="bg-transparent size-large padding-0 aa-white-100"
            fieldClass="boxed"
            [customIconsRoundOutlined]="true"
            buttonIcon="arrow_circle_left">
          </aa-button>
          <div class="accordion-heading">
            Bespoke accordion
          </div>
        </section>

        <section>
          <aa-alert-shield
            [alertShieldSmall]="true"
            [hideLabel]="false"
            [showTooltip]="true"
            [noWrap]="true"
            minWidth="12rem"
            alertShieldStatus="info"
            alertShieldText="Info"
            [showTooltipHeading]="true"
            tooltipHeading="Heading"
          >
            <ng-container tooltip-content>
              <p>This is my tooltip message</p>
              <p>This is another tooltip message</p>
            </ng-container>
          </aa-alert-shield>
        </section>

      </div>
    </ng-container>
    <ng-container>
      <p>
        This is an example of the accordion using a fully bespoke header.
        For example code, <a class="aa-red-100 cursor-pointer" routerOutlet="/accordion">please visit the the accordions page</a>.
      </p>
      <p>
        If you want to make your accordion dragable or add alert-shield tooltips, then
        this is the accordion you should be using.
      </p>
    </ng-container>
  </aa-accordion>
</div>
