<section class="control-bar">
  <h1>Progress indicator</h1>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater">
    <div class="flex-group">
      <section class="flex-1 col-left flex-start">
        <h2>Progress indicator</h2>
        <div class="describe">
          <p>We have two versions of the progress indicator component, the standard version
            seen here and an additional version that uses material-icons.
          </p>
        </div>

        <h3>Start the demo</h3>
        <div class="flex-group flex-start">
          <aa-button
            *ngIf="!showIncomplete"
            [customIcons]="true"
            (buttonClick)="showIncomplete=true; checkProgress()"
            buttonId="buttonId"
            buttonClass="custom-icons bg-aa-white-100 bd-aa-green-100 aa-green-100"
            fieldClass="boxed label-hidden"
            buttonText="Click to see an example of an 'incomplete' stop"
            buttonIcon="more_horiz">
          </aa-button>

          <aa-button
            *ngIf="showIncomplete && !showComplete"
            [customIcons]="true"
            (buttonClick)="showComplete=true; checkProgress()"
            buttonId="buttonId"
            buttonClass="custom-icons bg-aa-green-100"
            fieldClass="boxed label-hidden"
            buttonText="Step one is incomplete. Complete step one"
            buttonIcon="done">
          </aa-button>

          <aa-button
            *ngIf="showComplete && !showError"
            [customIcons]="true"
            (buttonClick)="showError=true; checkProgress()"
            buttonId="buttonId"
            buttonClass="custom-icons bg-aa-red-100"
            fieldClass="boxed label-hidden"
            buttonText="Go to the next step and see how an 'error' state appears"
            buttonIcon="priority_high">
          </aa-button>

          <aa-button *ngIf="showError && !progressComplete"
            [customIcons]="true"
            (buttonClick)="
              progressComplete=true;
              checkProgress()
            "
            buttonIcon="thumb_up"
            buttonClass="custom-icons green"
            fieldClass="boxed label-hidden"
            buttonText="Complete the progress"
            >
          </aa-button>
          <aa-button
            *ngIf="progressComplete && !reset"
            [customIcons]="true"
            (buttonClick)="reset=true; checkProgress()"
            buttonId="buttonId"
            buttonClass="custom-icons light-blue"
            fieldClass="boxed label-hidden"
            buttonText="Restart"
            buttonIcon="refresh">
          </aa-button>
        </div>
      </section>

      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">Nav</td>
              <td datalabel="Attribute">Class</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">.aa-progress-indicator, .flex-group</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-progress-indicator-advanced</td>
              <td datalabel="Attribute">asLink</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">False</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-progress-indicator-advanced</td>
              <td datalabel="Attribute">progressLink</td>
              <td datalabel="Type">String</td>
              <td datalabel="Default">Your URL</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-progress-indicator-advanced</td>
              <td datalabel="Attribute">Component</td>
              <td datalabel="Type">Component</td>
              <td datalabel="Default">N/A</td>
            </tr>
            <ng-container *ngIf="showMore">
            <tr>
              <td datalabel="Element">aa-progress-indicator-advanced</td>
              <td datalabel="Attribute">progressClass</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">.current, .incomplete, .complete, .error</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-progress-indicator-advanced</td>
              <td datalabel="Attribute">progressLabel</td>
              <td datalabel="Type">String</td>
              <td datalabel="Default">Your bus-stop label</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
        <nav class="margin-top-1">
          <a class="cursor-pointer" *ngIf="!showMore" (click)="showMore=!showMore">show more</a>
          <a class="cursor-pointer" *ngIf="showMore" (click)="showMore=!showMore">show less</a>
        </nav>
      </section>

      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
          <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen(true); progressIndicator=true; progressIndicatorIcons=false">
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
    </div>

    <nav
      class="aa-progress-indicator flex-group margin-top-4"
      [ngStyle]="{'padding' : '3rem 15%'}"
    >
      <aa-progress-indicator-advanced
        progressClass="{{stepOneClass}}"
        [showDescription]="stepOne"
        description="{{stepOneText}}"
        iconClass="{{stepOneIconColour}}"
      >
        <a *ngIf="isLink" href="{{ progressLink }}" class="material-icons"></a>
        <strong *ngIf="!isLink" class="material-icons"></strong>
        <label>Personal details</label>
      </aa-progress-indicator-advanced>

      <aa-progress-indicator-advanced
          progressClass="{{stepTwoClass}}"
          [showDescription]="stepTwo"
          description="{{stepTwoText}}"
          iconClass="{{stepTwoIconColour}}"
        >
          <a *ngIf="isLink" href="{{ progressLink }}" class="material-icons"></a>
          <strong *ngIf="!isLink" class="material-icons"></strong>
          <label>Company details</label>
        </aa-progress-indicator-advanced>

        <aa-progress-indicator-advanced
          progressClass="{{stepThreeClass}}"
          [showDescription]="stepThree"
          description="{{stepThreeText}}"
          iconClass="{{stepThreeIconColour}}"
        >
          <a *ngIf="isLink" href="{{ progressLink }}" class="material-icons"></a>
          <strong *ngIf="!isLink" class="material-icons"></strong>
          <label>Bank account</label>
        </aa-progress-indicator-advanced>

        <aa-progress-indicator-advanced
          progressClass="{{stepFourClass}}"
          [showDescription]="stepFour"
          description="{{stepFourText}}"
          iconClass="{{stepFourIconColour}}"
        >
          <a *ngIf="isLink" href="{{ progressLink }}" class="material-icons"></a>
          <strong *ngIf="!isLink" class="material-icons"></strong>
          <label>Legal documents</label>
        </aa-progress-indicator-advanced>

        <aa-progress-indicator-advanced
          progressClass="{{stepFiveClass}}"
          [showDescription]="stepFive"
          description="{{stepFiveText}}"
          iconClass="{{stepFiveIconColour}}"
        >
          <a *ngIf="isLink" href="{{ progressLink }}" class="material-icons"></a>
          <strong *ngIf="!isLink" class="material-icons"></strong>
          <label>Summary</label>
        </aa-progress-indicator-advanced>
    </nav>
  </section>
</section>

<aa-blade
    [blockPageUI]="false"
    [toggleBlade]="toggleBlade"
    [suppressAutoClose]="false"
    topPosition="3.5rem"
    [zIndex]="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (bladeOpen)="bladeIsOpen($event)"
  >
  <article class="blade-content">
    <div *ngIf="progressIndicator">
      <a href="https://gist.github.com/angloux/c731c7e7af543ce49b210c442fbb4952" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/c731c7e7af543ce49b210c442fbb4952"></app-gist>
    </div>
    <div *ngIf="progressIndicatorIcons">
      <a href="https://gist.github.com/angloux/166d065af3e4273089273a6fdcb3bc35" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/166d065af3e4273089273a6fdcb3bc35"></app-gist>
    </div>
  </article>
</aa-blade>
