<header class="page-header flex-group space-between flex-align-center">
  <!--LEFT SECTION -->
  <nav>
    <a class="flex-align-center app-name" title="Design Language homepage" routerLink="/" (click)="selectedIndex=null">
      <span
        class="
          material-icons
          aa-white-100
          bg-aa-orange-100
          bd-aa-orange-100
          border-orange
          margin-right-0-75
          "
        >
        design_services
      </span>
      Design Language</a>
  </nav>

  <!-- MIDDLE SECTION - LOGO -->
  <div class="aa-logo" title="Anglo American"><span>Anglo American</span></div>

  <!-- MOBILE MENU - HIDDEN FOR DESKTOP -->
  <div class="mobile-menu flex-group">
    <div *ngIf="mobileMenu" class="aa-blade-modal"></div>
    <button (click)="toggleTheme()" class="material-icons">brightness_2</button>
    <button (click)="mobileMenu=!mobileMenu" class="material-icons">menu</button>
  </div>


  <!-- RIGHT SECTION NAV-->
  <nav class="flex-group flex-end flex-align-center">
    <ul>
      <!-- search -->
      <li class="cursor-pointer" (click)="toggleAppsBlade=false; toggleLoginBlade=false">
        <div class="aa-search" [ngClass]="{'show-search' : showSearch}">
          <input
            class="animate-normal"
            type="text"
            id="search-text"
            aria-describedby="search-text"
            [(ngModel)]="searchText"
            placeholder="Search"
            autofocus
            >
          <div
            (click)="toggleSearchInput(); searchText=''"
            class="material-icons flex-1 cursor-pointer animate-normal"
          >
            saved_search
          </div>
          <section class="search-results" *ngIf="searchText.length && showSearch">
            <ul>
              <li *ngFor="let c of components | appFilter: searchText" (click)="toggleSearchInput()">
                <a routerLink="/{{c}}" appHighlight [searchedWord]="searchText" [content]="c.toString().split('-').join('\n')" [classToApply]="'highlight'" [setTitle]="'false'">
                  {{c}}
                </a>
              </li>
            </ul>
          </section>
        </div>
      </li>
      <!-- apps blade -->
      <li class="cursor-pointer" (click)="toggleAppsBlade=!toggleAppsBlade; toggleLoginBlade=false; showSearch=false">
        <div class="apps">
          <div class="material-icons">apps</div>
        </div>
      </li>

      <!-- login blade -->
      <li class="cursor-pointer" (click)="toggleLoginBlade=!toggleLoginBlade; toggleAppsBlade=false; showSearch=false">
        <div class="avatar">
          <div>
            <img onerror="this.style.display='none'" src="./assets/images/samples/obi-wan.png" />
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>

<nav
  class="nav-core box-shadow-light nav-container"
  [ngClass]="{ 'minimize-menu' : minimizeMenu, 'show-mobile-menu' : mobileMenu }"
  >
  <ul>
    <li *ngFor="let item of navDataItems; let i = index">
      <a
        [class.expanded]="selectedIndex === i"
        (click)="setIndex(i)"
        class="flex-group flex-align-center flex-start {{item.color}} {{item.customClass}}"
        [ngClass]="{'hide-chevron':!item.nestedItems}"
      >
        <span class="material-icons">{{item.iconName}}</span>
        <span class="margin-right-0-5">{{item.title}}</span>
      </a>
      <ul [ngStyle]="selectedIndex === i && { 'max-height' : item.nestedItems.length * '33' + 'px' }">
        <li *ngFor="let nestedItem of item.nestedItems; let n = index">
          <a
            (click)="setSelectedItem(nestedItem)"
            [class.selected]="nestedItem.isSelected"
            class="flex-group flex-align-center flex-start"
            routerLink="{{nestedItem.routerLink}}"
            title="{{nestedItem.title}}"
          >
            <span class="material-icons {{nestedItem.customClass}}">{{nestedItem.iconName}}</span>
            <span>{{nestedItem.title}}</span>
          </a>
        </li>
      </ul> 
    </li>
  </ul>
  <div class="flex-group nav-min-max flex-align-center">
    <div>{{currentDate | DateFormatPipe }}</div>
    <button (click)="minimizeMenu=!minimizeMenu" class="material-icons">chevron_left</button>
  </div>
</nav>

<main class="main-content" [ngClass]="{'menu-minimized' : minimizeMenu}">
  <router-outlet></router-outlet>
</main>

<!-- BLADES -->
<!--toggleAppsBlade-->
<aa-blade
  class="apps-blade"
  [customBlade]="true"
  [showModal]="false"
  [toggleBlade]="toggleAppsBlade"
  suppressAutoClose="false"
  topPosition="3.5"
  zIndex="99999"
  bladeSize="one-column-width"
  bladeHeading="Hello"
  [enableIcon]="true"
  iconName="directions_bike"
  (close)="toggleAppsBlade = false"
  [enablePinning]="false"
>

  <ng-container custom-header>
    <input
    type="text"
    class="search"
    placeholder="Search"

    id="search-text"
    aria-describedby="search-text"
    [(ngModel)]="searchText"
    placeholder="Filter by App name"
    autofocus
    />
  </ng-container>

  <ng-container custom-content>
    <div *ngIf="!hideMe" class="describe">
      Please note that these icons are currently
      mapped to the Font Awesome (fa) classnames
      written in Core Db. We have now added the
      (.icon-app-name) class that correspond to the
      actual App itself. It would be good to
      update these in the Db at some point. <a (click)="hideMe=true">Hide</a>
    </div>
    <section class="blade-navigation flex-group">

      <div class="nav-icon" *ngFor="let i of appIconItems | appIcons: searchText; let f = index">
        <button
          (click)="favClicked(f)"
          class="icon-star-favourites transparent width-3"
          [class.selected]="favIndex === f">
        </button>
        <a class="{{i.appIconClass}}"></a>
        <p>{{i.appIconName}}</p>
      </div>

    </section>
  </ng-container>
  <ng-container custom-footer>
    <aa-button
      (buttonClick)="toggleAppsBlade=false"
      buttonText="Close"
      buttonClass="cancel"
      fieldClass="label-hidden">
    </aa-button>
  </ng-container>

</aa-blade>

<!--toggleLoginBlade-->
<aa-blade
  class="login-blade"
  [customBlade]="false"
  [showModal]="false"
  [toggleBlade]="toggleLoginBlade"
  suppressAutoClose="false"
  topPosition="3.5"
  zIndex="999"
  bladeSize="one-column-width"
  [enableIcon]="true"
  iconName="directions_bike"
  (close)="toggleLoginBlade = false"
  [enablePinning]="false"
>

<article class="blade-content">
  <div class="flex-group flex-start">
    <div class="avatar">
      <div>
        <img onerror="this.style.display='none'" src="./assets/images/samples/obi-wan.png" />
      </div>
    </div>
    <div>
      <h2 class="margin-bottom-0-25">Michael King</h2>
      <a class="cursor-pointer" mailto="michael.king@angloamerican.com">michael.king@angloamerican.com</a>
    </div>
  </div>
</article>
<article class="blade-footer flex-group space-between">
  <div class="field">
    <button (click)="toggleTheme()" class="transparent anchor-blue padding-0">
      <div class="flex-group ng-star-inserted">
        Switch to dark mode
      </div>
    </button>
  </div>
  <div class="field">
    <button (click)="toggleLoginBlade=false" class="transparent anchor-blue padding-0">
      Close
    </button>
  </div>
</article>
</aa-blade>