<header 
  class="page-header flex-group space-between flex-align-center" 
  [ngClass]="{ 'shift-aa-logo' : minimizeMenu }"
>
  <!--LEFT SECTION -->
  <nav>
    <a class="flex-align-center app-name" title="Design Language homepage" routerLink="/" (click)="selectedIndex=null">
      <span
        class="
          material-icons
          aa-white-100
          bg-aa-orange-100
          bd-aa-orange-100
          border-orange
          margin-right-0-75
          "
        >
        design_services
      </span>
      Design Language</a>
  </nav>
  <!-- MOBILE MENU - HIDDEN FOR DESKTOP -->
  <div class="mobile-menu flex-group">
    <div *ngIf="mobileMenu" class="aa-blade-modal"></div>
    <button (click)="toggleTheme()" class="material-icons">brightness_2</button>
    <button (click)="mobileMenu=!mobileMenu" class="material-icons">menu</button>
  </div>


  <!-- RIGHT SECTION NAV-->
  <nav class="flex-group flex-end flex-align-center">
    <ul [ngClass]="{'show-search' : showSearch}">
      <!-- search -->
      <li class="change-theme-button animate-normal">
        <aa-button 
          class="height-2"
          *ngIf="!darkTheme"
          (buttonClick)="toggleTheme()" 
          buttonClass="bg-aa-red-80" 
          fieldClass="boxed"
          [customIconsRound]="true"
          [showLabel]="false"
          buttonLabel="" 
          buttonIcon="light_mode"
          disabled="">
        </aa-button>
        <aa-button 
          class="height-2"
          *ngIf="darkTheme"
          (buttonClick)="toggleTheme()" 
          buttonClass="bg-aa-orange-100 aa-white-100" 
          fieldClass="boxed"
          [customIconsRound]="true"
          [showLabel]="false"
          buttonLabel="" 
          buttonIcon="dark_mode"
          disabled="">
        </aa-button>
      </li>
      <li class="cursor-pointer" (click)="toggleAppsBlade=false; toggleLoginBlade=false">
        <div class="aa-search-dl">
          <input
            class="animate-normal"
            type="text"
            id="search-text"
            aria-describedby="search-text"
            [(ngModel)]="searchText"
            placeholder="Search"
            autofocus
            >
          <div
            (click)="toggleSearch()"
            class="material-icons flex-1 cursor-pointer animate-normal"
          >
            saved_search
          </div>
          <section class="search-results" *ngIf="searchText.length && showSearch">
            <ul class="padding-left-0">
              <li 
                *ngFor="let c of searchAnimations | appFilter: searchText; let i = index" 
                (click)="openAnimationsNav()"
                class="flex-group flex-start flex-align-center"
                routerLink="/{{c.link}}"
                id="{{c.id}}"
              >
                <h2 
                  *ngIf="!searchAnimations[i-1] || c.heading !== searchAnimations[i-1].heading"
                  class="white-100 width-100"
                  >
                  {{c.heading}}
                </h2>
                <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
                  <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
                </div>
                <a 
                  appHighlight 
                  [searchedWord]="searchText" 
                  [content]="
                    c.link.toString().split('-').join('\n')
                  " 
                  [classToApply]="'highlight'" 
                  [setTitle]="'false'"
                  >
                </a>
              </li>
              <li 
                *ngFor="let c of searchElements | appFilter: searchText; let i = index" 
                (click)="openElementsNav()"
                class="flex-group flex-start flex-align-center"
                routerLink="/{{c.link}}"
                id="{{c.id}}"
              >
                <h2 
                  *ngIf="!searchElements[i-1] || c.heading !== searchElements[i-1].heading"
                  class="white-100 width-100"
                  >
                  {{c.heading}}
                </h2>
                <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
                  <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
                </div>
                <a 
                  appHighlight 
                  [searchedWord]="searchText" 
                  [content]="
                    c.link.toString().split('-').join('\n')
                  " 
                  [classToApply]="'highlight'" 
                  [setTitle]="'false'"
                  >
                </a>
              </li>
              <li 
                *ngFor="let c of searchLayout | appFilter: searchText; let i = index" 
                (click)="openLayoutNav()"
                class="flex-group flex-start flex-align-center"
                routerLink="/{{c.link}}"
                id="{{c.id}}"
              >
                <h2 
                  *ngIf="!searchLayout[i-1] || c.heading !== searchLayout[i-1].heading"
                  class="white-100 width-100"
                  >
                  {{c.heading}}
                </h2>
                <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
                  <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
                </div>
                <a 
                  appHighlight 
                  [searchedWord]="searchText" 
                  [content]="
                    c.link.toString().split('-').join('\n')
                  " 
                  [classToApply]="'highlight'" 
                  [setTitle]="'false'"
                  >
                </a>
              </li>
              <li 
                *ngFor="let c of searchNavigation | appFilter: searchText; let i = index" 
                (click)="openNavigationNav()"
                class="flex-group flex-start flex-align-center"
                routerLink="/{{c.link}}"
                id="{{c.id}}"
              >
                <h2 
                  *ngIf="!searchNavigation[i-1] || c.heading !== searchNavigation[i-1].heading"
                  class="white-100 width-100"
                  >
                  {{c.heading}}
                </h2>
                <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
                  <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
                </div>
                <a 
                  appHighlight 
                  [searchedWord]="searchText" 
                  [content]="
                    c.link.toString().split('-').join('\n')
                  " 
                  [classToApply]="'highlight'" 
                  [setTitle]="'false'"
                  >
                </a>
              </li>
              <li 
                *ngFor="let c of searchPatterns | appFilter: searchText; let i = index" 
                (click)="openPatternsNav()"
                class="flex-group flex-start flex-align-center"
                routerLink="/{{c.link}}"
                id="{{c.id}}"
              >
                <h2 
                  *ngIf="!searchPatterns[i-1] || c.heading !== searchPatterns[i-1].heading"
                  class="white-100 width-100"
                  >
                  {{c.heading}}
                </h2>
                <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
                  <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
                </div>
                <a 
                  appHighlight 
                  [searchedWord]="searchText" 
                  [content]="
                    c.link.toString().split('-').join('\n')
                  " 
                  [classToApply]="'highlight'" 
                  [setTitle]="'false'"
                  >
                </a>
              </li>
              <li 
                *ngFor="let c of searchWidgets | appFilter: searchText; let i = index" 
                (click)="openWidgetsNav()"
                class="flex-group flex-start flex-align-center"
                routerLink="/{{c.link}}"
                id="{{c.id}}"
              >
                <h2 
                  *ngIf="!searchWidgets[i-1] || c.heading !== searchWidgets[i-1].heading"
                  class="white-100 width-100"
                  >
                  {{c.heading}}
                </h2>
                <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
                  <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
                </div>
                <a 
                  appHighlight 
                  [searchedWord]="searchText" 
                  [content]="
                    c.link.toString().split('-').join('\n')
                  " 
                  [classToApply]="'highlight'" 
                  [setTitle]="'false'"
                  >
                </a>
              </li>
              <li 
                *ngFor="let c of searchModifiers | appFilter: searchText; let i = index" 
                (click)="openModifiersNav()"
                class="flex-group flex-start flex-align-center"
                routerLink="/{{c.link}}"
                id="{{c.id}}"
              >
                <h2 
                  *ngIf="!searchModifiers[i-1] || c.heading !== searchModifiers[i-1].heading"
                  class="white-100 width-100"
                  >
                  {{c.heading}}
                </h2>
                <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
                  <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
                </div>
                <a 
                  appHighlight 
                  [searchedWord]="searchText" 
                  [content]="
                    c.link.toString().split('-').join('\n')
                  " 
                  [classToApply]="'highlight'" 
                  [setTitle]="'false'"
                  >
                </a>
              </li>
              <li 
                *ngFor="let c of searchTypography | appFilter: searchText; let i = index" 
                (click)="openTypographyNav()"
                class="flex-group flex-start flex-align-center"
                routerLink="/{{c.link}}"
                id="{{c.id}}"
              >
                <h2 
                  *ngIf="!searchTypography[i-1] || c.heading !== searchTypography[i-1].heading"
                  class="white-100 width-100"
                  >
                  {{c.heading}}
                </h2>
                <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
                  <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
                </div>
                <a 
                  appHighlight 
                  [searchedWord]="searchText" 
                  [content]="
                    c.link.toString().split('-').join('\n')
                  " 
                  [classToApply]="'highlight'" 
                  [setTitle]="'false'"
                  >
                </a>
              </li>
              <li 
                *ngFor="let c of searchThirdPartyComponents | appFilter: searchText; let i = index" 
                (click)="openOtherWidgetsNav()"
                class="flex-group flex-start flex-align-center"
                routerLink="/{{c.link}}"
                id="{{c.id}}"
              >
                <h2 
                  *ngIf="!searchThirdPartyComponents[i-1] || c.heading !== searchThirdPartyComponents[i-1].heading"
                  class="white-100 width-100"
                  >
                  {{c.heading}}
                </h2>
                <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
                  <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
                </div>
                <a 
                  appHighlight 
                  [searchedWord]="searchText" 
                  [content]="
                    c.link.toString().split('-').join('\n')
                  " 
                  [classToApply]="'highlight'" 
                  [setTitle]="'false'"
                  >
                </a>
              </li>
              <li 
                *ngFor="let c of searchEmailTemplates | appFilter: searchText; let i = index" 
                (click)="openEmailTemplatesNav()"
                class="flex-group flex-start flex-align-center"
                routerLink="/{{c.link}}"
                id="{{c.id}}"
              >
                <h2 
                  *ngIf="!searchEmailTemplates[i-1] || c.heading !== searchEmailTemplates[i-1].heading"
                  class="white-100 width-100"
                  >
                  {{c.heading}}
                </h2>
                <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
                  <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
                </div>
                <a 
                  appHighlight 
                  [searchedWord]="searchText" 
                  [content]="
                    c.link.toString().split('-').join('\n')
                  " 
                  [classToApply]="'highlight'" 
                  [setTitle]="'false'"
                  >
                </a>
              </li>
              <li 
                *ngFor="let c of searchQandAs | appFilter: searchText; let i = index" 
                (click)="openQandANav()"
                class="flex-group flex-start flex-align-center"
                routerLink="/{{c.link}}"
                id="{{c.id}}"
              >
                <h2 
                  *ngIf="!searchQandAs[i-1] || c.heading !== searchQandAs[i-1].heading"
                  class="white-100 width-100"
                  >
                  {{c.heading}}
                </h2>
                <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
                  <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
                </div>
                <a 
                  appHighlight 
                  [searchedWord]="searchText" 
                  [content]="
                    c.link.toString().split('-').join('\n')
                  " 
                  [classToApply]="'highlight'" 
                  [setTitle]="'false'"
                  >
                </a>
              </li>
              <li 
                *ngFor="let c of searchAddendum | appFilter: searchText; let i = index" 
                (click)="openAddendumNav()"
                class="flex-group flex-start flex-align-center"
                routerLink="/{{c.link}}"
                id="{{c.id}}"
              >
                <h2 
                  *ngIf="!searchAddendum[i-1] || c.heading !== searchAddendum[i-1].heading"
                  class="white-100 width-100"
                  >
                  {{c.heading}}
                </h2>
                <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
                  <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
                </div>
                <a 
                  appHighlight 
                  [searchedWord]="searchText" 
                  [content]="
                    c.link.toString().split('-').join('\n')
                  " 
                  [classToApply]="'highlight'" 
                  [setTitle]="'false'"
                  >
                </a>
              </li>
            </ul>
          </section>
        </div>
      </li>
      <!-- apps blade -->
      <li class="cursor-pointer" (click)="toggleAppsBlade=!toggleAppsBlade; toggleLoginBlade=false; showSearch=false">
        <div class="apps margin-top-1">
          <div class="material-icons">apps</div>
        </div>
      </li>

      <!-- login blade -->
      <li class="cursor-pointer" (click)="toggleLoginBlade=!toggleLoginBlade; toggleAppsBlade=false; showSearch=false">
        <div class="avatar">
          <div class="bd-orange bd-1">
            <img onerror="this.style.display='none'" src="./assets/images/samples/han-solo.png" />
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>

<nav
  class="nav-core nav-container"
  [ngClass]="{ 'minimize-menu' : minimizeMenu, 'show-mobile-menu' : mobileMenu }"
  >
  <ul>
    <li *ngFor="let item of navDataItems; let i = index">
      <a
        [class.expanded]="selectedIndex === i"
        (click)="setIndex(i)"
        class="flex-group flex-align-center flex-start {{item.color}} {{item.customClass}}"
      >
        <span class="material-icons">{{item.iconName}}</span>
        <span class="margin-right-0-5">{{item.title}}</span>
      </a>
      <ul [ngStyle]="selectedIndex === i && { 'max-height' : item.nestedItems.length * '33' + 'px' }">
        <li *ngFor="let nestedItem of item.nestedItems; let n = index">
          <a
            (click)="setSelectedItem(nestedItem)"
            class="flex-group flex-align-center flex-start"
            routerLink="{{nestedItem.routerLink}}"
            routerLinkActive="selected"
            title="{{nestedItem.title}}"
          >
            <span class="material-icons {{nestedItem.customClass}}">{{nestedItem.iconName}}</span>
            <span>{{nestedItem.title}}</span>
          </a>
        </li>
      </ul> 
    </li>
  </ul>
  <div class="flex-group nav-min-max flex-align-center">
    <div>{{currentDate | DateFormatPipe }}</div>
    <button (click)="minimizeMenu=!minimizeMenu" class="material-icons">chevron_left</button>
  </div>
</nav>

<main class="main-content" [ngClass]="{'menu-minimized' : minimizeMenu}">
  <!-- Toastr -->
  <article class="aa-toastr-service">
    <section 
      *ngFor="let toast of toasts; let i = index" 
      class="
        aa-toastr-content 
        width-20 
        flex-group 
        space-between 
        flex-align-center 
        {{toast.type}}"
      >
      <div class="flex-group flex-start flex-align-center">
        <div class="material-icons">{{toast.icon}}</div>
        <div>
          <h3>{{toast.title}}</h3>
          <p>{{toast.message}}</p>
        </div>
      </div>
      <button (click)="remove(i)" class="material-icons aa-white-100">clear</button>
    </section>
  </article>
  <!-- End Toastr -->
  <router-outlet></router-outlet>
</main>

<!-- BLADES -->
<!--toggleAppsBlade-->
<aa-blade
  class="apps-blade"
  [customBlade]="true"
  [showModal]="false"
  [toggleBlade]="toggleAppsBlade"
  suppressAutoClose="false"
  topPosition="3.5"
  zIndex="99999"
  bladeSize="one-column-width"
  bladeHeading="Hello"
  [enableIcon]="true"
  iconName="directions_bike"
  (close)="toggleAppsBlade = false"
  [enablePinning]="false"
>

  <ng-container custom-header>
    <input
    type="text"
    class="search"
    placeholder="Search"

    id="search-text"
    aria-describedby="search-text"
    [(ngModel)]="searchText"
    placeholder="Filter by App name"
    autofocus
    />
  </ng-container>

  <ng-container custom-content>
    <div *ngIf="!hideMe" class="describe">
      Please note that these icons are currently
      mapped to the Font Awesome (fa) classnames
      written in Core Db. We have now added the
      (.icon-app-name) class that correspond to the
      actual App itself. It would be good to
      update these in the Db at some point. <a (click)="hideMe=true">Hide</a>
    </div>
    <section class="blade-navigation flex-group">

      <div class="nav-icon" *ngFor="let i of appIconItems | appIcons: searchText; let f = index">
        <button
          (click)="favClicked(f)"
          class="icon-star-favourites transparent width-3"
          [class.selected]="favIndex === f">
        </button>
        <a class="{{i.appIconClass}}"></a>
        <p>{{i.appIconName}}</p>
      </div>

    </section>
  </ng-container>
  <ng-container custom-footer>
    <aa-button
      (buttonClick)="toggleAppsBlade=false"
      buttonText="Close"
      buttonClass="cancel"
      fieldClass="label-hidden">
    </aa-button>
  </ng-container>

</aa-blade>

<!--toggleLoginBlade-->
<aa-blade
  class="login-blade"
  [customBlade]="false"
  [showModal]="false"
  [toggleBlade]="toggleLoginBlade"
  suppressAutoClose="false"
  topPosition="3.5"
  zIndex="999"
  bladeSize="one-column-width"
  [enableIcon]="true"
  iconName="directions_bike"
  (close)="toggleLoginBlade = false"
  [enablePinning]="false"
>

<article class="blade-content">
  <div class="flex-group flex-start flex-align-center">
    <div class="avatar">
      <div class="bd-orange bd-2">
        <img onerror="this.style.display='none'" src="./assets/images/samples/han-solo.png" />
      </div>
    </div>
    <div>
      <h2 class="margin-bottom-0-25">Han Solo</h2>
      <a class="cursor-pointer" mailto="michael.king@angloamerican.com">michael.king@angloamerican.com</a>
    </div>
  </div>
</article>
<article class="blade-footer flex-group space-between">
  <div class="field">
    <button (click)="toggleTheme()" class="transparent anchor-blue padding-0">
      <div class="flex-group ng-star-inserted">
        Switch to dark mode
      </div>
    </button>
  </div>
  <div class="field">
    <button (click)="toggleLoginBlade=false" class="transparent anchor-blue padding-0">
      Close
    </button>
  </div>
</article>
</aa-blade>