<div [ngClass]="{'show-search' : showSearch}">
    <div class="ph-search-dl">
      <input class="animate-normal" type="text" id="search-text" aria-describedby="search-text"
        [(ngModel)]="searchText" placeholder="Search" autofocus>
      <div (click)="toggleSearch()" class="material-icons flex-1 cursor-pointer animate-normal">
        saved_search
      </div>
      <!-- search results -->
      <section class="search-results" *ngIf="searchText.length && showSearch">
        <ul class="padding-left-0">
          <li *ngFor="let c of searchAnimations | appFilter: searchText; let i = index"
            (click)="openAnimationsNav()" class="flex-group flex-start flex-align-center" routerLink="/{{c.link}}"
            id="{{c.id}}">
            <h2 *ngIf="!searchAnimations[i-1] || c.heading !== searchAnimations[i-1].heading"
              class="white-100 width-100">
              {{c.heading}}
            </h2>
            <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
              <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
            </div>
            <a appHighlight [searchedWord]="searchText" [content]="
                c.link.toString().split('-').join('\n')
              " [classToApply]="'highlight'" [setTitle]="false">
            </a>
          </li>
          <li *ngFor="let c of searchElements | appFilter: searchText; let i = index" (click)="openElementsNav()"
            class="flex-group flex-start flex-align-center" routerLink="/{{c.link}}" id="{{c.id}}">
            <h2 *ngIf="!searchElements[i-1] || c.heading !== searchElements[i-1].heading"
              class="white-100 width-100">
              {{c.heading}}
            </h2>
            <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
              <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
            </div>
            <a appHighlight [searchedWord]="searchText" [content]="
                c.link.toString().split('-').join('\n')
              " [classToApply]="'highlight'" [setTitle]="false">
            </a>
          </li>
          <li *ngFor="let c of searchLayout | appFilter: searchText; let i = index" (click)="openLayoutNav()"
            class="flex-group flex-start flex-align-center" routerLink="/{{c.link}}" id="{{c.id}}">
            <h2 *ngIf="!searchLayout[i-1] || c.heading !== searchLayout[i-1].heading" class="white-100 width-100">
              {{c.heading}}
            </h2>
            <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
              <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
            </div>
            <a appHighlight [searchedWord]="searchText" [content]="
                c.link.toString().split('-').join('\n')
              " [classToApply]="'highlight'" [setTitle]="false">
            </a>
          </li>
          <li *ngFor="let c of searchNavigation | appFilter: searchText; let i = index"
            (click)="openNavigationNav()" class="flex-group flex-start flex-align-center" routerLink="/{{c.link}}"
            id="{{c.id}}">
            <h2 *ngIf="!searchNavigation[i-1] || c.heading !== searchNavigation[i-1].heading"
              class="white-100 width-100">
              {{c.heading}}
            </h2>
            <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
              <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
            </div>
            <a appHighlight [searchedWord]="searchText" [content]="
                c.link.toString().split('-').join('\n')
              " [classToApply]="'highlight'" [setTitle]="false">
            </a>
          </li>
          <li *ngFor="let c of searchPatterns | appFilter: searchText; let i = index" (click)="openPatternsNav()"
            class="flex-group flex-start flex-align-center" routerLink="/{{c.link}}" id="{{c.id}}">
            <h2 *ngIf="!searchPatterns[i-1] || c.heading !== searchPatterns[i-1].heading"
              class="white-100 width-100">
              {{c.heading}}
            </h2>
            <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
              <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
            </div>
            <a appHighlight [searchedWord]="searchText" [content]="
                c.link.toString().split('-').join('\n')
              " [classToApply]="'highlight'" [setTitle]="false">
            </a>
          </li>
          <li *ngFor="let c of searchWidgets | appFilter: searchText; let i = index" (click)="openWidgetsNav()"
            class="flex-group flex-start flex-align-center" routerLink="/{{c.link}}" id="{{c.id}}">
            <h2 *ngIf="!searchWidgets[i-1] || c.heading !== searchWidgets[i-1].heading" class="white-100 width-100">
              {{c.heading}}
            </h2>
            <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
              <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
            </div>
            <a appHighlight [searchedWord]="searchText" [content]="
                c.link.toString().split('-').join('\n')
              " [classToApply]="'highlight'" [setTitle]="false">
            </a>
          </li>
          <li *ngFor="let c of searchModifiers | appFilter: searchText; let i = index" (click)="openModifiersNav()"
            class="flex-group flex-start flex-align-center" routerLink="/{{c.link}}" id="{{c.id}}">
            <h2 *ngIf="!searchModifiers[i-1] || c.heading !== searchModifiers[i-1].heading"
              class="white-100 width-100">
              {{c.heading}}
            </h2>
            <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
              <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
            </div>
            <a appHighlight [searchedWord]="searchText" [content]="
                c.link.toString().split('-').join('\n')
              " [classToApply]="'highlight'" [setTitle]="false">
            </a>
          </li>
          <li *ngFor="let c of searchTypography | appFilter: searchText; let i = index"
            (click)="openTypographyNav()" class="flex-group flex-start flex-align-center" routerLink="/{{c.link}}"
            id="{{c.id}}">
            <h2 *ngIf="!searchTypography[i-1] || c.heading !== searchTypography[i-1].heading"
              class="white-100 width-100">
              {{c.heading}}
            </h2>
            <div class="{{c.iconColour}} {{c.borderColour}} width-1-75 height-1-75 flex-center border-radius-50">
              <span class="material-icons nav-icon {{c.iconColour}}">{{c.icon}}</span>
            </div>
            <a appHighlight [searchedWord]="searchText" [content]="
                c.link.toString().split('-').join('\n')
              " [classToApply]="'highlight'" [setTitle]="false">
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>