<section class="control-bar">
  <h1>Tooltip dynamic</h1>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Tooltip dynamic</h2>
      <div class="describe margin-bottom-1">
        <p>This is the dynamic tooltip which attaches the tooltip popup
          to the dom and repositions it using fixed positioning
        </p>
      </div>

      <section class="flex-group flex-start margin-bottom-0-5">
        <div
          [position]="TooltipDynamicPosition.RIGHT"
          class="
            material-icons-outlined
            small
            cursor-default
            ph-light-blue-100"
            [phTooltip]="
            '<section>' +
              '<h3>Guess what</h3>' +
              '<p>Just some information for you here</p>' +
            '</section>'"
            [showDelay]="0"
            [hideDelay]="0"
            tooltipWidth="10rem"
            tooltipStatus=""
          >
          info
        </div>
        <div
          [position]="TooltipDynamicPosition.RIGHT"
          class="
            material-icons-outlined
            small
            cursor-default
            ph-red-100"
            [phTooltip]="
            '<section>' +
              '<h3>Oops</h3>' +
              '<p>Looks like there&quot;s some kind of error</p>' +
            '</section>'"
            [showDelay]="0"
            [hideDelay]="0"
            tooltipWidth="10rem"
            tooltipStatus="error"
          >
          error_outline 
        </div>
        <div
          [position]="TooltipDynamicPosition.RIGHT"
          class="
            material-icons-outlined
            small
            cursor-default
            ph-orange-100"
            [phTooltip]="
            '<section>' +
              '<h3>Pending</h3>' +
              '<p>Shouldn&quot;t be too long now</p>' +
            '</section>'"
            [showDelay]="0"
            [hideDelay]="0"
            tooltipWidth="10rem"
            tooltipStatus="pending"
          >
          error_outline 
        </div>
        <div
          [position]="TooltipDynamicPosition.RIGHT"
          class="
            material-icons-outlined
            small
            cursor-default
            ph-green-100"
            [phTooltip]="
            '<section>' +
              '<h3>Complete</h3>' +
              '<p>Well done! Everything has gone according to plan</p>' +
            '</section>'"
            [showDelay]="0"
            [hideDelay]="0"
            tooltipWidth="10rem"
            tooltipStatus="success"
          >
          check_circle 
        </div>
      </section>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">[position]</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">left, right, above and below</td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">[phTooltip]</td>
            <td datalabel="Type">HTML</td>
            <td datalabel="Default">Your content, h1, paragraph etc</td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">Colour class</td>
            <td datalabel="Type">class</td>
            <td datalabel="Default"><a class="cursor-pointer" routerLink="/colours">Your custom colour class</a></td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">material-icons</td>
            <td datalabel="Type">Icon name</td>
            <td datalabel="Default"><a class="cursor-pointer" target="_blank" href="https://fonts.google.com/icons?icon.set=Material+Icons&icon.style=Filled">Your chosen icon</a></td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">[showDelay]</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">0</td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">[hideDelay]</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">1000 (Time given to click a link for example)</td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">tooltipWidth</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">10rem</td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">tooltipStatus</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">.info, .success, .pending, .error</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-ph-light-blue-100" (click)="bladeIsOpen(true); showDefault=true; showNested=false">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Tooltip dynamic (wrap around any element)</h2>
      <div class="describe margin-bottom-1">
        <p>
          In this version you can simple modify the markup and nest any html element inside. 
          Please see Gist for example
        </p>
      </div>

      <section class="flex-group flex-start margin-bottom-0-5">
        <div
          [position]="TooltipDynamicPosition.ABOVE"
          [phTooltip]="
            '<section>' +
              '<h3>Oh dear!</h3>' +
              '<p>You can submit this form but there has been a serious error</p>' +
            '</section>'"
          [showDelay]="0"
          [hideDelay]="0"
          tooltipWidth="10rem"
          tooltipStatus="error"
        >
          <ng-container tooltip-html>
            <button (click)="onClick()" class="error">Submit</button>
          </ng-container>
        </div>
        <div
          [position]="TooltipDynamicPosition.BELOW"
          [phTooltip]="
            '<section>' +
              '<h3>Guess what</h3>' +
              '<p>Just some information for you here</p>' +
            '</section>'"
          [showDelay]="0"
          [hideDelay]="0"
          tooltipWidth="10rem"
          tooltipStatus="info"
        >
          <ng-container tooltip-html>
            <ph-alert-shield
              [alertShieldSmall]="false"
              [noWrap]="true"
              [hideLabel]="false"
              minWidth="12rem"
              alertShieldStatus="info"
              alertShieldText="Info"
            >
            </ph-alert-shield>
          </ng-container>
        </div>
        <div
          [position]="TooltipDynamicPosition.RIGHT"
          [phTooltip]="
            '<section>' +
              '<h3>Chickens</h3>' +
              '<p>Always let the government know how many chickens you have</p>' +
            '</section>'"
          [showDelay]="0"
          [hideDelay]="0"
          tooltipWidth="10rem"
          tooltipStatus="info"
        >
          <ng-container tooltip-html>
            <ph-checkbox 
              checkboxChecked="'checkboxChecked'" 
              checkboxId="checkboxId" 
              checkboxName="myCheckboxes"
              checkboxText="Chickens" 
              fieldClass="boxed margin-bottom-0 margin-right-0">
          </ph-checkbox>
          </ng-container>
        </div>
      </section>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">[position]</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">left, right, above and below</td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">[phTooltip]</td>
            <td datalabel="Type">HTML</td>
            <td datalabel="Default">Your content, h1, paragraph etc</td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">Colour class</td>
            <td datalabel="Type">class</td>
            <td datalabel="Default"><a class="cursor-pointer" routerLink="/colours">Your custom colour class</a></td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">[showDelay]</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">0</td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">[hideDelay]</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">1000 (Time given to click a link for example)</td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">tooltipWidth</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">10rem</td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">tooltipStatus</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">.info, .success, .pending, .error</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-ph-light-blue-100" (click)="bladeIsOpen(true); showDefault=false; showNested=true">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>
</section>

<ph-blade
    [blockPageUI]="false"
    [toggleBlade]="toggleBlade"
    [suppressAutoClose]="false"
    topPosition="3.5rem"
    [zIndex]="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (bladeOpen)="bladeIsOpen($event)"
  >
  <article class="blade-content">
    <div *ngIf="showDefault">
      <a href="https://gist.github.com/PixelHeadsLtd/2f899fa993d21205252f869b12cd83d9" target="_blank">View Gist on GitHub</a>
      <app-gist src="PixelHeadsLtd/2f899fa993d21205252f869b12cd83d9"></app-gist>
    </div>
    <div *ngIf="showNested">
      <a href="https://gist.github.com/PixelHeadsLtd/2a4a0df8b7e4a2a474f1e0402088b35a" target="_blank">View Gist on GitHub</a>
      <app-gist src="PixelHeadsLtd/2a4a0df8b7e4a2a474f1e0402088b35a"></app-gist>
    </div>
  </article>
</ph-blade>
