<section class="control-bar flex-group space-between">
  <div class="flex-group flex-start">
    <h1>Button</h1>
    <aa-button 
      (buttonClick)="showOverlay=!showOverlay" 
      buttonClass="custom-icons green" 
      fieldClass="boxed"
      buttonId="btn-help" 
      buttonLabel="Custom icons" 
      buttonText="Help on button layout" 
      [customIcons]="true"
      buttonIcon="help" 
      disabled=""
      >
    </aa-button>
    <aa-overlay 
      [showOverlay]="showOverlay"
      zIndex="10"
      minWidth=""
      maxWidth="48rem"
      topPos=""
      rightPos=""
      bottomPos=""
      leftPos=""
    >
      <ng-container overlay-header>
        <header class="aa-overlay-header flex-group space-between bg-aa-blue-100">
          <div>
            <h1 class="boxed white-100">Always try to use the component</h1>
            <h3 class="boxed white-100">If you can't use the component, <a class="aa-white-100" routerLink="/field">please go here for info on correct form layout</a></h3>
          </div>
          <aa-button 
            (buttonClick)="showOverlay=false" 
            buttonClass="primary" 
            fieldClass="boxed label-hidden"
            [customIconsRound]="true"
            [showLabel]="false"
            buttonLabel=".void" 
            buttonIcon="close">
          </aa-button>
        </header>
      </ng-container>
      <ng-container overlay-content>
        <section class="padding-1-25 bd-top-1 bd-top-red bd-top-dashed">
          <h2 class="margin-top-0">Default</h2>
          <div class="describe">
            <p>
              For the button component the visibility of labels are hidden by default. Your button will align 
              nicely with other inputs in your form.
            </p>
          </div>
          <div class="flex-group flex-start">
            <aa-button 
              buttonClass="custom-icons orange" 
              fieldClass="" 
              [showLabel]="false"
              buttonLabel="showLabel true"
              buttonText="Default" 
              [customIcons]="true" 
              buttonIcon="reply"
            >
            </aa-button>

            <aa-button 
              buttonClass="custom-icons primary" 
              fieldClass="" 
              [showLabel]="false"
              buttonLabel="showLabel true"
              buttonText="Default" 
              [customIcons]="true" 
              buttonIcon="edit"
            >
            </aa-button>

            <div class="field">
              <label>Input</label>
              <input placeholder="Buttons don't need labels" type="text" />
            </div>

            <aa-button 
              buttonClass="custom-icons white" 
              fieldClass="" 
              [showLabel]="false"
              buttonLabel="showLabel true"
              buttonText="Default" 
              [customIcons]="true" 
              buttonIcon="description"
            >
            </aa-button>

            <aa-button 
              buttonClass="custom-icons red" 
              fieldClass="" 
              [showLabel]="false"
              buttonLabel="showLabel true"
              buttonText="Default" 
              [customIcons]="true" 
              buttonIcon="clear"
            >
            </aa-button>
          </div>

          <h2>Show a label with [showLabel]=`true`</h2>
          <div class="describe">
            <p>
              It's very rare, but there may be occassions where you want to display the button 
              with an additional label. To do this, simple set <strong class="aa-red-100">[showLabel]=`true`</strong>
            </p>
          </div>
          <div class="flex-group flex-start">
            <aa-button 
              buttonClass="custom-icons orange" 
              fieldClass="" 
              [showLabel]="true"
              buttonLabel="With label"
              buttonText="With label" 
              [customIcons]="true" 
              buttonIcon="reply"
            >
            </aa-button>

            <aa-button 
              buttonClass="custom-icons primary" 
              fieldClass="" 
              [showLabel]="true"
              buttonLabel="With label"
              buttonText="With label" 
              [customIcons]="true" 
              buttonIcon="edit"
            >
            </aa-button>

            <div class="field">
              <label>Input</label>
              <input placeholder="The left aligns with me" type="text" />
            </div>

            <aa-button 
              buttonClass="custom-icons white" 
              fieldClass="" 
              [showLabel]="true"
              buttonLabel="With label"
              buttonText="With label" 
              [customIcons]="true" 
              buttonIcon="description"
            >
            </aa-button>

            <aa-button 
              buttonClass="custom-icons red" 
              fieldClass="" 
              [showLabel]="true"
              buttonLabel="With label"
              buttonText="With label" 
              [customIcons]="true" 
              buttonIcon="clear"
            >
            </aa-button>
          </div>

          <h2>FieldClass boxed</h2>
          <div class="describe">
            <p>
              If you have <strong class="aa-red-100">[showLabel]=`true`</strong> and you add <strong class="aa-red-100">fieldClass=`boxed`</strong>, the button will maintain the label 
              and shift upwards without losing the alignment with other form elements that display a label and have the class `boxed`
            </p>

            <p>
              If you want to hide the label by setting <strong class="aa-red-100">[showLabel]=`false`</strong> and you also want to ensure the 
              correct alignment, then you will need to remove the label on other field elements.
            </p>
          </div>
          <div class="flex-group flex-start">
            <aa-button 
              buttonClass="custom-icons primary" 
              fieldClass="boxed" 
              [showLabel]="true"
              buttonLabel="Boxed"
              buttonText="showLabel true" 
              [customIcons]="true" 
              buttonIcon="edit"
            >
            </aa-button>

            <div class="field boxed">
              <label>Input</label>
              <input placeholder="Boxed & with label" type="text" />
            </div>

            <aa-button 
              buttonClass="custom-icons red" 
              fieldClass="boxed" 
              buttonLabel="Boxed"
              buttonText="showLabel false" 
              [customIcons]="true" 
              buttonIcon="clear"
            >
            </aa-button>

            <div class="field boxed">
              <input placeholder="Boxed & no label" type="text" />
            </div>
          </div>
        </section>
      </ng-container>
    </aa-overlay>
  </div>
  <aa-alert alertClass="error max-width-unset"
    alertText="If you're not using the component, ensure ALL elements are wrapped in div.field">
  </aa-alert>
</section>


<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Custom button</h2>
      <div class="describe margin-bottom-1">
        <p>In certain circumstances, if an existing button is not available you
          might want to create your own. To do this use the below tool to preview
          one of the Material Icons and then choose your background colour.
          <strong class="aa-red-100">Our button components have the label hidden by default. If you want 
            display the label, set [showLabel]=`true`.
          </strong>
        </p>
      </div>
      <div>
        <div class="flex-group flex-start margin-bottom-2">
          <aa-button 
            (buttonClick)="onClick()" 
            buttonClass="custom-icons {{selectedColor}}" 
            fieldClass=""
            buttonId="buttonIdC" 
            [showLabel]="true"
            buttonLabel="Custom icons" 
            buttonText="{{selectedIcon}}" 
            [customIcons]="true"
            buttonIcon="{{selectedIcon}}" 
            disabled=""
          >
          </aa-button>
          <div class="field">
            <label>
              Choose icon -
              <a href="https://material.io/resources/icons/?icon=accessibility_new&style=baseline"
                target="_blank">Reference here...</a>
            </label>
            <input type="text" placeholder="{{selectedIcon}}" (change)="selectIconHandler($event)" />
          </div>
          <div class="field">
            <label>Choose colour</label>
            <select (change)="selectColorHandler($event)">
              <option value="blue">.blue</option>
              <option value="green">.green</option>
              <option value="grey">.grey</option>
              <option value="light-blue">.light-blue</option>
              <option value="orange">.orange</option>
              <option value="red">.red</option>
              <option value="white">.white</option>
            </select>
          </div>
        </div>
        <h2>Commonly used</h2>
        <div class="flex-group">
          <div>
            <aa-button 
              buttonClass="custom-icons orange" 
              fieldClass="boxed" 
              buttonId="buttonIdC" 
              [showLabel]="true"
              buttonLabel="Return"
              buttonText=".orange" 
              [customIcons]="true" 
              buttonIcon="reply"
              title="buttonClass='custom-icons orange', buttonIcon='reply'"
              >
            </aa-button>

            <aa-button 
              buttonClass="custom-icons primary" 
              fieldClass="" 
              buttonId="buttonIdC" 
              [showLabel]="true"
              buttonLabel="Edit"
              buttonText=".light-blue" 
              [customIcons]="true" 
              buttonIcon="edit"
              title="buttonClass='custom-icons primary', buttonIcon='edit'"
              >
            </aa-button>

            <aa-button 
              buttonClass="custom-icons orange" 
              fieldClass="" 
              buttonId="buttonIdC" 
              [showLabel]="true"
              buttonLabel="Pending"
              buttonText=".orange" 
              [customIcons]="true" 
              buttonIcon="update"
              title="buttonClass='custom-icons orange', buttonIcon='update'"
              >
            </aa-button>

            <aa-button 
              buttonClass="custom-icons white" 
              fieldClass="" 
              buttonId="buttonIdC" 
              [showLabel]="true"
              buttonLabel="Add a count"
              buttonText=".white" 
              [customIcons]="true" 
              buttonIcon="description"
              [showCount]="true"
              count="10"
              countColor="blue"
              title="buttonClass='custom-icons light-blue', buttonIcon='description'">
            </aa-button>
          </div>

          <div>
            <aa-button 
              buttonClass="custom-icons red" 
              fieldClass="boxed" 
              buttonId="buttonIdC" 
              [showLabel]="true"
              buttonLabel="Reject"
              buttonText=".red" 
              [customIcons]="true" 
              buttonIcon="clear"
              title="buttonClass='custom-icons red', buttonIcon='clear'"
              >
            </aa-button>

            <aa-button 
              buttonClass="custom-icons green" 
              fieldClass="" 
              buttonId="buttonIdC" 
              [showLabel]="true"
              buttonLabel="Approve"
              buttonText=".green" 
              [customIcons]="true" 
              buttonIcon="check"
              title="buttonClass='custom-icons green', buttonIcon='check'"
              >
            </aa-button>

            <aa-button 
              buttonClass="custom-icons blue" 
              fieldClass="" 
              buttonId="buttonIdC" 
              [showLabel]="true"
              buttonLabel="Review"
              buttonText=".blue" 
              [customIcons]="true" 
              buttonIcon="remove_red_eye"
              title="buttonClass='custom-icons light-blue', buttonIcon='remove_red_eye'"
              >
            </aa-button>
          </div>
        </div>
      </div>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">N/A</td>
            <td datalabel="Type">Component</td>
            <td datalabel="Default">N/A</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">(buttonClick)</td>
            <td datalabel="Type">Function</td>
            <td datalabel="Default">onClick()</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonClass</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">custom-icons</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonType</td>
            <td datalabel="Type">Type</td>
            <td datalabel="Default">null</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">fieldClass</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.boxed to remove top spacing and/or class of your choosing</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">buttonId</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">[showLabel]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonLabel</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Custom icons</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonText</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your text</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">[customIcons]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonIcon</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">visibility</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">[buttonLarge]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">.boxed to remove top spacing and/or class of your choosing</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">showCount</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">count</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">Your number</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">countColor</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">red, blue, light-blue, green, orange, white</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100"
        (click)="bladeIsOpen($event); customButton=true; iconButtons=false; standardButtons=false; buttonEnriched=false; buttonSplit=false; buttonSummary=false">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>

  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Icon buttons</h2>
      <div class="describe margin-bottom-1">
        <p>If you want a button with just an icon and no text, set `customIconsRound` to true, the add the relevant class 
          shown in the table to the right or <a href="https://fonts.google.com/icons?icon.set=Material+Icons" target="_blank">pick your own here</a>.
          <strong class="aa-red-100">Our button components have the label hidden by default. If you want 
            display the label, set [showLabel]=`true`.
          </strong>
        </p>
      </div>
      <div class="flex-group">
        <div class="col-left">
          <aa-button 
            (click)="onClick()" 
            buttonClass="light-blue" 
            [customIconsRound]="true"
            [customIcons]="true"
            [showLabel]="true"
            buttonIcon="settings"
            buttonLabel=".light-blue or primary" 
            disabled="">
          </aa-button>

          <aa-button 
            (click)="onClick()" 
            buttonClass="orange" 
            fieldClass=""
            [customIconsRound]="true"
            [showLabel]="true"
            buttonLabel=".orange or .void" 
            buttonIcon="clear"
            disabled="">
          </aa-button>

          <aa-button 
            (click)="onClick()" 
            buttonClass="green" 
            fieldClass=""
            [customIconsRound]="true"
            [showLabel]="true"
            buttonLabel=".green or .approve" 
            buttonIcon="check"
            disabled="">
          </aa-button>

          <aa-button 
            (click)="onClick()" 
            buttonClass="red" 
            fieldClass=""
            [customIconsRound]="true"
            [showLabel]="true"
            buttonLabel=".red or .reject" 
            buttonIcon="delete"
            disabled="">
          </aa-button>
        </div>

        <div class="col-right">
          <aa-button 
            (click)="onClick()" 
            buttonClass="blue" 
            fieldClass=""
            [customIconsRound]="true"
            [showLabel]="true"
            buttonLabel=".blue or.secondary" 
            buttonIcon="filter_list"
            disabled="">
          </aa-button>

          <aa-button 
            (click)="onClick()" 
            buttonClass="red" 
            fieldClass=""
            [customIconsRound]="true"
            [showLabel]="true"
            buttonLabel=".red or .reject" 
            buttonIcon="clear"
            disabled="">
          </aa-button>

          <aa-button 
            (click)="onClick()" 
            buttonClass="blue" 
            fieldClass=""
            [customIconsRound]="true"
            [showLabel]="true"
            buttonLabel=".blue or .secondary" 
            buttonIcon="compare_arrows"
            disabled="">
          </aa-button>

          <aa-button 
            (click)="onClick()" 
            buttonClass="green" 
            fieldClass=""
            [customIconsRound]="true"
            [showLabel]="true"
            buttonLabel=".green or .approve" 
            buttonIcon="play_arrow"
            disabled="">
          </aa-button>
        </div>
      </div>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">[customIconsRound]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonClass</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.primary, .void, .approve, .reject etc</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonIcon</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default"><a href="https://fonts.google.com/icons?selected=Material+Icons:accessibility_new" target="_blank">icon friendly name</a></td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100"
        (click)="bladeIsOpen($event); iconButtons=true; customButton=false; standardButtons=false; buttonEnriched=false; buttonSplit=false; buttonSummary=false">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>

  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Standard buttons</h2>
      <div class="describe margin-bottom-1">
        <p>There is an array of standard buttons available in<br />
          Design Language. For consistency, please try and use the <br />
          standard versions wherever possible.<br />
          <strong class="aa-red-100">Our button components have the label hidden by default. If you want 
            display the label, set [showLabel]=`true`.
          </strong>
        </p>
      </div>
      <div class="filter-container flex-group">
        <aa-button 
          (buttonClick)="onClick()" 
          fieldClass="" 
          buttonClass="primary" 
          buttonId="'uttonId"
          [showLabel]="true"
          buttonLabel="Primary boxed" 
          buttonText=".primary" 
          disabled="">
        </aa-button>

        <aa-button 
          (buttonClick)="onClick()" 
          fieldClass="inline margin-top-1-5" 
          buttonClass="primary margin-top-0-25"
          buttonId="buttonId" 
          [showLabel]="true"
          buttonLabel="Primary inline" 
          buttonText=".primary inline" 
          disabled=""
          >
          </aa-button>
      </div>

      <div class="flex-group">
        <div class="flex-1">
          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="primary" 
            buttonId="buttonId"
            [showLabel]="true"
            buttonLabel="Primary" 
            buttonText=".primary" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="tertiary" 
            buttonId="buttonId3"
            [showLabel]="true"
            buttonLabel="Tertiary" 
            buttonText=".tertiary (deprecated .menu)" 
            disabled=""
            ></aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="delete" 
            buttonId="buttonId5"
            [showLabel]="true"
            buttonLabel="Delete" 
            buttonText=".delete" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="primary add" 
            buttonId="buttonId7"
            [showLabel]="true"
            buttonLabel="Add" 
            buttonText=".primary .add" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="primary download" 
            buttonId="buttonId9"
            [showLabel]="true"
            buttonLabel="Download" 
            buttonText="'.primary .download'" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="primary chevron-down" 
            buttonId="buttonId11"
            [showLabel]="true"
            buttonLabel="Chevron down" 
            buttonText=".primary .chevron-down" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="primary previous" 
            buttonId="buttonId11"
            [showLabel]="true"
            buttonLabel="Previous" 
            buttonText=".primary .previous" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="approve" 
            buttonId="buttonIdA"
            [showLabel]="true"
            buttonLabel="Approve" 
            buttonText=".approve" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="void" 
            buttonId="buttonIdC" 
            [showLabel]="true"
            buttonLabel="Void"
            buttonText=".void" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="review blue" 
            buttonId="buttonIdC"
            [showLabel]="true"
            buttonLabel="Review (blue)" 
            buttonText=".review .blue" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="secondary return" 
            buttonId="buttonIdC"
            [showLabel]="true"
            buttonLabel="Secondary return" 
            buttonText=".secondary return" 
            disabled="">
          </aa-button>
        </div>

        <div class="flex-1">
          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="secondary" 
            buttonId="buttonId2"
            [showLabel]="true"
            buttonLabel="Secondary" 
            buttonText=".secondary" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            [buttonClass]="'cancel'" 
            [buttonId]="'buttonId4'"
            [showLabel]="true"
            [buttonLabel]="'Cancel'" 
            buttonText=".cancel" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="primary" 
            buttonId="buttonId6"
            [showLabel]="true"
            buttonLabel="Disabled" 
            buttonText=".disabled" 
            disabled="disabled">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="primary calendar" 
            buttonId="buttonId8"
            [showLabel]="true"
            buttonLabel="Calendar" 
            buttonText=".primary .calendar" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="primary chevron-up" 
            buttonId="buttonId10"
            [showLabel]="true"
            buttonLabel="Chevron up" 
            buttonText=".primary .chevron-up" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="primary add-selected" 
            buttonId="buttonId12"
            [showLabel]="true"
            buttonLabel="Add selected" 
            buttonText=".primary .add-selected" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="primary next" 
            buttonId="buttonId11"
            [showLabel]="true"
            buttonLabel="Next" 
            buttonText=".primary .next" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="reject" 
            buttonId="buttonIdB"
            [showLabel]="true"
            buttonLabel="Reject" 
            buttonText=".reject" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="review red" 
            buttonId="buttonIdC"
            [showLabel]="true"
            buttonLabel="Review (red)" 
            buttonText=".review .red" 
            disabled="">
          </aa-button>

          <aa-button 
            (buttonClick)="onClick()" 
            fieldClass="" 
            buttonClass="review light blue" 
            buttonId="buttonIdC"
            [showLabel]="true"
            buttonLabel="Review (light blue)" 
            buttonText=".review .blue .light" 
            disabled="">
          </aa-button>
        </div>
      </div>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">(buttonClick)</td>
            <td datalabel="Type">Function</td>
            <td datalabel="Default">onClick()</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonClass</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">E.g. primary</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonType</td>
            <td datalabel="Type">Type</td>
            <td datalabel="Default">null</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">fieldClass</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">boxed, label-hidden or label-transparent</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">buttonId</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">[showLabel]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonLabel</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your label...</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonText</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your text...</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100"
        (click)="bladeIsOpen($event); standardButtons=true; customButton=false; iconButtons=false; buttonEnriched=false; buttonSplit=false; buttonSummary=false">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Button enriched</h2>
      <div class="describe margin-bottom-1">
        <p>In curtain circumstances, if an existing button is not available you<br />
          might want to create your own. To do this use the below tool to preview<br />
          one of the Material Icons and then choose your background colour.</p>
      </div>

      <aa-button [buttonEnriched]="true" (buttonClick)="onClick()" type="button" buttonId="myBtnId"
        title="Your meeting is at 14:00" iconName="alarm" iconColour="aa-burgundy-100">
        <ng-container toolbar>
          <div class="material-icons aa-light-blue-100" (click)="onSettingsClick($event)">settings</div>
          <aa-tooltip class="align-left" [isInfo]="true" setMinWidth="12" ypos="bottom" xpos="right" zIndex="1">
            <h4>More info</h4>
            <p>Enter any extra information here.</p>
          </aa-tooltip>
        </ng-container>
      </aa-button>

      <aa-button [buttonEnriched]="true" title="Your airline tickets have arrived" iconName="flight"
        iconColour="aa-orange-100">
        <ng-container toolbar>
          <aa-tooltip class="align-left" [isInfo]="true" setMinWidth="12" ypos="bottom" xpos="right" zIndex="1">
            <h4>More info</h4>
            <p>Enter any extra information here.</p>
          </aa-tooltip>
        </ng-container>
      </aa-button>

      <aa-button [buttonEnriched]="true" title="Review figures" iconName="insights" iconColour="aa-green-100">
        <ng-container toolbar>
          <aa-tooltip class="align-left" [isInfo]="true" setMinWidth="12" ypos="bottom" xpos="right" zIndex="1">
            <h4>More info</h4>
            <p>Enter any extra information here.</p>
          </aa-tooltip>
        </ng-container>
      </aa-button>

    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">N/A</td>
            <td datalabel="Type">Component</td>
            <td datalabel="Default">N/A</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">[buttonEnriched]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">(buttonClick)</td>
            <td datalabel="Type">Function</td>
            <td datalabel="Default">onClick()</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonType</td>
            <td datalabel="Type">Type</td>
            <td datalabel="Default">null</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">fieldClass</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">boxed, label-hidden or label-transparent</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">Your button Id</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">title</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your text</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">iconName</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default"><a href="https://fonts.google.com/icons?selected=Material+Icons:accessibility_new"
                target="_blank">icon friendly name</a></td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">iconColour</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your foreground <a routerLink="/colours">colour class name</a></td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100"
        (click)="bladeIsOpen($event); customButton=false; iconButtons=false; standardButtons=false; buttonEnriched=true; buttonSplit=false; buttonSummary=false">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>

  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Button split</h2>
      <div class="describe margin-bottom-1">
        <p>To reduce clutter in the UI, you might want to use the Button Split component.</p>
      </div>

      <section class="flex-group flex-start margin-bottom-1">
        <aa-button 
          [buttonSplit]="true" 
          fieldClass="boxed margin-right-2" 
          buttonClass="bg-aa-light-blue-100 chevron-up"
          buttonLabel="Primary" 
          buttonText="Publish" 
          buttonId="myBtnId"
          maxHeight="10.75rem"
        >
          <ng-container bs-buttons>
            <button (click)="showPub=true; showPubLater=false; showCancelPub=false" class="aa-light-blue-100">
              <span class="material-icons">forward_to_inbox</span>
              Publish now
            </button>
            <button (click)="showPub=false; showPubLater=true; showCancelPub=false" class="aa-light-blue-100">
              <span class="material-icons">schedule_send</span>
              Publish later
            </button>
            <button (click)="showPub=false; showPubLater=false; showCancelPub=true" class="aa-light-blue-100">
              <span class="material-icons">unsubscribe</span>
              Cancel scheduled publish
            </button>
          </ng-container>
        </aa-button>

        <div class="margin-top-2 italic">
          <p *ngIf="showPub">Publish now...</p>
          <p *ngIf="showPubLater">Publish later...</p>
          <p *ngIf="showCancelPub">Cancel scheduled publish...</p>
        </div>
      </section>

      <section class="flex-group flex-start margin-bottom-1">
        <aa-button [buttonSplit]="true" fieldClass="boxed" buttonClass="bg-aa-blue-100 chevron-up"
          buttonLabel="Secondary" buttonText="Publish" buttonId="myBtnId">
          <ng-container bs-buttons>
            <button (click)="showPub=true; showPubLater=false; showCancelPub=false" class="aa-blue-100">
              <span class="material-icons">forward_to_inbox</span>
              Publish now
            </button>
            <button (click)="showPub=false; showPubLater=true; showCancelPub=false" class="aa-blue-100">
              <span class="material-icons">schedule_send</span>
              Publish later
            </button>
            <button (click)="showPub=false; showPubLater=false; showCancelPub=true" class="aa-blue-100">
              <span class="material-icons">unsubscribe</span>
              Cancel scheduled publish
            </button>
          </ng-container>
        </aa-button>
      </section>

      <section class="flex-group flex-start">
        <aa-button [buttonSplit]="true" fieldClass="boxed" buttonClass="bg-aa-red-100 chevron-up" buttonLabel="Error"
          buttonText="Publish" buttonId="myBtnId">
          <ng-container bs-buttons>
            <button (click)="showPub=true; showPubLater=false; showCancelPub=false" class="aa-red-100">
              <span class="material-icons">forward_to_inbox</span>
              Publish now
            </button>
            <button (click)="showPub=false; showPubLater=true; showCancelPub=false" class="aa-red-100">
              <span class="material-icons">schedule_send</span>
              Publish later
            </button>
            <button (click)="showPub=false; showPubLater=false; showCancelPub=true" class="aa-red-100">
              <span class="material-icons">unsubscribe</span>
              Cancel scheduled publish
            </button>
          </ng-container>
        </aa-button>
      </section>

    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">[buttonSplit]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">fieldClass</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">boxed, label-hidden or label-transparent</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonClass</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default"><a routerLink="/colours">bg-aa-light-blue-100</a> chevron-up</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">[showLabel]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonLabel</td>
            <td datalabel="Type">string</td>
            <td datalabel="Default">Your label</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">Your button Id</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">buttonText</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your text</td>
          </tr>
          <tr>
            <td colspan="4">
              <h3 class="margin-bottom-0">To enable scrolling, set a maxHeight</h3>
            </td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">maxHeight</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Example: "20.75rem"</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100"
        (click)="bladeIsOpen($event); customButton=false; iconButtons=false; standardButtons=false; buttonEnriched=false; buttonSplit=true; buttonSummary=false">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>

  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Button summary</h2>
      <div class="describe margin-bottom-1">
        <p>If you want a clickable summary that includes a priority flag, then use our Button summary component</p>
      </div>

      <section class="flex-group flex-start">
        <aa-button
          class="flex-stretch"
          [buttonSummary]="true"
          [showDescription]="true"
          fieldClass=""
          status="insignificant"
          level="1"
          title="Insignificant"
          desc="Technical non-compliance. No warning received; no regulatory reporting required"
        >
        </aa-button>
        <aa-button
          class="flex-stretch"
          [buttonSummary]="true"
          [showDescription]="true"
          fieldClass=""
          status="minor"
          level="2"
          title="Minor"
          desc="Minor breach of regulatory requirements; 
          reports/involvement of authority. Attracts 
          administrative fine"
        >
        </aa-button>
        <aa-button
          class="flex-stretch"
          [buttonSummary]="true"
          [showDescription]="true"
          fieldClass=""
          status="moderate"
          level="3"
          title="Moderate"
          desc="Moderate breach of law; report/investigation by
          authority. Attracts compensation/penalties/
          enforcement action"
        >
        </aa-button>
        <aa-button
          class="flex-stretch"
          [buttonSummary]="true"
          [showDescription]="true"
          fieldClass=""
          status="high"
          level="4"
          title="High"
          desc="High breach of the law; may attract criminal
          prosecution, penalties/enforcement action.
          Individual license temporarily revoked"
        >
        </aa-button>
        <aa-button
          class="flex-stretch"
          [buttonSummary]="true"
          [showDescription]="true"
          fieldClass=""
          status="major"
          level="5"
          title="Major"
          desc="Significant breach of the law. Individual or
          company law suits; permit to operate
          substantially modified or withdrawn"
        >
        </aa-button>
      </section>

    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">[buttonSummary]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">class</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">stretch</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">[buttonDescription]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">status</td>
            <td datalabel="Type">string</td>
            <td datalabel="Default">insignificant, minor, moderate, high or major</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">level</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">Your number</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">title</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your title</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-button</td>
            <td datalabel="Attribute">desc</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Your description</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100"
        (click)="bladeIsOpen($event); customButton=false; iconButtons=false; standardButtons=false; buttonEnriched=false; buttonSplit=false; buttonSummary=true">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
</section>

<aa-blade [showModal]="false" [toggleBlade]="toggleBlade" suppressAutoClose="false" topPosition="3.5" zIndex="2"
  bladeSize="one-column-width" bladeHeading="Gist" [enableIcon]="true" iconName="table_rows"
  (close)="toggleBlade = false">
  <article class="blade-content">
    <div *ngIf="customButton">
      <a href="https://gist.github.com/angloux/5b70cd0840d5c0bd769ea6779c15b941" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/5b70cd0840d5c0bd769ea6779c15b941"></app-gist>
    </div>
    <div *ngIf="iconButtons">
      <a href="https://gist.github.com/angloux/39c18050b054e45ee13058f134127528" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/39c18050b054e45ee13058f134127528"></app-gist>
    </div>
    <div *ngIf="standardButtons">
      <a href="https://gist.github.com/angloux/c53c6e952f975b5c51dc58892970a25f" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/c53c6e952f975b5c51dc58892970a25f"></app-gist>
    </div>
    <div *ngIf="buttonEnriched">
      <a href="https://gist.github.com/angloux/3df7bd5d8164eedb7b51c9e4ed45f925" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/3df7bd5d8164eedb7b51c9e4ed45f925"></app-gist>
    </div>
    <div *ngIf="buttonSplit">
      <a href="https://gist.github.com/angloux/013a7951b2bc64de155b2fd02763542d" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/013a7951b2bc64de155b2fd02763542d"></app-gist>
    </div>
    <div *ngIf="buttonSummary">
      <a href="https://gist.github.com/angloux/42bc778ad5f8ff285309173d52135dc8" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/42bc778ad5f8ff285309173d52135dc8"></app-gist>
    </div>
  </article>
</aa-blade>