<aa-card 
  [cardDetailed]="true"
  topPos=""
  leftPos=""
  cardWidth=""
  [imgPath]="imgPath"
  >
  <ng-container card-detailed-content>
    <h2>Obi-Wan Kenobi</h2>
    <article class="flex-group flex-start">
      <section>
        <h4>Job title</h4>
        <span>Jedi Master</span>
        <h4>Skills</h4>
        <span>Force powers</span>
      </section>
  
      <section>
        <h4>Species</h4>
        <span>Human</span>
        <h4>Affiliation</h4>
        <span>Rebel Alliance</span>
      </section>
  
      <section>
        <h4>Apprentices</h4>
        <span class="max-width-5">Luke & Anakin Skywalker</span>
      </section>
    </article>
  </ng-container>
</aa-card>

<a href="https://gist.github.com/angloux/fe8d39a285e4915364ba479067ea34de" target="_blank">View Card Gist</a>

<div class="field">
    <label>First name</label>
    <input type="text"/>
</div>
<div class="field">
    <label>Last name</label>
    <input type="text"/>
</div>

<div class="field">
    <label>Email</label>
    <input type="text"/>
</div>
<div class="field">
    <label>Phone</label>
    <input type="text"/>
</div>

<div class="field">
    <label>Mobile</label>
    <input type="text"/>
</div>
<div class="field">
    <label>Country</label>
    <input type="text"/>
</div>

<div class="field">
    <label>Language</label>
    <input type="text"/>
</div>
<div class="field max-width-unset">
    <label>Comments</label>
    <textarea></textarea>
</div>
