.align-left {text-align: left;}
.align-right {text-align: right!important;}
.align-center, .text-align-center {text-align: center;}
.align-vertical-middle {vertical-align: middle;}
.display-none {display: none !important;}
.display-block {display: block !important;}
.display-inline {display: inline !important;}
.display-inline-block {display: inline-block !important;}
.float-right {float: right;}
.float-left {float: left;}
.line-height-2-5 {line-height: 2.5rem !important;}
.line-height-3 {line-height: 3rem;}
.max-readable-width {max-width: 37rem;}
.min-readable-width {width: 10rem;}
.nowrap {white-space: nowrap;}
.flex-nowrap {flex-wrap: nowrap;}
.overflow-y-scroll {overflow-y: scroll;}
.overflow-x-scroll {overflow-x: scroll;}
.overflow-hidden {overflow: hidden;}
.position-fixed {position: fixed;}
.position-relative {position: relative;}
.position-absolute {position: absolute;}
.position-static {position: static;}
.strip-border-bottom {border-bottom: none;}
.strip-letter-spacing {letter-spacing: 0;}
.visibility-hidden {visibility: hidden;}
.z-index-10 {z-index: 10;}
