// MARGIN
.margin-auto {margin: auto!important;}
.margin-0 {margin: 0!important;}
.margin-0-25 {margin: .25rem!important;}
.margin-0-5 {margin: .5rem!important;}
.margin-0-75 {margin: .75rem!important;}
.margin-1 {margin: 1rem!important;}
.margin-1-25 {margin: 1.25rem!important;}
.margin-1-5 {margin: 1.5rem!important;}
.margin-1-75 {margin: 1.75rem!important;}
.margin-2 {margin: 2rem!important;}
.margin-4 {margin: 4rem!important;}
.margin-6 {margin: 8rem!important;}
.margin-8 {margin: 8rem!important;}
.margin-10 {margin: 10rem!important;}

// MARGIN-TOP
.margin-top-0 {margin-top: 0!important;}
.margin-top-0-25 {margin-top: .25rem!important;}
.margin-top-0-5 {margin-top: .5rem!important;}
.margin-top-0-75 {margin-top: .75rem!important;}
.margin-top-1 {margin-top: 1rem!important;}
.margin-top-1-25 {margin-top: 1.25rem!important;}
.margin-top-1-5 {margin-top: 1.5rem!important;}
.margin-top-1-75 {margin-top: 1.75rem!important;}
.margin-top-2 {margin-top: 2rem!important;}
.margin-top-4 {margin-top: 4rem!important;}
.margin-top-6 {margin-top: 6rem!important;}
.margin-top-8 {margin-top: 8rem!important;}
.margin-top-10 {margin-top: 10rem!important;}

// MARGIN-RIGHT
.margin-right-0 {margin-right: 0 !important;}
.margin-right-0-25 {margin-right: .25rem!important;}
.margin-right-0-5 {margin-right: .5rem !important;}
.margin-right-0-75 {margin-right: .75rem !important;}
.margin-right-1 {margin-right: 1rem !important;}
.margin-right-1-25 {margin-right: 1.25rem !important;}
.margin-right-1-5 {margin-right: 1.5rem !important;}
.margin-right-1-75 {margin-right: 1.75rem !important;}
.margin-right-2 {margin-right: 2rem!important;}
.margin-right-4 {margin-right: 4rem !important;}
.margin-right-6 {margin-right: 6rem!important;}
.margin-right-8 {margin-right: 8rem!important;}
.margin-right-10 {margin-right: 10rem!important;}

// MARGIN-BOTTOM
.margin-bottom-0 {margin-bottom: 0!important;}
.margin-bottom-0-25 {margin-bottom: .25rem!important;}
.margin-bottom-0-5 {margin-bottom: .5rem!important;}
.margin-bottom-0-75 {margin-bottom: .75rem!important;}
.margin-bottom-1 {margin-bottom: 1rem!important;}
.margin-bottom-1-25 {margin-bottom: 1.25rem!important;}
.margin-bottom-1-5 {margin-bottom: 1.5rem!important;}
.margin-bottom-1-75 {margin-bottom: 1.75rem!important;}
.margin-bottom-2 {margin-bottom: 2rem!important;}
.margin-bottom-4 {margin-bottom: 4rem!important;}
.margin-bottom-6 {margin-bottom: 6rem!important;}
.margin-bottom-8 {margin-bottom: 8rem!important;}
.margin-bottom-10 {margin-bottom: 10rem!important;}

// MARGIN-LEFT
.margin-left-0 {margin-left: 0!important;}
.margin-left-0-25 {margin-left: .25rem!important;}
.margin-left-0-5 {margin-left: .5rem!important;}
.margin-left-0-75 {margin-left: .75rem!important;}
.margin-left-1 {margin-left: 1rem!important;}
.margin-left-1-25 {margin-left: 1.25rem!important;}
.margin-left-1-5 {margin-left: 1.5rem!important;}
.margin-left-1-75 {margin-left: 1.75rem!important;}
.margin-left-2 {margin-left: 2rem!important;}
.margin-left-4 {margin-left: 4rem!important;}
.margin-left-6 {margin-left: 6rem!important;}
.margin-left-8 {margin-left: 8rem!important;}
.margin-left-10 {margin-left: 10rem!important;}

// MARGIN X
.margin-x-025 {margin: 0 .25rem !important;}
.margin-x-05 {margin: 0 .5rem !important;}
.margin-x-075 {margin: 0 .75rem !important;}
.margin-x-1 {margin: 0 1rem !important;}
.margin-x-1-25 {margin: 0 1.25rem !important;}
.margin-x-1-5 {margin: 0 1.5rem !important;}
.margin-x-1-75 {margin: 0 1.75rem !important;}
.margin-x-2-0 {margin: 0 2rem!important;}

// MARGIN Y
.margin-y-025 {margin: .25rem 0 !important;}
.margin-y-05 {margin: .5rem 0 !important;}
.margin-y-075 {margin: .5rem 0 !important;}
.margin-y-1 {margin: 1rem 0 !important;}
.margin-y-1-25 {margin: 1.25rem 0 !important;}
.margin-y-1-5 {margin: 1.5rem 0 !important;}
.margin-y-1-75 {margin: 1.75rem 0 !important;}
.margin-y-2-0 {margin: 2rem 0!important;}