<ph-blade class="apps-blade" [customBlade]="true" [blockPageUI]="false" [toggleBlade]="appsBlade"
  [suppressAutoClose]="false" topPosition="3.5rem" [zIndex]="99999" bladeSize="half-column-width" bladeHeading="Hello"
  [enableIcon]="true" iconName="directions_bike" (close)="appsBlade" [enablePinning]="false">

  <ng-container custom-header>
    <input type="text" class="search" placeholder="Search" id="search-text" aria-describedby="search-text"
      [(ngModel)]="searchText" placeholder="Filter by App name" autofocus />
  </ng-container>

  <ng-container custom-content>
    <section class="blade-navigation core-apps-wrapper">
      <a 
        *ngFor="let i of coreApps | filterCoreApps: searchText; let f = index"
        (click)="coreAppClicked(f)" 
        [class.selected]="coreAppIndex === f" 
        class="
          core-apps
          flex-group 
          flex-start 
          flex-align-center 
          flex-nowrap
          cursor-pointer
          decoration-none
        ">
        <span class="
            {{i.coreIconClass}} 
            core-app-icon
            material-icons-outlined
            flex-center
            ">
          {{i.coreAppIconName}}
        </span>
        <span class="trans-light-blue-to-blue-light decoration-underline">{{i.coreAppName}}</span>
      </a>
    </section>

  </ng-container>
  <ng-container custom-footer>
    <ph-button (buttonClick)="closeAppsBlade()" buttonText="Close" buttonClass="cancel" fieldClass="label-hidden">
    </ph-button>
  </ng-container>

</ph-blade>