<section class="control-bar">
  <h1>Alerts</h1>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Alert short</h2>
      <div class="describe margin-bottom-1">
        <p>Alerts are a handy UX pattern. We have four available states. Please refer
            to the attributes table on the right for details.
        </p>
      </div>
      <div class="flex-group flex-start">
        <div>
          <h3>Success</h3>
          <aa-alert alertClass="success" alertText="Success"></aa-alert>
        </div>
        <div>
          <h3>Info</h3>
          <aa-alert alertClass="info" alertText="Info"></aa-alert>
        </div>
        <div>
          <h3>Warning</h3>
          <aa-alert alertClass="warning" alertText="Warning"></aa-alert>
        </div>
        <div>
          <h3>Error</h3>
          <aa-alert alertClass="error" alertText="Error"></aa-alert>
        </div>
      </div>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-alert</td>
            <td datalabel="Attribute">alertClass</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">success, info,<br/> warning, error</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-alert</td>
            <td datalabel="Attribute">alertText</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your message</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event)">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
   <!-- start content repeater -->
   <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Alert long</h2>
      <div class="describe margin-bottom-1">
        <p>You can add larger paragraphs of text if required.
        </p>
      </div>
      <h3>Success</h3>
      <aa-alert [alertClass]="'success'" [alertText]="'I wrote this story for you, but when I began it I had not realized that girls grow quicker than books. '"></aa-alert>
      <h3>Info</h3>
      <aa-alert [alertClass]="'info'" [alertText]="'As a result you are already too old for fairy tales, and by the time it is printed and bound you will be older still.'"></aa-alert>
      <h3>Warning</h3>
      <aa-alert [alertClass]="'warning'" [alertText]="'As a result you are already too old for fairy tales, and by the time it is printed and bound you will be older still.'"></aa-alert>
      <h3>Error</h3>
      <aa-alert [alertClass]="'error'" [alertText]="'As a result you are already too old for fairy tales, and by the time it is printed and bound you will be older still.'"></aa-alert>
      <h3>Collapsible</h3>
      <aa-alert 
        [collapsible]="true"
        [alignIconTop]="true"
        collapsedHeight="3.25rem"
        alertClass="success" 
        alertTitle="Wise saying"
        alertText="Once upon a time, there was a wise man who used to go to the ocean to do his writing. He had a habit of walking on the beach before he began his work.
        One day, as he was walking along the shore, he looked down the beach and saw a human figure moving like a dancer. He smiled to himself at the thought of someone who would dance to the day, and so, he walked faster to catch up.
        As he got closer, he noticed that the figure was that of a young man, and that what he was doing was not dancing at all. The young man was reaching down to the shore, picking up small objects, and throwing them into the ocean.
        He came closer still and called out `Good morning! May I ask what it is that you are doing?`
        The young man paused, looked up, and replied `Throwing starfish into the ocean.`
        
        `I must ask, then, why are you throwing starfish into the ocean?` asked the somewhat startled wise man.
        
        To this, the young man replied, `The sun is up and the tide is going out. If I don't throw them in, they'll die.`
        
        Upon hearing this, the wise man commented, `But, young man, do you not realize that there are miles and miles of beach and there are starfish all along every mile? You can't possibly make a difference!`
        
        At this, the young man bent down, picked up yet another starfish, and threw it into the ocean. As it met the water, he said,
        `It made a difference for that one.`"
        >
      </aa-alert>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-alert</td>
            <td datalabel="Attribute">alertClass</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">success, info,<br/> warning, error</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-alert</td>
            <td datalabel="Attribute">alertText</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your message</td>
          </tr>
          <tr>
            <td colspan="4">
              <h3 class="margin-bottom-0">Collapsible version only</h3>
            </td>
          </tr>
          <tr>
            <td datalabel="Element">aa-alert</td>
            <td datalabel="Attribute">[collapsible]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-alert</td>
            <td datalabel="Attribute">[alignIconTop]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-alert</td>
            <td datalabel="Attribute">alertTitle</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your title</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-alert</td>
            <td datalabel="Attribute">collapsedHeight</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Your height in rem or %</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-alert</td>
            <td datalabel="Attribute">minWidth</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Your min-width in rem or %</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-alert</td>
            <td datalabel="Attribute">maxWidth</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Your max-width in rem or %</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event)">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
</section>

<aa-blade
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
>
  <article class="blade-content">
    <a href="https://gist.github.com/angloux/595f67f71f76e5636ae715f0fcb78e33" target="_blank">View Gist on GitHub</a>
    <app-gist src="angloux/595f67f71f76e5636ae715f0fcb78e33"></app-gist>
  </article>
</aa-blade>