<section class="control-bar">
  <h1>Tab navigation</h1>
</section>

<section class="content-container padding-0 tab-nav-page">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Tab navigation - use with ng-template</h2>
      <div class="describe margin-bottom-1">
        <p>Tab navigation should always sit inside the page <strong>control-bar</strong>.</p>
        <p>Use this version when there are state changes, for example validation messages from a modal or blade</p>
      </div>

      <aa-tab-navigation 
        [ngTemplate]="true" 
        [displayTabContent]="false" 
        (tabChanged)="tabChanged($event)"
        (closeTab)="onCloseTab($event)"
      >
        <aa-tab-navigation-item 
          *ngFor="let tab of tabsNgTemplate; let i = index"
          [tabId]="tabPrimary"
          tabName="{{tab.tabName}}" 
          [enableIcons]="tab.enableIcons" 
          iconName="{{tab.iconName}}" 
          iconColour="{{tab.iconColour}}"
          [showRightDivider]="tab.showRightDivider"
          [enableCount]="tab.enableCount"
          [enableClose]="tab.enableClose"
          tabCount="{{tab.tabCount}}"
          countColour="{{tab.countColour}}"
          [tabDisabled]="tab.tabDisabled"
        > 
          <ng-template aaTabNavigationContent>
            <div *ngIf="tab.showTabOneContent">
              <h2 class="boxed">Tab 1 content</h2>
              <p>
                This is Tab 1 content and is passed into (ng-template)
                which should be nested inside div.content-container.
                In this example we have 'enableIcons' set to 'true', 'iconColour' 
                set to 'aa-red-100' and 'iconName' set to 'error'
              </p>
              <ul class="margin-top-1">
                <li>
                  You can choose an 
                  <a href="https://fonts.google.com/icons?icon.set=Material+Icons&icon.style=Filled" target="_blank">iconName here</a>
                </li>
                <li>
                  You can choose an 
                  <a routerLink="/colours">iconColour here</a>
                </li>
              </ul>
            </div>
            <div *ngIf="tab.showTabTwoContent">
              <h2 class="boxed">Tab 2 content</h2>
              <p>
                This is Tab 2 content and is passed into (ng-template)
                which should be nested inside div.content-container.
                In this example we have 'enableIcons' set to 'true', 'iconColour' 
                set to 'aa-red-100' and 'iconName' set to 'error'
              </p>
              <ul class="margin-top-1">
                <li>
                  You can choose an 
                  <a href="https://fonts.google.com/icons?icon.set=Material+Icons&icon.style=Filled" target="_blank">iconName here</a>
                </li>
                <li>
                  You can choose an 
                  <a routerLink="/colours">iconColour here</a>
                </li>
              </ul>
            </div>
            <div *ngIf="tab.showTabThreeContent">
              <h2 class="boxed">Tab 3 content</h2>
              <p>
                This is Tab 3 content and is passed into (ng-template)
                which should be nested inside div.content-container.
                In this example we have 'enableCount' set to 'true' and 'countColour' 
                set to 'bg-aa-red-100'
              </p>
              <ul class="margin-top-1">
                <li>
                  You can choose an 
                  <a href="https://fonts.google.com/icons?icon.set=Material+Icons&icon.style=Filled" target="_blank">iconName here</a>
                </li>
                <li>
                  You can choose an 
                  <a routerLink="/colours">iconColour here</a>
                </li>
              </ul>
            </div>
          </ng-template>
        </aa-tab-navigation-item>
      </aa-tab-navigation>

      <section class="content-container padding-bottom-0" *ngIf="activeTab">
        <aa-tab-navigation-secondary 
          [ngTemplate]="true" 
          [displayTabContent]="false" 
          (tabChanged)="tabChanged($event)"
          tabColour="bg-aa-white-100"
          tabActiveColour="bg-aa-light-blue-5"
          (closeTabSecondary)="onCloseTabSecondary()"
          >
          <aa-tab-navigation-secondary-item 
            *ngFor="let tab of tabsSecondaryNgTemplate; let i = index"
            [tabId]="tabSecondary"
            tabName="{{tab.tabName}}" 
            [tabDisabled]="tab.tabDisabled"
            [enableCloseSecondary]="tab.enableCloseSecondary"
          > 
            <ng-template aaTabNavigationSecondaryContent>
              <div *ngIf="tab.showTabSecondaryOneContent">
                <h2 class="boxed">Tab secondary 1 content</h2>
                <p>
                  This is Tab secondary 1 content and is passed into (ng-template)
                  which should be nested inside div.content-container.
                  In this example we have 'enableIcons' set to 'true', 'iconColour' 
                  set to 'aa-red-100' and 'iconName' set to 'error'
                </p>
              </div>
              <div *ngIf="tab.showTabSecondaryTwoContent">
                <h2 class="boxed">Tab secondary 2 content</h2>
                <p>
                  This is Tab secondary 2 content and is passed into (ng-template)
                  which should be nested inside div.content-container.
                  In this example we have 'enableIcons' set to 'true', 'iconColour' 
                  set to 'aa-red-100' and 'iconName' set to 'error'
                </p>
              </div>
              <div *ngIf="tab.showTabSecondaryThreeContent">
                <h2 class="boxed">Tab secondary 3 content</h2>
                <p>
                  This is Tab secondary 3 content and is passed into (ng-template)
                  which should be nested inside div.content-container.
                  In this example we have 'enableCount' set to 'true' and 'countColour' 
                  set to 'bg-aa-red-100'
                </p>
              </div>
            </ng-template>
          </aa-tab-navigation-secondary-item>
        </aa-tab-navigation-secondary>
      </section>

      <section class="content-container padding-bottom-0 padding-top-0" *ngIf="activeTab">
        <ng-template *ngTemplateOutlet="activeTab.templateRef"></ng-template>
      </section>
    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-tab-navigation</td>
            <td datalabel="Attribute">[tabId]</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Your tab Id</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation</td>
            <td datalabel="Attribute">[ngTemplate]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation</td>
            <td datalabel="Attribute">[displayTabContent]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation</td>
            <td datalabel="Attribute">(tabChanged)</td>
            <td datalabel="Type">Event</td>
            <td datalabel="Default">Your method</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation</td>
            <td datalabel="Attribute">(closeTab)</td>
            <td datalabel="Type">Event</td>
            <td datalabel="Default">Your method</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation-item</td>
            <td datalabel="Attribute">(enableClose)</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">Set to true in your array</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation-item</td>
            <td datalabel="Attribute">(tabChanged)</td>
            <td datalabel="Type">Event</td>
            <td datalabel="Default">Active tab change</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation-item</td>
            <td datalabel="Attribute">tabName</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your tab name</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation-item</td>
            <td datalabel="Attribute">[enableIcons]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation-item</td>
            <td datalabel="Attribute">iconName</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default"><a href="https://fonts.google.com/icons?selected=Material+Icons:accessibility_new" target="_blank">Your icon name</a></td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation-item</td>
            <td datalabel="Attribute">iconColour</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default"><a routerLink="/colours">Your icon colour</a></td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation-item</td>
            <td datalabel="Attribute">enableCount</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
          <ng-container *ngIf="showMore">
            <tr>
              <td datalabel="Element">aa-tab-navigation-item</td>
              <td datalabel="Attribute">[tabId]</td>
              <td datalabel="Type">Any</td>
              <td datalabel="Default">Your tab Id</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-item</td>
              <td datalabel="Attribute">countColour</td>
              <td datalabel="Type">String</td>
              <td datalabel="Default"><a routerLink="/colours">Your colour</a></td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-item</td>
              <td datalabel="Attribute">tabCount</td>
              <td datalabel="Type">Number</td>
              <td datalabel="Default">Your value</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-item</td>
              <td datalabel="Attribute">[tabDisabled]</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">false</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-item</td>
              <td datalabel="Attribute">[showRightDivider]</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">false</td>
            </tr>
            <tr>
              <td colspan="4">
                <h3 class="margin-bottom-0">tab-navigation-secondary</h3>
              </td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-secondary</td>
              <td datalabel="Attribute">[ngTemplate]</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">True</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-secondary</td>
              <td datalabel="Attribute">[displayTabContent]</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">False</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-secondary</td>
              <td datalabel="Attribute">(tabChanged)</td>
              <td datalabel="Type">Method</td>
              <td datalabel="Default">N/A</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-secondary</td>
              <td datalabel="Attribute">tabColour</td>
              <td datalabel="Type">Any</td>
              <td datalabel="Default"><a routerLink="/colours">Your chosen colours</a></td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-secondary</td>
              <td datalabel="Attribute">tabActiveColour</td>
              <td datalabel="Type">Any</td>
              <td datalabel="Default"><a routerLink="/colours">Your chosen colours</a></td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-secondary</td>
              <td datalabel="Attribute">(closeTabSecondary)</td>
              <td datalabel="Type">Event</td>
              <td datalabel="Default">Your methid</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-secondary-item</td>
              <td datalabel="Attribute">tabName</td>
              <td datalabel="Type">String</td>
              <td datalabel="Default">Your tab name</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-secondary-item</td>
              <td datalabel="Attribute">(closeTabSecondary)</td>
              <td datalabel="Type">Event</td>
              <td datalabel="Default">Your method</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-secondary-item</td>
              <td datalabel="Attribute">[enableCloseSecondary]</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">Your method</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-tab-navigation-secondary-item</td>
              <td datalabel="Attribute">[tabDisabled]</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">False</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <nav class="margin-top-1">
        <a class="cursor-pointer" *ngIf="!showMore" (click)="showMore=!showMore">show more</a>
        <a class="cursor-pointer" *ngIf="showMore" (click)="showMore=!showMore">show less</a>
      </nav>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event); tabNgTemplate=true; tabRouterOutlet=false; tabInfo=false">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>
   <!-- start content repeater -->
   <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Tab navigation - use with router-outlet</h2>
      <div class="describe margin-bottom-1">
        <p>Tab navigation should always sit inside the page <strong>control-bar</strong>. 
          This version will not work with state changes like validation.</p>
      </div>
      
      <aa-tab-navigation 
        [routerOutlet]="true"
      >
        <ng-container list-items>
            <li 
              *ngFor="let tab of tabsRouterOutlet" 
              [ngClass]="{'tab-disabled' : tab.tabDisabled, 'divider-tab' : tab.showRightDivider}"
            >
              <a 
                *ngIf="!tab.tabDisabled && !tab.showRightDivider"
                [id]="tab.tabId" 
                routerLinkActive="active"
                [routerLink]="tab.routerLink"
              >
                {{ tab.name }}
                <span *ngIf="tab.enableCount" class="tab-count">{{tab.tabCount}}</span>
                <span *ngIf="tab.enableIcon" class="material-icons {{tab.iconColor}}">{{tab.iconName}}</span>
                <div *ngIf="tab.enableContextMenu" class="margin-left-0-25">
                  <aa-context-menu [showOnLeft]="false">
                    <aa-context-menu-item 
                      [noWrap]="true"
                      menuItemText="Menu item 1"
                      routerLink="your-path"
                    >
                    </aa-context-menu-item>
                    <aa-context-menu-item 
                      [noWrap]="true"
                      menuItemText="Menu item 2"
                      routerLink="your-path"
                    >
                    </aa-context-menu-item>
                  </aa-context-menu>
                </div>
                <a *ngIf="tab.enableClose" (click)="onCloseTabRO($event)" class="anchor-close"></a>
              </a>
              <span *ngIf="tab.tabDisabled && !tab.showRightDivider">
                {{ tab.name }}
                <span *ngIf="tab.enableCount" class="tab-count">{{tab.tabCount}}</span>
              </span>
            </li>
        </ng-container>
      </aa-tab-navigation>
      
      <section class="content-container padding-bottom-0">
        <aa-tab-navigation-secondary 
         [routerOutletSecondary]="true"
        >
          <ng-container list-items>
              <li 
                *ngFor="let tab of tabsSecondaryRouterOutlet; let i = index"
              >
                <a 
                  *ngIf="!tab.tabDisabled"
                  [id]="tab.tabId" 
                  routerLinkActive="active"
                  [routerLink]="tab.routerLink"
                  class="flex-group flex-nowrap flex-start flex-align-center"
                >
                  <span>{{ tab.tabName }}</span>
                  <a *ngIf="tab.enableCloseSecondaryRO" (click)="onCloseTabSecondaryRO($event)" class="anchor-close"></a>
                  <div *ngIf="tab.enableContextMenu" class="margin-left-0-25">
                    <aa-context-menu [showOnLeft]="false">
                      <aa-context-menu-item 
                        [noWrap]="true"
                        menuItemText="Menu item 1"
                        routerLink="your-path"
                      >
                      </aa-context-menu-item>
                      <aa-context-menu-item 
                        [noWrap]="true"
                        menuItemText="Menu item 2"
                        routerLink="your-path"
                      >
                      </aa-context-menu-item>
                    </aa-context-menu>
                  </div>
                </a>
                <span *ngIf="tab.tabDisabled" class="tab-disabled">
                  {{ tab.tabName }}
                </span>
              </li>
          </ng-container>
        </aa-tab-navigation-secondary>
      </section>
      
      <section class="router-outlet">
        <router-outlet></router-outlet>
      </section>
    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-tab-navigation</td>
            <td datalabel="Attribute">[routerOutlet]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">ng-container</td>
            <td datalabel="Attribute">ng-container</td>
            <td datalabel="Type">Ng-content selector</td>
            <td datalabel="Default">list-items</td>
          </tr>
          <tr>
            <td datalabel="Element">li</td>
            <td datalabel="Attribute">html</td>
            <td datalabel="Type">N/A</td>
            <td datalabel="Default">N/A</td>
          </tr>
          <tr>
            <td datalabel="Element">Divider li</td>
            <td datalabel="Attribute">Class</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.divider-tab</td>
          </tr>
          <tr>
            <td datalabel="Element">Anchor</td>
            <td datalabel="Attribute">html</td>
            <td datalabel="Type">Anchor</td>
            <td datalabel="Default">N/A</td>
          </tr>
          <tr>
            <td datalabel="Element">Id</td>
            <td datalabel="Attribute">id</td>
            <td datalabel="Type">Anchor id</td>
            <td datalabel="Default">tab.tabId</td>
          </tr>
          <tr>
            <td datalabel="Element">routerLinkActive</td>
            <td datalabel="Attribute">routerLinkActive</td>
            <td datalabel="Type">Anchor active state</td>
            <td datalabel="Default">active</td>
          </tr>
          <tr>
            <td datalabel="Element">[routerLink]</td>
            <td datalabel="Attribute">[routerLink]</td>
            <td datalabel="Type">RouterLink</td>
            <td datalabel="Default">tab.routerLink</td>
          </tr>
          <tr>
            <td datalabel="Element">Tab name</td>
            <td datalabel="Attribute">tab.name</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your name</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation-item</td>
            <td datalabel="Attribute">enableCount</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation-item</td>
            <td datalabel="Attribute">tabCount</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">Your value</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tab-navigation-secondary > anchor</td>
            <td datalabel="Attribute">[enableClose]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">Set to true</td>
          </tr>
          <tr>
        </tbody>
      </table>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event); tabNgTemplate=false; tabRouterOutlet=true; tabInfo=false">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>
  
     <!-- start content repeater -->
     <section class="content-repeater">
       <div class="flex-group">
      <section class="flex-1 col-left flex-start">
        <h2>Tab navigation - Info panel version</h2>
        <div class="describe margin-bottom-1">
          <p>For setting .active class, please use Angular's built-in directive 
            <a href="https://www.tektutorialshub.com/angular/routerlinkactive-router-outlet-styling/" target="_BLANK">routerLinkActive</a>. 
            You just need to set up your child routes in your routing.module.ts and you're ready to go.</p>
          <p>For information regarding router-outlet implementation, please refer to the 
            <a href="https://angular.io/api/router/RouterOutlet" target="_blank">Angular documentation</a>
          </p>
          <p>The Info panel version is designed to hold other components. In this example we have
            injected the progress-circle component. For progress-circle attributes please <a routerLink="/progress-circle">go here</a>,
            for tooltip component please <a routerLink="/tooltip">go here</a>.
          </p>
        </div>
      </section>
        
      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">aa-tab-navigation</td>
              <td datalabel="Attribute">[tabInfoRouterOutlet]</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">true</td>
            </tr>
            <tr>
              <td datalabel="Element">Anchor</td>
              <td datalabel="Attribute">routerLinkActive</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">.active</td>
            </tr>
            <tr>
              <td datalabel="Element">Anchor</td>
              <td datalabel="Attribute">[routerLink]</td>
              <td datalabel="Type">Path</td>
              <td datalabel="Default">Your link</td>
            </tr>
            <tr>
              <td datalabel="Element">Anchor</td>
              <td datalabel="Attribute">tabColor</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">Your tab colour</td>
            </tr>
          </tbody>
        </table>
      </section>
      
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
          <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event); tabNgTemplate=false; tabRouterOutlet=false; tabInfo=true">
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
      </div>
      <div class="margin-top-1">
        <aa-tab-navigation [tabInfoRouterOutlet]="true">
          <li tabs *ngFor="let item of tabInfoPanelItems; let i">
            <a (click)="setIndex(i)" [class.active]="selectedIndex === i" class="cursor-none {{item.tabColor}}">
              <aa-progress-circle 
                [panelView]="true" 
                [name]="item.tabName" 
                [percent]="item.percentage"
                [value]="item.valueSplit"
                [enableTooltip]="item.tooltipEnabled" 
                [tooltipMinWidth]="'12'" 
                [tooltipBody]="item.tooltipText" 
                [xpos]="'bottom'" 
                [ypos]="'right'"
                >
            </aa-progress-circle>
            </a>
          </li>
        </aa-tab-navigation>
        <!-- <router-outlet></router-outlet> -->
      </div>
    </section>
</section>

<aa-blade 
  [showModal]="false"
  [bladeTabs]="true"
  [toggleBlade]="toggleBlade"
  suppressAutoClose="false"
  topPosition="3.5"
  zIndex="2"
  bladeSize="one-column-width"
  bladeHeading="Gist"
  [enableIcon]="true"
  iconName="table_rows"
  (close)="toggleBlade = false"
  >
    <div *ngIf="tabNgTemplate">
      <aa-tab-navigation [ngTemplate]="true" [displayTabContent]="false" (tabChanged)="gistTabChanged($event)">
        <aa-tab-navigation-item 
          *ngFor="let tab of gistNgTemplate; let i = index"
          tabName="{{tab.tabName}}" 
          [enableIcons]="tab.enableIcons" 
          iconName="{{tab.iconName}}" 
          iconColour="{{tab.iconColour}}"
          [showRightDivider]="tab.showRightDivider"
          [enableCount]="tab.enableCount"
          tabCount="{{tab.tabCount}}"
          countColour="{{tab.countColour}}"
          [tabDisabled]="tab.tabDisabled"
        > 
          <ng-template aaTabNavigationContent>
            <div *ngIf="tab.showGistNgTemplate">
              <h2>Tab navigation - using ng-template</h2>
              <a href="https://gist.github.com/angloux/fc6fe846adfb3b2a34bb516498e12039" target="_blank">View Gist on GitHub</a>
              <app-gist src="angloux/fc6fe846adfb3b2a34bb516498e12039"></app-gist>           
            </div>
            <div *ngIf="tab.showGistRouterOutlet">
              <h2>Tab navigation secondary - using ng-template</h2>
              <a href="https://gist.github.com/angloux/773b60140d117c56f6faf7578c6b2a22" target="_blank">View Gist on GitHub</a>
              <app-gist src="angloux/773b60140d117c56f6faf7578c6b2a22"></app-gist>              
            </div>
          </ng-template>
        </aa-tab-navigation-item>
      </aa-tab-navigation>
      
      <section class="blade-content padding-bottom-0" *ngIf="activeGistTab">
        <ng-template *ngTemplateOutlet="activeGistTab.templateRef"></ng-template>
      </section>
    </div>

    <div *ngIf="tabRouterOutlet">
      <aa-tab-navigation [ngTemplate]="true" [displayTabContent]="false" (tabChanged)="gistTabChanged($event)">
        <aa-tab-navigation-item 
          *ngFor="let tab of gistNgTemplate; let i = index"
          tabName="{{tab.tabName}}" 
          [enableIcons]="tab.enableIcons" 
          iconName="{{tab.iconName}}" 
          iconColour="{{tab.iconColour}}"
          [showRightDivider]="tab.showRightDivider"
          [enableCount]="tab.enableCount"
          tabCount="{{tab.tabCount}}"
          countColour="{{tab.countColour}}"
          [tabDisabled]="tab.tabDisabled"
        > 
          <ng-template aaTabNavigationContent>
            <div *ngIf="tab.showGistNgTemplate">
              <h2>Tab navigation - using router-outlet</h2>
              <a href="https://gist.github.com/angloux/49376fbd40cdc740ac32d68ea19fc150" target="_blank">View Gist on GitHub</a>
              <app-gist src="angloux/49376fbd40cdc740ac32d68ea19fc150"></app-gist>           
            </div>
            <div *ngIf="tab.showGistRouterOutlet">
              <h2>Tab navigation secondary - using router-outlet</h2>
              <a href="https://gist.github.com/angloux/ec2bbf59f421006a8e62f3113c7266d9" target="_blank">View Gist on GitHub</a>
              <app-gist src="angloux/ec2bbf59f421006a8e62f3113c7266d9"></app-gist>              
            </div>
          </ng-template>
        </aa-tab-navigation-item>
      </aa-tab-navigation>
      
      <section class="blade-content padding-bottom-0" *ngIf="activeGistTab">
        <ng-template *ngTemplateOutlet="activeGistTab.templateRef"></ng-template>
      </section>
    </div>

    <article class="blade-content padding-top-0" *ngIf="tabInfo">
      <a href="https://gist.github.com/angloux/f08af42ced9a4788dca64d6ced828ecf" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/f08af42ced9a4788dca64d6ced828ecf"></app-gist>
    </article>
</aa-blade>

<aa-modal 
  *ngIf="toggleModal"
  [red]="true"
  [orange]=""
  [blue]=""
  [green]=""
  topPos=""
  rightPos=""
  leftPos=""
  minWidth=""
  maxWidth="28rem"
  zIndex="999"
  [heading]="'Are you sure you want to delete this tab?'"
  >
  <div content-custom>
    You'll need to add your logic for removing the tab
  </div>
  <!-- ng-template -->
  <aa-button 
    *ngIf="ngTemplate"
    (buttonClick)="removeTab()" 
    buttonClass="primary" 
    fieldClass="boxed label-hidden" 
    buttonId="buttonId" 
    buttonText="Yes">
  </aa-button>
  <aa-button 
    *ngIf="ngTemplateSecondary"
    (buttonClick)="removeTabSecondary()" 
    buttonClass="primary" 
    fieldClass="boxed label-hidden" 
    buttonId="buttonId" 
    buttonText="Yes">
  </aa-button>
  <!-- router outlet -->
  <aa-button 
    *ngIf="routerOutlet"
    (buttonClick)="removeTabRO()" 
    buttonClass="primary" 
    fieldClass="boxed label-hidden" 
    buttonId="buttonId" 
    buttonText="Yes">
  </aa-button>
  <aa-button 
    *ngIf="routerOutletSecondary"
    (buttonClick)="removeTabSecondaryRO()" 
    buttonClass="primary" 
    fieldClass="boxed label-hidden" 
    buttonId="buttonId" 
    buttonText="Yes">
  </aa-button>
  <!-- cancel -->
  <aa-button 
      (buttonClick)="toggleModal=false" 
      buttonClass="cancel" 
      fieldClass="boxed label-hidden" 
      buttonId="buttonId" 
      buttonText="No">
  </aa-button>
</aa-modal>