<ul *ngIf="treeData">
    <li *ngFor="let node of treeData">
        <span (click)="toggleChild(node)">
            {{ node.mike }}
            <span class="chevron" [ngClass]="{'chevron-down': node.showChildren}" *ngIf="node.children != 0"></span>
            <strong *ngIf="node.children != 0"> {{ node.name }} </strong>
            <a href="{{node.url}}" target="_blank" *ngIf="node.children == 0"> {{ node.name }} </a>
        </span>
        <ul>
            <li>
                <app-tree *ngIf="node.showChildren" [treeData]="node.children"></app-tree>
            </li>
        </ul>
    </li>  
</ul>