<section class="control-bar flex-group flex-start">
    <h1>Nav context</h1>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Nav context</h2>
      <div class="describe margin-bottom-1">
        <p>The Nav context menu should be nested inside the page <strong>.content-container</strong> with the 
            added classnames <strong>.position-relative</strong> and <strong>.padding-left-14</strong>. 
            You should then adjust the top and bottom positions of the Nav context components so that they 
            fill the vertical space of the page. 
        </p>
      </div>
      
      <div class="position-relative" [ngStyle]="{'height' : '19rem'}">
        <aa-nav-context 
          zIndex="0"
          navWidth="14" 
          topPos="0" 
          leftPos="0" 
          bottomPos="">          
          <li *ngFor="let item of navContextDataItems; let i = index" [class.selected]="selectedIndex === i" class="flex-group space-between">
              <a (click)="setIndex(i)" class="flex-group flex-start flex-2 flex-align-center">
                  <span class="material-icons aa-white-100 {{item.color}}">{{item.iconName}}</span>
                  <span>{{item.title}}</span>
              </a>
              <aa-context-menu class="padding-right-0-75" minWidth="7.5" [absolutePosition]="true" topPos=".6">
                  <aa-context-menu-item menuItemText="Menu item 1"></aa-context-menu-item>
                  <aa-context-menu-item menuItemText="Menu item 2"></aa-context-menu-item>
                  <aa-context-menu-item menuItemText="Menu item 3"></aa-context-menu-item>
              </aa-context-menu>
          </li>
        </aa-nav-context>
      </div>
    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">Index level</td>
            <td datalabel="Attribute">zIndex</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">0</td>
          </tr>
          <tr>
            <td datalabel="Element">Nav width</td>
            <td datalabel="Attribute">navWidth</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">14</td>
          </tr>
          <tr>
            <td datalabel="Element">Top position</td>
            <td datalabel="Attribute">topPos</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">7.35</td>
          </tr>
          <tr>
            <td datalabel="Element">Left position</td>
            <td datalabel="Attribute">leftPos</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">0</td>
          </tr>
          <tr>
            <td datalabel="Element">Bottom position</td>
            <td datalabel="Attribute">bottomPos</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">0</td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event)">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>
</section>
  
<aa-blade 
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
  >
  <article class="blade-content">
      <app-gist src="angloux/29512f6cf4421f4acd77c8022f83f0e4"></app-gist>
      <a href="https://gist.github.com/angloux/29512f6cf4421f4acd77c8022f83f0e4" target="_blank">View Gist on GitHub</a>
  </article>
</aa-blade>