.aa-tree {
    ul {
        list-style-type: none;
        font-family: _font(family-regular);
        padding-left: 0;

        li {
            padding: 0;
            span {
                cursor: pointer;
            }
            .tree-group {
                padding: 0;
                min-height: 1.75rem;

                input {
                    margin-right: .5rem 
                }
            }
            a {
                text-decoration: none;
            }

            button.material-icons {
                background-color: transparent;
                color: _palette(aa-light-blue-100);
                font-size: _font(size-regular);
                border: none;
                padding: 0;
                width: auto;
                height: auto;
            }
        }

        ul {
            margin-left: .25rem;
        }
        .chevron {
            cursor: pointer;
            user-select: none;
        }
        
        .chevron {
            position: relative;
            padding-right: .5rem;
            height: 1.4rem;
            &:before {
                @include icon-left-before-small;
                left: .15rem;
                content: "\f054";
                color: _colour(aa-light-blue-100);
                transition: all .25s linear;
            }
        }
        
        .chevron-down {
            &:before {
                transform: rotate(90deg);
                color: _palette(aa-orange-100);
            }
        }
        
        .nested {
            display: none;
        }
        
        .active {
            display: block;
        }
    }
}