.aa-stepper {
    padding: 1.25rem;
    background-color: _colour(bg-primary);
    .aa-stepper-header {
        li {
            list-style: none;
            a {
                position: relative;
                padding-left: 2rem;
                text-decoration: none;
                color: _colour(body-text);
                label {
                    opacity: .4;
                    padding: .25rem 0 0 0;
                }
                &.current-step {
                    font-family: _font(family-medium);
                    .aa-step-status {
                        background-color: _colour(primary);
                    }
                    label {
                        opacity: 1;
                    }
                }
                .aa-step-status {
                    position: absolute;
                    left: 0;
                    border-radius: 50%;
                    background-color: pink;
                    color: _palette(white);
                    width: 1.5rem;
                    height: 1.5rem;
                    line-height: 1.5rem;
                    align-items: center;
                    text-align: center;

                    &.material-icons {
                        z-index: 1;
                        font-size: _font(size-regular);
                        background-color: _palette(aa-green-100);
                    }
                }
            }
        }
    }
    .aa-stepper-content {
        overflow: hidden;
        padding: 0 0 1.5rem 0;

        .aa-steps {
            transform: translate3d(100%, 0, 0);
            transition: transform 1s ease ;
            visibility: hidden;
            height: 0;
            overflow: hidden;

            &.selected {
                transform: none;
                visibility: inherit;
                outline: 0;
                overflow: visible;
                height: initial;
            }
        }

        .error[role=alert],
        .success[role=alert] {
            margin-top: 1.5rem;
        }
    }
    .aa-stepper-footer {
        .field {
            padding: 0;
        }
    }
}