.nav-core {
  width: 16rem;
  position: fixed;
  z-index: 10;
  top: 3.5rem;
  bottom: 0;
  left: 0;
  padding-bottom: 4rem;
  background-color: _colour(lh-nav-bg-primary);
  border-right: 1px solid _colour(lh-nav-border-secondary);
  transition: all .25s linear;
  box-shadow: 0 4px 8px _colour(lh-nav-shadow);
  ::-webkit-scrollbar {
    display: none;
  }
  &.minimize-menu {
    width: 5.05rem;
    button {
      &.material-icons,
      &.material-icons-outlined {
        transform: rotate(180deg);
      }
    }
    span:not(.material-icons, .material-icons-outlined),
    a:after,
    .nav-min-max div {
        opacity: 0;
        transition: all .25s linear;
    }
    .nav-min-max div {
      max-width: 1rem
    }
  }
  // ---------------------------- GLOBAL STYLES ----------------------------
  ul, li {list-style: none; padding:0; margin: 0;}
  a {
    text-decoration: none;
    cursor: pointer;
    padding: .325rem .5rem .325rem 1.5rem;
    color: _colour(lh-nav-text-primary);
    span {
      &.material-icons,
      &.material-icons-outlined {
        position: absolute;
      }
    }
  }
  span {
    vertical-align: top;
    &:not(.material-icons, .material-icons-outlined) {
      max-width: 9.25rem;
      opacity: 1;
      transition: all .5s linear;
    }
    &.small {
      font-size: _font(size-small);
      margin-top: .12rem;
    }
  }
  // -------------------------------- PARENT UL ---------------------------
  > ul {
    overflow-y: auto;
    height: 100%;
    // ------------------------------ PARENT LI ---------------------------
    > li,
    > li .menu-item {
      overflow: hidden;
      // -------------------------- PARENT ANCHOR -------------------------
      > a {
        position: relative;
        min-height: 2.75rem;
        width: 100%;
        font-family: _font(family-medium);
        border-bottom: 1px solid _colour(lh-nav-border-primary);
        box-shadow: 0 8px 20px rgba(0, 39, 118, 15%);
        span:not(.material-icons, .material-icons-outlined) {
          margin-left: 2.75rem;
        }
        // PARENT ANCHOR & SIBLING UL - (EXPANDED, HOVER AND SELECTED COLOURS)
        // red
        &.red:hover,
        &.red.expanded,
        &.red.expanded + ul li a:hover,
        &.red.expanded + ul li a.selected {background-color: _colour(tinted-red)}
        &.red.expanded + ul {border-bottom: 0.085rem dashed _palette(aa-red-100)}
        &.red + ul li {.material-icons, .material-icons-outlined {color: _palette(aa-red-100)}}
        &.red:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _palette(aa-red-100)}}
        &.red:not(.expanded, :hover).reversed {background-color: transparent}
        &.red.reversed {.material-icons, .material-icons-outlined {color: _palette(aa-red-50)}}
        // green
        &.green:hover,
        &.green.expanded,
        &.green.expanded + ul li a:hover,
        &.green.expanded + ul li a.selected {background-color: _colour(tinted-green)}
        &.green.expanded + ul {border-bottom: 0.085rem dashed _palette(aa-green-100)}
        &.green + ul li {.material-icons, .material-icons-outlined {color: _palette(aa-green-100)}}
        &.green:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _palette(aa-green-100)}}
        &.green:not(.expanded, :hover).reversed {background-color: transparent}
        &.green.reversed {.material-icons, .material-icons-outlined {color: _palette(aa-green-50)}}
        // blue
        &.blue:hover,
        &.blue.expanded,
        &.blue.expanded + ul li a:hover,
        &.blue.expanded + ul li a.selected {background-color: _colour(tinted-blue)}
        &.blue.expanded + ul {border-bottom: 0.085rem dashed _colour(aa-blue-100)}
        &.blue + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-blue-100)}}
        &.blue:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-blue-100)}}
        &.blue:not(.expanded, :hover).reversed {background-color: transparent}
        &.blue.reversed {.material-icons, .material-icons-outlined {color: _palette(aa-blue-50)}}
        // orange
        &.orange:hover,
        &.orange.expanded,
        &.orange.expanded + ul li a:hover,
        &.orange.expanded + ul li a.selected {background-color: _colour(tinted-orange)}
        &.orange.expanded + ul {border-bottom: 0.085rem dashed _palette(aa-orange-100)}
        &.orange + ul li {.material-icons, .material-icons-outlined {color: _palette(aa-orange-100)}}
        &.orange:not(.reversed) .material-icons {background-color: _palette(aa-orange-100)}
        &.orange:not(.expanded, :hover).reversed {background-color: transparent}
        &.orange.reversed {.material-icons, .material-icons-outlined {color: _palette(aa-orange-50)}}
        // plum
        &.plum:hover,
        &.plum.expanded,
        &.plum.expanded + ul li a:hover,
        &.plum.expanded + ul li a.selected {background-color: _colour(tinted-plum)}
        &.plum.expanded + ul {border-bottom: 0.085rem dashed _palette(aa-plum-100)}
        &.plum + ul li {.material-icons, .material-icons-outlined {color: _palette(aa-plum-100)}}
        &.plum:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _palette(aa-plum-100)}}
        &.plum:not(.expanded, :hover).reversed {background-color: transparent}
        &.plum.reversed {.material-icons, .material-icons-outlined {color: _palette(aa-plum-50)}}
        // light-blue
        &.light-blue:hover,
        &.light-blue.expanded,
        &.light-blue.expanded + ul li a:hover,
        &.light-blue.expanded + ul li a.selected {background-color: _colour(tinted-light-blue)}
        &.light-blue.expanded + ul {border-bottom: 0.085rem dashed _palette(aa-light-blue-100)}
        &.light-blue + ul li {.material-icons, .material-icons-outlined {color: _palette(aa-light-blue-100)}}
        &.light-blue:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _palette(aa-light-blue-100)}}
        &.light-blue:not(.expanded, :hover).reversed {background-color: transparent}
        &.light-blue.reversed {.material-icons, .material-icons {color: _palette(aa-light-blue-50)}}
        // burgundy
        &.burgundy:hover,
        &.burgundy.expanded,
        &.burgundy.expanded + ul li a:hover,
        &.burgundy.expanded + ul li a.selected {background-color: _colour(tinted-burgundy)}
        &.burgundy.expanded + ul {border-bottom: 0.085rem dashed _palette(aa-burgundy-100)}
        &.burgundy + ul li {.material-icons, .material-icons-outlined {color: _palette(aa-burgundy-100)}}
        &.burgundy:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _palette(aa-burgundy-100)}}
        &.burgundy:not(.expanded, :hover).reversed {background-color: transparent}
        &.burgundy.reversed {.material-icons, .material-icons-outlined {color: _palette(aa-burgundy-50)}}
        &.expanded {
            &::after {
              transform: rotate(135deg);
              transition: all .25s linear;
              top: 1rem;
            }
          + ul {
            transition: all .25s linear;
          }
        }
        &:hover {
          background-color: _colour(bg-feature-box-solid);
        }
        &.hide-chevron {
          &::after {
            display: none;
          }
        }
        &:after {
          content: '';
          position: absolute;
          top: 1.25rem;
          right: 1rem;
          border-style: solid;
          border-width: .06rem .06rem 0 0;
          width: .5rem;
          height: .5rem;
          transform: rotate(-45deg);
          transition: all .25s linear;
        }
        span.material-icons,
        span.material-icons-outlined {
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          color: white;
          padding: 0.25rem;
          font-size: 1.25rem;
          text-align: center;
          line-height: 1.5rem;
        }
      }
      // PARENT ANCHOR - (DESIGN LANGUAGE ONLY - SETTING WHITE BG COLOUR ON MENU ITEMS)
      > a,
      > a .menu-item {
        background-color: _colour(lh-nav-bg-secondary);
      }
      // ---------------------------- CHILD UL ----------------------------
      ul {
        transition: all .25s linear;
        max-height: 0;
        // CHILD LI
        li  {
          // CHILD ANCHOR
          a {
            position: relative;
            padding: .5rem .5rem .5rem 1.25rem;
            border-bottom: 1px solid _colour(lh-nav-border-secondary);
            &:hover,
            &.selected {
              .material-icons,
              .material-icons-outlined {
                font-size: 1.6rem;
                padding-left: .44rem;
                padding-top: .075rem;
                opacity: 1;
              }
            }
            span {
              &.material-icons,
              &.material-icons-outlined {
                opacity: .6;
                transition: all .25s linear;
                font-size: _font(size-medium);
                padding-left: .6rem;
                margin-right: 1.15rem;
              }
              &:not(.material-icons, .material-icons-outlined) {
                margin-left: 3rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 10.75rem;
              }
            }
          }
        }
      }
    }
  }
  .nav-min-max {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    padding: 0 .5rem 0 1.5rem;
    font-size: _font(size-small);
    div {
      color: _palette(aa-green-100);
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
    }
    button {
      &.material-icons,
      &.material-icons-outlined {
        color: _colour(body-text);
        background-color: transparent;
      }
      &:hover {
        background-color: transparent!important;
        color: _colour(body-text)!important;
      }
    }
  }
}