.aa-tree {
    ul {
        list-style-type: none;
        font-family: _font(family-regular);

        li {
            padding-top: .25rem;
            span {
                cursor: pointer;
            }
            a {
                text-decoration: none;
            }
        }

        ul {
            margin-left: .5rem;
        }
        .chevron {
            cursor: pointer;
            user-select: none;
        }
        
        .chevron {
            position: relative;
            padding-right: 1rem;
            line-height: 1rem;
            &:before {
                @include icon-left-before-small;
                content: "\f054";
                color: _colour(secondary);
            }
        }
        
        .chevron-down {
            &:before {
                transform: rotate(90deg);
                color: _palette(aa-orange-100);
            }
        }
        
        .nested {
            display: none;
        }
        
        .active {
            display: block;
        }
    }
}