.nav-angular-elements {
  width: 16rem;
  position: fixed;
  z-index: 10;
  top: 3.5rem;
  bottom: 0;
  left: 0;
  padding-bottom: 4rem;
  background-color: _colour(aa-white-100);
  border-right: 1px solid _colour(aa-light-blue-15);
  transition: all .25s linear;
  box-shadow: 0 4px 8px _colour(box-shadow);
  ::-webkit-scrollbar {
    display: none;
  }
  &.minimize-menu {
    width: 5.05rem;
    button {
      &.material-icons,
      &.material-icons-outlined {
        transform: rotate(180deg);
      }
    }
    span:not(.material-icons, .material-icons-outlined),
    a:after,
    .nav-min-max div {
        opacity: 0;
        transition: all .25s linear;
    }
    .nav-min-max div {
      max-width: 1rem
    }
  }
  // ---------------------------- GLOBAL STYLES ----------------------------
  ul, li {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    line-height: initial;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    padding: .325rem .5rem .325rem 1.5rem;
    color: _colour(trans-blue-to-white);
    span {
      &.material-icons,
      &.material-icons-outlined {
        position: absolute;
      }
    }
  }
  span {
    vertical-align: top;
    &:not(.material-icons, .material-icons-outlined) {
      max-width: 9.25rem;
      opacity: 1;
      transition: all .5s linear;
    }
    &.small {
      font-size: _font(size-small);
      margin-top: .12rem;
    }
  }
  // -------------------------------- PARENT UL ---------------------------
  > ul {
    overflow-y: auto;
    height: 100%;
    // ------------------------------ PARENT LI ---------------------------
    > li,
    > li .menu-item {
      overflow: hidden;
      // -------------------------- PARENT ANCHOR -------------------------
      > a {
        position: relative;
        min-height: 2.75rem;
        width: 100%;
        font-family: _font(family-medium);
        border-bottom: 1px solid _colour(aa-light-blue-30);
        box-shadow: 0 8px 20px rgba(0, 39, 118, 15%);
        &.solo-menu-item {
          &:after {
            display: none;
          }
          + ul {
            display: none;
          }
        }
        span:not(.material-icons, .material-icons-outlined) {
          margin-left: 2.75rem;
        }
        // PARENT ANCHOR & SIBLING UL - (EXPANDED, HOVER AND SELECTED COLOURS)
        // red
        &.red:hover,
        &.red.selected,
        &.red.selected + ul li a:hover,
        &.red.selected + ul li a.selected {background-color: _colour(tinted-red)}
        &.red.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-red-100)}
        &.red + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-red-100)}}
        &.red:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-red-100)}}
        &.red:not(.selected, :hover).reversed {background-color: transparent}
        &.red.reversed {.material-icons, .material-icons-outlined {color: _colour(aa-red-50)}}
        // green
        &.green:hover,
        &.green.selected,
        &.green.selected + ul li a:hover,
        &.green.selected + ul li a.selected {background-color: _colour(tinted-green)}
        &.green.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-green-100)}
        &.green + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-green-100)}}
        &.green:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-green-100)}}
        &.green:not(.selected, :hover).reversed {background-color: transparent}
        &.green.reversed {.material-icons, .material-icons-outlined {color: _colour(aa-green-50)}}
        // lime
        &.lime:hover,
        &.lime.selected,
        &.lime.selected + ul li a:hover,
        &.lime.selected + ul li a.selected {background-color: _colour(tinted-lime)}
        &.lime.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-lime-100)}
        &.lime + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-lime-100)}}
        &.lime:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-lime-100)}}
        &.lime:not(.selected, :hover).reversed {background-color: transparent}
        &.lime.reversed {.material-icons, .material-icons-outlined {color: _colour(aa-lime-100)}}
        // blue
        &.blue:hover,
        &.blue.selected,
        &.blue.selected + ul li a:hover,
        &.blue.selected + ul li a.selected {background-color: _colour(tinted-blue)}
        &.blue.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-blue-100)}
        &.blue + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-blue-100)}}
        &.blue:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-blue-100)}}
        &.blue:not(.selected, :hover).reversed {background-color: transparent}
        &.blue.reversed {.material-icons, .material-icons-outlined {color: _colour(aa-blue-50)}}
        // light-blue
        &.light-blue:hover,
        &.light-blue.selected,
        &.light-blue.selected + ul li a:hover,
        &.light-blue.selected + ul li a.selected {background-color: _colour(tinted-light-blue)}
        &.light-blue.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-light-blue-100)}
        &.light-blue + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-light-blue-100)}}
        &.light-blue:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-light-blue-100)}}
        &.light-blue:not(.selected, :hover).reversed {background-color: transparent}
        &.light-blue.reversed {.material-icons, .material-icons {color: _colour(aa-light-blue-50)}}
        // sky-blue
        &.blue-sky:hover,
        &.blue-sky.selected,
        &.blue-sky.selected + ul li a:hover,
        &.blue-sky.selected + ul li a.selected {background-color: _colour(tinted-blue-sky)}
        &.blue-sky.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-blue-sky-100)}
        &.blue-sky + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-blue-sky-100)}}
        &.blue-sky:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-blue-sky-100)}}
        &.blue-sky:not(.selected, :hover).reversed {background-color: transparent}
        &.blue-sky.reversed {.material-icons, .material-icons {color: _colour(aa-blue-sky-50)}}
        // orange
        &.orange:hover,
        &.orange.selected,
        &.orange.selected + ul li a:hover,
        &.orange.selected + ul li a.selected {background-color: _colour(tinted-orange)}
        &.orange.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-orange-100)}
        &.orange + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-orange-100)}}
        &.orange:not(.reversed) .material-icons {background-color: _colour(aa-orange-100)}
        &.orange:not(.selected, :hover).reversed {background-color: transparent}
        &.orange.reversed {.material-icons, .material-icons-outlined {color: _colour(aa-orange-50)}}
        // plum
        &.plum:hover,
        &.plum.selected,
        &.plum.selected + ul li a:hover,
        &.plum.selected + ul li a.selected {background-color: _colour(tinted-plum)}
        &.plum.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-plum-100)}
        &.plum + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-plum-100)}}
        &.plum:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-plum-100)}}
        &.plum:not(.selected, :hover).reversed {background-color: transparent}
        &.plum.reversed {.material-icons, .material-icons-outlined {color: _colour(aa-plum-50)}}
        // ochre
        &.ochre:hover,
        &.ochre.selected,
        &.ochre.selected + ul li a:hover,
        &.ochre.selected + ul li a.selected {background-color: _colour(tinted-ochre)}
        &.ochre.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-ochre-100)}
        &.ochre + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-ochre-100)}}
        &.ochre:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-ochre-100)}}
        &.ochre:not(.selected, :hover).reversed {background-color: transparent}
        &.ochre.reversed {.material-icons, .material-icons-outlined {color: _colour(aa-ochre-50)}}
        // burgundy
        &.burgundy:hover,
        &.burgundy.selected,
        &.burgundy.selected + ul li a:hover,
        &.burgundy.selected + ul li a.selected {background-color: _colour(tinted-burgundy)}
        &.burgundy.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-burgundy-100)}
        &.burgundy + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-burgundy-100)}}
        &.burgundy:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-burgundy-100)}}
        &.burgundy:not(.selected, :hover).reversed {background-color: transparent}
        &.burgundy.reversed {.material-icons, .material-icons-outlined {color: _colour(aa-burgundy-50)}}
        // pink
        &.pink:hover,
        &.pink.selected,
        &.pink.selected + ul li a:hover,
        &.pink.selected + ul li a.selected {background-color: _colour(tinted-pink)}
        &.pink.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-pink-100)}
        &.pink + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-pink-100)}}
        &.pink:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-pink-100)}}
        &.pink:not(.selected, :hover).reversed {background-color: transparent}
        &.pink.reversed {.material-icons, .material-icons-outlined {color: _colour(aa-pink-50)}}
        // grey
        &.grey:hover,
        &.grey.selected,
        &.grey.selected + ul li a:hover,
        &.grey.selected + ul li a.selected {background-color: _colour(tinted-grey)}
        &.grey.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-grey-100)}
        &.grey + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-grey-100)}}
        &.grey:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-grey-100)}}
        &.grey:not(.selected, :hover).reversed {background-color: transparent}
        &.grey.reversed {.material-icons, .material-icons-outlined {color: _colour(aa-grey-50)}}
        // grey
        &.grey:hover,
        &.grey.selected,
        &.grey.selected + ul li a:hover,
        &.grey.selected + ul li a.selected {background-color: _colour(tinted-grey)}
        &.grey.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-grey-100)}
        &.grey + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-grey-100)}}
        &.grey:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-grey-100)}}
        &.grey:not(.selected, :hover).reversed {background-color: transparent}
        &.grey.reversed {.material-icons, .material-icons-outlined {color: _colour(aa-grey-50)}}
        // brown
        &.brown:hover,
        &.brown.selected,
        &.brown.selected + ul li a:hover,
        &.brown.selected + ul li a.selected {background-color: _colour(tinted-brown)}
        &.brown.selected + ul li:last-child {border-bottom: 0.085rem dashed _colour(aa-brown-100)}
        &.brown + ul li {.material-icons, .material-icons-outlined {color: _colour(aa-brown-100)}}
        &.brown:not(.reversed) {.material-icons, .material-icons-outlined {background-color: _colour(aa-brown-100)}}
        &.brown:not(.selected, :hover).reversed {background-color: transparent}
        &.brown.reversed {.material-icons, .material-icons-outlined {color: _colour(aa-brown-50)}}

        &.selected {
            &::after {
              transform: rotate(135deg);
              transition: all .25s linear;
              top: 1rem;
            }
          + ul {
            transition: all .25s linear;
          }
        }
        &:hover {
          background-color: _colour(aa-light-blue-15);
        }
        &.hide-chevron {
          &::after {
            display: none;
          }
        }
        &:after {
          content: '';
          position: absolute;
          top: 1.25rem;
          right: 1rem;
          border-style: solid;
          border-width: .06rem .06rem 0 0;
          width: .5rem;
          height: .5rem;
          transform: rotate(-45deg);
          transition: all .25s linear;
        }
        span.material-icons,
        span.material-icons-outlined {
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          color: white;
          padding: 0.25rem;
          font-size: 1.25rem;
          text-align: center;
          line-height: 1.5rem;
        }
      }
      // PARENT ANCHOR - (DESIGN LANGUAGE ONLY - SETTING WHITE BG COLOUR ON MENU ITEMS)
      // > a,
      // > a .menu-item {
      //   background-color: _colour(aa-grey-2);
      // }
      // ---------------------------- CHILD UL ----------------------------
      ul {
        transition: all .25s linear;
        max-height: 0;
        // CHILD LI
        li  {
          // CHILD ANCHOR
          a {
            position: relative;
            padding: .5rem .5rem .5rem 1.25rem;
            border-bottom: 1px solid _colour(aa-light-blue-15);
            &:hover,
            &.selected {
              .material-icons,
              .material-icons-outlined {
                font-size: 1.6rem;
                padding-left: .44rem;
                padding-top: .075rem;
                opacity: 1;
              }
            }
            span {
              &.material-icons,
              &.material-icons-outlined {
                opacity: 1;
                transition: all .25s linear;
                font-size: _font(size-medium);
                padding-left: .6rem;
                margin-right: 1.15rem;
              }
              &:not(.material-icons, .material-icons-outlined) {
                margin-left: 3rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 10.75rem;
              }
            }
          }
        }
      }
    }
  }
  .nav-min-max {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: transparent;
  }
}

// Page header burger button call-to-action
.mobile-menu {
  display: none;
  margin-right: 0;
  .aa-blade-modal {
    top: 3.5rem;
    width: 100%;
  }
  button {
    position: relative;
    z-index: 999;
  }
}

@media screen and (max-width: _breakpoint(breakpoint-720)) {
  .mobile-menu {
    display: inline-flex;
  }
  .nav-angular-elements {
    &.nav-container {
      position: fixed;
      height: 0;
      transition: all .25s linear;
      overflow: auto;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
      bottom: unset;
      border-right: none;
      z-index: 99999;
      
      .nav-min-max {
        display: none;
      }
  
      &.show-mobile-menu {
        height: 16.75rem;
        border-bottom: 1px solid _colour(aa-grey-25);
        box-shadow: 0 .5rem 1rem _colour(box-shadow);
        padding-top: .25rem;
        opacity: 1;
      }
      
      .expand-collapse {
        display: none;
      }
      
      > ul > li >, 
      > ul > li.show > {
        a {
          &:after {
            right: 2.25rem;
          }
          div {
            &:first-child {
              margin-right: .35rem;
            }
          }
        }
      }
    }
  }  
}
