.aa-tree {
    ul {
        list-style-type: none;
        font-family: _font(family-regular);

        li {
            padding: 0;
            span, strong, a {
                margin-right: .5rem;
            }
            span {
                cursor: pointer;
            }
            .tree-group {
                padding: 0;
                min-height: 1.75rem;
            }
            a {
                text-decoration: none;
            }

            button.material-icons {
                background-color: transparent;
                color: _palette(aa-light-blue-100);
                font-size: _font(size-regular);
                border: none;
                padding: 0;
                width: auto;
                height: auto;
            }
        }

        ul {
            margin-left: .5rem;
        }
        .chevron {
            cursor: pointer;
            user-select: none;
        }
        
        .chevron {
            position: relative;
            padding-right: .5rem;
            &:before {
                @include icon-left-before-small;
                content: "\f054";
                color: _colour(secondary);
                transition: all .25s linear;
            }
        }
        
        .chevron-down {
            &:before {
                transform: rotate(90deg);
                color: _palette(aa-orange-100);
            }
        }
        
        .nested {
            display: none;
        }
        
        .active {
            display: block;
        }
    }
}