[role='progressbar'] {
  padding: 0.5rem 0 1rem 0;

  ol {
    display: flex;
    justify-content: space-between;
    position: relative;

    &:before {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0.675rem;
      background-color: _colour(aa-light-blue-100);
    }
  }

  aa-progress-indicator {
    flex: 1;
  }

  li {
    flex: 1;
    list-style-type: none;

    div {
      background-color: _colour(white);
      position: relative;
      border-radius: 50%;
      color: _colour(aa-blue-100);
      font-size: _font(size-default);
      padding: 0.6875rem 0.93rem 0.6875rem 0.475rem;
      width: 0;
      height: 0;
      margin: 0 auto;
      line-height: 0.1rem;
    }

    .material-icons,
    .material-icons-outlined {
      font-size: 2.25rem;
      background-color: _colour(aa-grey-2);
      position: relative;
      border-radius: 50%;
      width: 2.75rem;
      height: 2.75rem;
        + a, + span {
          padding: .25rem 0.25rem 0 0.25rem;
      }
    }
    
    a {
      text-decoration: underline;
    }

    a,
    span {
      padding: 0.75rem 0.25rem 0 0.25rem;
      color: _colour(aa-grey-100);
      font-family: _font(family-medium);
      text-align: center;
      display: none;
    }

    &.complete {
      .material-icons,
      .material-icons-outlined {
        color: _colour(aa-light-blue-100);
      }
      div {
        color: _colour(white);
        background-color: _colour(aa-light-blue-100);
        @include icon-material-center-solid;
        &:before {
          content: '\e5ca';
          margin: -0.2rem 0 0 -0.2rem;
        }
      }
    }

    &.current {
      .material-icons,
      .material-icons-outlined {
        color: _colour(aa-blue-100);
      }
      div {
        background-color: _colour(aa-blue-100);
        color: _colour(aa-white-100);
      }
      a,
      span {
        font-family: _font(family-medium);
      }
    }

    &.error {
      .material-icons,
      .material-icons-outlined {
        color: _colour(aa-red-100);
      }
      div {
        background-color: _colour(aa-red-100);
        color: _colour(white);
      }
    }

    &.next {
      .material-icons,
      .material-icons-outlined {
        color: _colour(aa-blue-100);
      }
      div {
        background-color: _colour(aa-blue-100);
        color: _colour(aa-white-100);
      }
    }
    
    &.visited {
      .material-icons,
      .material-icons-outlined {
        color: _colour(aa-plum-100);
      }
      div {
        background-color: _colour(aa-plum-100);
        color: _colour(white);
      }
    }
  }

  a,
  span {
    display: block;
    text-decoration: none;
  }
}

// NEW ADVANCED VERSION
.aa-progress-indicator {
  aa-progress-indicator-advanced {
    margin-right: 0;
    &:last-child {
      flex: none;
    }
  }
  .indicator-item {
    position: relative;
    margin-right: 0;
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;

    &:last-child {
      flex: none;
    }

    &:not(:last-child):after,
    &:not(.aa-progress-indicator aa-progress-indicator-advanced:last-child .indicator-item):after {
      content: "";
      height: 1px;
      background-color: _colour(aa-grey-10);
      position: absolute;
      top: 1rem;
      left: 2.5rem;
      width: calc(100% - 3rem);
    }

    &.current {
      .bus-stop .material-icons {
        border-color: _palette(aa-light-blue-100);
        color: _palette(aa-light-blue-100);
        &:before {
          content: 'fiber_manual_record';
          font-size: _font(size-xsmall);
          top: .105rem;
          left: .025rem;
        }
      }
    }

    &.visited,
    &.incomplete {
      .bus-stop .material-icons {
        border: 2px solid _palette(aa-green-100);
        color: _palette(aa-green-100);
        &:before {
          content: 'more_horiz';
        }
      }
    }
  
    &.complete {
      .bus-stop .material-icons {
        background-color: _palette(aa-green-100);
        border-color: _palette(aa-green-100);
        color: _palette(aa-white-100);
        &:before {
          content: 'done';
          left: .025rem;
          top: .025rem;
        }
      }
      &:after {
        background-color: _palette(aa-green-100)!important;
      }
    }
  
    &.error {
      .bus-stop .material-icons {
        background-color: _palette(aa-red-100);
        border-color: _palette(aa-red-100);
        color: _palette(aa-white-100);
        &:before {
          content: 'priority_high';
          top: .035rem;
        }
      }
    }
    .description {
      position: absolute;
      bottom: 4rem;
      p {
        margin: 0 0 .25rem calc(-50% + 3rem);
        width: 16rem;
        line-height: 1rem;
        font-style: italic;
        border: 3px solid _palette(aa-pink-25);
        background-color: _colour(aa-white-100);
        border-radius: .5rem;
        padding: 1rem;
      }
      .material-icons {
        transform: rotate(180deg);
      }
    }
  }

  .bus-stop {
    position: relative;
    flex-wrap: nowrap;
    width: 2rem;
    max-width: 2rem;
    min-width: 2rem;
    padding: 0;
    background: transparent;
    border: none;

    label {
      text-align: center;
      letter-spacing: .025rem;
      min-width: 12rem;
      margin-left: .75rem; // compensate for flex-right
      padding-top: 2.5rem;
    }

    .material-icons {
      position: absolute;
      top: 0;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      background-color: _colour(aa-white-100);
      margin-bottom: .75rem;
      margin-right: 0;
      font-size: _font(size-medium);
      color: _colour(aa-grey-25);
      border: 1px solid _colour(aa-grey-25);
      
      &:before {
        min-width: 100%;
        text-align: center;
        position: absolute;
        line-height: 1.75rem;
        content: 'chevron_right';
        top: .05rem;
        left: 0;
      }
    }
  }
}

@media only screen and (max-width: _breakpoint(breakpoint-570)) {

  .aa-progress-indicator {
    flex-direction: column;
    align-items: center;
    
    .indicator-item {
      &:after {
        display: none
      }

      .description {
        bottom: 5rem;
      }

      .bus-stop {
        label {
          margin-bottom: 1rem;
        }
      }
    }
  }

  [role='progressbar'] {
    ol {
      &:before {
        top: 1rem;
      }
    }

    li {
      div {
        padding: 1rem 1.25rem 1rem 0.75rem;
      }

      &.complete {
        div {
          padding: 0.95rem 1.6rem 1.05rem 0.4rem;
          @include icon-material-center-solid-large;
          &:before {
            margin: auto;
          }
        }
      }

      a,
      span {
        display: block;
      }
    }
  }
}
