.context-menu {
    position: relative;
    button.material-icons,
    button.material-icons-outlined {
        background-color: transparent;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        font-size: 1rem;
        letter-spacing: unset;
        border: transparent;
        &:hover,
        &:active,
        &:focus {
            border-color: _colour(aa-light-blue-30);
        }
    }
    ul {
        box-shadow: 0 0 3pt 1pt _colour(aa-light-blue-15);
        border: 1px solid _colour(aa-grey-5);
        background: _colour(aa-white-100);
        position: absolute;
        z-index: 999;
        left: 1.75rem;
        text-align: left;
        padding: 0;
        border-radius: .25rem;

        li {
            margin: 0;
            padding: 0;
        }
        
        &.show-on-left {
            left: unset;
            right: 2.5rem;
        }
        a {
            font-family: _font(family-regular);
            font-size: _font(size-default);
            color: _colour(aa-light-blue-100);
            width: 100%;
            text-decoration: none;
            padding: .35rem 1rem;
            display: inline-block;
            &:hover {
                background-color: _colour(aa-light-blue-5);
            }
            &:active {
                color: _colour(aa-blue-100);
            }
        }
    }
}
