.progress-indicator-lh {
  list-style: none;
  counter-reset: ol-counter;
  padding: 0;

  li {
    font-size: _font(size-default);
    counter-increment: ol-counter;
    padding: 0.5rem 0.75rem 0.5rem 1.25rem;
    cursor: pointer;
    color: _colour(secondary);

    &:before {
      content: counter(ol-counter);
      border: 1px solid _colour(secondary);
      background-color: _colour(white);
      border-radius: 50%;
      padding: 0;
      margin-right: 0.75rem;
      width: 1.75rem;
      height: 1.75rem;
      display: inline-block;
      text-align: center;
      line-height: 1.75rem;
    }

    &.active {
      background-color: _colour(highlight-default);
      color: _colour(white);
      &:before {
        background-color: _colour(secondary);
        color: _colour(white);
      }
    }

    &.complete {
      &:before {
        content: "\e5ca";
        font-size: 1rem;
        background-color: _colour(secondary);
        @include icon-material-center-solid;
        color: _colour(white);
        margin-right: 0.75rem;
        padding: 0;
      }
    }

    &.error {
      &:before {
        content: "\e14c";
        font-size: 1rem;
        background-color: _colour(secondary);
        @include icon-material-center-solid;
        color: _colour(white);
        margin-right: 0.75rem;
        padding: 0;
      }
    }
  }
}
