// when nested inside the control-bar
.control-bar {
  .tab-navigation,
  .tab-navigation-info {
    border-bottom: none;
    position: relative;
    padding-left: 0;
    left: 0;
    bottom: -.8rem;
  }
}

.tab-navigation {
  border-bottom: 1px solid _colour(secondary);
  padding-left: 1.5rem;

  .divider-tab {
    width: 2px;
    height: 12px;
    margin-right: 2rem;
    background-color: _palette(aa-grey-25);
  }

  .tab-count {
    background-color: _colour(aa-light-blue-100);
    color: _colour(body-text-reverse);
    border-radius: .25rem;
    font-size: _font(size-tiny);
    padding: .18rem;
    margin: 0 0 0 .25rem;
    min-width: .9rem;
    text-align: center;
  }

  &.tab-navigation-right {
    margin-left: 0;
    margin-bottom: -1px;
    position: relative;

    ul {
      position: absolute;
      bottom: 0;
    }
  }

  ul {
    li {
      display: inline-block;
      a {
        margin: 0 2rem 0 0;
        padding: .5rem 0 0 0;
        min-height: 2.6rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: _colour(body-text);
        font-family: _font(family-medium);
        font-size: _font(size-default);
        border-bottom: 3px solid transparent;
        cursor: pointer;

        &:hover,
        &.active,
        &.selected {
          border-bottom: 3px solid _colour(link);
          color: _colour(link);
        }
      }
      .material-icons,
      .material-icons-outlined {
        font-size: _font(size-medium);
        margin-left: .25rem;
      }
    }
    
    li.tab-disabled {
      span {
        display: flex;
        align-items: center;
        color: _colour(disabled-light);

        &.tab-count {
          background-color: _colour(bg);
        }
      }
      span:not(.material-icons, .material-icons-outlined, .tab-count) {
        font-family: _font(family-medium);
        margin: 0 2rem 0 0;
      }
    }
  }
}

// Information version
.tab-navigation-info {
  // global
  a {
    cursor: pointer; 
    text-decoration: none;
  }
  background-color: _colour(bg-feature-box-solid);
  margin-left: 0;
  padding: 1rem 1rem 0;

  button {
    &.material-icons,
    &.material-icons-outlined {
      background-color: _colour(bg-secondary);
      color: _colour(primary);
    }
  }
  li {
    display: inline-block;
    margin: 0 .5rem 1rem;
    flex: inherit;
    &.tab-disabled {
      h3.title, svg circle, .value {
        stroke: _colour(body-text);
        color: _colour(body-text);
      }
    }
  }
  
  .toggle-fullscreen {
    .material-icons,
    .material-icons-outlined {
      color: _colour(heading-1);
    }
  }
  
  .aa-tooltip {
    h3, p {
      color: _colour(body-text);
    }
  }

  a, span {
    .progress-circle {
      height: 11rem;
      h3.title {
        position: static;
        width: auto;
        border-bottom: none;
        margin: 0;
        padding: 1rem 0 .5rem 0;
        .material-icons,
        .material-icons-outlined {
          display: none;
        }
      }
    }
    &.orange {
      svg circle {stroke: _palette(aa-orange-100);}
      .progress-circle, h3.title {color: _palette(aa-orange-100);}
      &.active { h3.title { border-bottom: .25rem solid _palette(aa-orange-100);} }
    }
    &.green {
      svg circle {stroke: _palette(aa-green-100);}
      .progress-circle, h3.title {color: _palette(aa-green-100);}
      &.active { h3.title { border-bottom: .25rem solid _palette(aa-green-100);} }
    }
    &.blue {
      svg circle {stroke: _colour(blue-primary);}
      .progress-circle, h3.title {color: _colour(blue-primary);}
      &.active { h3.title { border-bottom: .25rem solid _colour(blue-primary);} }
    }
    &.red {
      svg circle {stroke: _palette(aa-red-100);}
      .progress-circle, h3.title {color: _palette(aa-red-100);}
      &.active { h3.title { border-bottom: .25rem solid _palette(aa-red-100);} }
    }
    &.light-blue {
      svg circle {stroke: _palette(aa-light-blue-100);}
      .progress-circle, h3.title {color: _palette(aa-light-blue-100);}
      &.active { h3.title { border-bottom: .25rem solid _palette(aa-light-blue-100);} }
    }
  }

  // not minimized
  &:not(.minimize) {
    a, span {
      &.orange {
        &.active {
          h3.title {border-bottom: none}
          .progress-circle, h3.title, .percent {
            color: _palette(aa-white-100);
            background-color: _palette(aa-orange-100);
          }
        }
      }
      &.green {
        &.active {
          .progress-circle, h3.title {
            color: _palette(aa-white-100);
            background-color: _palette(aa-green-100);
          }
        }
      }
      &.blue {
        &.active {
          .progress-circle, h3.title {
            color: _palette(aa-white-100);
            background-color: _colour(blue-primary);
          }
        }
      }
      &.red {
        &.active {
          .progress-circle, h3.title {
            color: _palette(aa-white-100);
            background-color: _palette(aa-red-100);
          }
        }
      }
      &.light-blue {
        &.active {
          .progress-circle, h3.title {
            color: _palette(aa-white-100);
            background-color: _palette(aa-light-blue-100);
          }
        }
      }
      // default
      &.active {
        svg circle {
          stroke: _palette(aa-white-100);
        }
      }
    }
  }

  // and minimized
  &.minimize {
    padding: .25rem 1rem 0;
    li {
      margin: 0 .5rem 0;
    }
    .aa-tooltip, .number {
      display: none;
    }
    button {
      &.material-icons,
      &.material-icons-outlined {
        margin-top: .5rem;
      }
    }
    .progress-circle {
      display: inline-block;
      margin-right: 1.75rem;
      width: auto;
      overflow: visible;
      background-color: transparent;
      border: none;
      height: auto;
      .percent {
        float: left;
        width: 3.5rem;
        height: 3rem;
      }
      svg {
        z-index: 1;
        circle {
          stroke-width: 7;
          &:first-child {
            fill: _colour(bg-feature-box);
          }
        }
      }
      .value {
        font-size: .75rem;
      }
      h3.title {
        display: inline-block;
        padding: 1rem 0 .25rem 0;
        font-size: _font(size-default);
      }
    }
  }
}

.tab-navigation-secondary {
  ul {
    display: block;
    padding: 0.5rem 0 2rem 0;

    li {
      display: inline-block;
      padding: 0 1rem 0 0;

      a {
        background-color: _colour(bg);
        border-radius: 0.75rem;
        border-width: 1px;
        border-style: solid;
        border-color: _colour(border-subtle);
        color: _colour(body-text);
        padding: 0.5rem 1rem;
        font-size: _font(size-small);
        text-decoration: none;

        &:hover,
        &.active,
        &.selected {
          border-color: _colour(secondary);
          color: _colour(link);
          text-decoration: underline;
        }
      }
    }
  }
}
