// when nested inside the control-bar
.control-bar {
  .tab-navigation,
  .tab-navigation-info {
    border-bottom: none;
    position: relative;
    padding-left: 0;
    left: 0;
    bottom: -.8rem;
  }
}

.tab-navigation,
.tab-navigation-secondary {
  a.anchor-close  {
    width: 1.25rem;
    height: 1.25rem;
    &:after {
     top: 0;
    }
  }
}

.tab-navigation,
.secondary-tabs .tab-navigation {
  .tab-count {
    background-color: _colour(aa-light-blue-100);
    color: _colour(aa-white-100);
    border-radius: .25rem;
    font-size: _font(size-xsmall);
    padding: .18rem;
    margin: 0 0 0 .25rem;
    min-width: .9rem;
    text-align: center;
    line-height: .75rem;
  }

  .material-icons:not(button.material-icons),
  .material-icons-outlined:not(button.material-icons) {
    font-size: _font(size-medium);
    margin-left: .25rem;
  }
}

.tab-navigation:not(.secondary-tabs .tab-navigation) {
  border-bottom: 1px solid _colour(aa-light-blue-100);
  padding-left: 1.25rem;

  .divider-tab {
    width: 2px;
    height: 12px;
    margin-right: 2rem;
    background-color: _palette(aa-grey-25);
  }

  &.tab-navigation-right {
    margin-left: 0;
    margin-bottom: -1px;
    position: relative;

    ul {
      position: absolute;
      bottom: 0;
    }
  }

  ul {
    padding: 0;
    li {
      display: inline-block;
      a:not(.anchor-close, .context-menu a ) {
        margin: 0 2rem 0 0;
        padding: .5rem 0 0 0;
        min-height: 2.6rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: _colour(aa-grey-100);
        font-size: _font(size-default);
        border-bottom: 3px solid transparent;
        cursor: pointer;

        &:hover,
        &.active,
        &.selected {
          border-bottom: 3px solid _colour(trans-light-blue-to-blue-light);
          color: _colour(trans-light-blue-to-blue-light);
          font-family: _font(family-medium);
        }
      }
    }
    
    li.tab-disabled {
      span {
        display: flex;
        align-items: center;
        color: _colour(aa-grey-25);
        min-height: 2.6rem;
        padding: .5rem 0 0 0;
        cursor: not-allowed;
        &.tab-count {
          background-color: _colour(aa-grey-2);
        }
      }
      span:not(.material-icons, .material-icons-outlined, .tab-count) {
        font-family: _font(family-medium);
        margin: 0 2rem 0 0;
      }
    }
  }
}

// Information version
.tab-navigation-info {
  // global
  a {
    cursor: pointer; 
    text-decoration: none;
  }
  background-color: _colour(aa-light-blue-15);
  margin-left: 0;
  padding: 1rem 1rem 0;

  button {
    &.material-icons,
    &.material-icons-outlined {
      background-color: _colour(aa-light-blue-30);
      color: _colour(aa-blue-100);
    }
  }
  li {
    display: inline-block;
    margin: 0 .5rem 1rem;
    flex: inherit;
    &.tab-disabled {
      h3.title, svg circle, .value {
        stroke: _colour(aa-grey-100);
        color: _colour(aa-grey-100);
      }
    }
  }
  
  .toggle-fullscreen {
    .material-icons,
    .material-icons-outlined {
      color: _colour(aa-blue-100);
    }
  }
  
  .aa-tooltip {
    h3, p {
      color: _colour(aa-grey-100);
    }
  }

  a, span {
    .progress-circle {
      height: 11rem;
      margin-bottom: 0;
      h3.title {
        position: static;
        width: auto;
        border-bottom: none;
        margin: 0;
        padding: 1rem 0 .5rem 0;
        .material-icons,
        .material-icons-outlined {
          display: none;
        }
      }
    }
    &.orange {
      svg circle {stroke: _palette(aa-orange-100);}
      .progress-circle, h3.title {color: _palette(aa-orange-100);}
      &.active { h3.title { border-bottom: .25rem solid _palette(aa-orange-100);} }
    }
    &.green {
      svg circle {stroke: _palette(aa-green-100);}
      .progress-circle, h3.title {color: _palette(aa-green-100);}
      &.active { h3.title { border-bottom: .25rem solid _palette(aa-green-100);} }
    }
    &.blue {
      svg circle {stroke: _colour(aa-blue-100);}
      .progress-circle, h3.title {color: _colour(aa-blue-100);}
      &.active { h3.title { border-bottom: .25rem solid _colour(aa-blue-100);} }
    }
    &.red {
      svg circle {stroke: _palette(aa-red-100);}
      .progress-circle, h3.title {color: _palette(aa-red-100);}
      &.active { h3.title { border-bottom: .25rem solid _palette(aa-red-100);} }
    }
    &.light-blue {
      svg circle {stroke: _palette(aa-light-blue-100);}
      .progress-circle, h3.title {color: _palette(aa-light-blue-100);}
      &.active { h3.title { border-bottom: .25rem solid _palette(aa-light-blue-100);} }
    }
  }

  // not minimized
  &:not(.minimize) {
    a, span {
      &.orange {
        &.active {
          h3.title {border-bottom: none}
          .progress-circle, h3.title, .percent {
            color: _palette(aa-white-100);
            background-color: _palette(aa-orange-100);
          }
        }
      }
      &.green {
        &.active {
          .progress-circle, h3.title {
            color: _palette(aa-white-100);
            background-color: _palette(aa-green-100);
          }
        }
      }
      &.blue {
        &.active {
          .progress-circle, h3.title {
            color: _palette(aa-white-100);
            background-color: _colour(aa-blue-100);
          }
        }
      }
      &.red {
        &.active {
          .progress-circle, h3.title {
            color: _palette(aa-white-100);
            background-color: _palette(aa-red-100);
          }
        }
      }
      &.light-blue {
        &.active {
          .progress-circle, h3.title {
            color: _palette(aa-white-100);
            background-color: _palette(aa-light-blue-100);
          }
        }
      }
      // default
      &.active {
        svg circle {
          stroke: _palette(aa-white-100);
        }
      }
    }
  }

  // and minimized
  &.minimize {
    padding: .25rem 1rem 0;
    li {
      margin: 0 .5rem 0;
    }
    .aa-tooltip, .number {
      display: none;
    }
    button {
      &.material-icons,
      &.material-icons-outlined {
        margin-top: .5rem;
      }
    }
    .progress-circle {
      display: inline-block;
      margin-right: 1.75rem;
      width: auto;
      overflow: visible;
      background-color: transparent;
      border: none;
      height: auto;
      .percent {
        float: left;
        width: 3.5rem;
        height: 3rem;
      }
      svg {
        z-index: 1;
        circle {
          stroke-width: 7;
          &:first-child {
            fill: _colour(aa-white-100);
          }
        }
      }
      .value {
        font-size: .75rem;
      }
      h3.title {
        display: inline-block;
        padding: 1rem 0 .25rem 0;
        font-size: _font(size-default);
      }
    }
  }
}

.secondary-tabs .tab-navigation,
.tab-navigation-secondary {
  .tab-disabled span,
  .tab-disabled:hover span {
    cursor: not-allowed;
    border: 1px solid _colour(aa-grey-10);
    color: _colour(aa-grey-25);
    text-decoration: none;
    border-radius: .25rem;
    padding: .5rem 1rem;
    font-size: _font(size-small);
  }
  
  ul:not(.context-menu ul) {
    display: block;

    .context-menu {
      margin: -.35rem -.75rem -.5rem 0;
    }

    li:not(.context-menu li) {
      display: inline-block;
      margin: 0 1rem .5rem 0;
      padding: 0;

      > a:not(.context-menu a) {
        background-color: _colour(aa-white-100);
        border-radius: .25rem;
        border: 1px solid _colour(aa-grey-25);
        color: _colour(aa-light-blue-100);
        padding: .25rem 1rem;
        font-size: _font(size-default);
        text-decoration: none;
        cursor: pointer;
        *:not(.context-menu) { margin:0 }

        &:hover,
        &.active,
        &.selected {
          border-color: _colour(aa-light-blue-100);
          background-color: _colour(aa-light-blue-5);
          box-shadow: 0 0 .15rem .15rem _colour(box-shadow);
          color: _colour(trans-light-blue-to-blue-light);
          text-decoration: none;
          font-family: _font(family-medium);
        }
      }
    }
  }
}
