<section class="control-bar">
    <h1>Typography</h1>
</section>
<section class="content-container">
  <article>
    <h2 class="boxed">Headings</h2>
    <h1>H1 The Lion, the Witch and the Wardrobe</h1>
    <h2>H2 The Lion, the Witch and the Wardrobe</h2>
    <h3>H3 The Lion, the Witch and the Wardrobe</h3>
    <h4>H4 The Lion, the Witch and the Wardrobe</h4>
  </article>
  <article>
    <h2>Paragraph</h2>
    <p><strong>strong The Lion, the Witch and the Wardrobe</strong></p>
    <p><em>em The Lion, the Witch and the Wardrobe</em></p>
    <p>p The Lion, the Witch and the Wardrobe</p>
  </article>
  <article>
    <h2>Text modifiers</h2>
    <p class="text-info">.text-info</p>
    <p class="text-error">.text-error</p>
    <p class="text-warning">.text-warning</p>
    <p class="text-success">.text-success</p>
    <p class="text-bold">.text-bold (use a 'strong' tag as a preference)</p>
    <p class="text-semi-bold">.text-semi-bold</p>
    <p class="text-regular">.text-regular (default)</p>
    <p class="text-light">.text-light</p>
    <p class="strikethrough">.strikethrough</p>
    <p class="ellipsis">.ellipsis... (you will need to include a <a routerLink="/widths">width</a> class)</p>
    <p class="size-small">.size-small</p>
  </article>
</section>
