.text-pulsate {
    animation: pulse 3s infinite;
    opacity: 0.5;

    &:after {
        overflow: hidden;
        animation: ellipsis steps(6,end) 1.5s infinite;
        content: "\2026";
        width: 0px;
    }
}

@keyframes pulse {
    0% { 
        opacity: .25;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: .25;
    }
}

@keyframes ellipsis {
    to {
      width: 1rem;    
    }
}