<section class="control-bar">
  <h1>Editorial content</h1>
</section>

<section class="content-container padding-0">
  <section class="content-repeater">
    <article class="flex-group flex-start">
      <article class="min-width-9">
        <h2>Unordered list</h2>
        <ul>
          <li>List item</li>
          <li>List item</li>
          <li>List item</li>
        </ul>
      </article>
      <article class="min-width-9">
        <h2>Ordered list</h2>
        <ol>
          <li>List item</li>
          <li>List item</li>
          <li>List item</li>
        </ol>
      </article>
      <article class="min-width-9">
        <h2>Arrow list</h2>
        <ul class="list-arrows primary">
          <li>List item</li>
          <li>List item</li>
          <li>List item</li>
        </ul>
      </article>
    </article>
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen(true)">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  <section class="content-repeater">
    <article class="min-width-9">
      <h2>Description list</h2>
      <dl>
        <dt>DL title</dt>
        <dd>DL description</dd>
        <dt>DL title longer</dt>
        <dd>DL description</dd>
        <dt>DL title longer still</dt>
        <dd>DL description</dd>
      </dl>
    </article>
  </section>
  <section class="content-repeater">
    <article class="max-width-40">
      <h2>Feature paragraph</h2>
      <div class="describe">Make a paragraph stand out with .feature.</div>
      <p class="feature">"Nothing there!" said Peter, and they all trooped out again—all except Lucy. She stayed
        behind because she thought it would be worth while trying the door of the wardrobe, even though she felt almost
        sure that it would be locked. To her surprise it opened quite easily, and two moth-balls dropped out.</p>
    </article>
  </section>

  <aa-blade
    [blockPageUI]="false"
    [toggleBlade]="toggleBlade"
    [suppressAutoClose]="false"
    topPosition="3.5rem"
    [zIndex]="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (bladeOpen)="bladeIsOpen($event)"
    >
    <article class="blade-content">
      <a href="https://gist.github.com/angloux/5624517ec7906c834bb5ad96ec916915" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/5624517ec7906c834bb5ad96ec916915"></app-gist>
    </article>
  </aa-blade>

</section>
