<section class="control-bar">
  <h1>Info panel</h1>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater">
    <div class="flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Info panel</h2>
      <div class="describe margin-bottom-1">
        <p>To modify the info panel width, change the value set on <strong>[panelWidth]</strong>.</p>
        <p>To change the info panel's status, inject 1 of 4 values into <strong>[panleStatus]</strong>. 
          These are: 'info', 'approved', 'pending' and 'rejected'.</p>
      </div>
    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-info-panel</td>
            <td datalabel="Attribute">panelWidth</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">20</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-info-panel</td>
            <td datalabel="Attribute">panelHeight</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">12.5</td>
          </tr>
          <ng-container *ngIf="showMore">
          <tr>
            <td datalabel="Element">aa-info-panel</td>
            <td datalabel="Attribute">panelStatus</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">info, approved,<br/>pending, rejected</td>
          </tr>
            <tr>
              <td datalabel="Element">aa-info-panel</td>
              <td datalabel="Attribute">custom-header</td>
              <td datalabel="Type">HTML</td>
              <td datalabel="Default">Your markup</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-info-panel</td>
              <td datalabel="Attribute">custom-content</td>
              <td datalabel="Type">HTML</td>
              <td datalabel="Default">Your markup</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-info-panel</td>
              <td datalabel="Attribute">custom-footer</td>
              <td datalabel="Type">HTML</td>
              <td datalabel="Default">Your markup</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-info-panel</td>
              <td datalabel="Attribute">preventOpacity</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">false</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <nav class="margin-top-1">
        <a class="cursor-pointer" *ngIf="!showMore" (click)="showMore=!showMore">show more</a>
        <a class="cursor-pointer" *ngIf="showMore" (click)="showMore=!showMore">show less</a>
      </nav>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event); showInfoPanel=true; showInfoPanelStacked=false">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
    </div>
    <div class="flex-group flex-start margin-top-2">
      <aa-info-panel panelWidth="20" panelHeight="12.5" panelStatus="info">
        <ng-container custom-header>
          <section class="flex-group space-between">
            <div class="flex-group flex-start flex-align-center">
              <div class="material-icons">qr_code</div>
              <h3 class="max-width-12">Short code</h3>
            </div>
            <div class="material-icons">done</div>
          </section>
        </ng-container>
        <ng-container custom-content>
          <p>
            SGX
          </p>
        </ng-container>
        <ng-container custom-footer>
          <div class="flex-group space-between">
            <div class="material-icons">thumb_up</div>
            <button class="material-icons aa-light-blue-100">create</button>
          </div>
        </ng-container>
      </aa-info-panel>
      
      <aa-info-panel panelWidth="20" panelHeight="12.5" panelStatus="approved">
        <ng-container custom-header>
          <section class="flex-group space-between">
            <div class="flex-group flex-start flex-align-center">
              <div class="material-icons">tag</div>
              <h3>Business registration number</h3>
            </div>
            <div class="material-icons">error_outline</div>
          </section>
        </ng-container>
        <ng-container custom-content>
          <p>
            200005878M
          </p>
        </ng-container>
        <ng-container custom-footer>
          <div class="flex-group space-between">
            <div class="material-icons">thumb_up</div>
            <button class="material-icons aa-light-blue-100">create</button>
          </div>
        </ng-container>
      </aa-info-panel>
      
      <aa-info-panel panelWidth="20" panelHeight="12.5" panelStatus="pending">
        <ng-container custom-header>
          <section class="flex-group space-between">
            <div class="flex-group flex-start flex-align-center">
              <div class="material-icons">work</div>
              <h3>VAT number</h3>
            </div>
            <div class="material-icons">error_outline</div>
          </section>
        </ng-container>
        <ng-container custom-content>
          <p>
            MR-8500233-9
          </p>
        </ng-container>
        <ng-container custom-footer>
          <div class="flex-group space-between">
            <div class="material-icons">thumb_up</div>
            <button class="material-icons aa-light-blue-100">create</button>
          </div>
        </ng-container>
      </aa-info-panel>
      
      <aa-info-panel panelWidth="20" panelHeight="12.5" panelStatus="rejected">
        <ng-container custom-header>
          <section class="flex-group space-between">
            <div class="flex-group flex-start flex-align-center">
              <div class="material-icons">business</div>
              <h3>Registered address</h3>
            </div>
            <div class="material-icons">error_outline</div>
          </section>
        </ng-container>
        <ng-container custom-content>
          <p>
            SGX Centre Office<br/>
            2 Shenton Way, #02-02<br/>
            SGX Centre 1<br/>
            Singapore 068804
          </p>
        </ng-container>
        <ng-container custom-footer>
          <div class="flex-group space-between">
            <div class="material-icons">thumb_up</div>
            <button class="material-icons aa-light-blue-100">create</button>
          </div>
        </ng-container>
      </aa-info-panel>
    </div>
  </section>
  
    <!-- start content repeater -->
    <section class="content-repeater">
      <div class="flex-group">
      <section class="flex-1 col-left flex-start">
        <h2>Info panel - stacked</h2>
        <div class="describe margin-bottom-1">
          <p>This is the wrapping component for situations where we need to display
            two stacked info-panel's that have two different states and visually filter these
             to bring the selected states forward and knock back the others.
          </p>
        </div>
      </section>
        
      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">aa-info-panel-stacked</td>
              <td datalabel="Attribute">[successForward]</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">successForward</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-info-panel-stacked</td>
              <td datalabel="Attribute">[warningForward]</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">warningForward</td>
            </tr>
            <ng-container *ngIf="showMoreTwo">
              <tr>
                <td datalabel="Element">aa-info-panel-stacked</td>
                <td datalabel="Attribute">[errorForward]</td>
                <td datalabel="Type">Boolean</td>
                <td datalabel="Default">errorForward</td>
              </tr>
              <tr>
                <td datalabel="Element">aa-info-panel-stacked</td>
                <td datalabel="Attribute">[resetAll]</td>
                <td datalabel="Type">Boolean</td>
                <td datalabel="Default">resetAll</td>
              </tr>
              <tr>
                <td datalabel="Element">aa-info-panel-stacked</td>
                <td datalabel="Attribute">wrapperWidth</td>
                <td datalabel="Type">Number</td>
                <td datalabel="Default">21</td>
              </tr>
              <tr>
                <td datalabel="Element">aa-info-panel-stacked</td>
                <td datalabel="Attribute">wrapperHeight</td>
                <td datalabel="Type">Number</td>
                <td datalabel="Default">13.5</td>
              </tr>
              <tr>
                <td colspan="4">
                  <h3>Full page width for large panel ONLY, remove 'wrapperWidth' and 'panelWidth'</h3>
                </td>
              </tr>
              <tr>
                <td datalabel="Element">aa-info-panel-stacked</td>
                <td datalabel="Attribute">[fullWidth]</td>
                <td datalabel="Type">Boolean</td>
                <td datalabel="Default">True</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <nav class="margin-top-1">
          <a class="cursor-pointer" *ngIf="!showMoreTwo" (click)="showMoreTwo=!showMoreTwo">show more</a>
          <a class="cursor-pointer" *ngIf="showMoreTwo" (click)="showMoreTwo=!showMoreTwo">show less</a>
        </nav>
      </section>
      
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
          <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event); showInfoPanel=false; showInfoPanelStacked=true">
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
      </div>
      
      <div class="margin-top-2 margin-bottom-2">
        <aa-info-panel-stacked
          [approvedForward]="approvedForward"
          [rejectedForward]="rejectedForward"
          [resetAll]="resetAll"
          [fullWidth]="true"
          wrapperWidth=""
          wrapperHeight="24"
        >
          <aa-info-panel 
            *ngFor="let p of infoPanelItemsFive; let i = index"
            [preventOpacity]="false"
            (click)="panelFiveClicked(i)" 
            [ngClass]="{'selected' : panelFiveIndex===i}"
            panelHeight="23" 
            panelStatus="{{p.panelStatus}}"
          >
            <ng-container custom-header>
              <section class="flex-group space-between">
                <div class="flex-group flex-start flex-align-center">
                  <div class="material-icons">{{p.headerIconOne}}</div>
                  <h3>{{p.headerTitle}}</h3>
                </div>
                <div class="flex-group flex-end">
                  <div class="alert-shield pending-red">In progress</div>
                  <button class="material-icons aa-light-blue-100">create</button>
                </div>
              </section>
            </ng-container>
            <ng-container custom-content>
            <section class="padding-x-2">
                <div class="flex-group margin-bottom-1">
                  <div class="field">
                    <h3 class="flex-group flex-start flex-align-center">
                      <strong>Counterparty legal name</strong>
                      <div class="material-icons">visibility</div>
                    </h3>
                    <p>Singapore Exchange Derivatives<br/>
                      Clearing Limites</p>
                  </div>
                  <div class="field">
                    <h3><strong>Country of incorporation</strong></h3>
                    <p>Singapore</p>
                  </div>
                  <div class="field">
                    <h3 class="flex-group flex-start flex-align-center">
                      <strong>Friendly name</strong>
                      <div class="material-icons">visibility</div>
                    </h3>
                    <p>Sin Exch Derivatives</p>
                  </div>
                  <div class="field">
                    <h3><strong>Sort code</strong></h3>
                    <p>SINEXCHDER</p>
                  </div>
                </div>
                <div class="flex-group">
                  <div class="field">
                    <h3><strong>Registered address</strong></h3>
                    <p>SGX Centre<br/>
                      Office 2, Shenton Way<br/>
                      Singapore 068804
                    </p>
                  </div>
                  <div class="field">
                    <h3 class="flex-group flex-start flex-align-center">
                      <strong>Business registration number</strong>
                      <div class="material-icons">visibility</div>
                    </h3>
                    <p>068324286566</p>
                  </div>
                  <div class="field">
                    <h3><strong>Business registration date</strong></h3>
                    <p>12-apr-2021</p>
                  </div>
                  <div class="field">
                    <h3 class="flex-group flex-start flex-align-center">
                      <strong>Initial onboarding date</strong>
                      <div class="material-icons">visibility</div>
                    </h3>
                    <p>30-mar-2021</p>
                  </div>
                </div>
            </section>
            </ng-container>
          </aa-info-panel>
        </aa-info-panel-stacked>
      </div>

      <div class="flex-group flex-start margin-top-1">
        <button class="approve"
          (click)="
          approvedForward=true; pendingForward=false; rejectedForward=false; withdrawnForward=false; returnedForward=false; 
          abandonedForward=false; withdrawalPendingForward=false; draftForward=false; resetAll=false; 
          panelOneIndex=null; panelTwoIndex=null; panelThreeIndex=null; panelFourIndex=null"
        >Approved
        </button>
        <button class="void"
          (click)="
          approvedForward=false; pendingForward=true; rejectedForward=false; withdrawnForward=false; returnedForward=false; 
          abandonedForward=false; withdrawalPendingForward=false; draftForward=false; resetAll=false; 
          panelOneIndex=null; panelTwoIndex=null; panelThreeIndex=null; panelFourIndex=null"
        >Pending
        </button>
        <button class="reject" 
          (click)="
          approvedForward=false; pendingForward=false; rejectedForward=true; withdrawnForward=false; returnedForward=false; 
          abandonedForward=false; withdrawalPendingForward=false; draftForward=false; resetAll=false; 
          panelOneIndex=null; panelTwoIndex=null; panelThreeIndex=null; panelFourIndex=null"
          >Rejected
        </button>
        <button class="reject" 
          (click)="
          approvedForward=false; pendingForward=false; rejectedForward=false; withdrawnForward=false; returnedForward=false; 
          abandonedForward=true; withdrawalPendingForward=false; draftForward=false; resetAll=false; 
          panelOneIndex=null; panelTwoIndex=null; panelThreeIndex=null; panelFourIndex=null"
          >Abandoned
        </button>
        <button class="reject" 
          (click)="
          approvedForward=false; pendingForward=false; rejectedForward=false; withdrawnForward=true; returnedForward=false; 
          abandonedForward=false; withdrawalPendingForward=false; draftForward=false; resetAll=false; 
          panelOneIndex=null; panelTwoIndex=null; panelThreeIndex=null; panelFourIndex=null"
          >Withdrawn
        </button>
        <button class="cancel" 
          (click)="
          approvedForward=false; pendingForward=false; rejectedForward=false; withdrawnForward=false; returnedForward=false; 
          abandonedForward=false; withdrawalPendingForward=false; draftForward=true; resetAll=false; 
          panelOneIndex=null; panelTwoIndex=null; panelThreeIndex=null; panelFourIndex=null"
          >Draft</button>
        <button class="primary" 
          (click)="
          approvedForward=false; pendingForward=false; rejectedForward=false; withdrawnForward=false; returnedForward=false; 
          abandonedForward=false; withdrawalPendingForward=false; draftForward=false; resetAll=true; 
          panelOneIndex=null; panelTwoIndex=null; panelThreeIndex=null; panelFourIndex=null"
          >Reset</button>
      </div>
      
      
      <div class="flex-group flex-start margin-top-2">
        <!--Note - wrapperWidth and wrapperHeight must be 1rem bigger than nested info-panel-->
        <aa-info-panel-stacked
          [approvedForward]="approvedForward"
          [pendingForward]="pendingForward"
          [rejectedForward]="rejectedForward"
          [abandonedForward]="abandonedForward"
          [withdrawnForward]="withdrawnForward"
          [draftForward]="draftForward"
          [resetAll]="resetAll"
          wrapperWidth="21"
          wrapperHeight="13.5"
        >
          <aa-info-panel 
            *ngFor="let p of infoPanelItemsOne; let i = index"
            (click)="panelOneClicked(i)" 
            [ngClass]="{'selected' : panelOneIndex===i}"
            [preventOpacity]="false"
            panelWidth="20" 
            panelHeight="12.5" 
            panelStatus="{{p.panelStatus}}"
          >
            <ng-container custom-header>
              <section class="flex-group space-between">
                <div class="flex-group flex-start flex-align-center">
                  <div class="material-icons">{{p.headerIconOne}}</div>
                  <h3>{{p.headerTitle}}</h3>
                </div>
                <div class="material-icons">{{p.headerIconTwo}}</div>
              </section>
            </ng-container>
            <ng-container custom-content>
              <p>
                {{p.panelContent}}
              </p>
            </ng-container>
            <ng-container custom-footer>
              <div class="flex-group space-between">
                <div class="material-icons">{{p.footerIconOne}}</div>
                <button class="material-icons aa-light-blue-100">{{p.footerIconTwo}}</button>
              </div>
            </ng-container>
          </aa-info-panel>
        </aa-info-panel-stacked>
        
        <aa-info-panel-stacked
          [approvedForward]="approvedForward"
          [pendingForward]="pendingForward"
          [rejectedForward]="rejectedForward"
          [abandonedForward]="abandonedForward"
          [withdrawnForward]="withdrawnForward"
          [draftForward]="draftForward"
          [resetAll]="resetAll"
          wrapperWidth="21"
          wrapperHeight="13.5"
        >
          <aa-info-panel 
            *ngFor="let p of infoPanelItemsTwo; let i = index"
            (click)="panelTwoClicked(i)" 
            [ngClass]="{'selected' : panelTwoIndex===i}"
            [preventOpacity]="false"
            panelWidth="20" 
            panelHeight="12.5" 
            panelStatus="{{p.panelStatus}}"
          >
            <ng-container custom-header>
              <section class="flex-group space-between">
                <div class="flex-group flex-start flex-align-center">
                  <div class="material-icons">{{p.headerIconOne}}</div>
                  <h3>{{p.headerTitle}}</h3>
                </div>
                <div class="material-icons">{{p.headerIconTwo}}</div>
              </section>
            </ng-container>
            <ng-container custom-content>
              <p>
                {{p.panelContent}}
              </p>
            </ng-container>
            <ng-container custom-footer>
              <div class="flex-group space-between">
                <div class="material-icons">{{p.footerIconOne}}</div>
                <button class="material-icons aa-light-blue-100">{{p.footerIconTwo}}</button>
              </div>
            </ng-container>
          </aa-info-panel>
        </aa-info-panel-stacked>
        
        <aa-info-panel-stacked
          [approvedForward]="approvedForward"
          [pendingForward]="pendingForward"
          [rejectedForward]="rejectedForward"
          [abandonedForward]="abandonedForward"
          [withdrawnForward]="withdrawnForward"
          [draftForward]="draftForward"
          [resetAll]="resetAll"
          wrapperWidth="20"
          wrapperHeight="13.5"
        >
          <aa-info-panel 
            *ngFor="let p of infoPanelItemsThree; let i = index"
            (click)="panelThreeClicked(i)" 
            [ngClass]="{'selected' : panelThreeIndex===i}"
            [preventOpacity]="false"
            panelWidth="20" 
            panelHeight="12.5" 
            panelStatus="{{p.panelStatus}}"
          >
            <ng-container custom-header>
              <section class="flex-group space-between">
                <div class="flex-group flex-start flex-align-center">
                  <div class="material-icons">{{p.headerIconOne}}</div>
                  <h3>{{p.headerTitle}}</h3>
                </div>
                <div class="material-icons">{{p.headerIconTwo}}</div>
              </section>
            </ng-container>
            <ng-container custom-content>
              <p>
                {{p.panelContent}}
              </p>
            </ng-container>
            <ng-container custom-footer>
              <div class="flex-group space-between">
                <div class="material-icons">{{p.footerIconOne}}</div>
                <button class="material-icons aa-light-blue-100">{{p.footerIconTwo}}</button>
              </div>
            </ng-container>
          </aa-info-panel>
        </aa-info-panel-stacked>
        
        <aa-info-panel-stacked
          [approvedForward]="approvedForward"
          [pendingForward]="pendingForward"
          [rejectedForward]="rejectedForward"
          [abandonedForward]="abandonedForward"
          [withdrawnForward]="withdrawnForward"
          [draftForward]="draftForward"
          [resetAll]="resetAll"
          wrapperWidth="21"
          wrapperHeight="13.5"
        >
          <aa-info-panel 
            *ngFor="let p of infoPanelItemsFour; let i = index"
            (click)="panelFourClicked(i)" 
            [ngClass]="{'selected' : panelFourIndex===i}"
            [preventOpacity]="false"
            panelWidth="20" 
            panelHeight="12.5" 
            panelStatus="{{p.panelStatus}}"
          >
            <ng-container custom-header>
              <section class="flex-group space-between">
                <div class="flex-group flex-start flex-align-center">
                  <div class="material-icons">{{p.headerIconOne}}</div>
                  <h3>{{p.headerTitle}}</h3>
                </div>
                <div class="material-icons">{{p.headerIconTwo}}</div>
              </section>
            </ng-container>
            <ng-container custom-content>
              <p>
                {{p.panelContent}}
              </p>
            </ng-container>
            <ng-container custom-footer>
              <div class="flex-group space-between">
                <div class="material-icons">{{p.footerIconOne}}</div>
                <button class="material-icons aa-light-blue-100">{{p.footerIconTwo}}</button>
              </div>
            </ng-container>
          </aa-info-panel>
        </aa-info-panel-stacked>

        <aa-info-panel-stacked
          [approvedForward]="approvedForward"
          [pendingForward]="pendingForward"
          [rejectedForward]="rejectedForward"
          [abandonedForward]="abandonedForward"
          [withdrawnForward]="withdrawnForward"
          [draftForward]="draftForward"
          [resetAll]="resetAll"
          wrapperWidth="21"
          wrapperHeight="13.5"
        >
          <aa-info-panel 
            *ngFor="let p of infoPanelItemsFive; let i = index"
            (click)="panelFiveClicked(i)" 
            [ngClass]="{'selected' : panelFiveIndex===i}"
            [preventOpacity]="false"
            panelWidth="20" 
            panelHeight="12.5" 
            panelStatus="{{p.panelStatus}}"
          >
            <ng-container custom-header>
              <section class="flex-group space-between">
                <div class="flex-group flex-start flex-align-center">
                  <div class="material-icons">{{p.headerIconOne}}</div>
                  <h3>{{p.headerTitle}}</h3>
                </div>
                <div class="material-icons">{{p.headerIconTwo}}</div>
              </section>
            </ng-container>
            <ng-container custom-content>
              <p>
                {{p.panelContent}}
              </p>
            </ng-container>
            <ng-container custom-footer>
              <div class="flex-group space-between">
                <div class="material-icons">{{p.footerIconOne}}</div>
                <button class="material-icons aa-light-blue-100">{{p.footerIconTwo}}</button>
              </div>
            </ng-container>
          </aa-info-panel>
        </aa-info-panel-stacked>
      </div>
    </section>
</section>

<aa-blade 
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
  >
  <article class="blade-content">
    <div *ngIf="showInfoPanel">
      <a href="https://gist.github.com/angloux/f12973e6d3da23f18a1447d3b5296228" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/f12973e6d3da23f18a1447d3b5296228"></app-gist>
    </div>
    <div *ngIf="showInfoPanelStacked">
      <a href="https://gist.github.com/angloux/4db73a253140135b45d39eabe0081d79" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/4db73a253140135b45d39eabe0081d79"></app-gist>
    </div>
  </article>
</aa-blade>