.content-container, 
.blade-content {
    display: block;

    &:not(.padding-0):not(.grid) {
        padding: _size(default) _size(medium); 
    }
    &.grid {
        > div.field {
            padding: 0 1rem;
        }
    }
}

.content-container {
    &.ag-grid-full-height {
        display: flex;
        flex-direction: column;

        .ag-grid-wrapper {
            flex: 1 1 auto;

            ag-grid-angular {
                width: 100%;
                height: 100%;
            }
        }
    }
}