/* A very odd bug is present in AMP when updating to Angular Elements. The [hidden] attr on elements isn't working.
Am now setting this manually in the overrides to forcefully hide hidden elements */
[hidden] {
  display: none!important;
}

/* PLEASE DO NOT DELETE ---
The below excludes specific dl components and 
markup to override Bootstrap's "_reboot.scss"
that's currently installed in CORE & used for 3rd party
components that rely on Bootstrap. So far these are: 
ngb-datepicker, ng-select and ag-grid */
ph-blade, 
aside, 
section,
article,
.ph-card,
.blade-top,
.info-panel-content {
  &:not(
    .ag-grid *,
    .ng-select *,
    ngb-datepicker *,
    ngbd-datepicker-multiple *,
    input,
    textarea,
    button,
    header *) {
    box-sizing: unset!important;
  }
}

// Uncomment below to see bs _reboot.scss behaviour on our stuff
*, *::before, *::after {
  box-sizing: border-box;
}
