.aa-filter,
.filter-container {
  background-color: _colour(aa-light-blue-15);
  padding: 0 1.25rem 1.25rem !important;
  border-top: 1px solid _colour(aa-light-blue-30);
  border-bottom: 1px solid _colour(aa-light-blue-30);
}

.filter-gradient {
  position: absolute;
  top: calc(3rem - 50vh);
  left: 0;
  right: 0;
  transition: all .2s linear;
  visibility: hidden;
  &.show-filter-gradient {
    transition: all .2s linear;
    visibility: visible;
    top: 0;
  }
  
  button {
    &.material-icons,
    &.material-icons-outlined {
      &:hover {
        background-color: _palette(aa-light-blue-100);
      }
    }
  }
  
  fieldset {
    &.small {
      padding: .25rem 0.5rem;
    }
  }
}
