.ph-ui-block {
    position: fixed;
    width: -webkit-fill-available;
    margin-left: -1.25rem;
    text-align: center;

    h1 {
        position: relative;
        z-index: 1;
        color: white;
        opacity: .3;
        font-weight: bold;
        letter-spacing: .5rem;
    }
    .background {
        position: absolute;
        background-color: black;
        opacity: .2;
        width: 100%;
        height: 100%;
    }
}