/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
blockquote,
figure,
legend,
label,
pre,
iframe {
  margin: 0;
  padding: 0;
}

// button,
input,
select,
textarea {
  margin: 0;
}

iframe {
  border: 0;
}