.unauthorised {
    background: #EFB64F;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 3.5rem;

    .unauthorised-content {
        margin: 5% auto 0 auto;
        text-align: center;

        h1 {
            font-size: 4rem;
            margin-bottom: .25rem;
            color: _palette(aa-blue-100);
        }

        p {
            line-height: 1.5rem;
            font-size: _font(size-regular);
            color: _palette(aa-grey-100);
        }

        a {
            color: _palette(aa-white-100);
            .material-icons {
                color: #ce3423!important;
            }
        }
    }

    .unauthorised-image {

        img,
        .app-graphic svg {
            width: 100%;
            height: auto;
            border-bottom-style: solid;
            border-bottom-color: #d78e0a;

            .wheel {
                animation: graphicRotation 30s infinite;
                transform-origin: center;
                transform-box: fill-box;
            }

            @keyframes graphicRotation {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }

            .smoke-one {
                animation: smokeOne 5s infinite ease-in-out;
            }

            .smoke-two {
                animation: smokeTwo 10s infinite ease-in-out;
            }

            @keyframes smokeOne {
                100% {
                    transform: translatex(1rem) translatey(-1rem);
                    opacity: 0;
                }

                0% {
                    transform: translatex(0) translatey(0);
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }
            }

            @keyframes smokeTwo {
                100% {
                    transform: translatex(4rem) translatey(-4rem);
                    opacity: 0;
                }

                0% {
                    transform: translatex(0) translatey(0);
                    opacity: .1;
                }

                90% {
                    opacity: .3;
                }
            }
        }
    }
}

// Ensure the order below is that larger screen are at the top

@media screen and (max-width: 3600px) {
    .unauthorised {

        .unauthorised-image img,
        .app-graphic svg {
            border-bottom-width: 2rem;
        }
    }
}

@media screen and (max-width: 1800px) {
    .unauthorised {
        .unauthorised-content {
            margin-top: 8%;
        }

        .unauthorised-image img,
        .app-graphic svg {
            border-bottom-width: 15rem;
        }
    }
}

@media screen and (max-width: 1280px) {
    .unauthorised {
        .unauthorised-content {
            margin-top: 8%;

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: _font(size-default);
            }
        }

        .unauthorised-image img,
        .app-graphic svg {
            border-bottom-width: 20rem;
        }

    }
}