<div class="content-container padding-top-0 poem">
    <h2>Tab three content</h2>
    <p>Despite the storms,
        beauty arrives like
        it was always going to.
    </p>
</div>

<div class="blades-data">
    <h3 class="boxed">Standard usage for blades</h3>
    <div class="field">
        <label>First name</label>
        <input type="text"/>
    </div>
    <div class="field">
        <label>Last name</label>
        <input type="text"/>
    </div>

    <div class="field">
        <label>Email</label>
        <input type="text"/>
    </div>
    <div class="field">
        <label>Phone</label>
        <input type="text"/>
    </div>

    <div class="field">
        <label>Mobile</label>
        <input type="text"/>
    </div>
    <div class="field">
        <label>Country</label>
        <input type="text"/>
    </div>

    <div class="field">
        <label>Language</label>
        <input type="text"/>
    </div>
    <div class="field max-width-unset">
        <label>Comments</label>
        <textarea></textarea>
    </div>
</div>
