
.flag {
    @include icon-button-medium-svg;
    background-color: _palette(aa-light-blue-60);
    background-size: 100%;
    border-radius: 50%;
    &.ae {background-image: url("../../assets/flags/ae.svg");}
    &.af {background-image: url("../../assets/flags/af.svg");}
    &.ag {background-image: url("../../assets/flags/ag.svg");}
    &.ai {background-image: url("../../assets/flags/ai.svg");}
    &.al {background-image: url("../../assets/flags/al.svg");}
    &.am {background-image: url("../../assets/flags/am.svg");}
    &.ao {background-image: url("../../assets/flags/ao.svg");}
    &.ar {background-image: url("../../assets/flags/ar.svg");}
    &.as {background-image: url("../../assets/flags/as.svg");}
    &.at {background-image: url("../../assets/flags/at.svg");}
    &.au {background-image: url("../../assets/flags/au.svg");}
    &.aw {background-image: url("../../assets/flags/aw.svg");}
    &.az {background-image: url("../../assets/flags/az.svg");}
    &.ba {background-image: url("../../assets/flags/ba.svg");}
    &.bb {background-image: url("../../assets/flags/bb.svg");}
    &.bd {background-image: url("../../assets/flags/bd.svg");}
    &.be {background-image: url("../../assets/flags/be.svg");}
    &.bf {background-image: url("../../assets/flags/bf.svg");}
    &.bg {background-image: url("../../assets/flags/bg.svg");}
    &.bh {background-image: url("../../assets/flags/bh.svg");}
    &.bi {background-image: url("../../assets/flags/bi.svg");}
    &.bj {background-image: url("../../assets/flags/bj.svg");}
    &.bm {background-image: url("../../assets/flags/bm.svg");}
    &.bn {background-image: url("../../assets/flags/bn.svg");}
    &.bo {background-image: url("../../assets/flags/bo.svg");}
    &.br {background-image: url("../../assets/flags/br.svg");}
    &.bs {background-image: url("../../assets/flags/bs.svg");}
    &.bt {background-image: url("../../assets/flags/bt.svg");}
    &.bw {background-image: url("../../assets/flags/bw.svg");}
    &.by {background-image: url("../../assets/flags/by.svg");}
    &.bz {background-image: url("../../assets/flags/bz.svg");}
    &.ca {background-image: url("../../assets/flags/ca.svg");}
    &.cd {background-image: url("../../assets/flags/cd.svg");}
    &.cf {background-image: url("../../assets/flags/cf.svg");}
    &.ch {background-image: url("../../assets/flags/ch.svg");}
    &.ci {background-image: url("../../assets/flags/ci.svg");}
    &.ck {background-image: url("../../assets/flags/ck.svg");}
    &.cl {background-image: url("../../assets/flags/cl.svg");}
    &.cm {background-image: url("../../assets/flags/cm.svg");}
    &.cn {background-image: url("../../assets/flags/cn.svg");}
    &.co {background-image: url("../../assets/flags/co.svg");}
    &.cr {background-image: url("../../assets/flags/cr.svg");}
    &.cu {background-image: url("../../assets/flags/cu.svg");}
    &.cv {background-image: url("../../assets/flags/cv.svg");}
    &.cy {background-image: url("../../assets/flags/cy.svg");}
    &.cz {background-image: url("../../assets/flags/cz.svg");}
    &.de {background-image: url("../../assets/flags/de.svg");}
    &.dj {background-image: url("../../assets/flags/dj.svg");}
    &.dk {background-image: url("../../assets/flags/dk.svg");}
    &.dm {background-image: url("../../assets/flags/dm.svg");}
    &.do {background-image: url("../../assets/flags/do.svg");}
    &.dz {background-image: url("../../assets/flags/dz.svg");}
    &.ec {background-image: url("../../assets/flags/ec.svg");}
    &.ee {background-image: url("../../assets/flags/ee.svg");}
    &.eg {background-image: url("../../assets/flags/eg.svg");}
    &.er {background-image: url("../../assets/flags/er.svg");}
    &.es {background-image: url("../../assets/flags/es.svg");}
    &.et {background-image: url("../../assets/flags/et.svg");}
    &.fi {background-image: url("../../assets/flags/fi.svg");}
    &.fj {background-image: url("../../assets/flags/fj.svg");}
    &.fk {background-image: url("../../assets/flags/fk.svg");}
    &.fm {background-image: url("../../assets/flags/fm.svg");}
    &.fo {background-image: url("../../assets/flags/fo.svg");}
    &.fr {background-image: url("../../assets/flags/fr.svg");}
    &.ga {background-image: url("../../assets/flags/ga.svg");}
    &.gb {background-image: url("../../assets/flags/gb.svg");}
    &.gd {background-image: url("../../assets/flags/gd.svg");}
    &.ge {background-image: url("../../assets/flags/ge.svg");}
    &.gh {background-image: url("../../assets/flags/gh.svg");}
    &.gi {background-image: url("../../assets/flags/gi.svg");}
    &.gl {background-image: url("../../assets/flags/gl.svg");}
    &.gm {background-image: url("../../assets/flags/gm.svg");}
    &.gn {background-image: url("../../assets/flags/gn.svg");}
    &.gp {background-image: url("../../assets/flags/gp.svg");}
    &.gq {background-image: url("../../assets/flags/gq.svg");}
    &.gr {background-image: url("../../assets/flags/gr.svg");}
    &.gu {background-image: url("../../assets/flags/gu.svg");}
    &.gw {background-image: url("../../assets/flags/gw.svg");}
    &.gy {background-image: url("../../assets/flags/gy.svg");}
    &.hk {background-image: url("../../assets/flags/hk.svg");}
    &.hn {background-image: url("../../assets/flags/hn.svg");}
    &.hr {background-image: url("../../assets/flags/hr.svg");}
    &.ht {background-image: url("../../assets/flags/ht.svg");}
    &.hu {background-image: url("../../assets/flags/hu.svg");}
    &.id {background-image: url("../../assets/flags/id.svg");}
    &.ie {background-image: url("../../assets/flags/ie.svg");}
    &.il {background-image: url("../../assets/flags/il.svg");}
    &.im {background-image: url("../../assets/flags/im.svg");}
    &.in {background-image: url("../../assets/flags/in.svg");}
    &.iq {background-image: url("../../assets/flags/iq.svg");}
    &.ir {background-image: url("../../assets/flags/ir.svg");}
    &.it {background-image: url("../../assets/flags/it.svg");}
    &.jm {background-image: url("../../assets/flags/jm.svg");}
    &.jo {background-image: url("../../assets/flags/jo.svg");}
    &.jp {background-image: url("../../assets/flags/jp.svg");}
    &.ke {background-image: url("../../assets/flags/ke.svg");}
    &.kg {background-image: url("../../assets/flags/kg.svg");}
    &.kh {background-image: url("../../assets/flags/kh.svg");}
    &.ki {background-image: url("../../assets/flags/ki.svg");}
    &.km {background-image: url("../../assets/flags/km.svg");}
    &.kn {background-image: url("../../assets/flags/kn.svg");}
    &.kp {background-image: url("../../assets/flags/kp.svg");}
    &.kr {background-image: url("../../assets/flags/kr.svg");}
    &.kw {background-image: url("../../assets/flags/kw.svg");}
    &.ky {background-image: url("../../assets/flags/ky.svg");}
    &.kz {background-image: url("../../assets/flags/kz.svg");}
    &.la {background-image: url("../../assets/flags/la.svg");}
    &.lb {background-image: url("../../assets/flags/lb.svg");}
    &.lc {background-image: url("../../assets/flags/lc.svg");}
    &.li {background-image: url("../../assets/flags/li.svg");}
    &.lk {background-image: url("../../assets/flags/lk.svg");}
    &.lr {background-image: url("../../assets/flags/lr.svg");}
    &.ls {background-image: url("../../assets/flags/ls.svg");}
    &.lt {background-image: url("../../assets/flags/lt.svg");}
    &.lu {background-image: url("../../assets/flags/lu.svg");}
    &.lv {background-image: url("../../assets/flags/lv.svg");}
    &.ly {background-image: url("../../assets/flags/ly.svg");}
    &.ma {background-image: url("../../assets/flags/ma.svg");}
    &.mc {background-image: url("../../assets/flags/mc.svg");}
    &.md {background-image: url("../../assets/flags/md.svg");}
    &.me {background-image: url("../../assets/flags/me.svg");}
    &.mg {background-image: url("../../assets/flags/mg.svg");}
    &.mh {background-image: url("../../assets/flags/mh.svg");}
    &.mk {background-image: url("../../assets/flags/mk.svg");}
    &.ml {background-image: url("../../assets/flags/ml.svg");}
    &.mm {background-image: url("../../assets/flags/mm.svg");}
    &.mn {background-image: url("../../assets/flags/mn.svg");}
    &.mo {background-image: url("../../assets/flags/mo.svg");}
    &.mr {background-image: url("../../assets/flags/mr.svg");}
    &.ms {background-image: url("../../assets/flags/ms.svg");}
    &.mt {background-image: url("../../assets/flags/mt.svg");}
    &.mu {background-image: url("../../assets/flags/mu.svg");}
    &.mv {background-image: url("../../assets/flags/mv.svg");}
    &.mw {background-image: url("../../assets/flags/mw.svg");}
    &.mx {background-image: url("../../assets/flags/mx.svg");}
    &.my {background-image: url("../../assets/flags/my.svg");}
    &.mz {background-image: url("../../assets/flags/mz.svg");}
    &.na {background-image: url("../../assets/flags/na.svg");}
    &.nc {background-image: url("../../assets/flags/nc.svg");}
    &.ne {background-image: url("../../assets/flags/ne.svg");}
    &.ng {background-image: url("../../assets/flags/ng.svg");}
    &.ni {background-image: url("../../assets/flags/ni.svg");}
    &.nl {background-image: url("../../assets/flags/nl.svg");}
    &.no {background-image: url("../../assets/flags/no.svg");}
    &.np {background-image: url("../../assets/flags/np.svg");}
    &.nr {background-image: url("../../assets/flags/nr.svg");}
    &.nz {background-image: url("../../assets/flags/nz.svg");}
    &.om {background-image: url("../../assets/flags/om.svg");}
    &.pa {background-image: url("../../assets/flags/pa.svg");}
    &.pe {background-image: url("../../assets/flags/pe.svg");}
    &.ph {background-image: url("../../assets/flags/ph.svg");}
    &.pk {background-image: url("../../assets/flags/pk.svg");}
    &.pl {background-image: url("../../assets/flags/pl.svg");}
    &.pr {background-image: url("../../assets/flags/pr.svg");}
    &.ps {background-image: url("../../assets/flags/ps.svg");}
    &.pw {background-image: url("../../assets/flags/pw.svg");}
    &.py {background-image: url("../../assets/flags/py.svg");}
    &.qa {background-image: url("../../assets/flags/qa.svg");}
    &.ro {background-image: url("../../assets/flags/ro.svg");}
    &.rs {background-image: url("../../assets/flags/rs.svg");}
    &.ru {background-image: url("../../assets/flags/ru.svg");}
    &.rw {background-image: url("../../assets/flags/rw.svg");}
    &.sa {background-image: url("../../assets/flags/sa.svg");}
    &.sb {background-image: url("../../assets/flags/sb.svg");}
    &.sc {background-image: url("../../assets/flags/sc.svg");}
    &.sd {background-image: url("../../assets/flags/sd.svg");}
    &.se {background-image: url("../../assets/flags/se.svg");}
    &.sg {background-image: url("../../assets/flags/sg.svg");}
    &.si {background-image: url("../../assets/flags/si.svg");}
    &.sk {background-image: url("../../assets/flags/sk.svg");}
    &.sl {background-image: url("../../assets/flags/sl.svg");}
    &.sm {background-image: url("../../assets/flags/sm.svg");}
    &.sn {background-image: url("../../assets/flags/sn.svg");}
    &.so {background-image: url("../../assets/flags/so.svg");}
    &.sr {background-image: url("../../assets/flags/sr.svg");}
    &.ss {background-image: url("../../assets/flags/ss.svg");}
    &.st {background-image: url("../../assets/flags/st.svg");}
    &.sv {background-image: url("../../assets/flags/sv.svg");}
    &.sy {background-image: url("../../assets/flags/sy.svg");}
    &.sz {background-image: url("../../assets/flags/sz.svg");}
    &.tc {background-image: url("../../assets/flags/tc.svg");}
    &.td {background-image: url("../../assets/flags/td.svg");}
    &.tg {background-image: url("../../assets/flags/tg.svg");}
    &.th {background-image: url("../../assets/flags/th.svg");}
    &.tj {background-image: url("../../assets/flags/tj.svg");}
    &.tl {background-image: url("../../assets/flags/tl.svg");}
    &.tm {background-image: url("../../assets/flags/tm.svg");}
    &.tn {background-image: url("../../assets/flags/tn.svg");}
    &.to {background-image: url("../../assets/flags/to.svg");}
    &.tr {background-image: url("../../assets/flags/tr.svg");}
    &.tt {background-image: url("../../assets/flags/tt.svg");}
    &.tv {background-image: url("../../assets/flags/tv.svg");}
    &.tw {background-image: url("../../assets/flags/tw.svg");}
    &.tz {background-image: url("../../assets/flags/tz.svg");}
    &.ua {background-image: url("../../assets/flags/ua.svg");}
    &.ug {background-image: url("../../assets/flags/ug.svg");}
    &.us {background-image: url("../../assets/flags/us.svg");}
    &.uy {background-image: url("../../assets/flags/uy.svg");}
    &.uz {background-image: url("../../assets/flags/uz.svg");}
    &.vc {background-image: url("../../assets/flags/vc.svg");}
    &.ve {background-image: url("../../assets/flags/ve.svg");}
    &.vg {background-image: url("../../assets/flags/vg.svg");}
    &.vi {background-image: url("../../assets/flags/vi.svg");}
    &.vn {background-image: url("../../assets/flags/vn.svg");}
    &.vu {background-image: url("../../assets/flags/vu.svg");}
    &.ws {background-image: url("../../assets/flags/ws.svg");}
    &.ye {background-image: url("../../assets/flags/ye.svg");}
    &.za {background-image: url("../../assets/flags/za.svg");}
    &.zm {background-image: url("../../assets/flags/zm.svg");}
    &.zw {background-image: url("../../assets/flags/zw.svg");}
  }
