table, p {
    font-size: _font(size-default);
}

.text-info {
    color: _palette(aa-light-blue-100) !important;
}
.text-error {
   color: _palette(aa-red-100) !important;
 }
.text-warning {
  color: _palette(aa-orange-100) !important;
}
.text-success {
    color: _palette(aa-green-100) !important;
}

.text-semi-bold, .text-medium, strong { // semi-bold deprecated Oct 2020
  font-family: _font(family-medium);
  font-weight: unset;
}

.text-bold {
    font-family: _font(family-medium);
}

.text-regular {
  font-family: _font(family-regular);
}

.text-default, .font-size-default {
    font-size: _font(size-default);
}

.text-light {
  font-family: _font(family-light);
}

.text-italic, .italic {
  font-style: _font(style-italic);
}

// will need to set a max-width in conjunction with .ellipsis
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

