<section class="control-bar">
    <h1>Blade top</h1>
</section>

<section class="content-container position-relative padding-0" [ngStyle]="{'margin-top' : isOpen && isPinned ? '14.75rem':'', 'transition' : 'all .3s linear'}">
    <!-- start content repeater -->
    <section class="content-repeater flex-group">
      <section class="flex-1 col-left flex-start">
        <h2>Blade top</h2>
        <div class="describe margin-bottom-1">
            <p>To get pinning to work, you must add the following to the page content-container <br/>
                <strong>[ngStyle]=&quot;&#123;'padding-top' : isOpen && isPinned ? '14rem':'', 'transition' : 'all .3s linear'&#x7d;&quot;</strong>
            </p>
            <p>These setting are adjustable.</p>
        </div>
        
        <div class="field">
            <button 
            (click)="isOpen=!isOpen" 
            class="primary"
            type="button"
        >
            Toggle top-blade
        </button>  
        </div>
  
      </section>
        
      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">[isOpen]</td>
                <td datalabel="Type">Boolean</td>
                <td datalabel="Default">Your settings</td>
            </tr>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">(bladeOpen)</td>
                <td datalabel="Type">Event</td>
                <td datalabel="Default">Your settings</td>
            </tr>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">(bladePinned)</td>
                <td datalabel="Type">Event</td>
                <td datalabel="Default">Your settings</td>
            </tr>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">topPos</td>
                <td datalabel="Type">Number</td>
                <td datalabel="Default">3.5</td>
            </tr>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">leftPos</td>
                <td datalabel="Type">Number</td>
                <td datalabel="Default">14</td>
            </tr>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">rightPos</td>
                <td datalabel="Type">Number</td>
                <td datalabel="Default">0</td>
            </tr>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">zIndex</td>
                <td datalabel="Type">Number</td>
                <td datalabel="Default">100</td>
            </tr>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">[userProfile]</td>
                <td datalabel="Type">Boolean</td>
                <td datalabel="Default">true</td>
            </tr>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">profileSize</td>
                <td datalabel="Type">Number</td>
                <td datalabel="Default">15</td>
            </tr>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">borderColour</td>
                <td datalabel="Type">Any</td>
                <td datalabel="Default">#0075b0</td>
            </tr>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">borderThickness</td>
                <td datalabel="Type">Number</td>
                <td datalabel="Default">.75</td>
            </tr>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">maxHeight</td>
                <td datalabel="Type">Number</td>
                <td datalabel="Default">16.5</td>
            </tr>
            <tr>
                <td datalabel="Element">aa-blade-top</td>
                <td datalabel="Attribute">countryFlag</td>
                <td datalabel="Type">Any</td>
                <td datalabel="Default">tl</td>
            </tr>
          </tbody>
        </table>
      </section>
      
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
          <button class="custom-icons bg-aa-light-blue-100" (click)="sideBladeIsOpen($event)">
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
    </section>
  </section>
  
  <aa-blade 
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
    >
    <article class="blade-content">
        <app-gist src="angloux/e4d09a23c5f657d979dc778d74e03935"></app-gist>
        <a href="https://gist.github.com/angloux/e4d09a23c5f657d979dc778d74e03935" target="_blank">View Gist on GitHub</a>
    </article>
  </aa-blade>
  
  <aa-blade-top 
    [isOpen]="isOpen"
    (bladeOpen)="bladeIsOpen($event)"
    (bladePinned)="bladeIsPinned($event)"
    topPos="3.5"
    leftPos="16" 
    rightPos="0" 
    zIndex="100"
    userProfile="true"
    profileSize="15"
    maxHeight="16.5"
    borderColour="#0075b0"
    borderThickness=".75"
    countryFlag="tl"
    >

    <ng-container user-profile>
        <img onerror="this.style.display='none'" src="./assets/images/samples/dalai-lama.png" />
    </ng-container>

    <ng-container custom-content>
        <article class="border-right-dashed-light padding-left-1 margin-top-1-5">
            <h2>Dalai Lama</h2>
            <div class="scroll-panel padding-top-0">
                <div class="scroll-panel-content margin-top-0">
                    <dl>
                        <dt>Job title</dt>
                        <dd>Dalai Lama</dd>
                    </dl>
                    <dl>
                        <dt>Primary role</dt>
                        <dd>Spiritual Leader</dd>
                    </dl>
                    <dl>
                        <dt>Email</dt>
                        <dd>ohhdl@dalailama.com</dd>
                    </dl>
                    <dl>
                        <dt>Address</dt>
                        <dd>India</dd>
                    </dl>
                    <dl>
                        <dt>Manager</dt>
                        <dd>Sonam Rabten</dd>
                    </dl>
                    <dl>
                        <dt>Active</dt>
                        <dd>Yes</dd>
                    </dl>
                    <dl>
                        <dt>Marketing</dt>
                        <dd>No</dd>
                    </dl>
                    <dl>
                        <dt>Compliance</dt>
                        <dd>Yes</dd>
                    </dl>
                    <dl>
                        <dt>Modified</dt>
                        <dd>09-Sep-2020 22:20</dd>
                    </dl>
                </div>
            </div>
        </article>
        <article class="margin-top-1-5">
            <h2 class="padding-left-0-75">Subordinates</h2>
            <div class="scroll-panel">
                <div class="scroll-panel-content with-table">
                    <table class="table-condensed">
                        <thead>
                            <tr>
                            <th><div><span>Name</span></div></th>
                            <th><div><span>Address</span></div></th>
                            <th><div><span>Email</span></div></th>
                            <th><div><span>Active</span></div></th>
                            <th><div><span>Modified by</span></div></th>
                            <th><div><span>Modified date</span></div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td datalabel="Name">Stephanie Cheong</td>
                                <td datalabel="Address">Singapore</td>
                                <td datalabel="Email">stephanie.cheong@angloamerican.com</td>
                                <td datalabel="Active">Yes</td>
                                <td datalabel="Modified by">sapautomationservice</td>
                                <td datalabel="Modified date">10-Sep-2020 08:25</td>
                            </tr>
                            <tr>
                                <td datalabel="Name">Caiyuan He</td>
                                <td datalabel="Address">Singapore</td>
                                <td datalabel="Email">carol.he@angloamerican.com</td>
                                <td datalabel="Active">Yes</td>
                                <td datalabel="Modified by">sapautomationservice</td>
                                <td datalabel="Modified date">10-Sep-2020 08:25</td>
                            </tr>
                            <tr>
                                <td datalabel="Name">Genevieve Brown</td>
                                <td datalabel="Address">UK</td>
                                <td datalabel="Email">genevieve.brown@angloamerican.com</td>
                                <td datalabel="Active">Yes</td>
                                <td datalabel="Modified by">sapautomationservice</td>
                                <td datalabel="Modified date">10-Sep-2020 08:25</td>
                            </tr>
                            <tr>
                                <td datalabel="Name">Genevieve Brown</td>
                                <td datalabel="Address">UK</td>
                                <td datalabel="Email">genevieve.brown@angloamerican.com</td>
                                <td datalabel="Active">Yes</td>
                                <td datalabel="Modified by">sapautomationservice</td>
                                <td datalabel="Modified date">10-Sep-2020 08:25</td>
                            </tr>
                            <tr>
                                <td datalabel="Name">Genevieve Brown</td>
                                <td datalabel="Address">UK</td>
                                <td datalabel="Email">genevieve.brown@angloamerican.com</td>
                                <td datalabel="Active">Yes</td>
                                <td datalabel="Modified by">sapautomationservice</td>
                                <td datalabel="Modified date">10-Sep-2020 08:25</td>
                            </tr>
                            <tr>
                                <td datalabel="Name">Genevieve Brown</td>
                                <td datalabel="Address">UK</td>
                                <td datalabel="Email">genevieve.brown@angloamerican.com</td>
                                <td datalabel="Active">Yes</td>
                                <td datalabel="Modified by">sapautomationservice</td>
                                <td datalabel="Modified date">10-Sep-2020 08:25</td>
                            </tr>
                            <tr>
                                <td datalabel="Name">Genevieve Brown</td>
                                <td datalabel="Address">UK</td>
                                <td datalabel="Email">genevieve.brown@angloamerican.com</td>
                                <td datalabel="Active">Yes</td>
                                <td datalabel="Modified by">sapautomationservice</td>
                                <td datalabel="Modified date">10-Sep-2020 08:25</td>
                            </tr>
                            <tr>
                                <td datalabel="Name">Genevieve Brown</td>
                                <td datalabel="Address">UK</td>
                                <td datalabel="Email">genevieve.brown@angloamerican.com</td>
                                <td datalabel="Active">Yes</td>
                                <td datalabel="Modified by">sapautomationservice</td>
                                <td datalabel="Modified date">10-Sep-2020 08:25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </ng-container>
</aa-blade-top>