<section class="control-bar">
  <h1>Blade</h1>
</section>

<section class="content-container padding-0" [ngStyle]="{'width': toggleBlade && pinBlade ? 'calc(100% - 35rem)' : ''}">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Blade</h2>
      <div class="describe margin-bottom-1">
        <p class="aa-red-100">There are 3 sizes available - please pass the <strong>bladeSize</strong> value into the component, these are: one-column-width, two-column-width, or xl-column-width</p>
        <p>For pinning, set <strong>[enablePinning]</strong> to true. Then add a conditional <strong>[ngStyle]</strong> to the content-container.
          Modify the calculated width depending on the blade size you are using.
          In the example below, we are setting the width for a <strong>one-column-width</strong> blade</p>
          <p class="aa-red-100"><strong>[ngStyle]=&#8220;&#123;&#8216;width&#8217;: toggleBlade && pinBlade ? &#8216;calc(100% - 38rem)&#8217; : &#8216;&nbsp;&#8217;&nbsp;&#x7d;&#8221;</strong></p>
          <p>These setting are adjustable.</p>
        </div>
      <div [ngStyle]="{'z-index' : 1, 'position' : 'relative'}">
        <div class="flex-group">
          <aa-button 
            (buttonClick)="
            bladeIsOpen($event);
            bladeHalf=true;
            setHeadingMaxWidth=13;
            oneCol=false; 
            twoCol=false; 
            xlCol=false; 
            showCustomBlade=false;
            showBladeGist=false; 
            showCustomBladeGist=false;
            showIcon=false;
            bladeIcon='directions_bike'; 
            bladeHeading='Half column width'; 
            theBladeSize='half-column-width';
            enablePin=false;
            hasBladeTabs=false"
            buttonText="Half column width" 
            buttonClass="primary"
            fieldClass="label-hidden"
            >
          </aa-button>
          <aa-button 
            (buttonClick)="
            bladeIsOpen($event);
            bladeHalf=false;
            oneCol=true; 
            setHeadingMaxWidth=24;
            twoCol=false; 
            xlCol=false; 
            showCustomBlade=false;
            showBladeGist=false; 
            showCustomBladeGist=false;
            showIcon=true;
            bladeIcon='directions_bike'; 
            bladeHeading='One column width'; 
            theBladeSize='one-column-width';
            enablePin=true;
            hasBladeTabs=true" 
            buttonText="One column width" 
            buttonClass="primary"
            fieldClass="label-hidden">
          </aa-button>
        </div>
        <div class="flex-group">
          <aa-button 
            (buttonClick)="
            bladeIsOpen($event); 
            bladeHalf=false;
            oneCol=false; 
            twoCol=true; 
            setHeadingMaxWidth=40;
            xlCol=false; 
            showCustomBlade=false;
            showBladeGist=false; 
            showCustomBladeGist=false;
            showIcon=true;
            bladeIcon='directions_bike'; 
            bladeHeading='Two column width'; 
            theBladeSize='two-column-width';
            enablePin=false;
            hasBladeTabs=false" 
            buttonText="Two column width" 
            buttonClass="primary"
            fieldClass="label-hidden">
            </aa-button>
          <aa-button 
            (buttonClick)="
            bladeIsOpen($event); 
            bladeHalf=false;
            oneCol=false; 
            twoCol=false; 
            xlCol=true; 
            setHeadingMaxWidth=57;
            showCustomBlade=false;
            showBladeGist=false; 
            showCustomBladeGist=false;
            showIcon=true;
            bladeIcon='directions_bike'; 
            bladeHeading='XL width'; 
            theBladeSize='xl-column-width';
            enablePin=false;
            hasBladeTabs=false" 
            buttonText="XL column width" 
            buttonClass="primary"
            fieldClass="label-hidden">
          </aa-button>
        </div>
      </div>
    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">showModal</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">bladeTabs</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">toggleBlade</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">bladeSize</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">one-column-width</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">headingMaxWidth</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">Depending on blade size</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">topPosition</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">3.5</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">zIndex</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">0</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">enableIcon</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">bladeHeading</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your heading</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">enablePinning</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">suppressAutoClose</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">(bladeOpen)</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">(bladePinned)</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" 
          (click)="
          bladeIsOpen($event); 
          showBladeGist=true; 
          showCustomBladeGist=false; 
          bladeHalf=false;
          oneCol=false; 
          twoCol=false; 
          xlCol=false; 
          showCustomBlade=false;
          enablePin=false; 
          bladeHeading='Gist'; 
          showIcon=true; 
          bladeIcon='table_rows';
          hasBladeTabs=false">
            <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>
  
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Blade - custom header/footer</h2>
      <div class="describe margin-bottom-1">
        <p>If you need to customise the blade header and/or footer please use the below 
          version of the Blade and remember to set <strong>[customBlade] to true.</strong>
        </p>
      </div>
      <div [ngStyle]="{'z-index' : 1, 'position' : 'relative'}">
        <div class="flex-group">
          <aa-button 
            (buttonClick)="
            bladeIsOpen(false); 
            bladeHalf=false;
            oneCol=false; 
            twoCol=false; 
            xlCol=false; 
            showCustomBlade=true;
            showBladeGist=false; 
            showCustomBladeGist=false;
            showIcon=false;
            bladeIcon='directions_bike'; 
            theBladeSize='one-column-width';
            enablePin=false;
            hasBladeTabs=false" 
            buttonText="Custom version" 
            buttonClass="primary">
          </aa-button>
        </div>
      </div>
    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">customBlade</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-blade</td>
            <td datalabel="Attribute">customBladeTabs</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">false</td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" 
          (click)="
          bladeIsOpen($event); 
          showBladeGist=false; 
          showCustomBladeGist=true; 
          bladeHalf=false;
          oneCol=false; 
          twoCol=false; 
          xlCol=false; 
          showCustomBlade=false;
          enablePin=false; 
          bladeHeading='Gist'; 
          showIcon=true; 
          bladeIcon='table_rows';
          theBladeSize='one-column-width';
          hasBladeTabs=false"
          >
            <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>
</section>

<aa-blade 
  [showModal]="false"
  [enablePinning]="enablePin"
  [bladeTabs]="hasBladeTabs"
  [toggleBlade]="toggleBlade"
  (bladeOpen)="bladeIsOpen($event)"
  (bladePinned)="bladeIsPinned($event)"
  [suppressAutoClose]="false"
  topPosition="3.5"
  zIndex="30"
  bladeSize="{{theBladeSize}}"
  bladeHeading="{{bladeHeading}}"
  [enableIcon]="showIcon"
  iconName="{{bladeIcon}}"
  headingMaxWidth="{{setHeadingMaxWidth}}"
  >
  <!-- blade gist -->
  <article *ngIf="showBladeGist" class="blade-content">
    <div class="feature margin-bottom-1">
      <p class="margin-bottom-1">Please note that for Blade 'pinning' to work correctly, you will require the following package versions...</p>
      <div class="flex-group flex-column">
        <div class="flex-group flex-start flex-align-center margin-bottom-0-25">
          <div class="material-icons small margin-right-0-25 aa-orange-100">sticky_note_2</div>
          <h4 class="margin-0">Minimum styles version</h4>
          <a 
            class="margin-left-0-5" 
            target="_blank" 
            href="https://angloteamproject.visualstudio.com/CoreTeamProject/_packaging?_a=package&feed=Core&view=versions&package=%40angloamerican/styles&version=0.2.120&protocolType=Npm"
          >
            11.2.204
          </a>
        </div>
        <div class="flex-group flex-start flex-align-center">
          <div class="material-icons small margin-right-0-25 aa-blue-sky-100">sticky_note_2</div>
          <h4 class="margin-0">Minimum components version</h4>
          <a 
            class="margin-left-0-5" 
            target="_blank" 
            href="https://angloteamproject.visualstudio.com/CoreTeamProject/_packaging?_a=package&feed=Core&view=versions&package=%40angloamerican/styles&version=0.2.120&protocolType=Npm"
          >
            11.2.80
          </a>
        </div>
      </div>
    </div>
    <a href="https://gist.github.com/angloux/69327c3e18e20b0f1b5a780d32945073" target="_blank">View Gist on GitHub</a>
    <app-gist src="angloux/69327c3e18e20b0f1b5a780d32945073"></app-gist>
  </article>
  <!-- blade custom gist -->
  <article *ngIf="showCustomBladeGist" class="blade-content padding-top-1">
    <a href="https://gist.github.com/angloux/35c803fb8616ad17cacd53883d0de4f9" target="_blank">View Gist on GitHub</a>
    <app-gist src="angloux/35c803fb8616ad17cacd53883d0de4f9"></app-gist>
  </article>
  
  <!-- blade half width -->
  <div *ngIf="bladeHalf">
    <article class="blade-content">
      <ul class="aa-card-list">
        <li class="flex-group" title="Obi-Wan">
          <div class="card-list-image fingerprint">
            <img onerror="this.style.display='none'" src="./assets/images/samples/obi-wan.png" />
          </div>
          <div class="margin-top-0-25">
            <strong>Obi-Wan</strong>
            <p>Member</p>
          </div>
          <aa-card cardName="Person card name" cardRole="Person card role" [imgPath]="imgPath">
            <ng-container card-menu>
              <div class="flex-group space-between">
                <div class="flex-group flex-start">
                  <a class="icon-email margin-right-0-75 margin-top-0-5"></a>
                  <a class="icon-teams margin-top-0-5"></a>
                </div>
                <div class="flex-group">
                  <div class="flag gb"></div>
                  <aa-context-menu (click)="menuClicked($event)" [showOnLeft]="true" class="padding-right-0-75" minWidth="7" zIndex="99999">
                    <aa-context-menu-item (click)="menuClicked($event)" menuItemText="Menu item 1"></aa-context-menu-item>
                    <aa-context-menu-item (click)="menuClicked($event)" menuItemText="Menu item 2"></aa-context-menu-item>
                    <aa-context-menu-item (click)="menuClicked($event)" menuItemText="Menu item 3"></aa-context-menu-item>
                  </aa-context-menu>
                </div>
              </div>
            </ng-container>
          </aa-card>
        </li>
        <li class="flex-group" title="Darth Vader">
          <div class="card-list-image fingerprint">
            <img onerror="this.style.display='none'" src="./assets/images/samples/darth.png" />
          </div>
          <div class="margin-top-0-25">
            <strong>Darth Vader</strong>
            <p>Member</p>
          </div>
          <aa-card cardName="Person card name" cardRole="Person card role" [imgPath]="imgPath">
            <ng-container card-menu>
              <div class="flex-group space-between">
                <div class="flex-group flex-start">
                  <a class="icon-email margin-right-0-75 margin-top-0-5"></a>
                  <a class="icon-teams margin-top-0-5"></a>
                </div>
                <div class="flex-group">
                  <div class="flag gb"></div>
                  <aa-context-menu [showOnLeft]="true" class="padding-right-0-75" minWidth="7" zIndex="99999">
                    <aa-context-menu-item menuItemText="Menu item 1"></aa-context-menu-item>
                    <aa-context-menu-item menuItemText="Menu item 2"></aa-context-menu-item>
                    <aa-context-menu-item menuItemText="Menu item 3"></aa-context-menu-item>
                  </aa-context-menu>
                </div>
              </div>
            </ng-container>
          </aa-card>
        </li>
        <li class="flex-group" title="Yoda">
          <div class="card-list-image fingerprint">
            <img onerror="this.style.display='none'" src="./assets/images/samples/yoda.png" />
          </div>
          <div class="margin-top-0-25">
            <strong>Yoda</strong>
            <p>Member</p>
          </div>
          <aa-card cardName="Person card name" cardRole="Person card role" [imgPath]="imgPath">
            <ng-container card-menu>
              <div class="flex-group space-between">
                <div class="flex-group flex-start">
                  <a class="icon-email margin-right-0-75 margin-top-0-5"></a>
                  <a class="icon-teams margin-top-0-5"></a>
                </div>
                <div class="flex-group">
                  <div class="flag gb"></div>
                  <aa-context-menu [showOnLeft]="true" class="padding-right-0-75" minWidth="7" zIndex="99999">
                    <aa-context-menu-item menuItemText="Menu item 1"></aa-context-menu-item>
                    <aa-context-menu-item menuItemText="Menu item 2"></aa-context-menu-item>
                    <aa-context-menu-item menuItemText="Menu item 3"></aa-context-menu-item>
                  </aa-context-menu>
                </div>
              </div>
            </ng-container>
          </aa-card>
        </li>
        <li class="flex-group" title="Luke Skywalker">
          <div class="card-list-image fingerprint">
            <img onerror="this.style.display='none'" src="./assets/images/samples/luke.png" />
          </div>
          <div class="margin-top-0-25">
            <strong>Luke Skywalker</strong>
            <p>Member</p>
          </div>
          <aa-card cardName="Person card name" cardRole="Person card role" [imgPath]="imgPath">
            <ng-container card-menu>
              <div class="flex-group space-between">
                <div class="flex-group flex-start">
                  <a class="icon-email margin-right-0-75 margin-top-0-5"></a>
                  <a class="icon-teams margin-top-0-5"></a>
                </div>
                <div class="flex-group">
                  <div class="flag gb"></div>
                  <aa-context-menu [showOnLeft]="true" class="padding-right-0-75" minWidth="7" zIndex="99999">
                    <aa-context-menu-item menuItemText="Menu item 1"></aa-context-menu-item>
                    <aa-context-menu-item menuItemText="Menu item 2"></aa-context-menu-item>
                    <aa-context-menu-item menuItemText="Menu item 3"></aa-context-menu-item>
                  </aa-context-menu>
                </div>
              </div>
            </ng-container>
          </aa-card>
        </li>
        <li class="flex-group" title="Han Solo">
          <div class="card-list-image fingerprint">
            <img onerror="this.style.display='none'" src="./assets/images/samples/han-solo.png" />
          </div>
          <div class="margin-top-0-25">
            <strong>Han Solo</strong>
            <p>Member</p>
          </div>
          <aa-card cardName="Person card name" cardRole="Person card role" [imgPath]="imgPath">
            <ng-container card-menu>
              <div class="flex-group space-between">
                <div class="flex-group flex-start">
                  <a class="icon-email margin-right-0-75 margin-top-0-5"></a>
                  <a class="icon-teams margin-top-0-5"></a>
                </div>
                <div class="flex-group">
                  <div class="flag gb"></div>
                  <aa-context-menu [showOnLeft]="true" class="padding-right-0-75" minWidth="7" zIndex="99999">
                    <aa-context-menu-item menuItemText="Menu item 1"></aa-context-menu-item>
                    <aa-context-menu-item menuItemText="Menu item 2"></aa-context-menu-item>
                    <aa-context-menu-item menuItemText="Menu item 3"></aa-context-menu-item>
                  </aa-context-menu>
                </div>
              </div>
            </ng-container>
          </aa-card>
        </li>
      </ul>
    </article>
  </div>
  <!-- Blade oneCol -->
  <div *ngIf="oneCol">
    <ng-container blade-tabs>
      <aa-tab-navigation [routerOutlet]="true">
        <ng-container list-items>
            <li *ngFor="let tab of tabs">
              <a 
                [id]="tab.tabId" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true, isActive: true}"
                [routerLink]="tab.routerLink"
              >
                {{ tab.name }}
              </a>
            </li>
        </ng-container>
      </aa-tab-navigation>
    </ng-container>
    <article class="blade-content">
      <router-outlet></router-outlet>
    </article>

    <aa-blade-footer>
      <aa-button buttonLabel="" buttonText="Save" buttonId="buttonId4" buttonClass="primary" fieldClass="label-hidden" [disabled]="''"></aa-button>
      <aa-button (buttonClick)="toggleBlade=false" buttonLabel="" buttonText="Cancel" buttonId="buttonId4" buttonClass="cancel" fieldClass="label-hidden" [disabled]="''"></aa-button>
      <aa-button buttonLabel="" buttonText="Reject" buttonId="buttonId4" buttonClass="reject" fieldClass="label-hidden" [disabled]="''"></aa-button>
    </aa-blade-footer>
  </div>
    <!-- Blade twoCol -->
    <div *ngIf="twoCol">
      <article class="blade-content">
        <div class="flex-group">
          <div class="field">
            <label>First name</label>
            <input type="text"/>
          </div>
          <div class="field">
            <label>Last name</label>
            <input type="text"/>
          </div>
        </div>
        <div class="flex-group">
          <div class="field">
            <label>Email</label>
            <input type="text"/>
          </div>
          <div class="field">
            <label>Phone</label>
            <input type="text"/>
          </div>
        </div>
        <div class="flex-group">
          <div class="field">
            <label>Mobile</label>
            <input type="text"/>
          </div>
          <div class="field">
            <label>Country</label>
            <input type="text"/>
          </div>
        </div>
        <div class="flex-group">
          <div class="field">
            <label>Language</label>
            <input type="text"/>
          </div>
          <div class="field">
            <label>Region</label>
            <input type="text"/>
          </div>
        </div>
        <div class="field max-width-unset">
          <label>Comments</label>
          <textarea></textarea>
        </div>
      </article>
  
      <aa-blade-footer>
        <aa-button buttonLabel="" buttonText="Save" buttonId="buttonId4" buttonClass="primary" fieldClass="label-hidden" [disabled]="''"></aa-button>
        <aa-button (buttonClick)="toggleBlade=false" buttonLabel="" buttonText="Cancel" buttonId="buttonId4" buttonClass="cancel" fieldClass="label-hidden" [disabled]="''"></aa-button>
        <aa-button buttonLabel="" buttonText="Reject" buttonId="buttonId4" buttonClass="reject" fieldClass="label-hidden" [disabled]="''"></aa-button>
      </aa-blade-footer>
    </div>

      <!-- Blade xlCol -->
      <div *ngIf="xlCol">
        <article class="blade-content">
          <div class="flex-group">
            <div class="field">
              <label>First name</label>
              <input type="text"/>
            </div>
            <div class="field">
              <label>Middle name</label>
              <input type="text"/>
            </div>
            <div class="field">
              <label>Last name</label>
              <input type="text"/>
            </div>
          </div>

          <div class="flex-group">
            <div class="field">
              <label>Email</label>
              <input type="text"/>
            </div>
            <div class="field">
              <label>Phone</label>
              <input type="text"/>
            </div>
            <div class="field">
              <label>Mobile</label>
              <input type="text"/>
            </div>
          </div>

          <div class="flex-group">
            <div class="field">
              <label>Language</label>
              <input type="text"/>
            </div>
            <div class="field">
              <label>Country</label>
              <input type="text"/>
            </div>
            <div class="field">
              <label>Region</label>
              <input type="text"/>
            </div>
          </div>
          <div class="field max-width-unset">
            <label>Comments</label>
            <textarea></textarea>
          </div>
          <table class="margin-top-1">
            <thead>
              <tr>
                <th>Status</th>
                <th>Approver</th>
                <th class="align-right">Created date</th>
                <th class="align-right">Modified date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let approval of approvals">
                <td datalabel="Status"><span class="alert-shield small" ngClass="{{ approval.statusClass }}">{{ approval.status }}</span></td>
                <td datalabel="Approver">{{ approval.approver }}</td>
                <td datalabel="Created date" class="align-right">{{ approval.created }}</td>
                <td datalabel="Modified date" class="align-right">{{ approval.modified }}</td>
              </tr>
            </tbody>
          </table>
        </article>
    
        <aa-blade-footer>
          <aa-button buttonLabel="" buttonText="Save" buttonId="buttonId4" buttonClass="primary" fieldClass="label-hidden" [disabled]="''"></aa-button>
          <aa-button (buttonClick)="toggleBlade=false" buttonLabel="" buttonText="Cancel" buttonId="buttonId4" buttonClass="cancel" fieldClass="label-hidden" [disabled]="''"></aa-button>
          <aa-button buttonLabel="" buttonText="Reject" buttonId="buttonId4" buttonClass="reject" fieldClass="label-hidden" [disabled]="''"></aa-button>
        </aa-blade-footer>
      </div>
</aa-blade>

<aa-blade 
  [customBlade]="true"
  [showModal]="false"
  [customBladeTabs]="true"
  [toggleBlade]="showCustomBlade"
  suppressAutoClose="false"
  topPosition="3.5"
  zIndex="10"
  bladeSize="one-column-width"
  (close)="showCustomBlade = false"
  [enablePinning]="false"
  (pinned)="pinBlade=!pinBlade"
>
  <ng-container custom-header>
    <div class="flex-group space-between">
      <h2>Custom header</h2>
      <div class="flex-group">
        <div class="alert-shield risk-green-approved">Risk green approved</div>
        <aa-button
        [customIcons]="true"
        buttonId="buttonId"
        buttonClass="custom-icons light-blue"
        fieldClass="boxed"
        buttonLabel="Custom icons"
        buttonText="Visibility"
        buttonIcon="visibility"
        disabled="">
      </aa-button>
      </div>
    </div>
    <ng-container custom-blade-tabs>
      <aa-tab-navigation [routerOutlet]="true">
        <ng-container list-items>
            <li *ngFor="let tab of tabs">
              <a 
                [id]="tab.tabId" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true, isActive: true}"
                [routerLink]="tab.routerLink"
              >
                {{ tab.name }}
              </a>
            </li>
        </ng-container>
      </aa-tab-navigation>
    </ng-container>
  </ng-container>
  <ng-container custom-content>
    <router-outlet></router-outlet>
  </ng-container>
    <ng-container custom-footer>
      <div class="flex-group flex-start">
        <aa-button buttonLabel="" buttonText="Save" buttonId="buttonId4" buttonClass="primary" fieldClass="label-hidden" [disabled]="''"></aa-button>
        <aa-button (buttonClick)="showCustomBlade=false" buttonLabel="" buttonText="Cancel" buttonId="buttonId4" buttonClass="cancel" fieldClass="label-hidden" [disabled]="''"></aa-button>
        <aa-button buttonLabel="" buttonText="Reject" buttonId="buttonId4" buttonClass="reject" fieldClass="label-hidden" [disabled]="''"></aa-button>
      </div>
  </ng-container>
</aa-blade>
