<section class="unauthorised flex-group flex-column space-between flex-nowrap">
    <div class="unauthorised-content">
        <h1>Unauthorised</h1>
        <p class="align-center margin-bottom-0-25">
            You are not authorised to perform the requested action. <br/>
            Your session may have timed out? <br/>
            Please retry the link from the main menu
        </p>      
        <a class="flex-center" href="https://core.angloamerican.com/security-amp/amp">
            <span class="material-icons padding-right-0-25 aa-blue-100">rocket_launch</span>
            Discover other applications
        </a>
    </div>
    <div class="unauthorised-image">
        <!-- <img src="./assets/images/unauthorised.svg" /> -->
        <app-graphic class="app-graphic"></app-graphic>
    </div>
</section>