<section class="control-bar">
    <h1>Stepper</h1>
</section>

<section class="content-container padding-0">

    <section class="content-repeater flex-group">

        <section class="flex-1 col-left flex-start">
          <h2>Stepper</h2>
          <div class="describe margin-bottom-1">
            <p>This is the stepper component used to step through large forms where we have
                limited space of the screen. Other components that can be used for this purpose are
                the progress-indicator and the accordions.</p>
          </div>
        </section>

        <section class="flex-2 col-right flex-start">
          <table class="half-width">
            <caption>Attributes</caption>
            <thead>
              <tr>
                <th>Element</th>
                <th>Attribute</th>
                <th>Type</th>
                <th>Default</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td datalabel="Element">ph-stepper</td>
                <td datalabel="Attribute">ph-stepper</td>
                <td datalabel="Type">Component</td>
                <td datalabel="Default">N/A</td>
              </tr>
            </tbody>
          </table>
        </section>

        <!-- mini menu -->
        <nav class="mini-menu flex-group flex-end">
            <button class="custom-icons bg-ph-light-blue-100" (click)="bladeIsOpen(true)">
              <span class="material-icons">visibility</span><span>View gist</span>
            </button>
          </nav>
      </section>

      <ph-stepper [formGroup]="stepperForm">
        <ng-container steps-header>
          <li *ngFor="let item of stepsHeader; let i = index">
            <a class="flex-align-center" [class.current-step]="currentIndex === i">
                <span *ngIf="currentIndex > i" class="ph-step-status material-icons">{{item.stepIcon}}</span>
                <span class="ph-step-status">{{item.stepNumber}}</span>
                <label class="ph-step-label">{{item.stepName}}</label>
            </a>
          </li>
        </ng-container>
        <ng-container steps-content>
          <div class="ph-steps flex-group" *ngFor="let item of stepsContent; let i = index" [class.selected]="currentIndex === i">
            <div
              class="field"
              [class.error]="stepperForm.controls.name.errors"
              [ngClass]="{'optional' : item.isOptional}"
            >
              <label>&nbsp;</label>
              <input
                    type="text"
                    placeholder="{{item.stepName}}"
                    formControlName="{{item.formInputName}}"
                >
            </div>
            <div class="field error margin-top-1">
                <div
                    *ngIf="stepperForm.controls.name.errors"
                    role="alert"
                >
                {{item.stepName}} is required
                </div>
            </div>
          </div>
          <ph-alert
            *ngIf="currentIndex>3"
            alertClass="success"
            alertText="Your details have been added successfully. You can now submit this form or start from the beginning by clicking the 'Reset' button."
            >
          </ph-alert>
        </ng-container>
        <ng-container steps-footer>
          <div *ngIf="currentIndex<4" class="flex-group flex-start">
            <button *ngIf="currentIndex>0" (click)="prevStep()" class="secondary">Previous</button>
            <button *ngIf="!stepperForm.controls.name.errors" class="primary" (click)="nextStep()">Next</button>
          </div>
          <div *ngIf="currentIndex>3" class="flex-group flex-start">
            <button class="reject" (click)="reset()">Reset</button>
            <button class="approve" type="submit">Submit</button>
          </div>
        </ng-container>
      </ph-stepper>

      <ph-blade
        [blockPageUI]="false"
        [toggleBlade]="toggleBlade"
        [suppressAutoClose]="false"
        topPosition="3.5rem"
        [zIndex]="2"
        bladeSize="one-column-width"
        bladeHeading="Gist"
        [enableIcon]="true"
        iconName="table_rows"
        (bladeOpen)="bladeIsOpen($event)"
        >
        <article class="blade-content">
          <a href="https://gist.github.com/PixelHeadsLtd/17891ef033fdd335be63123bb60e82bd" target="_blank">View Gist on GitHub</a>
          <app-gist src="PixelHeadsLtd/17891ef033fdd335be63123bb60e82bd"></app-gist>
        </article>
      </ph-blade>

</section>
