<div class="content-container padding-top-0 poem">
  <h2>Tab 2 content</h2>
  <p>The plates will still shift
      and the clouds will still spew.
      The sun will slowly rise
      and the moon will follow too
  </p>
</div>

<div class="blades-data">
  <h3 class="boxed">Mixing accordions and regular form elements</h3>
  <ph-accordion
  [disabled]="true"
  (open)="showBodyOne = true"
  [dragable]="false"
  [showBody]="showBodyOne"
  accordionHeading="Bank account details"
  accordionId="accordion01"
  sectionId="section01"
  [iconsEnabled]="true"
  iconName="account_balance"
  coreIconClass=""
  customBgColor="bg-ph-blue-sky-100"
  >
    <ph-accordion
    [disabled]="false"
    (open)="showNestedOne = true"
    [dragable]="false"
    [showBody]="showNestedOne"
    accordionHeading="How should we address you?"
    accordionId="accordion01"
    sectionId="section01"
    [iconsEnabled]="true"
    coreIconClass=""
  >
      <div class="field">
        <label>First name</label>
        <input type="text"/>
      </div>
      <div class="field">
        <label>Last name</label>
        <input type="text"/>
      </div>
  </ph-accordion>
  <ph-accordion
    [disabled]="false"
    (open)="showNestedTwo = true"
    [dragable]="false"
    [showBody]="showNestedTwo"
    accordionHeading="How should we contact you?"
    accordionId="accordion01"
    sectionId="section01"
    [iconsEnabled]="true"
    coreIconClass=""
  >
    <div header-custom></div>
      <div class="field">
        <label>Email</label>
        <input type="text"/>
      </div>
      <div class="field">
        <label>Phone</label>
        <input type="text"/>
      </div>
  </ph-accordion>
  <ph-accordion
    [disabled]="false"
    (open)="showNestedThree = true"
    [dragable]="false"
    [showBody]="showNestedThree"
    accordionHeading="What's your preferred language?"
    accordionId="accordion01"
    sectionId="section01"
    [iconsEnabled]="true"
    coreIconClass=""
  >
    <div header-custom></div>
      <div class="field">
        <label>Language</label>
        <input type="text"/>
      </div>
      <div class="field">
        <label>Country</label>
        <input type="text"/>
      </div>
  </ph-accordion>
  </ph-accordion>
  <ph-accordion
  [disabled]="false"
  (open)="showBodyTwo = true"
  [dragable]="false"
  [showBody]="showBodyTwo"
  accordionHeading="Company management team"
  accordionId="accordion01"
  sectionId="section01"
  [iconsEnabled]="true"
  iconName="people"
  coreIconClass=""
  customBgColor="bg-ph-blue-sky-100"
  >
  <div header-custom><div class="alert-shield small info">Custom content</div></div>
    <div class="field boxed">
      <label>Comments</label>
      <textarea></textarea>
    </div>
  </ph-accordion>
  <ph-accordion
  [disabled]="false"
  (open)="showBodyThree = true"
  [dragable]="false"
  [showBody]="showBodyThree"
  accordionHeading="Instructions on adding accordions"
  accordionId="accordion01"
  sectionId="section01"
  [iconsEnabled]="true"
  iconName="hearing"
  coreIconClass=""
  >
  <div class="field boxed">
    <p>If you would like to use an accordion in your blade. Just add the 
      <a class="cursor-pointer" routerLink="/accordion">standard accordion</a> like you would 
      normally. For nested accordions, you will still need the boolean 
      [iconsEnabled] but you won't need to add the iconName or coreIconClass
      as these are modified in css.
    </p>
  </div>
  </ph-accordion>
  <ph-accordion
  [disabled]="false"
  (open)="showBodyFour = true"
  [dragable]="false"
  [showBody]="showBodyFour"
  accordionHeading="Instructions for adding tabs"
  accordionId="accordion01"
  sectionId="section01"
  [iconsEnabled]="true"
  iconName="password"
  coreIconClass=""
  >
  <div class="field boxed">
    <h3>Standard blade</h3>
    <p>
      Please refer to the gist file. You have to make sure that the ph-tab-navigation component 
      sits just above the blade-content wrapper. Then ensure that your router-outlet sits 
      inside the blade-content wrapper. 
    </p>
    <h3>Custom blade</h3>
    <p>
      If adding tabs to the custom-blade, you will need to add an ng-container with the select name 
      custom-blade-tabs just inside your custom-header and below your content for the custom-header. 
      Then add your router-outlet inside the custom-content ng-container wrapper. Again please refer 
      to the custom-blade gist file.
    </p>
  </div>
  </ph-accordion>
  <div class="field">
      <label>First name</label>
      <input type="text"/>
  </div>
  <div class="field">
      <label>Last name</label>
      <input type="text"/>
  </div>

  <div class="field">
      <label>Email</label>
      <input type="text"/>
  </div>
  <div class="field">
      <label>Phone</label>
      <input type="text"/>
  </div>

  <div class="field">
      <label>Mobile</label>
      <input type="text"/>
  </div>
  <div class="field">
      <label>Country</label>
      <input type="text"/>
  </div>

  <div class="field">
      <label>Language</label>
      <input type="text"/>
  </div>
  <div class="field max-width-unset">
      <label>Comments</label>
      <textarea></textarea>
  </div>
</div>
