.material-icons {font-family: 'material-icons'}
.material-icons-outlined {font-family: 'material-icons-outlined'}

.material-icons,
.material-icons-outlined {
  font-size: 1.85rem;
  line-height: initial;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  overflow: hidden;

  &.xxsmall {
    font-size: _font(size-default);
  }

  &.xsmall {
    font-size: _font(size-regular);
  }

  &.small {
    font-size: _font(size-medium);
  }

  &.medium {
    font-size: _font(size-large);
  }

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.icon-red {
      color: _palette(aa-red-100);
  }
  &.icon-green {
      color: _palette(aa-green-100);
  }

  &.icon-blue {
      color: _palette(aa-light-blue-100);
  }

  &.icon-dark-blue {
      color: _palette(aa-blue-100);
  }

  &.icon-black {
      color: _palette(aa-dark-grey-100);
  }

  &.icon-orange {
      color: _palette(aa-orange-100);
  }

  &.icon-body-text {
     color: _colour(aa-grey-100);
  }
}

.icon-body-text {
  color: _colour(aa-grey-100);
}
