<section class="control-bar">
  <h1>Feature box</h1>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Feature box</h2>
      <div class="describe margin-bottom-1">
        <p>
          This is .feature-box. Or, if you just want, for example, to have a paragraph stand out,<br/>
          we also have .feature in <a routerLink="/editorial-content">editorial content.</a> </p>
      </div>

      <aa-feature-box>
        <div class="flex-group flex-start">
          <div class="field boxed">
            <button class="primary">Hello</button>
          </div>
          <div class="field boxed">
            <button class="secondary">Goodbye</button>
          </div>
        </div>
      </aa-feature-box>

      <h3>Feature box solid</h3>
      <aa-feature-box [isSolid]="true">
        <div class="flex-group flex-start">
          <div class="field boxed">
            <button class="primary">Hello</button>
          </div>
          <div class="field boxed">
            <button class="secondary">Goodbye</button>
          </div>
        </div>
      </aa-feature-box>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-feature-box</td>
            <td datalabel="Attribute">[isSolid]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button
        class="custom-icons bg-aa-light-blue-100"
        (click)="
          bladeIsOpen(true);
          featureBox=true;
          featureBoxCustomBorder=false;
          featureBoxCustomContent=false;
          featureBoxApproval=false
        "
      >
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>

   <!-- start content repeater -->
   <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Feature box - custom border colour</h2>
      <div class="describe margin-bottom-1">
        <p>You can choose to add the class 'feature-box' to any container,
          or you can choose to use the component as seen in the mixed content version
          further down the page.
        </p>
      </div>

      <aa-feature-box
        fbStatus="error"
      >
        <p class="padding-bottom-0-25">[borderOrange]=true</p>
        <div class="flex-group flex-start">
          <div class="field boxed">
            <button class="primary">Hello</button>
          </div>
          <div class="field boxed">
            <button class="secondary">Goodbye</button>
          </div>
        </div>
      </aa-feature-box>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-feature-box</td>
            <td datalabel="Attribute">fbStatus</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">.error, .pending, .success</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button
        class="custom-icons bg-aa-light-blue-100"
        (click)="
          bladeIsOpen(true);
          featureBox=false;
          featureBoxCustomBorder=true;
          featureBoxCustomContent=false;
          featureBoxApproval=false
        "
      >
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>

    <!-- start content repeater -->
    <section class="content-repeater flex-group">
      <section class="flex-1 col-left flex-start">
        <h2>Feature box - mixed content example</h2>
        <div class="describe margin-bottom-1">
          <p>
            As mentioned above, you can add the feature-box class to any element along
            with any other modifiers. However, we also have a component that allows you
            to add custom content, either as a single column or two collumn layout as
            seen in the below example.
          </p>
        </div>

        <div class="flex-group flex-start">
          <aa-feature-box
            *ngFor="let item of featureBoxArray"
            [includeHeader]="true"
            [enableScrolling]="item.scolling"
            [marginTop]="item.marginTop"
            [marginBottom]="item.marginBottom"
            [fbWidth]="item.width"
            [fbHeight]="item.height"
            [fbStatus]="item.status"
          >
            <ng-container custom-header>
              <header class="flex-group flex-start flex-align-center margin-bottom-1">
                <div class="material-icons margin-right-0-5 {{item.status}}">{{item.iconName}}</div>
                <h3 class="margin-0">{{item.title}}</h3>
              </header>
            </ng-container>

            <ng-container custom-content>
              <div
                  *ngFor="let item of fbContent"
                  class="flex-group space-between flex-nowrap flex-align-center"
                >
                  <span>{{item.name}}</span>
                  <aa-alert-shield
                    [alertShieldSmall]="true"
                    [noWrap]="true"
                    minWidth="12rem"
                    [alertShieldStatus]="item.status"
                    [alertShieldText]="item.text"
                  >
                  </aa-alert-shield>
              </div>
            </ng-container>
          </aa-feature-box>
        </div>
      </section>

      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>
            Attributes
          </caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">aa-feature-box</td>
              <td datalabel="Attribute">[includeHeader]</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">True</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-feature-box</td>
              <td datalabel="Attribute">[enableScrolling]</td>
              <td datalabel="Type">Boolean</td>
              <td datalabel="Default">True</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-feature-box</td>
              <td datalabel="Attribute">fbStatus</td>
              <td datalabel="Type">String</td>
              <td datalabel="Default">.error, .pending, .success</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-feature-box</td>
              <td datalabel="Attribute">fbWidth</td>
              <td datalabel="Type">Any</td>
              <td datalabel="Default">Your width in rem or %</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-feature-box</td>
              <td datalabel="Attribute">fbHeight</td>
              <td datalabel="Type">Any</td>
              <td datalabel="Default">Your height in rem or %</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-feature-box</td>
              <td datalabel="Attribute">marginTop</td>
              <td datalabel="Type">Any</td>
              <td datalabel="Default">Your margin-top in rem</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-feature-box</td>
              <td datalabel="Attribute">marginBottom</td>
              <td datalabel="Type">Any</td>
              <td datalabel="Default">Your margin-bottom in rem</td>
            </tr>
            <tr>
              <td datalabel="Element">aa-feature-box</td>
              <td datalabel="Attribute">iconName</td>
              <td datalabel="Type">String</td>
              <td datalabel="Default"><a target="_blank" href="https://fonts.google.com/icons?icon.set=Material+Icons&icon.style=Filled">Your icon name</a></td>
            </tr>
            <tr>
              <td datalabel="Element">aa-feature-box</td>
              <td datalabel="Attribute">fbTitle</td>
              <td datalabel="Type">String</td>
              <td datalabel="Default">Your title</td>
            </tr>
          </tbody>
        </table>
      </section>

      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
        <button
          class="custom-icons bg-aa-light-blue-100"
          (click)="
            bladeIsOpen(true);
            featureBox=false;
            featureBoxCustomBorder=false;
            featureBoxCustomContent=true;
            featureBoxApproval=false
          "
        >
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
    </section>

  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Feature box - with approval status</h2>
      <div class="describe margin-bottom-1">
        <p>This is .feature-box to contain elements with approval status.</p>
      </div>

      <aa-feature-box fbWidth="30rem">
        <div class="field boxed">
          <label>Reason</label>
          <textarea>Some reason here...</textarea>
        </div>
        <div class="flex-group flex-center">
          <div class="field">
            <button class="reject">Reject</button>
          </div>
          <div class="field">
            <button class="cancel">Cancel</button>
          </div>
        </div>
      </aa-feature-box>

      <aa-feature-box fbStatus="error" marginTop="1rem" fbWidth="30rem">
        <div class="field boxed">
          <label>Reason</label>
          <textarea>Some reason here...</textarea>
        </div>
        <div class="flex-group flex-center">
          <div class="field">
            <button class="reject">Reject</button>
          </div>
          <div class="field">
            <button class="cancel">Cancel</button>
          </div>
        </div>
      </aa-feature-box>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-feature-box</td>
            <td datalabel="Attribute">fbStatus</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">.error, .pending, .success</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-feature-box</td>
            <td datalabel="Attribute">marginTop</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Your margin-top in rem</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-feature-box</td>
            <td datalabel="Attribute">fbWidth</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Your width in rem or %</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button
        class="custom-icons bg-aa-light-blue-100"
        (click)="
          bladeIsOpen(true);
          featureBox=false;
          featureBoxCustomBorder=false;
          featureBoxCustomContent=false;
          featureBoxApproval=true
        "
      >
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
</section>

<aa-blade
    [blockPageUI]="false"
    [toggleBlade]="toggleBlade"
    [suppressAutoClose]="false"
    topPosition="3.5rem"
    [zIndex]="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (bladeOpen)="bladeIsOpen($event)"
>
  <article class="blade-content">
    <div *ngIf="featureBox">
      <a href="https://gist.github.com/angloux/8de5885db91a49f49bb92943e4b2a8d1" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/8de5885db91a49f49bb92943e4b2a8d1"></app-gist>
    </div>
    <div *ngIf="featureBoxCustomBorder">
      <a href="https://gist.github.com/angloux/06d969123eb65527ed466afb95161e7d" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/06d969123eb65527ed466afb95161e7d"></app-gist>
    </div>
    <div *ngIf="featureBoxCustomContent">
      <a href="https://gist.github.com/angloux/602a7d33d69e9461c6e1be269be79caf" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/602a7d33d69e9461c6e1be269be79caf"></app-gist>
    </div>
      <div *ngIf="featureBoxApproval">
        <a href="https://gist.github.com/angloux/1eb6f5a7ce929aa08b9d9bbb3c54f534" target="_blank">View Gist on GitHub</a>
        <app-gist src="angloux/1eb6f5a7ce929aa08b9d9bbb3c54f534"></app-gist>
      </div>
  </article>
</aa-blade>
