<!-- start content repeater -->
<section class="content-repeater flex-group">
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen(true)">
            <span class="material-icons">visibility</span><span>View gist</span>
        </button>
    </nav>
    <aa-unauthorised
        title="Unauthorised"
        strapline="You are not authorised to perform the
        requested action. Your session may have timed out?
        Please retry the link from the main menu"
        straplineWidth="22rem"
    >
    </aa-unauthorised>
</section>

<aa-blade
    [blockPageUI]="false"
    [toggleBlade]="toggleBlade"
    [suppressAutoClose]="false"
    topPosition="3.5rem"
    [zIndex]="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (bladeOpen)="bladeIsOpen($event)"
>
<article class="blade-content">
    <a href="https://gist.github.com/angloux/47fe0ee950902d394b914f90ac1248ab" target="_blank">View Gist on GitHub</a>
    <app-gist src="angloux/47fe0ee950902d394b914f90ac1248ab"></app-gist>
</article>
</aa-blade>


