<section class="control-bar">
  <h1>Field validation</h1>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Validation for all inputs</h2>
      <div class="describe margin-bottom-1">
        <p>Pass in a state as a class (eg .error) in your div.field. This will change
          the styling of the input and the alert message.</p>
      </div>
      <div class="flex-group">
        <div class="field error">
          <label for="text-input-1">Field error incomplete</label>
          <input type="text" name="text-input-1" id="text-input-1" />
          <div role="alert">Please provide an answer</div>
        </div>
    
        <div class="field error">
          <label for="text-input-2">Field error invalid</label>
          <input type="text" name="text-input-2" id="text-input-2" />
          <div role="alert">
            Please enter a valid UK passport number - must be 8 alphanumeric
            characters
          </div>
        </div>
      </div>
      <div class="field error small">
        <label for="text-input-3">Field error invalid password</label>
        <input type="password" name="text-input-3" id="text-input-3" />
        <div role="alert">Please enter a valid password</div>
      </div>
    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">Parent div</td>
            <td datalabel="Attribute">class</td>
            <td datalabel="Type">Classname</td>
            <td datalabel="Default">.field .error</td>
          </tr>
          <tr>
            <td datalabel="Element">Child div</td>
            <td datalabel="Attribute">role</td>
            <td datalabel="Type">Role</td>
            <td datalabel="Default">alert</td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons small bg-aa-light-blue-100" 
          (click)="copyToClipboard(fieldValidationHTML)">
          <span class="material-icons">content_copy</span><span>Copy component</span>
        </button>
        <button class="custom-icons small bg-aa-light-blue-100" (click)="bladeIsOpen($event)">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>
</section>

<aa-blade 
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
  >
  <article class="blade-content">
    <app-gist src="angloux/d857175e82d073b8f24e42dc6181d837"></app-gist>
    <a href="https://gist.github.com/angloux/d857175e82d073b8f24e42dc6181d837" target="_blank">View Gist on GitHub</a>
  </article>
</aa-blade>
