$white: #fff;
$black: #000;

@function aa-colour($base, $number: 100) {
    @return map-get($base, $number);
}

$aa-blue: (
    100: #002776,
    70: #4d689f,
    60: #667dad,
    50: #7f93ba,
    40: #a4aece
);

$aa-light-blue: (
    100: #0075b0,
    80: #3391c0,
    60: #66add0,
    40: #99c8df,
    10: #e5f1f7,
    5: #f2f8fb
);

$aa-red: (
    100: #c60c30,
    80: #d13d59,
    50: #e28597,
    5: #fcf3f4
);

$aa-grey: (
    100: #323232,
    50: #797979,
    25: #c7c7c7,
    10: #ddd,
    5: #f1f1f1
);

$aa-green: (
    100: #008770,
    50: #7fc3b7,
    5:#e5f3f0
);

$aa-orange: (
    100: #e98300,
    50: #f4c17f,
    5: #fef9f2
);
