.grid-tile {

    .tile-title {
        padding-left: .75rem;
    }
}

.ag-grid-container {
    position: absolute;
    top: 2.75rem;
    bottom: 0;
}

.aa-ag-grid {
    min-height: 100%;
}


// DL overrides

body.light-mode, body.dark-mode {

    .tile-container {
        .ag-theme-balham:not(.ag-popup) {
            color: inherit !important;
            font-size: .875rem;

            .ag-row-focus, .ag-row-hover {
                //color: initial !important;
                opacity: 1;
                background-color: rgba(251,251,251,.25)!important;
            }

            .ag-header-row,
            .ag-header-icon,
            .ag-group-contracted,
            .ag-group-expanded,
            .ag-paging-button {
                color: unset !important
            }

            .ag-header-cell, .ag-row .ag-cell {
                &:first-child {
                    padding-left: .75rem!important;
                }
            }

            .ag-paging-panel {
                justify-content: left !important;
                padding: .5rem 0 1rem 0 !important;
                border-top-width: 1px;
                border-style: solid;
            }

            .ag-root, .ag-paging-panel {
                border: none !important;
            }

            .ag-menu-option, .ag-paging-panel {
                font-family: 'aa-smart-sans-regular', 'din-regular', sans-serif;
            }

        }

        .ag-root-wrapper, .ag-root, .ag-header, .ag-paging-panel, .ag-row {
            background-color: inherit !important;
            color: unset !important;
            border-color: inherit !important;
        }

        .ag-row {
            //border-color: rgb(255,255,255) !important;
        }

        .ag-header-row, .ag-header-cell-text {
            font-weight: unset!important;
            font-family: 'din-medium', sans-serif;
        }

        .ag-paging-panel {

        }

        .ag-header-cell-text {
            color: unset !important;
        }

        input {
            opacity: .85;
        }
    }
}

