.navigation-tile {
    .show-grid {
        display: none;
    }

    &:hover {
        .show-grid {
            display: inline-block;
            position: absolute;
            right: .5rem;
            top: .5rem;

            a {
                text-decoration: none;
            }

            span,
            a,
            app-pin-tile {
                margin-left: 5px;
                color: inherit;
                cursor: pointer;
            }
        }
    }

}
