
.tile {
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.075), 0 0 0 1px rgba(0, 0, 0, 0.045);
    &:hover {
        .extra {
            display: block;
        }
    }
}

.tile-container {
    height: 100%;
    display: block;


    .grid-tile {
        padding: .75rem 0;
        height: 100%;
    }

    .chart-tile, .detail-tile, .filter-tile, .navigation-tile, .number-tile {
        padding: .75rem;
        height: 100%;
    }

    label {
        color: inherit!important;
    }
}

.tile-opacity {
    opacity: 1;
}

.tile-config {
    font-size: .875rem;
    position: absolute;
    z-index: 1000;

    a {
        color: unset!important;
        padding-left: .75rem;
    }

    &.bottom  {
        bottom: .75rem;
        right: .75rem;
    }

    &.top  {
        top: .6em;
        right: 2em;
    }
}

.tile-control {
    font-size: .875rem;
    position: absolute;
    top: .5rem;
    right: .75rem;
    cursor: pointer;

    a {
        color: unset !important;
    }
}

.tile-icon {
    font-size: .875rem;
    position:absolute;
    bottom: .75rem;
    left: .75rem;
}

.tile-title {
    font-size: .875rem !important;
    font-family: 'din-medium', 'roboto-regular', 'sans-serif';
    padding-right: 3rem;

    a {
        cursor: pointer;
        color: inherit!important;
        display: inline;
    }

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
