.tile-container {

    .fa, .fas {
        font-family: 'font-awesome', sans-serif !important;
        font-size: .875rem;
    }

    .show-grid {
        display: none;

    }

    &:hover {
        .show-grid {
            display: inline-block;
            position: absolute;
            right: .75rem;
            top: .75rem;

            a {
                text-decoration: none;
            }

            span,
            a,
            app-pin-tile {
                margin-left: .25rem;
                color: inherit;
                cursor: pointer;
            }
        }
    }

}

