<section class="control-bar">
  <aa-anchor-back [anchorBackText]="'Style guide'" routerLink=""></aa-anchor-back>
  <h1>AG Grid</h1>
</section>
<section class="content-container grid ag-grid-full-height" [ngStyle]="{'height' : 'calc(100vh - 9rem)'}">
  <section class="content-repeater flex-group">  
      <section class="flex-1 col-left flex-start">
        <h2>Anchor</h2>
        <div 
          role="alert"
          class="error margin-bottom-1" 
          >
          If the functionality AG-Grid offers is not required for your project, such as the ability to reorder columns etc, 
          please always use a <a class="aa-red-100" routerLink="/tables">native table</a> 
        </div>
        <div class="describe">
          <p>
            Use ag-grid version <strong class="aa-red-100">v24.1.0</strong>. We have the licence for 26.2.0
            but this introduces a bug on the click event of the context-menu and only right-click works.
          </p>
          <p>
            For details around setting ag-grid height, custom-tooltips and context-menus, please<br/>
            click the "view gist" button on the right to open the side blade instructions.
          </p>
          <p>For ag-grid documentation, please visit the <a href="https://www.ag-grid.com/angular-data-grid/getting-started/" target="_blank">ag-grid website.</a> </p>
        </div>
        <div class="flex-group flex-start">
          <div class="field">
            <button (click)="autoSizeAll()" class="primary small">Autosize all</button>
          </div>
          <div class="field">
            <button (click)="sizeToFit()" class="primary small">Size to fit</button>
          </div>
        </div>
      </section>
        
      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">Page-level content-container</td>
              <td datalabel="Attribute">Class</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">.content-container .grid .ag-grid-full-height</td>
            </tr>
            <tr>
              <td datalabel="Element">Page-level content-container</td>
              <td datalabel="Attribute">[NgStyle]</td>
              <td datalabel="Type">Custom style</td>
              <td datalabel="Default">height : calc(100vh - 9rem)</td>
            </tr>
            <tr>
              <td datalabel="Element">ag-grid wrapper div</td>
              <td datalabel="Attribute">Class</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">.ag-grid-wrapper</td>
            </tr>
            <tr>
              <td datalabel="Element">ag-grid-angular</td>
              <td datalabel="Attribute">class</td>
              <td datalabel="Type">class name</td>
              <td datalabel="Default">.ag-theme-balham .ag-grid</td>
            </tr>
            <tr>
              <td datalabel="Element">TypeScript</td>
              <td datalabel="Attribute"><strong class="aa-red-100">cellClass</strong> for your cell in columnDefs array</td>
              <td datalabel="Type">Optional class for the <strong class="aa-red-100">tooltip marker chevron</strong></td>
              <td datalabel="Default">
                <strong class="aa-grey-25">.cell-marker-grey, </strong>
                <strong class="aa-light-blue-100">.cell-marker-blue, </strong>
                <strong class="aa-green-100">.cell-marker-green, </strong>
                <strong class="aa-orange-100">.cell-marker-orange, </strong>
                <strong class="aa-red-100">.cell-marker-red</strong>
              </td>
            </tr>
          </tbody>
        </table>
        <button (click)="bladeIsOpen($event)" class="margin-top-1 tertiary">See Gist for sample HTML, custom tooltips and context-menus</button>
      </section>
      
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
          <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event)">
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
    </section>

    <div class="ag-grid-wrapper">
      <ag-grid-angular 
        #agGrid id="myGrid"
        class="ag-theme-balham ag-grid"
        [tooltipShowDelay]="tooltipShowDelay"
        [enableRangeSelection]="false"
        [rowSelection]="'multiple'"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        [pagination]="true"
        (gridReady)="onGridReady($event)"
        [preventDefaultOnContextMenu]="true"
        [suppressClickEdit]="true">
    </ag-grid-angular>
    </div>
    
    <aa-blade 
      [showModal]="false"
      [toggleBlade]="toggleBlade"
      suppressAutoClose="false"
      topPosition="3.5"
      zIndex="2"
      bladeSize="two-column-width"
      bladeHeading="Gist"
      [enableIcon]="true"
      iconName="table_rows"
      (close)="toggleBlade = false"
      >
      <article class="blade-content">
        <h2 class="margin-bottom-0-25">General</h2>
        <!-- licence -->
        <aa-accordion
          [disabled]="false"
          (open)="
            getLicence = true;
            settingHeight=false;
            customTooltipOne=false; 
            customTooltipTwo=false; 
            customTooltipThree=false; 
            customTooltipFour=false; 
            contextMenuOne=false; 
            contextMenuTwo=false; 
            contextMenuThree=false; 
            contextMenuFour=false; 
            contextMenuFive=false;
            validation=false
          "
          [dragable]="false"
          [showBody]="getLicence"
          accordionHeading="Get the latest Ag-grid licence"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconBgColor=""
          iconName="settings"
        >
          <h2 class="margin-top-0">Copy and paste the licence code into your 'environment.ts' file</h2>
          <div class="flex-group flex-start">
            <button class="secondary" (click)="copyToClipboard(agGridLicence)">Click here to copy the code</button>
            <div *ngIf="codeCopied" class="copied flex-group flex-start flex-align-center">
              <div class="material-icons aa-orange-100 margin-right-0-25">thumb_up_alt</div>
              <p class="padding-top-0-25 italic">Licence copied!</p>
            </div>
          </div>
        </aa-accordion>
        <!-- setting height -->
        <aa-accordion
          [disabled]="false"
          (open)="
            getLicence = false;
            settingHeight=true;
            customTooltipOne=false; 
            customTooltipTwo=false; 
            customTooltipThree=false; 
            customTooltipFour=false; 
            contextMenuOne=false; 
            contextMenuTwo=false; 
            contextMenuThree=false; 
            contextMenuFour=false; 
            contextMenuFive=false;
            validation=false
          "
          [dragable]="false"
          [showBody]="settingHeight"
          accordionHeading="Instructions for setting the ag-grid height"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconBgColor=""
          iconName="settings"
        >
          <div header-custom>
            <a class="aa-white-100" href="https://gist.github.com/angloux/eb0cf91a2f53876188e72aa94a9b4000" target="_blank">View Gist on GitHub</a>
          </div>
          <h2 class="margin-top-0">Setting the grid height to use all the available space</h2>
          <div role="alert" class="error margin-bottom-1">
            There are a few important rules that you need to follow for 
            the height setting to work correctly. Please follow the 8 steps below
          </div>
          <ol class="margin-bottom-1 aa-red-100">
            <li class="padding-bottom-0-5">Ensure the <strong class="aa-light-blue-100">ngStyle</strong> height setting is set on the wrapper that encapsulates the entire page. If there's markup outside this wrapper apart from the control-bar, then the page will not be able to calculate the height properly</li>
            <li class="padding-bottom-0-5">On this wrapper include the class names <strong class="aa-light-blue-100">grid</strong> and <strong class="aa-light-blue-100">ag-grid-full-height</strong></li>
            <li class="padding-bottom-0-5">Your ag-grid table MUST be the child element of the page wrapper mentioned above (1) and NOT the ancestor</li>
            <li class="padding-bottom-0-5">You must wrap your <strong class="aa-light-blue-100">ag-grid-angular</strong> inside a wrapper with the class name <strong class="aa-light-blue-100">ag-grid-wrapper</strong></li>
            <li class="padding-bottom-0-5">Make sure the ONLY class names you have on your <strong class="aa-light-blue-100">ag-grid-angular</strong> are <strong class="aa-light-blue-100">ag-theme-balham</strong> and <strong class="aa-light-blue-100">ag-grid</strong></li>
            <li class="padding-bottom-0-5">Make sure your <strong class="aa-light-blue-100">ag-grid-angular</strong> with its above wrapper is the last item on your page and below any other content that you might be displaying above the grid</li>
            <li class="padding-bottom-0-5">Check the ag-grid <strong class="aa-light-blue-100">TypeScript file</strong> to ensure no height is being set. Also, check the project <strong class="aa-light-blue-100">Styles.scss</strong> file to make sure no custom css is being applied that sets the height</li>
            <li>When your structure is complete, adjust the 9rem value that's set on the aforementioned page wrapper <strong class="aa-light-blue-100">ngStyle</strong>, until the browser scrollbars disappear and teh bottom of your grid meets the bottom of the page nicely</li>
          </ol>
          <iframe frameborder=0 
          style="width: 100%; height: 53rem;" 
          scrolling="no" 
          seamless="seamless" 
          srcdoc='<html><body><script src="https://gist.github.com/angloux/eb0cf91a2f53876188e72aa94a9b4000.js"></script></body></html>'
          ></iframe>
          <img src="../../assets/images/ag-grid-height.png" />
        </aa-accordion>

        <!-- adding a custom tooltip - part 1 -->
        <h2 class="margin-top-1 margin-bottom-0-25">Creating a custom tooltip</h2>
        <aa-accordion
          [disabled]="false"
          (open)="
            getLicence = false;
            settingHeight=false;
            customTooltipOne=true; 
            customTooltipTwo=false; 
            customTooltipThree=false; 
            customTooltipFour=false; 
            contextMenuOne=false; 
            contextMenuTwo=false; 
            contextMenuThree=false; 
            contextMenuFour=false; 
            contextMenuFive=false;
            validation=false
          "
          [dragable]="false"
          [showBody]="customTooltipOne"
          accordionHeading="Part 1 of 4"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconBgColor="aa-blue-100"
          iconName="sms"
        >
          <h2 class="margin-top-0">Part 1 of 4</h2>
          <h3>Install the following packages in packages.json</h3>
          <p>
            <strong class="aa-red-100">"ag-grid-angular": "^26.2.0"</strong><br/>
            <strong class="aa-red-100">"ag-grid-community": "^26.2.0"</strong>
          </p>
        </aa-accordion>

        <!-- adding a custom tooltip - part 2 -->
        <aa-accordion
          [disabled]="false"
          (open)="
            getLicence = false;
            settingHeight=false;
            customTooltipOne=false; 
            customTooltipTwo=true; 
            customTooltipThree=false; 
            customTooltipFour=false; 
            contextMenuOne=false; 
            contextMenuTwo=false; 
            contextMenuThree=false; 
            contextMenuFour=false; 
            contextMenuFive=false;
            validation=false
          "
          [dragable]="false"
          [showBody]="customTooltipTwo"
          accordionHeading="Part 2 of 4"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconBgColor="aa-blue-100"
          iconName="sms"
        >
          <div header-custom>
            <a class="aa-white-100" href="https://gist.github.com/angloux/41635eefa1d9656f3f8f9a719d82c7c7" target="_blank">View Gist on GitHub</a>
          </div>
          <h2 class="margin-top-0">Part 2 of 4 - Add ag-grid</h2>
          <iframe frameborder=0 
          style="width: 100%; height: 46rem;" 
          scrolling="no" 
          seamless="seamless" 
          srcdoc='<html><body><script src="https://gist.github.com/angloux/41635eefa1d9656f3f8f9a719d82c7c7.js"></script></body></html>'
          ></iframe>
        </aa-accordion>

        <!-- adding a custom tooltip - part 3 -->
        <aa-accordion
          [disabled]="false"
          (open)="
            getLicence = false;
            settingHeight=false;
            customTooltipOne=false; 
            customTooltipTwo=false; 
            customTooltipThree=true; 
            customTooltipFour=false; 
            contextMenuOne=false; 
            contextMenuTwo=false; 
            contextMenuThree=false; 
            contextMenuFour=false; 
            contextMenuFive=false;
            validation=false
          "
          [dragable]="false"
          [showBody]="customTooltipThree"
          accordionHeading="Part 3 of 4"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconBgColor="aa-blue-100"
          iconName="sms"
        >
          <div header-custom>
            <a class="aa-white-100" href="https://gist.github.com/angloux/2e68516ea72b5c8452e08175e501cfe4" target="_blank">View Gist on GitHub</a>
          </div>
          <h2 class="margin-top-0">Part 3 of 4 - Create the tooltip component to be imported in part 2</h2>
          <iframe frameborder=0 
          style="width: 100%; height: 50rem;" 
          scrolling="no" 
          seamless="seamless" 
          srcdoc='<html><body><script src="https://gist.github.com/angloux/2e68516ea72b5c8452e08175e501cfe4.js"></script></body></html>'
          ></iframe>
        </aa-accordion>

        <!-- adding a custom tooltip - part 4 -->
        <aa-accordion
          [disabled]="false"
          (open)="
            getLicence = false;
            settingHeight=false;
            customTooltipOne=false; 
            customTooltipTwo=false; 
            customTooltipThree=false; 
            customTooltipFour=true; 
            contextMenuOne=false; 
            contextMenuTwo=false; 
            contextMenuThree=false; 
            contextMenuFour=false; 
            contextMenuFive=false;
            validation=false
          "
          [dragable]="false"
          [showBody]="customTooltipFour"
          accordionHeading="Part 4 of 4"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconBgColor="aa-blue-100"
          iconName="sms"
        >
          <div header-custom>
            <a class="aa-white-100" href="https://gist.github.com/angloux/cd4b84883f31fd781b81c14d121379dc" target="_blank">View Gist on GitHub</a>
          </div>
          <h2 class="margin-top-0">Part 4 of 4 - Update your app.module</h2>
          <iframe frameborder=0 
          style="width: 100%; height: 25rem;" 
          scrolling="no" 
          seamless="seamless" 
          srcdoc='<html><body><script src="https://gist.github.com/angloux/cd4b84883f31fd781b81c14d121379dc.js"></script></body></html>'
          ></iframe>
        </aa-accordion>

        <!-- adding a context menu - part 1 -->
        <h2 class="margin-top-1 margin-bottom-0-25">Creating a context-menu</h2>
        <aa-accordion
          [disabled]="false"
          (open)="
            getLicence = false;
            settingHeight=false;
            customTooltipOne=false; 
            customTooltipTwo=false; 
            customTooltipThree=false; 
            customTooltipFour=false; 
            contextMenuOne=true; 
            contextMenuTwo=false; 
            contextMenuThree=false; 
            contextMenuFour=false; 
            contextMenuFive=false;
            validation=false
          "
          [dragable]="false"
          [showBody]="contextMenuOne"
          accordionHeading="Part 1 of 5"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconBgColor="aa-yellow-100"
          iconName="menu_open"
        >
          <h2 class="margin-top-0">Part 1 of 5</h2>
          <h3>Install the following packages in packages.json</h3>
          <p>
            <strong class="aa-red-100">"ag-grid-angular": "^26.2.0"</strong><br/>
            <strong class="aa-red-100">"ag-grid-community": "^26.2.0"</strong>
          </p>
        </aa-accordion>

        <!-- adding a context menu - part 2 -->
        <aa-accordion
          [disabled]="false"
          (open)="
            getLicence = false;
            settingHeight=false;
            customTooltipOne=false; 
            customTooltipTwo=false; 
            customTooltipThree=false; 
            customTooltipFour=false; 
            contextMenuOne=false; 
            contextMenuTwo=true; 
            contextMenuThree=false; 
            contextMenuFour=false; 
            contextMenuFive=false;
            validation=false
          "
          [dragable]="false"
          [showBody]="contextMenuTwo"
          accordionHeading="Part 2 of 5"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconBgColor="aa-yellow-100"
          iconName="menu_open"
        >
          <div header-custom>
            <a class="aa-white-100" href="https://gist.github.com/angloux/a202bc532c366edf319b54a01ceac680" target="_blank">View Gist on GitHub</a>
          </div>
          <h2 class="margin-top-0">Part 2 of 5 - Create the ellipsis button & context-menu click function
            
          </h2>
          <iframe frameborder=0 
          style="width: 100%; height: 82rem;" 
          scrolling="no" 
          seamless="seamless" 
          srcdoc='<html><body><script src="https://gist.github.com/angloux/a202bc532c366edf319b54a01ceac680.js"></script></body></html>'
          ></iframe>
        </aa-accordion>
        
        <!-- adding a context menu - part 3 -->
        <aa-accordion
          [disabled]="false"
          (open)="
            getLicence = false;
            settingHeight=false;
            customTooltipOne=false; 
            customTooltipTwo=false; 
            customTooltipThree=false; 
            customTooltipFour=false; 
            contextMenuOne=false; 
            contextMenuTwo=false; 
            contextMenuThree=true; 
            contextMenuFour=false; 
            contextMenuFive=false;
            validation=false
          "
          [dragable]="false"
          [showBody]="contextMenuThree"
          accordionHeading="Part 3 of 5"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconBgColor="aa-yellow-100"
          iconName="menu_open"
        >
          <div header-custom>
            <a class="aa-white-100" href="https://gist.github.com/angloux/00f8d5c4dbb106c48372c66dec1fa304" target="_blank">View Gist on GitHub</a>
          </div>
          <h2 class="margin-top-0">Part 3 of 5 - Add ag-grid-angular to your template
            
          </h2>
          <iframe frameborder=0 
          style="width: 100%; height: 13rem;" 
          scrolling="no" 
          seamless="seamless" 
          srcdoc='<html><body><script src="https://gist.github.com/angloux/00f8d5c4dbb106c48372c66dec1fa304.js"></script></body></html>'
          ></iframe>
        </aa-accordion>       

        <!-- adding a context menu - part 4 -->
        <aa-accordion
          [disabled]="false"
          (open)="
            getLicence = false;
            settingHeight=false;
            customTooltipOne=false; 
            customTooltipTwo=false; 
            customTooltipThree=false; 
            customTooltipFour=false; 
            contextMenuOne=false; 
            contextMenuTwo=false; 
            contextMenuThree=false; 
            contextMenuFour=true; 
            contextMenuFive=false;
            validation=false
          "
          [dragable]="false"
          [showBody]="contextMenuFour"
          accordionHeading="Part 4 of 5"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconBgColor="aa-yellow-100"
          iconName="menu_open"
        >
          <div header-custom>
            <a class="aa-white-100" href="https://gist.github.com/angloux/43675ada24abcaa6a719cf48204f1ce2" target="_blank">View Gist on GitHub</a>
          </div>
          <h2 class="margin-top-0">Import your 'ellipsis-context-menu' from part 2 and update columnDefs          </h2>
          <iframe frameborder=0 
          style="width: 100%; height: 82rem;" 
          scrolling="no" 
          seamless="seamless" 
          srcdoc='<html><body><script src="https://gist.github.com/angloux/43675ada24abcaa6a719cf48204f1ce2.js"></script></body></html>'
          ></iframe>
        </aa-accordion>
        
        <!-- adding a context menu - part 5 -->
        <aa-accordion
          [disabled]="false"
          (open)="
            getLicence = false;
            settingHeight=false;
            customTooltipOne=false; 
            customTooltipTwo=false; 
            customTooltipThree=false; 
            customTooltipFour=false; 
            contextMenuOne=false; 
            contextMenuTwo=false; 
            contextMenuThree=false; 
            contextMenuFour=false; 
            contextMenuFive=true;
            validation=false
          "
          [dragable]="false"
          [showBody]="contextMenuFive"
          accordionHeading="Part 5 of 5"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconBgColor="aa-yellow-100"
          iconName="menu_open"
        >
          <div header-custom>
            <a class="aa-white-100" href="https://gist.github.com/angloux/0e113052792f52d886239294d063b2a0" target="_blank">View Gist on GitHub</a>
          </div>
          <h2 class="margin-top-0">Add your EllipsisContextMenuComponent to your app.module
            
          </h2>
          <iframe frameborder=0 
          style="width: 100%; height: 24rem;" 
          scrolling="no" 
          seamless="seamless" 
          srcdoc='<html><body><script src="https://gist.github.com/angloux/0e113052792f52d886239294d063b2a0.js"></script></body></html>'
          ></iframe>
        </aa-accordion>   

        <!-- validation -->
        <h2 class="margin-top-1 margin-bottom-0-25">Validation</h2>
        <aa-accordion
        [disabled]="false"
        (open)="
          getLicence = false;
          settingHeight=false;
          customTooltipOne=false; 
          customTooltipTwo=false; 
          customTooltipThree=false; 
          customTooltipFour=false; 
          contextMenuOne=false; 
          contextMenuTwo=false; 
          contextMenuThree=false; 
          contextMenuFour=false; 
          contextMenuFive=false;
          validation=true
        "
        [dragable]="false"
        [showBody]="validation"
        accordionHeading="Adding validation"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconBgColor="aa-white-100"
        iconName="error_outline"
      >
        <div header-custom>
          <a class="aa-white-100" href="https://gist.github.com/angloux/0e113052792f52d886239294d063b2a0" target="_blank">View Gist on GitHub</a>
        </div>
        <h2 class="margin-top-0">Adding validation</h2>
        <p>
          Begin by creating your custom tooltip as described above <strong class="aa-red-100">Creating a custom tooltip</strong> <br/>and inject your error message as required.
        </p>
        <p class="margin-bottom-1">
          Then do the following...
        </p>
        <a href="https://gist.github.com/angloux/4d619eaff00d00449b7c871d59cd4d65" target="_blank">Further notes here in the Gist</a>
        <iframe frameborder=0 
        style="width: 100%; height: 24rem;" 
        scrolling="no" 
        seamless="seamless" 
        srcdoc='<html><body><script src="https://gist.github.com/angloux/4d619eaff00d00449b7c871d59cd4d65.js"></script></body></html>'
        ></iframe>
      </aa-accordion>  

      </article>
    </aa-blade>
</section>