<svg xmlns="http://www.w3.org/2000/svg" width="57.447" height="56.75" viewBox="0 0 57.447 56.75">
    <g id="Group_2135" data-name="Group 2135" transform="translate(-921.255 -170.024)">
      <g id="Group_2132" data-name="Group 2132" transform="translate(-1)" opacity="0.6">
        <circle id="Ellipse_123" cx="5.692" cy="5.692" r="5.692" transform="translate(939.216 183.5)" fill="#fff"/>
        <circle id="Ellipse_133" cx="7.783" cy="7.783" r="7.783" transform="translate(952.75 191.341)" fill="#fff"/>
        <circle id="Ellipse_124" cx="3.543" cy="3.543" r="3.543" transform="translate(929.341 177.11)" fill="#fff"/>
        <circle id="Ellipse_125" cx="3.195" cy="3.195" r="3.195" transform="translate(922.255 195.582)" fill="#fff"/>
        <circle id="Ellipse_126" cx="3.195" cy="3.195" r="3.195" transform="translate(930.038 213.298)" fill="#fff"/>
        <circle id="Ellipse_127" cx="3.195" cy="3.195" r="3.195" transform="translate(939.274 204.759)" fill="#fff"/>
        <circle id="Ellipse_128" cx="3.195" cy="3.195" r="3.195" transform="translate(947.754 220.384)" fill="#fff"/>
        <circle id="Ellipse_129" cx="3.195" cy="3.195" r="3.195" transform="translate(965.471 213.298)" fill="#fff"/>
        <circle id="Ellipse_130" cx="3.195" cy="3.195" r="3.195" transform="translate(973.312 195.582)" fill="#fff"/>
        <circle id="Ellipse_131" cx="3.195" cy="3.195" r="3.195" transform="translate(965.471 177.11)" fill="#fff"/>
        <circle id="Ellipse_132" cx="3.195" cy="3.195" r="3.195" transform="translate(947.754 170.024)" fill="#fff"/>
        <g id="Group_2129" data-name="Group 2129">
          <line id="Line_118" y1="4.24" x2="9.875" transform="translate(936.797 174.634)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_119" y1="4.24" x2="9.933" transform="translate(955.21 218.256)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_120" y1="5.518" x2="13.476" transform="translate(950.97 181.721)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_123" x2="4.24" y2="9.933" transform="translate(926.865 202.283)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_124" y1="10.63" x2="4.24" transform="translate(926.865 184.567)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_125" y1="5.634" x2="2.091" transform="translate(947.775 177.132)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_126" x2="2.846" y2="2.091" transform="translate(936.391 183.521)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_127" x2="9.933" y2="3.543" transform="translate(954.862 174.983)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_128" x2="4.24" y2="10.63" transform="translate(970.487 184.218)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_129" x1="4.24" y2="9.933" transform="translate(970.487 202.631)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_130" x1="9.933" y1="4.24" transform="translate(937.146 218.256)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_131" y1="8.539" x2="1.452" transform="translate(942.78 195.545)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_132" x1="9.933" y1="5.634" transform="translate(929.304 200.541)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_133" x1="18.471" y1="5.692" transform="translate(946.323 209.718)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_138" x1="4.937" y1="9.236" transform="translate(944.232 211.17)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_139" x1="2.091" y1="5.634" transform="translate(964.794 206.93)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_137" x1="2.846" y2="2.846" transform="translate(936.391 211.17)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_134" y1="6.389" x2="2.788" transform="translate(964.098 184.218)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_135" x2="2.788" y2="1.452" transform="translate(950.622 192.699)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_136" x2="3.543" transform="translate(969.035 199.088)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_121" y1="4.473" x2="9.933" transform="translate(928.956 192.351)" fill="none" stroke="#fff" stroke-width="1.5"/>
          <line id="Line_122" y1="3.311" x2="6.389" transform="translate(945.975 202.98)" fill="none" stroke="#fff" stroke-width="1.5"/>
        </g>
      </g>
      <circle id="Ellipse_134" cx="5.112" cy="5.112" r="5.112" transform="translate(954.506 193.913)" fill="#b3025c"/>
    </g>
  </svg>
  