<section class="control-bar">
  <h1>Flex</h1>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater">
    <h2>Flex group</h2>
    <div class="flex-group flex-dl blue margin-bottom-1">
      <div>flex-1</div>
      <div>flex-1</div>
      <div>flex-1</div>
    </div>
    <div class="flex-group flex-dl blue margin-bottom-1">
      <div class="flex-1">flex-1</div>
      <div class="flex-2">flex-2</div>
      <div class="flex-3">flex-3</div>
    </div>
    <div class="flex-group flex-dl blue">
      <div class="flex-1">flex-1</div>
      <div class="flex-5">flex-5</div>
    </div>
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" 
        (click)="bladeIsOpen($event); 
        flexGroup=true; 
        flexStart=false; 
        flexEnd=false; 
        spaceBetween=false; 
        flexCenter=false">
          <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  <!-- start content repeater -->
  <section class="content-repeater">
    <h2>Flex group flex-start</h2>
    <div class="flex-group flex-dl pink flex-start">
      <div>flex-start (hello there is more text)</div>
      <div>flex-start</div>
      <div>flex-start</div>
    </div>
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" 
        (click)="bladeIsOpen($event); 
        flexGroup=false; 
        flexStart=true; 
        flexEnd=false; 
        spaceBetween=false; 
        flexCenter=false">
          <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  <!-- start content repeater -->
  <section class="content-repeater">
    <h2>Flex group flex-end</h2>
    <div class="flex-group flex-dl ochre flex-end margin-bottom-1">
      <div>flex-end</div>
      <div>flex-end</div>
      <div>flex-end</div>
    </div>
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" 
        (click)="bladeIsOpen($event); 
        flexGroup=false; 
        flexStart=false; 
        flexEnd=true; 
        spaceBetween=false; 
        flexCenter=false">
          <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
   <!-- start content repeater -->
   <section class="content-repeater">
    <h2>Flex group space-between</h2>
    <div class="flex-group flex-dl green space-between margin-bottom-1">
      <div>space-between</div>
      <div>space-between</div>
      <div>space-between</div>
    </div>
    <div class="flex-group green space-between margin-bottom-1">
      <div class="flex-group flex-start flex-dl green">
        <div>space-between</div>
        <div>space-between</div>
        <div>space-between</div>
      </div>
      <div class="flex-dl green">
        <div>space-between</div>
      </div>
    </div>
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" 
        (click)="bladeIsOpen($event); 
        flexGroup=false; 
        flexStart=false; 
        flexEnd=false; 
        spaceBetween=true; 
        flexCenter=false">
          <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
   <!-- start content repeater -->
   <section class="content-repeater">
    <h2>Flex group flex-center</h2>
    <div class="flex-group flex-center flex-dl orange margin-bottom-1">
      <div>flex-center</div>
      <div>flex-center</div>
      <div>flex-center</div>
    </div>
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" 
        (click)="bladeIsOpen($event); 
        flexGroup=false; 
        flexStart=false; 
        flexEnd=false; 
        spaceBetween=false; 
        flexCenter=true">
          <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
</section>

<aa-blade 
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
  >
  <article class="blade-content">
    <div *ngIf="flexGroup">
      <app-gist src="angloux/54e4ee0de746591cd4fa61aef7466970"></app-gist>
      <a href="https://gist.github.com/angloux/54e4ee0de746591cd4fa61aef7466970" target="_blank">View Gist on GitHub</a>
    </div>
    
    <div *ngIf="flexStart">
      <app-gist src="angloux/b9d3003df55c475ad25ecf16c7fd91d9"></app-gist>
      <a href="https://gist.github.com/angloux/b9d3003df55c475ad25ecf16c7fd91d9" target="_blank">View Gist on GitHub</a>
    </div>
    
    <div *ngIf="flexEnd">
      <app-gist src="angloux/13659f189ff363052f47358d5dad99cb"></app-gist>
      <a href="https://gist.github.com/angloux/13659f189ff363052f47358d5dad99cb" target="_blank">View Gist on GitHub</a>
    </div>
    
    <div *ngIf="spaceBetween">
      <app-gist src="angloux/76aa8785db657ed74f8957884f536566"></app-gist>
      <a href="https://gist.github.com/angloux/76aa8785db657ed74f8957884f536566" target="_blank">View Gist on GitHub</a>
    </div>
    
    <div *ngIf="flexCenter">
      <app-gist src="angloux/0ee18eb7f45425b31ead1ec5ab60311c"></app-gist>
      <a href="https://gist.github.com/angloux/0ee18eb7f45425b31ead1ec5ab60311c" target="_blank">View Gist on GitHub</a>
    </div>
  </article>
</aa-blade>
