<section class="control-bar">
  <h1>Flex</h1>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater">
    <h2>Flex divisions of 6</h2>
    <p>
      Dump some elements inside a <strong class="aa-red-100">"flex-group"</strong> wrapper to have it's children fill the available space evenly. 
      Alternatively, to set your custom sizes by adding the flex size from 1-5 to the child elements.
    </p>
    <fieldset 
      class="
        flex-group 
        flex-dl 
        blue 
        margin-bottom-1 
        max-width-unset 
        bd-pink 
        bd-dashed 
        bd-2 
        padding-top-0
        padding-bottom-0
        padding-0-75 
        border-radius-0-5
      "
    >
      <legend class="padding-0-5 aa-red-100">flex-group</legend>
      <div class="margin-bottom-0-75">html element</div>
      <div class="margin-bottom-0-75">html element</div>
      <div class="margin-bottom-0-75">html element</div>
    </fieldset>

    <fieldset 
      class="
        flex-group 
        flex-dl 
        blue 
        margin-bottom-1 
        max-width-unset 
        bd-pink 
        bd-dashed 
        bd-2 
        padding-top-0
        padding-bottom-0
        padding-0-75 
        border-radius-0-5
      "
    >
      <legend class="padding-0-5 aa-red-100">flex-group</legend>
      <div class="flex-1 margin-bottom-0-75">flex-1</div>
      <div class="flex-2 margin-bottom-0-75">flex-2</div>
      <div class="flex-3 margin-bottom-0-75">flex-3</div>
    </fieldset>

    <fieldset 
      class="
        flex-group 
        flex-dl 
        blue 
        margin-bottom-1 
        max-width-unset 
        bd-pink 
        bd-dashed 
        bd-2 
        padding-top-0
        padding-bottom-0
        padding-0-75 
        border-radius-0-5
      "
    >
      <legend class="padding-0-5 aa-red-100">flex-group</legend>
      <div class="flex-5 margin-bottom-0-75">flex-5</div>
      <div class="flex-1 margin-bottom-0-75">flex-1</div>
    </fieldset>
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" 
        (click)="bladeIsOpen($event); 
        flexGroup=true; 
        flexStart=false; 
        flexEnd=false; 
        flexColumn=false;
        flexStretch=false;
        spaceBetween=false; 
        flexCenter=false;
        flexEllipsis=false">
          <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  <!-- start content repeater -->
  <section class="content-repeater">
    <h2>Flex-start</h2>
    <p>
      To shift your elements over to the left, simply add the class names 
      <strong class="aa-red-100">"flex-group" and "flex-start"</strong> to your parent wrapper.
    </p>
    <fieldset 
      class="
        flex-group 
        flex-dl 
        ochre  
        flex-start
        margin-bottom-1 
        max-width-unset 
        bd-pink 
        bd-dashed 
        bd-2 
        padding-top-0
        padding-bottom-0
        padding-0-75 
        border-radius-0-5
      "
    >
      <legend class="padding-0-5 aa-red-100">flex-group flex-start</legend>
      <div class="margin-bottom-0-75">html element</div>
      <div class="margin-bottom-0-75">html element</div>
      <div class="margin-bottom-0-75">html element</div>
    </fieldset>
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" 
        (click)="bladeIsOpen($event); 
        flexGroup=false; 
        flexStart=true; 
        flexEnd=false; 
        flexColumn=false;
        flexStretch=false;
        spaceBetween=false; 
        flexCenter=false;
        flexEllipsis=false">
          <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  <!-- start content repeater -->
  <section class="content-repeater">
    <h2>Flex-end</h2>
    <p>
      To shift your elements over to the right, simply add the class names 
      <strong class="aa-red-100">"flex-group" and "flex-end"</strong> to your parent wrapper.
    </p>
    <fieldset 
      class="
        flex-group 
        flex-dl 
        ochre  
        flex-end
        margin-bottom-1 
        max-width-unset 
        bd-pink 
        bd-dashed 
        bd-2 
        padding-top-0
        padding-bottom-0
        padding-0-75 
        border-radius-0-5
      "
    >
      <legend class="padding-0-5 aa-red-100">flex-group flex-end</legend>
      <div class="margin-bottom-0-75">html element</div>
      <div class="margin-bottom-0-75">html element</div>
      <div class="margin-bottom-0-75">html element</div>
    </fieldset>
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" 
        (click)="bladeIsOpen($event); 
        flexGroup=false; 
        flexStart=false; 
        flexEnd=true; 
        flexColumn=false;
        flexStretch=false;
        spaceBetween=false; 
        flexCenter=false;
        flexEllipsis=false">
          <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
    <!-- start content repeater -->
    <section class="content-repeater">
      <h2>Flex-column</h2>
      <p>
        If you want to display your elements vertically and still be mobile friendy, please add 
        <strong class="aa-red-100">"flex-group" and "flex-column"</strong> to your parent wrapper.
      </p>
      <fieldset 
        class="
          flex-group 
          flex-dl 
          pink  
          flex-column
          margin-bottom-1 
          max-width-unset 
          bd-pink 
          bd-dashed 
          bd-2 
          padding-top-0
          padding-bottom-0
          padding-right-0
          padding-0-75 
          border-radius-0-5
        "
      >
        <legend class="padding-0-5 aa-red-100">flex-group flex-column</legend>
        <div class="margin-bottom-0-75">html element</div>
        <div class="margin-bottom-0-75">html element</div>
        <div class="margin-bottom-0-75">html element</div>
      </fieldset>
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" 
          (click)="bladeIsOpen($event); 
          flexGroup=false; 
          flexStart=false; 
          flexEnd=false; 
          flexColumn=true;
          flexStretch=false;
          spaceBetween=false; 
          flexCenter=false;
          flexEllipsis=false">
            <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
    </section>
    <!-- start content repeater -->
    <section class="content-repeater">
      <h2>Flex-stretch</h2>
      <p>
        Not so commonly used, but if you want to maintain the same height of your elements, you can use 
        <strong class="aa-red-100">"flex-group" and "flex-stretch"</strong> to your parent wrapper.
      </p>
      <fieldset 
        class="
          flex-group 
          flex-dl 
          blue  
          flex-stretch
          margin-bottom-1 
          max-width-unset 
          bd-pink 
          bd-dashed 
          bd-2 
          padding-top-0
          padding-bottom-0
          padding-0-75 
          border-radius-0-5
          height-16
        "
      >
        <legend class="padding-0-5 aa-red-100">flex-group flex-stretch</legend>
        <div class="margin-bottom-0-75">html element</div>
        <div class="margin-bottom-0-75">html element</div>
        <div class="margin-bottom-0-75">html element</div>
      </fieldset>
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" 
          (click)="bladeIsOpen($event); 
          flexGroup=false; 
          flexStart=false; 
          flexEnd=false; 
          flexColumn=false;
          flexStretch=true;
          spaceBetween=false; 
          flexCenter=false;
          flexEllipsis=false">
            <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
    </section>
   <!-- start content repeater -->
   <section class="content-repeater">
    <h2>Space-between</h2>
    <p>
      Distance your elements across the x-axis with <strong class="aa-red-100">"flex-group" and "space-between"</strong> on your parent wrapper. You 
      can also group child sets and space these out as illustrated below in the second example.
    </p>
    <fieldset 
      class="
        flex-group 
        flex-dl 
        green 
        space-between
        margin-bottom-1 
        max-width-unset 
        bd-pink 
        bd-dashed 
        bd-2 
        padding-top-0
        padding-bottom-0
        padding-0-75 
        border-radius-0-5
      "
    >
      <legend class="padding-0-5 aa-red-100">flex-group space-between</legend>
      <div class="margin-bottom-0-75">html element</div>
      <div class="margin-bottom-0-75">html element</div>
      <div class="margin-bottom-0-75">html element</div>
    </fieldset>
    
    <fieldset 
      class="
        max-width-unset 
        bd-pink 
        bd-dashed 
        bd-2 
        padding-top-0
        padding-bottom-0
        padding-0-75 
        border-radius-0-5
      "
    >
      <legend class="padding-0-5 aa-red-100">flex-group space-between</legend>
      <div class="flex-group green space-between">
        <div class="flex-group flex-start flex-dl green">
          <div class="margin-bottom-0-75">html element</div>
          <div class="margin-bottom-0-75">html element</div>
          <div class="margin-bottom-0-75">html element</div>
        </div>
        <div class="flex-dl green">
          <div class="margin-bottom-0-75">html element</div>
        </div>
      </div>
    </fieldset>
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" 
        (click)="bladeIsOpen($event); 
        flexGroup=false; 
        flexStart=false; 
        flexEnd=false; 
        flexColumn=false;
        flexStretch=false;
        spaceBetween=true; 
        flexCenter=false;
        flexEllipsis=false">
          <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  <!-- start content repeater -->
  <section class="content-repeater">
    <h2>Flex-center & flex-align-center</h2>
    <p>
      You may want to display your child elements centrally across the x-axis, in which case add 
      <strong class="aa-red-100">"flex-group" and "flex-center"</strong> to your parent wrapper. 
    </p>
    <p>
      <strong>Note:</strong> Although the above flex-center method will center both the x and y axis, for most cases you will only 
      want to center the y-axis. In these situations, add <strong class="aa-red-100">"flex-group" and "flex-align-center"</strong> to your parent wrapper.
    </p>
    <fieldset 
      class="
        flex-group 
        flex-dl 
        orange 
        flex-center
        margin-bottom-1 
        max-width-unset 
        bd-pink 
        bd-dashed 
        bd-2 
        padding-top-0
        padding-bottom-0
        padding-0-75 
        border-radius-0-5
      "
    >
      <legend class="padding-0-5 aa-red-100">flex-group flex-center</legend>
      <div class="margin-bottom-0-75">html element</div>
      <div class="margin-bottom-0-75">html element</div>
      <div class="margin-bottom-0-75">html element</div>
    </fieldset>
    <fieldset 
    class="
      flex-group 
      flex-dl 
      orange 
      flex-align-center
      margin-bottom-1 
      max-width-unset 
      bd-pink 
      bd-dashed 
      bd-2 
      padding-top-0
      padding-bottom-0
      padding-0-75 
      border-radius-0-5
    "
  >
    <legend class="padding-0-5 aa-red-100">flex-group flex-align-center</legend>
    <div class="margin-bottom-0-75 height-3">html element</div>
    <div class="margin-bottom-0-75 height-5">html element</div>
    <div class="margin-bottom-0-75 height-2">html element</div>
    <div class="margin-bottom-0-75 height-4">html element</div>
    <div class="margin-bottom-0-75 height-2">html element</div>
  </fieldset>
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" 
        (click)="bladeIsOpen($event); 
        flexGroup=false; 
        flexStart=false; 
        flexEnd=false; 
        flexColumn=false;
        flexStretch=false;
        spaceBetween=false; 
        flexCenter=true;
        flexEllipsis=false">
          <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>

  <!-- start content repeater -->
  <section class="content-repeater">
    <h2>Prevent wrapping on a string (uses truncation)</h2>
    <fieldset 
      class="
        flex-group 
        flex-dl 
        blue 
        flex-center
        margin-bottom-1 
        max-width-unset 
        bd-pink 
        bd-dashed 
        bd-2 
        padding-top-0
        padding-bottom-0
        padding-0-75 
        border-radius-0-5
      "
    >
      <legend class="padding-0-5 aa-red-100">flex-group</legend>
      <div class="flex-5 ellipsis margin-bottom-0-75"><strong class="aa-red-100">flex-5, ellipsis</strong> This uses the same principle as seen at the top 
        of this page under the heading "Flex-group" For this to work we need to truncate the text by including the class ".ellipsis". Please remember to add a 
        title tag to display the full string/value. 
      </div>
      <div class="flex-1 ellipsis margin-bottom-0-75"><strong class="aa-red-100">flex-1, ellipsis</strong> We want this smaller and on the right</div>
    </fieldset>
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" 
        (click)="bladeIsOpen($event); 
        flexGroup=false; 
        flexStart=false; 
        flexEnd=false; 
        flexColumn=false;
        flexStretch=false;
        spaceBetween=false; 
        flexCenter=false;
        flexEllipsis=true">
          <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
</section>

<aa-blade 
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
  >
  <article class="blade-content">
    <div *ngIf="flexGroup">
      <app-gist src="angloux/54e4ee0de746591cd4fa61aef7466970"></app-gist>
      <a href="https://gist.github.com/angloux/54e4ee0de746591cd4fa61aef7466970" target="_blank">View Gist on GitHub</a>
    </div>
    
    <div *ngIf="flexStart">
      <app-gist src="angloux/b9d3003df55c475ad25ecf16c7fd91d9"></app-gist>
      <a href="https://gist.github.com/angloux/b9d3003df55c475ad25ecf16c7fd91d9" target="_blank">View Gist on GitHub</a>
    </div>
    
    <div *ngIf="flexEnd">
      <app-gist src="angloux/13659f189ff363052f47358d5dad99cb"></app-gist>
      <a href="https://gist.github.com/angloux/13659f189ff363052f47358d5dad99cb" target="_blank">View Gist on GitHub</a>
    </div>

    <div *ngIf="flexColumn">
      <app-gist src="angloux/1ae2c526182a289a15fb2e8bf5cdd126"></app-gist>
      <a href="https://gist.github.com/angloux/1ae2c526182a289a15fb2e8bf5cdd126" target="_blank">View Gist on GitHub</a>
    </div>

    <div *ngIf="flexStretch">
      <app-gist src="angloux/329f9a6c5283eacf0a47c937223bcbab"></app-gist>
      <a href="https://gist.github.com/angloux/329f9a6c5283eacf0a47c937223bcbab" target="_blank">View Gist on GitHub</a>
    </div>
    
    <div *ngIf="spaceBetween">
      <app-gist src="angloux/76aa8785db657ed74f8957884f536566"></app-gist>
      <a href="https://gist.github.com/angloux/76aa8785db657ed74f8957884f536566" target="_blank">View Gist on GitHub</a>
    </div>
    
    <div *ngIf="flexCenter">
      <app-gist src="angloux/0ee18eb7f45425b31ead1ec5ab60311c"></app-gist>
      <a href="https://gist.github.com/angloux/0ee18eb7f45425b31ead1ec5ab60311c" target="_blank">View Gist on GitHub</a>
    </div>

    <div *ngIf="flexEllipsis">
      <app-gist src="angloux/b480e0b1c91f1c41a69bd3faf8781c71"></app-gist>
      <a href="https://gist.github.com/angloux/b480e0b1c91f1c41a69bd3faf8781c71" target="_blank">View Gist on GitHub</a>
    </div>
  </article>
</aa-blade>
