.hide-submit {
  + aa-modal-dialog {
    button.primary {
      display: none;
    }
  }
}

.hide-cancel {
  + aa-modal-dialog {
    button.cancel {
      display: none;
    }
  }
}

.aa-modal {
  background-color:_colour(aa-blue-100-overlay);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  //z-index: 10;
}

.aa-modal-container {
  position: fixed;
  padding: .75rem 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: _colour(aa-grey-2);
  border: 1px solid _colour(aa-grey-25);
  max-height: 80%;
  min-width: 15rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 .2rem .2rem _colour(tinted-dark-blue);
  -webkit-box-shadow: 0 0 .3rem .3rem _colour(tinted-blue);
  -moz-box-shadow: 0 0 .3rem .3rem _colour(tinted-blue);
  
  &.red,
  &.aa-red {
    h1, h2, h3, h4 {
      color: _palette(aa-red-100);
    }
    button:not(.cancel) {
      background-color: _palette(aa-red-100);
      border: 1px solid _palette(aa-red-100);
      &:hover {
        background-color: _palette(aa-red-50);
        border: 1px solid _palette(aa-red-50);
      }
    }
  }
  &.orange,
  &.aa-orange {
    h1, h2, h3, h4 {
      color: _palette(aa-orange-100);
    }
    button:not(.cancel) {
      background-color: _palette(aa-orange-100);
      border: 1px solid _palette(aa-orange-100);
      &:hover {
        background-color: _palette(aa-orange-50);
        border: 1px solid _palette(aa-orange-50);
      }
    }
  }
  &.green,
  &.aa-green {
    h1, h2, h3, h4 {
      color: _palette(aa-green-100);
    }
    button:not(.cancel) {
      background-color: _palette(aa-green-100);
      border: 1px solid _palette(aa-green-100);
      &:hover {
        background-color: _palette(aa-green-50);
        border: 1px solid _palette(aa-green-50);
      }
    }
  }
  &.blue,
  &.aa-blue {
    h1, h2, h3, h4 {
      color: _palette(aa-light-blue-100);
    }
    button:not(.cancel) {
      background-color: _palette(aa-light-blue-100);
      border: 1px solid _palette(aa-light-blue-100);
      &:hover {
        background-color: _palette(aa-light-blue-50);
        border: 1px solid _palette(aa-light-blue-50);
      }
    }
  }
}

.aa-modal-header {
  height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.aa-modal-content {
  position: relative;
  overflow: auto;
  max-height: calc(80vh - 11rem);
  margin-bottom: .75rem;
  font-size: _font(size-default);
}

.aa-modal-footer {
  display: block;

  aa-button {
    flex: none;
  }

}

@media screen and (min-width: _breakpoint(breakpoint-570)) {

  .aa-modal-content {
    max-height: calc(80vh - 6rem);
  }
  .aa-modal-footer {
    bottom: .75rem;
    display: flex;

    button {
      flex: 1;
      margin-right: .75rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
