// Legacy 
.aa-toastr {
    position: fixed;
    top: 4rem;
    right: 0;
    article {
        position: absolute;
        overflow: hidden;
        opacity: 0;
        transition-duration: 0.3s;
        width: 20rem;
        padding: .75rem 1rem 1rem 1rem;
        margin-bottom: .5rem;
        border-radius: .25rem 0 0 .25rem;
        right: -22rem;

        &.show-toastr {
            position: relative;
            right: 0;
            opacity: 1;
            transition-duration: 0.3s;
        }
        button {
            background-color: transparent;
            position: absolute;
            top: 0;
            right: 0;
            &:hover, &:focus, &:active {
                background-color: transparent;
                transform: rotate(180deg);
                transition-duration: 0.3s;
            }
        }
    
        section {
            &:first-child {
                width: 10%;
            }
            &:last-child {
                width: 80%;
            }
        }
    }
}

// New
aa-toastr {
    margin: 0!important;
}
.aa-toastr-service {
    position: fixed;
    z-index: 9999999999;
    top: 3.5rem;
    right: 0;

    .aa-toastr-content * {
        color: _colour(aa-white-100);
    }

    .aa-toastr-content {
        padding: .75rem .25rem 1rem 1rem;

        h3 {
            margin: 0 0 .25rem 0;
        }

        button.material-icons {
            background-color: transparent;
            &:hover {
                transform: rotate(180deg);
                transition-duration: .3s;
            }
        }

        &.success {
            background-color: _colour(aa-green-100);
        }
    
        &.warning {
            background-color: _colour(aa-orange-100);
        }
    
        &.error {
            background-color: _colour(aa-red-100);
        }
    
        &.info {
            background-color: _colour(aa-light-blue-100);
        }
    }
}