.user-feedback {
    position: fixed;
    border-radius: .5rem;
    background-color: _colour(aa-grey-2);
    top: 4.25rem;
    right: 1rem;
    max-width: 41rem;
    //width: 100%;

    h3 {
        text-align: left;
    }
    
    .user-feedback-content {
        border-radius: 0 0 .5rem .5rem;
    }
    
    .feature-box {
        min-width: 19rem;
        flex: none;
        background-color: _colour(aa-white-100);
        border-color: _colour(aa-grey-25);
    }
    
    .faces {
        border-width: 2px;
        button {
            padding: 0;
            border: none;
        }
    }

    .thanks {
        min-width: 25rem;
        div {
            @include icon-button-xl-svg;
            margin: 2rem 0;
        }
    }
    
    // switch colours based on rating
    &.rating-1  { 
        .faces {
            border-color: _palette(aa-red-100);
        }
        .describe {
            background-color: _colour(aa-red-100);
            color: _palette(aa-white-100);
        }
        .user-feedback-content:nth-child(2) {
            background-color: _colour(aa-red-3);
        }
    }
    
    &.rating-2 { 
        .faces {
            border-color: _palette(aa-orange-100);
        }
        .describe {
            background-color: _colour(aa-orange-100);
            color: _palette(aa-white-100);
        }
        .user-feedback-content:nth-child(2) {
            background-color: _colour(aa-orange-5);
        }
    }
    
    &.rating-3 { 
        .faces {
            border-color: _palette(aa-ochre-100);
        }
        .describe {
            background-color: _colour(aa-ochre-100);
            color: _palette(aa-white-100);
        }
        .user-feedback-content:nth-child(2) {
            background-color: _colour(aa-ochre-8);
        }
    }
    
    &.rating-4 { 
        .faces {
            border-color: _palette(aa-lime-100);
        }
        .describe {
            background-color: _colour(aa-lime-100);
            color: _palette(aa-white-100);
        }
        .user-feedback-content:nth-child(2) {
            background-color: _colour(aa-lime-5);
        }
    }
    
    &.rating-5 { 
        .faces {
            border-color: _palette(aa-green-100);
        }
        .describe {
            background-color: _colour(aa-green-100);
            color: _palette(aa-white-100);
        }
        .user-feedback-content:nth-child(2) {
            background-color: _colour(aa-green-5);
        }
    }
}
