.aa-drag-container {
  width: 100%;
  display: block;
  .aa-drag-item {
    display: flex;
    flex-direction: row;
    margin-bottom: .25rem;
    cursor: move;

    .accordion-container {
      width: 100%;;
      margin-bottom: 0;
    }
  }

  &.cdk-drop-list-dragging .aa-drag-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px _colour(aa-grey-50);
  background-color: _colour(aa-white-100);
}

.cdk-drag-placeholder {
  opacity: .5;
  background-color: _colour(aa-grey-5);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// dynamic table - remeber that all css is lost because the preview is spawned at the bottom of the dom
th {
  &.cdk-drag-preview {
    padding: .5rem 1rem;
    border-bottom: 2px solid _colour(aa-pink-100);
    .input-filter {
      display: none;
    }
  }
}
tr {
  &.cdk-drag-preview {
    border-bottom: 2px solid _colour(aa-pink-100);
  }
  &.cdk-drag-preview td {
    padding: .5rem 1rem;

    .alert-shield {
      background-size: 1rem;
      font-size: _font(size-small);
      padding: .275rem .5rem .275rem 1.75rem;
      height: 1.5rem;
      line-height: .75rem;
      span, div {
        padding-right: 0;
      }
    }
  }
}