.highcharts-container {
  svg {
    font-family: _font(family-regular)!important;
  }
}

highcharts-chart {
  &.hc-dark-mode {
    .highcharts-container {
      svg {
        font-family: _font(family-regular)!important;
    
        rect {
          &.highcharts-background {
            fill: _colour(aa-white-100)!important;
          }
        }
    
        // g {
        //   &.highcharts-data-label {
        //     fill: _colour(aa-blue-100)!important;
    
        //     text {
        //       fill: _colour(aa-blue-100)!important;
        //       tspan {
        //         stroke-width: 0!important;
        //         fill: _colour(aa-blue-100)!important;
        //       }
        //     }
        //   }
        // }
    
        path {
          &.highcharts-tooltip-box {
            fill: _colour(tinted-white)!important;
    
            + text {
              fill: _colour(aa-grey-100)!important;
              tspan {
                fill: _colour(aa-grey-100)!important;
              }
            }
          }
        }
    
        .highcharts-axis-labels, 
        .highcharts-yaxis-labels {
          text {
            fill: _colour(aa-grey-25)!important;
          }
        }
    
        text {
          &.highcharts-subtitle,
          &.highcharts-axis-title {
            fill: _colour(aa-grey-100)!important;
          }
    
          &.highcharts-drilldown-axis-label,
          &.highcharts-title {
            fill: _colour(aa-blue-100)!important;
          }
    
          &.highcharts-title {
            font-size: _font(size-medium)!important;
          }
        }
      }
    }
  }
}

