<section class="control-bar">
  <h1>Filter</h1>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group padding-bottom-1">
    <section class="flex-1 col-left flex-start">
      <h2>Filter</h2>
      <div class="describe margin-bottom-1">
        <p>The filter can be hidden by default. If this is the case, please use
          the <a routerLink="/buttons">filter button</a> to toggle the filter.
          <strong class="aa-red-100">Please remember to place the filter inbetween the
            'control-bar' and the 'content-container'. For details,
            please refer to the <a routerLink="/page-template">Page templates</a>
          </strong>
        </p>
        <p>
          <strong class="aa-red-100">
            If you need to add a form to the filter. Make sure the filter sits inside the form and not the form inside the filter.
            This is so we maintain a responsive layout. Adding a form wrapper inside the filter will break flex
          </strong>
        </p>
      </div>
      <aa-button
        (buttonClick)="toggleFilter=!toggleFilter"
        fieldClass="boxed"
        buttonClass="secondary filter"
        buttonLabel="Filter"
        buttonText="Filter">
      </aa-button>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">Class</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.flex-group, .flex-start,<br/> .filter-container,<br/> .padding-1-25</td>
          </tr>
          <tr>
            <td datalabel="Element">Child div</td>
            <td datalabel="Attribute">Class</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.field</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen(true); showFilter=true; showFilterLeft=false">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  <article *ngIf="!toggleFilter" class="aa-filter flex-group flex-start">
    <div class="field">
      <div class="flex-group space-between">
        <label for="">Course name</label>
        <aa-tooltip 
          [customIcon]="true" 
          iconName="help" 
          [isInfo]="true" 
          setMinWidth="12rem" 
          ypos="bottom" 
          xpos="right"
        >
          <h4>Ahoy there</h4>
          <p>Mr Beaver had begun telling them that the White Witch wasn't really human at all </p>
        </aa-tooltip>
      </div>

      <input type="text" name="" id="" />
    </div>

    <div class="field">
      <label for="">Delegate name</label>
      <input type="text" name="" id="" />
    </div>

    <div class="field">
      <label for="pet-select">Assigned year</label>
      <select name="pets" id="pet-select">
        <option value="" disabled selected>Please select</option>
        <option value="dog">2020</option>
        <option value="cat">2019</option>
        <option value="hamster">2018</option>
        <option value="parrot">2017</option>
        <option value="spider">2016</option>
        <option value="goldfish">2015</option>
      </select>
    </div>

    <div class="field">
      <label for="pet-select">Course status</label>
      <select name="pets" id="pet-select">
        <option value="" disabled selected>Please select</option>
        <option value="dog">Not registered</option>
        <option value="cat">Incomplete</option>
        <option value="hamster">Complete</option>
      </select>
    </div>

    <div class="field">
      <label for="pet-select">Country</label>
      <select name="pets" id="pet-select">
        <option value="" disabled selected>Please select</option>
        <option value="dog">Afganistan</option>
        <option value="cat">America</option>
        <option value="hamster">Brazil</option>
      </select>
    </div>

    <div class="field">
      <label for="pet-select">Sub-discipline</label>
      <select name="pets" id="pet-select">
        <option value="" disabled selected>Please select</option>
        <option value="dog">Market intelligence</option>
        <option value="cat">Commercial strategy</option>
        <option value="hamster">Product development</option>
      </select>
    </div>
      <aa-button buttonText="Apply" buttonId="buttonApply" buttonClass="secondary"></aa-button>
      <aa-button buttonText="Clear" buttonId="buttonClear" buttonClass="cancel"></aa-button>
  </article>

    <!-- start content repeater -->
    <section class="content-repeater flex-group">
      <section class="flex-1 col-left flex-start">
        <h2 class="boxed">Filter left</h2>
        <div class="describe margin-bottom-1">
          <p>Filter left can be useful when we need to display the page in two columns,
            it also reducuces vertical page scrolling. <strong class="aa-red-100"> Place this filter inside your 'content-container' adding the
              class names 'padding-left-0 flex-group flex-start'</strong>. This will push the filter over to the left side so there is no left spacing
              on the page whilst also setting up your container to display it's contents horizontally using flex. You're right side content
              will need to be wrapped in some container. You'll need to set the filter to be a lot narrower than your right-side content, to
              do this use a flex value on each, for example 'flex-1' for the filter and 'flex-5' for the right-side content.
              <strong class="aa-red-100">See the <a routerLink="/flex">Flex section</a> for more details.</strong>
            </p>
        </div>

        <div class="padding-1-25 bg-aa-grey-5">
          <h2>Details</h2>
          <div class="field boxed">
            <label for="name">Name</label>
            <input type="text" name="name" />
          </div>
          <div class="field">
            <label for="dept">Department</label>
            <select name="dept" id="dept">
              <option value="" selected>Please select</option>
            </select>
          </div>
          <div class="field">
            <label for="country">Country</label>
            <select name="country" id="country">
              <option value="" selected>Please select</option>
            </select>
          </div>
          <div class="field">
            <label for="year">Year</label>
            <select name="year" id="year">
              <option value="" selected>Please select</option>
            </select>
          </div>
          <div class="flex-group flex-start">
            <aa-button
              (buttonClick)="onClick()"
              fieldClass="label-hidden"
              buttonClass="primary"
              buttonId=""
              buttonLabel="Primary"
              buttonText="Search"
            >
            </aa-button>
            <aa-button
              (buttonClick)="onClick()"
              fieldClass="label-hidden"
              buttonClass="cancel"
              buttonId=""
              buttonLabel="Cancel"
              buttonText="Reset"
            >
            </aa-button>
          </div>
        </div>
      </section>

      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">Page content container section</td>
              <td datalabel="Attribute">Class name</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">.content-container .flex-group .flex-start</td>
            </tr>
            <tr>
              <td datalabel="Element">Left-side nested filter div</td>
              <td datalabel="Attribute">Class names</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">.flex-1 .padding-1-25 .bg-aa-grey-5</td>
            </tr>
            <tr>
              <td datalabel="Element">Right-side content container div</td>
              <td datalabel="Attribute">Class names</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">.flex-5</td>
            </tr>
          </tbody>
        </table>
      </section>

      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
          <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen(true); showFilter=false; showFilterLeft=true">
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
    </section>
</section>

<aa-blade
    [blockPageUI]="false"
    [toggleBlade]="toggleBlade"
    [suppressAutoClose]="false"
    topPosition="3.5rem"
    [zIndex]="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (bladeOpen)="bladeIsOpen($event)"
  >
  <article class="blade-content">
    <div *ngIf="showFilter">
      <a href="https://gist.github.com/angloux/3102c4fe214b14c9778de2908a2caccc" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/3102c4fe214b14c9778de2908a2caccc"></app-gist>
    </div>
    <div *ngIf="showFilterLeft">
      <a href="https://gist.github.com/angloux/348f9ee97ea749ec31fed4bb80868f28" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/348f9ee97ea749ec31fed4bb80868f28"></app-gist>
    </div>
  </article>
</aa-blade>
