<section class="control-bar">
    <h1>Page layout examples</h1>
</section>

<section class="content-container padding-0">
    <section class="content-repeater">
        <div class="max-width-50 describe margin-bottom-1">
            <h3 class="aa-red-100 boxed">Important information regarding forms</h3>
            <p>
                All form elements must be nested inside a div with the class 
                <strong class="aa-red-100">.field</strong>, if there is too much margin 
                (usually on the first field in the group), please add the additional 
                class <strong class="aa-red-100">.boxed</strong>. This also applies to the first H2 on the page.
            </p>
            <p>
                Nested inside this div and in the following order, you should have a 
                <strong class="aa-red-100">label</strong>, <strong class="aa-red-100">input</strong> 
                and any <strong class="aa-red-100">validation message</strong>. The validation div is 
                triggered by the class name <strong class="aa-red-100">.error</strong> appended to the 
                wrapping field div and an additional <strong class="aa-red-100">*ngIf</strong> 
                added to the error message div itself. The <strong class="aa-red-100">Basic 
                vertical form</strong> below includes common form markup and example validation
            </p>
        </div>
        <div class="flex-group flex-start">
            <section class="page-template-container">
                <h2>Just the barebones</h2>
                <article class="page-template">
                    <div class="header"></div>
                    <div class="nav"></div>
                    <div class="control-bar tagged">
                        <h1>H1 Heading</h1>
                    </div>
                    <div class="content-container tagged">
                        <h2>H2 Sub-heading</h2>
                    </div>
                    <section 
                        class="hover"
                        (click)="
                        copyToClipboard(copyOneHTML); 
                        copyOne=true;
                        copyTwo=false;
                        copyThree=false;
                        copyFour=false;
                        copyFive=false;
                        copySix=false
                        "
                    >
                        <div *ngIf="!copyOne" class="flex-group flex-start">
                            <div class="material-icons aa-orange-100">content_copy</div>
                            <p>Click to copy this markup</p>
                        </div>
                        <div *ngIf="copyOne" class="copied">
                            <div class="material-icons aa-orange-100">thumb_up_alt</div>
                            <p>Markup copied!</p>
                        </div>
                    </section>
                </article>
                <div class="describe margin-top-0-5">
                    <p>All of our Apps <strong>MUST</strong> follow this very<br/> 
                        basic page structure or as close as possible
                    </p>
                </div>
            </section>

            <section class="page-template-container">
                <h2>Basic vertical form (most used)</h2>
                <article class="page-template">
                    <div class="header"></div>
                    <div class="nav"></div>
                    <div class="control-bar">
                        <h1>H1 Heading</h1>
                    </div>
                    <div class="content-container flex-group flex-column">
                        <h2>H2 Sub-heading</h2>
                        <section class="width-4">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div class="flex-group flex-start">
                                <div class="bg-aa-blue-100"></div>
                                <div class="bg-aa-light-blue-100"></div>
                            </div>
                        </section>
                    </div>
                    <section 
                        class="hover"
                        (click)="
                        copyToClipboard(copyTwoHTML); 
                        copyOne=false;
                        copyTwo=true;
                        copyThree=false;
                        copyFour=false;
                        copyFive=false;
                        copySix=false
                        "
                    >
                        <div *ngIf="!copyTwo" class="flex-group flex-start">
                            <div class="material-icons aa-orange-100">content_copy</div>
                            <p>Click to copy this markup</p>
                        </div>
                        <div *ngIf="copyTwo" class="copied">
                            <div class="material-icons aa-orange-100">thumb_up_alt</div>
                            <p>Markup copied!</p>
                        </div>
                    </section>
                </article>
                <div class="describe margin-top-0-5">
                    <p>
                        Use this example for creating a basic vertical form
                        layout. Also includes validation markup
                    </p>
                </div>
            </section>

            <section class="page-template-container">
                <h2>Grouping horizontally</h2>
                <article class="page-template">
                    <div class="header"></div>
                    <div class="nav"></div>
                    <div class="control-bar">
                        <h1>H1 Heading</h1>
                    </div>
                    <div class="content-container flex-group flex-column">
                        <h2>H2 Sub-heading</h2>
                        <div class="flex-group flex-start margin-top-0-25">
                            <span class="bd-aa-pink-100 padding-0-25">
                                <div class="width-3 margin-right-0 margin-top-0"></div>
                                <div class="width-3 margin-right-0"></div>
                                <div class="width-3 margin-right-0"></div>
                            </span>
                            <span class="bd-aa-pink-100 padding-0-25">
                                <div class="width-3 margin-right-0 margin-top-0"></div>
                                <div class="width-3 margin-right-0"></div>
                                <div class="width-3 margin-right-0"></div>
                            </span>
                        </div>
                    </div>
                    <section 
                        class="hover"
                        (click)="
                        copyToClipboard(copyThreeHTML); 
                        copyOne=false;
                        copyTwo=false;
                        copyThree=true;
                        copyFour=false;
                        copyFive=false;
                        copySix=false
                        "
                    >
                        <div *ngIf="!copyThree" class="flex-group flex-start">
                            <div class="material-icons aa-orange-100">content_copy</div>
                            <p>Click to copy this markup</p>
                        </div>
                        <div *ngIf="copyThree" class="copied">
                            <div class="material-icons aa-orange-100">thumb_up_alt</div>
                            <p>Markup copied!</p>
                        </div>
                    </section>
                </article>
                <div class="describe margin-top-0-5">
                    <p>
                        Use (flex-group and flex-start) to display two sets of data
                        next to each other
                    </p>
                </div>
            </section>

            <section class="page-template-container">
                <h2>Space-between grouping</h2>
                <article class="page-template">
                    <div class="header"></div>
                    <div class="nav"></div>
                    <div class="control-bar">
                        <h1>H1 Heading</h1>
                    </div>
                    <div class="content-container flex-group flex-column">
                        <h2>H2 Sub-heading</h2>
                        <div class="flex-group space-between margin-top-0-25">
                            <span class="bd-aa-pink-100 padding-0-25">
                                <div class="width-3 margin-right-0 margin-top-0"></div>
                                <div class="width-3 margin-right-0"></div>
                                <div class="width-3 margin-right-0"></div>
                            </span>
                            <span class="bd-aa-pink-100 padding-0-25">
                                <div class="width-3 margin-right-0 margin-top-0"></div>
                                <div class="width-3 margin-right-0"></div>
                                <div class="width-3 margin-right-0"></div>
                            </span>
                        </div>
                    </div>
                    <section 
                        class="hover"
                        (click)="
                        copyToClipboard(copyFourHTML); 
                        copyOne=false;
                        copyTwo=false;
                        copyThree=false;
                        copyFour=true;
                        copyFive=false;
                        copySix=false
                        "
                    >
                        <div *ngIf="!copyFour" class="flex-group flex-start">
                            <div class="material-icons aa-orange-100">content_copy</div>
                            <p>Click to copy this markup</p>
                        </div>
                        <div *ngIf="copyFour" class="copied">
                            <div class="material-icons aa-orange-100">thumb_up_alt</div>
                            <p>Markup copied!</p>
                        </div>
                    </section>
                </article>
                <div class="describe margin-top-0-5">
                    <p>
                        Use (flex-group and space-between) to display two sets of data
                        opposite each other
                    </p>
                </div>
            </section>

            <section class="page-template-container">
                <h2>Top filter with ag-grid</h2>
                <article class="page-template">
                    <div class="header"></div>
                    <div class="nav"></div>
                    <div class="control-bar flex-group space-between flex-align-center">
                        <h1>H1 Heading</h1>
                        <div class="bg-aa-red-100 border-radius-50 position-absolute right-0-25 padding-0-25"></div>
                    </div>
                    <div class="flex-group flex-start">
                        <div></div><div></div><div></div><div class="bg-aa-blue-100"></div>
                    </div>
                    <div class="content-container margin-top-0-25" [ngStyle]="{'height':'5rem'}">
                        <table class="margin-top-0-25">
                            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        </table>
                    </div>
                    <section 
                        class="hover"
                        (click)="
                        copyToClipboard(copyFiveHTML); 
                        copyOne=false;
                        copyTwo=false;
                        copyThree=false;
                        copyFour=false;
                        copyFive=true;
                        copySix=false
                        "
                    >
                        <div *ngIf="!copyFive" class="flex-group flex-start">
                            <div class="material-icons aa-orange-100">content_copy</div>
                            <p>Click to copy this markup</p>
                        </div>
                        <div *ngIf="copyFive" class="copied">
                            <div class="material-icons aa-orange-100">thumb_up_alt</div>
                            <p>Markup copied!</p>
                        </div>
                    </section>
                </article>
                <div class="describe margin-top-0-5">
                    <p> Above is an example of <a routerLink="/ag-grid">AG-Grid</a> with a<br/> 
                        Design Language <a routerLink="/filter">filter</a> component
                    </p>
                </div>
            </section>

            <section class="page-template-container">
                <h2>Mixing groups</h2>
                <article class="page-template">
                    <div class="header"></div>
                    <div class="nav"></div>
                    <div class="control-bar">
                        <h1>H1 Heading</h1>
                    </div>
                    <div class="content-container">
                        <h2>H2 Sub-heading</h2>
                        <span class=" flex-group flex-column margin-bottom-0-25">
                            <div class="flex-group flex-start margin-top-0-25">
                                <span class="bd-aa-pink-100 padding-0-25 margin-right-0-25">
                                    <div class="width-1 padding-left-0-5 margin-right-0 margin-top-0"></div>
                                </span>
                                <span class="bd-aa-pink-100 padding-0-25 margin-right-0-25">
                                    <div class="width-1 padding-left-0-5 margin-right-0 margin-top-0"></div>
                                </span>
                                <span class="bd-aa-pink-100 padding-0-25">
                                    <div class="padding-left-0 bg-aa-blue-100 margin-right-0 margin-top-0"></div>
                                </span>
                            </div>
                        </span>
                        <span class=" flex-group flex-column">
                            <div class="flex-group flex-start margin-top-0-25">
                                <span class="bd-aa-pink-100 padding-0-25">
                                    <div class="width-5 margin-right-0 margin-top-0"></div>
                                    <div class="width-5 margin-right-0"></div>
                                    <div class="width-5 margin-right-0"></div>
                                </span>
                                <span class="bd-aa-pink-100 padding-0-25">
                                    <div class="width-5 margin-right-0 margin-top-0"></div>
                                    <div class="width-5 margin-right-0"></div>
                                    <div class="width-5 margin-right-0"></div>
                                </span>
                            </div>
                        </span>
                    </div>
                    <section 
                        class="hover"
                        (click)="
                        copyToClipboard(copySixHTML); 
                        copyOne=false;
                        copyTwo=false;
                        copyThree=false;
                        copyFour=false;
                        copyFive=false;
                        copySix=true
                        "
                    >
                        <div *ngIf="!copySix" class="flex-group flex-start">
                            <div class="material-icons aa-orange-100">content_copy</div>
                            <p>Click to copy this markup</p>
                        </div>
                        <div *ngIf="copySix" class="copied">
                            <div class="material-icons aa-orange-100">thumb_up_alt</div>
                            <p>Markup copied!</p>
                        </div>
                    </section>
                </article>
                <div class="describe margin-top-0-5">
                    <p>
                        Rarely used but this is useful for comparing left and 
                        right sections of a given form
                    </p>
                </div>
            </section>
        </div>
        <!-- mini menu -->
        <nav class="mini-menu flex-group flex-end">
            <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event)">
            <span class="material-icons">visibility</span><span>View gist</span>
            </button>
        </nav>
    </section>

    <section class="content-container">
        <h2 class="margin-top-0">How to structure your page example</h2>
        <img class="max-width-90" src="../assets/images/page-layout.png" />
    </section>
</section>

<aa-blade 
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
  >
  <article class="blade-content">
    <div>
      <a href="https://gist.github.com/angloux/798ef18d606cae741c31463927b87ba6" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/798ef18d606cae741c31463927b87ba6"></app-gist>
    </div>
  </article>
</aa-blade>