.border-radius-0 {border-radius: 0!important;}
.border-radius-0-25 {border-radius: .25rem!important;}
.border-radius-0-5 {border-radius: .5rem!important;}
.border-radius-0-75 {border-radius: .75rem!important;}
.border-radius-1 {border-radius: 1rem!important;}
.border-radius-1-25 {border-radius: 1.25rem!important;}
.border-radius-1-5 {border-radius: 1.5rem!important;}
.border-radius-1-75 {border-radius: 1.75rem!important;}
.border-radius-2 {border-radius: 2rem!important;}
.border-radius-50 {border-radius: 50%!important;}