.box {
  border-radius: .25rem;
  background-color: _colour(aa-white-100);
  &.light-blue {
    background-color: _palette(aa-light-blue-10);
  }
}

.box-border {
  border: 1px solid _colour(aa-blue-100);;
}

.box-medium, .box-medium-max {
  max-width: 30rem;
}

.box-small-min {
  min-width: 18rem;
}

.feature-box {
  padding: .75rem;
  border-radius: .5rem;
  border: 2px solid _palette(aa-light-blue-15);

  .feature-box-content {
    overflow-y: auto;
  }

  .alert-shield, 
  .custom-alert-shield {
    margin-bottom: .5rem
  }

  tr:last-child {
    td {
      border-bottom: none;
    }
  }

  &.padding-large {
    padding: 1rem;
  }

  &.solid {
    background-color: _palette(aa-light-blue-10);
  }

  &.small {
    width: 150px;
  }

  &.secondary {
    background-color: _palette(aa-light-blue-5);
    display: inline;
  }

  &.tertiary {
    border: 1px solid _palette(grey-50);
  }
}
