<section class="control-bar">
    <h1>Multi-select</h1>
</section>

<section class="content-container padding-0">
  
    <!-- start content repeater -->
    <section class="content-repeater flex-group">
      <section class="flex-1 col-left flex-start">
        <h2>Multi-select</h2>
        <div class="describe margin-bottom-1">
          <p>A clean alternative to the ng-select multi-select</p>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="field">
            <label>Choose items</label>
            <ph-multi-select
              formControlName="selectedItems"
              [items]="items"
              labelKey="name"
              childrenKey="cities"
              maxHeight="20rem">
            </ph-multi-select>
          </div>
          <div class="flex-group flex-start">
            <div class="field">
              <button class="primary" type="submit" [disabled]="form.invalid">Submit</button>
            </div>
            <div *ngIf="selectedItemsDisplay?.length" class="field">
              <button class="cancel" type="button" (click)="onClear()">Clear</button>
            </div>
          </div>
        </form>
        
        <div *ngIf="selectedItemsDisplay?.length">
          <h3>Selected Countries and Cities</h3>
          <div *ngFor="let selectedItem of selectedItemsDisplay">
            <h4 *ngIf="selectedItem.country">
              <span [ngClass]="{'ph-grey-25': selectedItem.isGrey}">{{ selectedItem.country }}</span>
              <span class="text-light italic ph-grey-25" *ngIf="selectedItem.isGrey"> (Country not selected)</span>
              <span class="text-light italic" *ngIf="!selectedItem.isGrey && selectedItem.cities.length === 0"> (No cities selected)</span>
            </h4>
            <span *ngIf="selectedItem.cities.length">
              {{ selectedItem.cities.join(', ') }}
            </span>
          </div>
        </div>
        
      </section>

      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">ph-multi-select</td>
              <td datalabel="Attribute">labelKey</td>
              <td datalabel="Type">String</td>
              <td datalabel="Default">Name</td>
            </tr>
            <tr>
              <td datalabel="Element">ph-multi-select</td>
              <td datalabel="Attribute">childrenKey</td>
              <td datalabel="Type">Array</td>
              <td datalabel="Default">Your array</td>
            </tr>
            <tr>
              <td datalabel="Element">ph-multi-select</td>
              <td datalabel="Attribute">[items]</td>
              <td datalabel="Type">Array</td>
              <td datalabel="Default">Your array</td>
            </tr>
            <tr>
              <td datalabel="Element">ph-multi-select</td>
              <td datalabel="Attribute">maxHeight</td>
              <td datalabel="Type">Number</td>
              <td datalabel="Default">20rem</td>
            </tr>
          </tbody>
        </table>
      </section>

      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-ph-light-blue-100" (click)="bladeIsOpen(true)">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
    </section>

      <ph-blade
        [blockPageUI]="false"
        [toggleBlade]="toggleBlade"
        [suppressAutoClose]="false"
        topPosition="3.5rem"
        [zIndex]="2"
        bladeSize="one-column-width"
        bladeHeading="Gist"
        [enableIcon]="true"
        iconName="table_rows"
        (bladeOpen)="bladeIsOpen($event)"
        >
        <article class="blade-content">
            <a href="https://gist.github.com/PixelHeadsLtd/fbce3db692cd515eab624a29a9ceaf62" target="_blank">View Gist on GitHub</a>
            <app-gist src="PixelHeadsLtd/fbce3db692cd515eab624a29a9ceaf62"></app-gist>
        </article>
      </ph-blade>

</section>
