<section class="control-bar">
  <h1>Tags</h1>
</section>

<section class="content-container padding-0">
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Tags</h2>
      <div class="describe margin-bottom-1">
        <p>You can modify the Tag background colour by adding the relevant colour class <a routerLink="/colours">here</a>.</p>
      </div>
      <div class="flex-group flex-start">
        <aa-tag
          [isShaped]="false"
          [isLightBlue]="true"
          tagText="isLightBlue = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
        <aa-tag
          [isShaped]="false"
          [isBlue]="true"
          tagText="isBlue = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
        <aa-tag
          [isShaped]="false"
          [isPlum]="true"
          tagText="isPlum = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
      </div>
      <div class="flex-group flex-start">
        <aa-tag
          [isShaped]="false"
          [isPink]="true"
          tagText="isPink = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
        <aa-tag
          [isShaped]="false"
          [isOrange]="true"
          tagText="isOrange = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
        <aa-tag
          [isShaped]="false"
          [isGreen]="true"
          tagText="isGreen = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
      </div>
      <div class="flex-group flex-start">
        <aa-tag
          [isShaped]="false"
          [isOchre]="true"
          tagText="isOchre = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
        <aa-tag
          [isShaped]="false"
          [isRed]="true"
          tagText="isRed = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
        <aa-tag
          [isShaped]="false"
          [isWhite]="true"
          tagText="isWhite = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
      </div>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">tagText</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your tag text</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">(removeTag)</td>
            <td datalabel="Type">Method</td>
            <td datalabel="Default">Your tag removal method</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isRed]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isOrange]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isGreen]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isLightBlue]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isBlue]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isOchre]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isPink]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isBlack]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isWhite]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen(true); showTags=true; showTagsShaped=false">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>

  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Tags shaped</h2>
      <div class="describe margin-bottom-1">
        <p>You can modify the Tag background colour by adding the relevant colour class <a routerLink="/colours">here</a>.</p>
      </div>
      <div class="flex-group flex-start">
        <aa-tag
          [isShaped]="true"
          [isLightBlue]="true"
          tagText="isLightBlue = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
        <aa-tag
          [isShaped]="true"
          [isBlue]="true"
          tagText="isBlue = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
        <aa-tag
          [isShaped]="true"
          [isPlum]="true"
          tagText="isPlum = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
      </div>
      <div class="flex-group flex-start">
        <aa-tag
          [isShaped]="true"
          [isPink]="true"
          tagText="isPink = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
        <aa-tag
          [isShaped]="true"
          [isOrange]="true"
          tagText="isOrange = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
        <aa-tag
          [isShaped]="true"
          [isGreen]="true"
          tagText="isGreen = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
      </div>
      <div class="flex-group flex-start">
        <aa-tag
          [isShaped]="true"
          [isOchre]="true"
          tagText="isOchre = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
        <aa-tag
          [isShaped]="true"
          [isRed]="true"
          tagText="isRed = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
        <aa-tag
          [isShaped]="true"
          [isWhite]="true"
          tagText="isWhite = true (2)"
          (removeTag)="onClick()"
          >
        </aa-tag>
      </div>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-aa-light-blue-10">
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isShaped]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">tagText</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your tag text</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">(removeTag)</td>
            <td datalabel="Type">Method</td>
            <td datalabel="Default">Your tag removal method</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isRed]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isOrange]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isGreen]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isLightBlue]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isBlue]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isOchre]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isPink]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isBlack]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-tag</td>
            <td datalabel="Attribute">[isWhite]</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen(true); showTags=false; showTagsShaped=true">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>

  <aa-blade
    [toggleBlade]="toggleBlade"
    [suppressAutoClose]="false"
    topPosition="3.5rem"
    [zIndex]="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (bladeOpen)="bladeIsOpen($event)"
    >
    <article class="blade-content">
       <div *ngIf="showTags">
        <a href="https://gist.github.com/angloux/f9a8e254383b47c616e39b3674cd314f" target="_blank">View Gist on GitHub</a>
        <app-gist src="angloux/f9a8e254383b47c616e39b3674cd314f"></app-gist>
       </div>
       <div *ngIf="showTagsShaped">
        <a href="https://gist.github.com/angloux/573dae7e18b291fe655decccc55840be" target="_blank">View Gist on GitHub</a>
        <app-gist src="angloux/573dae7e18b291fe655decccc55840be"></app-gist>
       </div>
    </article>
  </aa-blade>
</section>
