<section class="control-bar">
  <h1>Box</h1>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Box</h2>
      <div class="describe margin-bottom-1">
        <p>Box doesn't have padding set by default - this is a vanilla box with a 
            solid background Add padding and border added manually.</p>
      </div>

      <div class="box margin-top-1 flex-group flex-start">
        <div class="field boxed">
          <button class="primary">Hello</button>
        </div>
        <div class="field boxed">
          <button class="secondary">Goodbye</button>
        </div>
      </div>
      <div class="box border-green padding-1 margin-top-1">
        Add .border-green and .padding-1
        <div class="flex-group flex-start padding-top-1">
          <div class="field boxed">
            <button class="primary">Hello</button>
          </div>
          <div class="field boxed">
            <button class="secondary">Goodbye</button>
          </div>
        </div>
      </div>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">Class</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.box</td>
          </tr>
          <tr>
            <td datalabel="Element">Div.box</td>
            <td datalabel="Attribute">Class</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.border-green .padding-1</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons small bg-aa-light-blue-100" (click)="copyToClipboard(boxHTML)">
        <span class="material-icons">content_copy</span><span>Copy component</span>
      </button>
      <button class="custom-icons small bg-aa-light-blue-100" (click)="bladeIsOpen($event); box=true; featureBox=false; featureBoxApproval=false">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Feature box</h2>
      <div class="describe margin-bottom-1">
        <p>This is .feature-box to contain elements for text content see .feature in editorial content.</p>
      </div>

      <div class="feature-box flex-group flex-start">
        <div class="field boxed">
          <button class="primary">Hello</button>
        </div>
        <div class="field boxed">
          <button class="secondary">Goodbye</button>
        </div>
      </div>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">Class</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.feature-box</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons small bg-aa-light-blue-100" (click)="copyToClipboard(featureBoxHTML)">
        <span class="material-icons">content_copy</span><span>Copy component</span>
      </button>
      <button class="custom-icons small bg-aa-light-blue-100" (click)="bladeIsOpen($event); box=false; featureBox=true; featureBoxApproval=false">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Feature box - with approval status</h2>
      <div class="describe margin-bottom-1">
        <p>This is .feature-box to contain elements with approval status .approve, .reject and .return.</p>
      </div>

      <div class="feature-box field approve margin-top-1">
        <div class="field boxed">
          <label>Reason</label>
          <textarea>Some reason here...</textarea>
        </div>
        <div class="flex-group flex-center">
          <div class="field">
            <button class="reject">Reject</button>
          </div>
          <div class="field">
            <button class="cancel">Cancel</button>
          </div>
        </div>
      </div>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">Class</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.feature-box</td>
          </tr>
          <tr>
            <td datalabel="Element">Div.feature-box</td>
            <td datalabel="Attribute">Class</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.approve</td>
          </tr>
          <tr>
            <td datalabel="Element">Div.feature-box</td>
            <td datalabel="Attribute">Class</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.reject</td>
          </tr>
          <tr>
            <td datalabel="Element">Div.feature-box</td>
            <td datalabel="Attribute">Class</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.return</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons small bg-aa-light-blue-100" (click)="copyToClipboard(featureBoxApprovalHTML)">
        <span class="material-icons">content_copy</span><span>Copy component</span>
      </button>
      <button class="custom-icons small bg-aa-light-blue-100" (click)="bladeIsOpen($event); box=false; featureBox=false; featureBoxApproval=true">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
</section>

<aa-blade
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
>
  <article class="blade-content">
    <div *ngIf="box">
      <app-gist src="angloux/8de5885db91a49f49bb92943e4b2a8d1"></app-gist>
      <a href="https://gist.github.com/angloux/8de5885db91a49f49bb92943e4b2a8d1" target="_blank">View Gist on GitHub</a>
    </div>
    <div *ngIf="featureBox">
        <app-gist src="angloux/06d969123eb65527ed466afb95161e7d"></app-gist>
        <a href="https://gist.github.com/angloux/06d969123eb65527ed466afb95161e7d" target="_blank">View Gist on GitHub</a>
      </div>
      
      <div *ngIf="featureBoxApproval">
        <app-gist src="angloux/1eb6f5a7ce929aa08b9d9bbb3c54f534"></app-gist>
        <a href="https://gist.github.com/angloux/1eb6f5a7ce929aa08b9d9bbb3c54f534" target="_blank">View Gist on GitHub</a>
      </div>
  </article>
</aa-blade>

<!-- <section class="content-container padding-0">
  <article class="editorial-content">
    <h2 class="boxed">Box</h2>
    <div class="describe">
      Box doesn't have padding set by default - this is a vanilla box with a solid background<br />Add padding and border manually.
    </div>
    <div class="box margin-top-1 flex-group flex-start">
      <div class="field boxed">
        <button class="primary">Hello</button>
      </div>
      <div class="field boxed">
        <button class="secondary">Goodbye</button>
      </div>
    </div>
    <div class="box border-green padding-1 margin-top-1">
      Add .border-green and .padding-1
      <div class="flex-group flex-start padding-top-1">
        <div class="field boxed">
          <button class="primary">Hello</button>
        </div>
        <div class="field boxed">
          <button class="secondary">Goodbye</button>
        </div>
      </div>
    </div>
  </article>
  <article>
    <h2>Feature box</h2>
    <div class="describe">This is .feature-box to contain elements<br />for text content see .feature in editorial content.</div>
    <div class="feature-box flex-group flex-start">
      <div class="field boxed">
        <button class="primary">Hello</button>
      </div>
      <div class="field boxed">
        <button class="secondary">Goodbye</button>
      </div>
    </div>
  </article>

  <article>
    <h2>Feature box - with approval status</h2>
    <div class="describe">This is .feature-box to contain elements with approval status. Class = .approve, .reject and .return.</div>
    <div class="feature-box field approve margin-top-1">
      <div class="field boxed">
        <label>Reason</label>
        <textarea>Some reason here...</textarea>
      </div>
      <div class="flex-group flex-center">
        <div class="field">
          <button class="reject">Reject</button>
        </div>
        <div class="field">
          <button class="cancel">Cancel</button>
        </div>
      </div>
    </div>
  </article>
</section> -->
