<section class="control-bar">
    <aa-anchor-back [anchorBackText]="'Style guide'" routerLink=""></aa-anchor-back>
    <h1>High charts</h1>
</section>

<section class="content-container padding-0">
    <!-- start content repeater -->
    <section class="content-repeater flex-group">
        <section class="flex-1 col-left flex-start">
          <h2>High charts</h2>
          <div class="describe margin-bottom-1">
            <p>
                Please refer to the High charts documentation 
                for installation instructions. There is also a
                working demo <a href="https://stackblitz.com/edit/highcharts-angular-basic-line-ucnkbj?file=src%2Fapp%2Fapp.component.ts" target="_blank">available here on Stackblitz</a>
            </p>
          </div>
          <div>
            <highcharts-chart 
                [Highcharts]="Highcharts" 
                [options]="chartOptions">
            </highcharts-chart>
          </div>
        </section>
          
        <section class="flex-2 col-right flex-start">
          <table class="half-width">
            <caption>Attributes</caption>
            <thead>
              <tr>
                <th>Element</th>
                <th>Attribute</th>
                <th>Type</th>
                <th>Default</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td datalabel="Element">highcharts-chart</td>
                <td datalabel="Attribute">N/A</td>
                <td datalabel="Type">Component</td>
                <td datalabel="Default">N/A</td>
              </tr>
              <tr>
                <td datalabel="Element">highcharts-chart</td>
                <td datalabel="Attribute">[Highcharts]</td>
                <td datalabel="Type">Typeof</td>
                <td datalabel="Default">N/A</td>
              </tr>
              <tr>
                <td datalabel="Element">highcharts-chart</td>
                <td datalabel="Attribute">[options]</td>
                <td datalabel="Type">Array</td>
                <td datalabel="Default">N/A</td>
              </tr>
            </tbody>
          </table>
        </section>
        
        <!-- mini menu -->
        <nav class="mini-menu flex-group flex-end">
            <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event)">
              <span class="material-icons">visibility</span><span>View gist</span>
            </button>
          </nav>
      </section>
      
      <aa-blade 
        [showModal]="false"
        [toggleBlade]="toggleBlade"
        suppressAutoClose="false"
        topPosition="3.5"
        zIndex="2"
        bladeSize="one-column-width"
        bladeHeading="Gist"
        [enableIcon]="true"
        iconName="table_rows"
        (close)="toggleBlade = false"
        >
        <article class="blade-content">
            <a href="https://gist.github.com/angloux/8510b221184f1206a05311f393da67be" target="_blank">View Gist on GitHub</a>
            <app-gist src="angloux/8510b221184f1206a05311f393da67be"></app-gist>
        </article>
      </aa-blade>
    
</section>