<section class="control-bar">
  <h1>Elements alignment</h1>
</section>

<section class="content-container">
  <aa-button
    *ngIf="showMarkers"
    (buttonClick)="showMarkers =! showMarkers"
    [buttonClass]="'custom-icons light-blue'"
    [buttonId]="'buttonIdC'"
    [buttonText]="'Hide guides'"
    [customIcons]="true"
    [buttonIcon]="'menu'"
    [fieldClass]="'boxed margin-bottom-1'"
  ></aa-button>
  <aa-button
    *ngIf="!showMarkers"
    (buttonClick)="showMarkers =! showMarkers"
    [buttonClass]="'custom-icons light-blue'"
    [buttonId]="'buttonIdC'"
    [buttonText]="'Show guides'"
    [customIcons]="true"
    [buttonIcon]="'menu'"
    [fieldClass]="'boxed margin-bottom-1'"
  ></aa-button>

  <h2 class="margin-bottom-0">Form elements</h2>
  <div class="flex-group flex-start position-relative">
    <section class="alignment-marker" *ngIf="showMarkers">
      <div>
        <div><!-- marker --></div>
      </div>
    </section>
    <aa-input-text
      [fieldClass]="'small'"
      [isOptional]="true"
      [inputTextLabel]="'Input text optional'"
    ></aa-input-text>
    <div class="field">
      <label>Native select</label
      ><select>
      <option>Please select</option>
      <option>Cats</option>
      <option>Dogs</option>
      <option>Rabbits</option>
    </select>
    </div>

    <fieldset>
      <legend>Radio</legend>
      <div class="field radio">
        <label [ngClass]="{ checked: myRadios === 'yes' }">
          <input
            [(ngModel)]="myRadios"
            name="myRadios"
            type="radio"
            value="yes"
          />
          <span>Yes</span>
        </label>
      </div>
      <div class="field radio">
        <label [ngClass]="{ checked: myRadios === 'no' }">
          <input
            [(ngModel)]="myRadios"
            name="myRadios"
            type="radio"
            value="no"
          />
          <span>No</span>
        </label>
      </div>
    </fieldset>

    <aa-button 
      buttonClass="custom-icons orange" 
      fieldClass="" 
      buttonLabel="Custom icons"
      buttonText="Custom icons" 
      [customIcons]="true" 
      buttonIcon="alarm" 
    ></aa-button>

    <fieldset>
      <legend>Checkbox</legend>
      <div class="field checkbox">
        <label for="id-01">
          <input type="checkbox" value="Chickens" name="id-01" id="id-01"/>
          <span>Chickens</span>
        </label>
      </div>
    </fieldset>

    <aa-button
      [buttonClass]="'primary'"
      [buttonLabel]="'Primary'"
      [buttonText]="'Primary'"
    ></aa-button>

    <aa-slider
      [sliderInline]="false"
      sliderChecked=""
      labelText="Slider"
      fieldClass=""
      sliderId=""
      sliderName=""
      sliderValue=""
      disabled=""
    >
    </aa-slider>
    <aa-slider
      [sliderInline]="true"
      sliderChecked=""
      labelText="Slider inline"
      fieldClass=""
      sliderId=""
      sliderName=""
      sliderValue=""
      disabled=""
    >
    </aa-slider>
  </div>

  <div class="flex-group flex-start position-relative">
    <section class="alignment-marker" *ngIf="showMarkers">
      <div>
        <div><!-- marker --></div>
      </div>
    </section>
    <aa-button
      [buttonClass]="'primary settings'"
      [buttonLabel]="''"
      [buttonText]="'Settings'"
    ></aa-button>
    <aa-button
      [buttonClass]="'primary filter'"
      [buttonLabel]="''"
      [buttonText]="'Filter'"
    ></aa-button>
    <aa-button
      [buttonClass]="'primary'"
      [buttonLabel]="'Primary'"
      [buttonText]="'Primary'"
    ></aa-button>
    <aa-button
      [buttonClass]="'reject'"
      [buttonLabel]="'Reject'"
      [buttonText]="'Reject'"
    ></aa-button>
    <aa-button
      [buttonClass]="'review blue'"
      [buttonLabel]="'Review'"
      [buttonText]="'Review'"
    ></aa-button>
    <aa-button
      [buttonClass]="'primary calendar'"
      [buttonLabel]="'Calendar'"
      [buttonText]="'Calendar'"
    ></aa-button>
    <aa-button 
      buttonClass="custom-icons orange" 
      fieldClass="" 
      buttonLabel="Custom icons"
      buttonText="Custom icons" 
      [customIcons]="true" 
      buttonIcon="alarm" 
    ></aa-button>
    <aa-file-upload 
      fileUploadLabel="File upload" 
      fileUploadId="fileUploadId" 
      fileUploadExtentions=".csv,.xlsx,.xls,.pdf"
      fileUploadText="Choose file..."
      fileUploadName=""
      fieldClass="">
    </aa-file-upload>
    <aa-button 
      [buttonLarge]="true"
      buttonClass="custom-icons red" 
      fieldClass="" 
      buttonId="buttonIdC" 
      buttonLabel="Button large"
      buttonText="Button large - rarely used!" 
      [customIcons]="true" 
      buttonIcon="settings" 
    ></aa-button>
  </div>
  

  <h2 class="margin-bottom-0">Ng-Select variations</h2>
  <div class="flex-group flex-start position-relative">
    <section class="alignment-marker" *ngIf="showMarkers">
      <div>
        <div><!-- marker --></div>
      </div>
    </section>
    
    <div class="field">
      <label>Ng select</label>
      <ng-select 
        [items]="cities"
        bindLabel="name"
        placeholder="Select city"
        [(ngModel)]="selectedCity"
      >
      </ng-select>
    </div>
    <div class="field">
      <label>Ng select - Multiselect</label>
      <ng-select 
        [items]="cities2"
        bindLabel="name"
        bindValue="id"
        [multiple]="true"
        placeholder="Select cities"
        [(ngModel)]="selectedCityIds"
      >
    </ng-select>
    </div>
    <div class="field">
      <label>Ng select - Custom tags</label>
      <ng-select 
        [items]="users"
        bindLabel="name"
        bindValue="id"
        [addTag]="addCustomUser"
        [multiple]="true"
        placeholder="Add tag"
        [(ngModel)]="selectedUserIds"
        >
    </ng-select>
    </div>
    <div class="field">
      <label>Ng select - High performance. Handles over 10,000 items</label>
      <ng-select 
        [items]="cities4"
        [virtualScroll]="true"
        bindLabel="name"
        bindValue="id"
        placeholder="Select city"
        [(ngModel)]="selectedCityId"
      >
      </ng-select>
    </div>
    <div class="field">
      <label>Ng select - Grouping sections</label>
      <ng-select 
        [items]="accounts"
        bindLabel="name"
        bindValue="name"
        groupBy="country"
        [(ngModel)]="selectedAccount"
      >
      </ng-select>
    </div>
  </div>

  <h2>Alert shields</h2>
  <div class="flex-group flex-start position-relative">
    <section class="alignment-marker shields" *ngIf="showMarkers">
      <div>
        <div></div>
      </div>
    </section>
    <aa-alert-shield
      [alertShieldSmall]="false"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="success"
      alertShieldText="Success"
    >
    </aa-alert-shield>
    <aa-alert-shield
      [alertShieldSmall]="false"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="green"
      alertShieldText="Success"
    >
    </aa-alert-shield>
    <aa-alert-shield
      [alertShieldSmall]="false"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="pending"
      alertShieldText="Pending"
    >
    </aa-alert-shield>
    <aa-alert-shield
      [alertShieldSmall]="false"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="risk-high"
      alertShieldText="Risk high"
    >
    </aa-alert-shield>
    <aa-alert-shield
      [alertShieldSmall]="false"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="risk-low-approved"
      alertShieldText="Risk low approved"
    >
    </aa-alert-shield>
    <aa-alert-shield
      [alertShieldSmall]="false"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="removed"
      alertShieldText="Removed"
    >
    </aa-alert-shield>
    <aa-alert-shield
      [alertShieldSmall]="false"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="import"
      alertShieldText="Import"
    >
    </aa-alert-shield>
  </div>

  <h2>Alert shields small</h2>
  <div class="flex-group flex-start position-relative">
    <section class="alignment-marker shields small" *ngIf="showMarkers">
      <div>
        <div></div>
      </div>
    </section>
    <aa-alert-shield
      [alertShieldSmall]="true"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="success"
      alertShieldText="Success"
    >
    </aa-alert-shield>
    <aa-alert-shield
      [alertShieldSmall]="true"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="green"
      alertShieldText="Success"
    >
    </aa-alert-shield>
    <aa-alert-shield
      [alertShieldSmall]="true"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="pending"
      alertShieldText="Pending"
    >
    </aa-alert-shield>
    <aa-alert-shield
      [alertShieldSmall]="true"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="risk-high"
      alertShieldText="Risk high"
    >
    </aa-alert-shield>
    <aa-alert-shield
      [alertShieldSmall]="true"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="risk-low-approved"
      alertShieldText="Risk low approved"
    >
    </aa-alert-shield>
    <aa-alert-shield
      [alertShieldSmall]="true"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="removed"
      alertShieldText="Removed"
    >
    </aa-alert-shield>
    <aa-alert-shield
      [alertShieldSmall]="true"
      [showTooltip]="false"
      [hideLabel]="false"
      minWidth="12rem"
      alertShieldStatus="import"
      alertShieldText="Import"
    >
    </aa-alert-shield>
  </div>

  <h2>Alerts</h2>
  <div class="flex-group flex-start position-relative">
    <section class="alignment-marker shields" *ngIf="showMarkers">
      <div>
        <div></div>
      </div>
    </section>
    <div>
      <aa-alert [alertClass]="'success'" [alertText]="'Success'"></aa-alert>
    </div>
    <div>
      <aa-alert [alertClass]="'warning'" [alertText]="'Success'"></aa-alert>
    </div>
    <div>
      <aa-alert [alertClass]="'error'" [alertText]="'Success'"></aa-alert>
    </div>
  </div>

  <h2>Alerts double line</h2>
  <div class="flex-group flex-start position-relative">
    <section class="alignment-marker shields-double" *ngIf="showMarkers">
      <div>
        <div></div>
      </div>
    </section>
    <div>
      <aa-alert
        [alertClass]="'success'"
        [alertText]="
          'As a result you are already too old for fairy tales, and by the time it is printed and bound you will be older still.'
        "
      ></aa-alert>
    </div>
    <div>
      <aa-alert
        [alertClass]="'error'"
        [alertText]="
          'As a result you are already too old for fairy tales, and by the time it is printed and bound you will be older still.'
        "
      ></aa-alert>
    </div>
  </div>
  
  <h1 class="margin-top-2">Checkbox and radio layout variations</h1>
  <div class="describe">
    By default, our fieldset radios and checkboxes appear horizontally. If 
    you need a side-by-side layout similar to the below example, add the class
    .flex-group and .flex-column to the fieldset which in this example appears on the left-side.
  </div>
  
  <div>
    <div role="alert" class="margin-bottom-0 info"><strong>Default</strong> - no .flex-group.flex-column on left-side fieldset</div>
  </div>
  
  <div class="flex-group flex-start">
    <fieldset>
      <legend>Radio button</legend>
      <div class="field radio">
        <label [ngClass]="{checked: myRadios==='yes'}">
          <input [(ngModel)]="myRadios" name="myRadios" type="radio" value="yes">
          <span>Yes</span>
        </label>
      </div>
      <div class="field radio">
        <label [ngClass]="{checked: myRadios==='no'}">
          <input [(ngModel)]="myRadios" name="myRadios" type="radio" value="no">
          <span>No</span>
        </label>
      </div>
    </fieldset>

    <div class="flex-group">
      <div class="field">
        <label for="pet-select">Select - choose a pet</label>
        <select name="pets" id="pet-select">
          <option value="" selected>Please select</option>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
          <option value="hamster">Hamster</option>
          <option value="parrot">Parrot</option>
          <option value="spider">Spider</option>
          <option value="goldfish">Goldfish</option>
        </select>
      </div>
      <div class="field">
        <label for="pet-select">Select - choose a pet</label>
        <select name="pets" id="pet-select">
          <option value="" selected>Please select</option>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
          <option value="hamster">Hamster</option>
          <option value="parrot">Parrot</option>
          <option value="spider">Spider</option>
          <option value="goldfish">Goldfish</option>
        </select>
      </div>
    </div>
  </div>
  <div>
    <div role="alert" class="margin-top-2 margin-bottom-0 info">
      <strong>Custom</strong> - Add .flex-group.flex-column on left-side fieldset.
      <br/><strong class="aa-red-100">To override the extra margins added for flex-column layout, add additional 
        class .margin-bottom-0-5 to div.field.radio</strong>
    </div>
  </div>  
  <div class="flex-group">
    <div class="flex-group flex-start">
      <fieldset class="flex-group flex-column">
        <legend>Radio button</legend>
        <div class="field radio">
          <label [ngClass]="{checked: myRadios==='yes'}">
            <input [(ngModel)]="myRadios" name="myRadios" type="radio" value="yes">
            <span>Yes</span>
          </label>
        </div>
        <div class="field radio">
          <label [ngClass]="{checked: myRadios==='no'}">
            <input [(ngModel)]="myRadios" name="myRadios" type="radio" value="no">
            <span>No</span>
          </label>
        </div>
      </fieldset>
  
      <div>
        <div class="field">
          <label for="pet-select">Select - choose a pet</label>
          <select name="pets" id="pet-select">
            <option value="" selected>Please select</option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
          </select>
        </div>
        <div class="field">
          <label for="pet-select">Select - choose a pet</label>
          <select name="pets" id="pet-select">
            <option value="" selected>Please select</option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
