.aa-list-selectable {
    ul {
        list-style: none;

        li {
            position: relative;
            padding: .5rem 2.25rem .5rem .75rem;
            border-radius: .35rem;
            min-width: 14rem;
            border: 1px solid transparent; // prevent wobble
            cursor: pointer;

            &.disabled {
                color: _colour(body-text);
                cursor: not-allowed!important;
                opacity: .5;
                a {
                    color: _colour(body-text);
                }
                &:hover {
                    border-color: transparent;
                    background-color: transparent;
                    cursor: default;
                }
                &:after {
                    display: none;
                }
            }

            &:after {
                @include icon-material;
                content: "\e876";
                position: absolute;
                right: .75rem;
                opacity: .3;
            }

            &:hover {
                background-color: _colour(bg-highlight);
                border: 1px dashed _colour(border-blue);
                &:after {
                    opacity: 1;
                    color: _palette(aa-green-100);
                    font-weight: bold;
                }
            }

            &.selected {
                background-color: _colour(bg-selected);
                border: 1px dashed _colour(border-grey);
                &:after {
                    opacity: 1;
                    color: _palette(aa-orange-100);
                    font-weight: bold;
                }
            }

            label {
                padding: 0;
            }

            a {
                text-decoration: none;
            }
        }
    }
}