.show-as-button {

  &.show-tooltip-on-click {
    &.tooltip-clicked {
      div {
        display: inline-block;
      }
    }
  }

  .aa-tooltip {
    width: auto;
    &:before {
      content: ''
    }

    button {
      position: relative;
    }

    .left.top {
      bottom: calc(100% + 0.5rem);
      left: 0;
      right: auto;
      top: auto;
    }

    .right.top {
      bottom: calc(100% + 0.5rem);
      right: 0;
      top: auto;
      left: auto;
    }

    .left.bottom {
      top: calc(100% + 1.5rem);
      left: 0;
      right: auto;
      bottom: auto;
    }
    
    .right.bottom {
      top: calc(100% + 1.5rem);
      right: 0;
      bottom: auto;
      left: auto;
    }
  }
}

.aa-tooltip {
  position: relative;
  display: inline-block;
  width: 1rem;
  padding: 0;
  margin: 0;
  opacity: 1 !important; //override bs
  font-size: _font(size-default);
  z-index: unset!important; // should be set on the popup hover state

  &.as-link {
    width: auto;
    &:before {
      content: "";
    }

    .left.top,
    .left.bottom {
      right: calc(100% + .5rem)
    }

    .right.top,
    .right.bottom {
      left: calc(100% + .5rem)
    }
  }

  h4 {
    margin: 0 0 .5rem 0;
  }

  .feature-box { // TODO this needs to be controlled using the reusable component feature-box which we should not alter here
    position: absolute;
    white-space: normal;
    margin-top: -1rem; // TODO negative margin alert
    display: none;
  }

  &:hover div:not(.show-tooltip-on-click:hover div) {
    display: inline-block;
  }

  .right.bottom {
    left: 1.5rem;
    top: .25rem;
  }

  .right.top {
    left: 1.75rem
  }

  .left.bottom {
    right: 1.5rem;
    top: .25rem;
  }

  .right.top {
    left: 1.5rem;
    bottom: 0;
  }

  .left.top {
    right: 1.5rem;
    bottom: 0;
  }

  &.is-warning {
    color: _colour(aa-orange-100);
    .feature-box {
      color: _colour(aa-orange-100);
      border-color: _colour(aa-orange-100);
    }
  }

  &.is-error {
    color: _colour(aa-red-100);
    .feature-box {
      color: _colour(aa-red-100);
      border-color: _colour(aa-red-100);
    }
  }

  &.is-info {
    color: _colour(aa-light-blue-100);
    .feature-box {
      color: _colour(aa-light-blue-100) !important;
      border-color: _colour(alert-info-100);
    }
  }

  &.is-success {
    color: _colour(aa-green-100);
    .feature-box {
      color: _colour(aa-green-100);
      border-color: _colour(aa-green-100);
    }
  }
  &.custom-icon {
    .material-icons,
    .material-icons-outlined {
      font-size: 1.15rem;
      cursor: default;
      display: inline-flex;
      &.is-warning {color: _colour(aa-orange-100);}   
      &.is-error {color: _colour(aa-red-100);}
      &.is-info {color: _colour(aa-light-blue-100);}
      &.is-success {color: _colour(aa-green-100);}
    }
    &:before {
      content: "";
    }
  }
}

.aa-tooltip.icon-info,
.aa-tooltip.icon-edit {
  &:before {
    position: static;
  }
}
