.aa-carousel {
    overflow: hidden;
    padding: 0;
    .aa-carousel-content {
        padding: 0;

        .carousel-item {
            padding: 0;
            margin-right: 0;
            height: 100%;

            h1, h2, h3 {
                margin-top: 0;
            }

        }
    }
}

.aa-carousel-footer {
    padding: 1rem
}