.accordion-container:not(.blade .accordion-container) {
   border-radius: .25rem;
   margin-bottom: .5rem;

   .accordion-trigger {
      height: 3rem;
      background-color: _colour(bg-accordion);
      border: none;
      border-radius: .25rem;
      font-family: _font(family-regular);
      text-align: left;
      padding: 0 1rem 0 .75rem;
      width: 100%;

      .toggle-icons,
      .nested-icons {
         display: none;
      }

      &.disabled {
         background-color: _colour(bg-accordion-disabled);
         &:hover {
            @include button-disabled;
            background-color: _colour(bg-accordion-disabled)!important;
         }
         .material-icons,
         .material-icons-outlined,
         .accordion-heading {
            color: _colour(body-text);
            opacity: .5;
         }
         .icon-chevron-down {
            visibility: hidden;
         }
      }
      
      input[type=checkbox] {
         width: .75rem;
         height: .75rem;
      }

      &.expanded {
         border-radius: .25rem .25rem 0 0;
      }

      &:focus {
         outline: 0;
         border: none;
         box-shadow: none;
      }
     
      &.clean {
         background-color: _colour(bg-accordion-clean);
         border: 1px solid _colour(border-subtle);
         padding-left: 0;
         
         .accordion-icon {
            width: 1.75rem;
            height: 1.75rem;
            margin-right: .5rem;
            margin-left: .75rem;
            border-radius: 50%;
            color: _palette(white);
            font-size: _font(size-default);
            text-align: center;
            line-height: 1.75rem;
            padding-left: .05rem;

            &.fab {
               font-size: _font(size-regular);
            }

            &.material-icons,
            &.material-icons-outlined {
               font-size: _font(size-medium);
            }
         }
      }
   }

   .accordion-icon:not(.drag-icon) {
      color: _colour(heading-1);
      font-size: _font(size-large);
      width: 2.25rem;
   }

   .drag-icon {
      font-size: _font(size-medium);
      margin-right: .25rem;;
   }

   .toggle-chevrons {
      color: _palette(aa-blue-100);
   }

   .accordion-heading {
      color: _colour(heading-1);
      font-size: 1rem;
      margin-left: .25rem;
   }

   .accordion-panel {
      background-color: _colour(bg-accordion-body);
      border: 1px solid _colour(border-accordion);
      border-top: none;
      border-radius: 0 0 .25rem .25rem;
      font-size: _font(size-default);

      &:not(.padding-0) {
         padding: 1rem;
     }
     
     &.clean {
        background-color: _colour(bg);
        border: none;
     }
   }
}

