.accordion-container {
   margin-bottom: .25rem;
   min-height: 2.75rem;
   background-color: _colour(aa-white-100);

   &.vertical {
      margin-bottom: .25rem;

      h3 {
         .accordion-trigger {
            width: 2.75rem;
            height: 100%;
            padding: 1rem 0 .5rem 0;

            .flex-align-center {
               align-items: flex-start;
               width: 2.75rem;
            }

            .material-icons,
            .material-icons-outlined {
               text-align: center;
               width: 100%;
            }

            .accordion-heading {
               transform: rotate(90deg);
               transform-origin: left;
               white-space: nowrap;
               margin: .5rem 0 0 1.35rem;
            }

            button,
            [role=alert],
            .alert-shield,
            .custom-alert-shield {
               transform: rotate(90deg);
               transform-origin: right;
               margin-right: 0.625rem;
            }
         }
      }
   }

   // Start nested accordions
   aa-accordion {
      &:last-child {
         display: block;
         .accordion-container {
            .accordion-trigger {
               border-bottom: none;
            }
         }
      }

      .accordion-container {
         position: relative;
         margin-bottom: 0;
         border-radius: 0;
         box-shadow: none;

         .accordion-panel {
            padding: 0 1rem 1rem;
            border-bottom: 1px solid _colour(aa-grey-25);
            background-color: _colour(aa-grey-2);
         }

         .accordion-trigger {
            border-bottom: 1px solid _colour(aa-grey-25);
            background-color: _colour(aa-white-100);

            &:focus {
               border-bottom: 1px solid _colour(aa-grey-25);
            }

            &:hover {
               background-color: _colour(aa-grey-5);
            }

            .accordion-heading {
               color: _colour(aa-grey-100);
            }

            .accordion-icon {
               display: none;
            }

            .toggle-icons {
               display: none;
            }

            .nested-icons {
               display: block;
               margin: .4rem .85rem 0 0;

               .material-icons,
               .material-icons-outlined {
                  color: _colour(aa-grey-100);
                  font-size: _font(size-medium);
               }
            }
         }
      }
   }

   // End nested accordions

   .accordion-trigger {
      height: 2.75rem;
      background-color: _colour(aa-light-blue-30);
      border: none;
      border-radius: .1rem;
      font-family: _font(family-regular);
      text-align: left;
      padding: 0 .75rem 0 1.25rem;
      width: 100%;

      .toggle-icons {
         display: block;
         color: _colour(aa-blue-100);

         .material-icons,
         .material-icons-outlined {
            font-size: _font(size-medium);
            margin-top: .25rem;
         }
      }

      // custom colour classes for darker backgrounds
      &.bg-aa-blue-100,
      &.bg-aa-blue-70,
      &.bg-aa-blue-60,
      &.bg-aa-red-100,
      &.bg-aa-light-blue-100,
      &.bg-aa-grey-100,
      &.bg-aa-green-100,
      &.bg-aa-orange-100,
      &.bg-aa-burgundy-100,
      &.bg-aa-plum-100,
      &.bg-aa-blue-sky-100 {

         .accordion-heading,
         .material-icons,
         .material-icons-outlined,
         .toggle-icons {
            color: _palette(aa-white-100);
         }
      }

      .nested-icons {
         display: none;
      }

      &.disabled {
         background-color: _colour(aa-grey-5)!important;

         &:hover {
            @include button-disabled;
            background-color: _colour(aa-grey-5) !important;
         }

         .material-icons,
         .material-icons-outlined,
         .accordion-heading {
            color: _colour(aa-grey-100);
            opacity: .5;
         }

         .icon-chevron-down {
            visibility: hidden;
         }
      }

      input[type=checkbox] {
         width: .75rem;
         height: .75rem;
      }

      &.expanded {
         border-radius: .1rem .1rem 0 0;
      }

      &:focus {
         outline: 0;
         border: none;
         box-shadow: none;
      }

      &.clean {
         background-color: _colour(aa-white-100);
         border: 1px solid _colour(aa-grey-5);
         padding-left: 0;

         .accordion-icon {
            width: 1.75rem;
            height: 1.75rem;
            margin-right: .5rem;
            margin-left: .75rem;
            border-radius: 50%;
            color: _palette(white);
            font-size: _font(size-default);
            text-align: center;
            line-height: 1.75rem;
            padding-left: .05rem;

            &.fab {
               font-size: _font(size-regular);
            }

            &.material-icons,
            &.material-icons-outlined {
               font-size: _font(size-medium);
            }
         }
      }
   }

   .accordion-icon:not(.drag-icon) {
      color: _colour(aa-blue-100);
      font-size: _font(size-large);
      &.aa-blue-100 {
         color: _palette(aa-blue-100)!important;
      }
   }

   .drag-icon {
      font-size: _font(size-medium);
      margin-right: .25rem;
      ;
   }

   .toggle-chevrons {
      color: _palette(aa-blue-100);
   }

   .accordion-heading {
      color: _colour(aa-blue-100);
      font-size: _font(size-default);
      font-family: _font(family-medium);
   }

   .accordion-panel {
      background-color: _colour(aa-white-100);
      border-radius: 0 0 .1rem .1rem;
      font-size: _font(size-default);

      .dynamic-height {
         overflow: hidden;
         transition: all .3s linear;

         .accordion-content {
            padding: 1rem;
         }
      }

      &.show-accordion-panel {
         .dynamic-height {
            transition: all .3s linear;
         }
      }

      &.clean {
         background-color: _colour(aa-grey-2);
         border: none;
      }
   }
}