.aa-carousel {
    padding: 1.25rem;
    background-color: _colour(bg-primary);
    .aa-carousel-content {
        overflow: hidden;
        padding: 0 0 1.5rem 0;

        .aa-carousel-items {
            transform: translate3d(100%, 0, 0);
            transition: transform 1s ease ;
            visibility: hidden;
            height: 0;
            overflow: hidden;

            &.selected {
                transform: none;
                visibility: inherit;
                outline: 0;
                overflow: visible;
                height: initial;
            }
        }
    }

    .aa-carousel-footer {
        div {
            margin: 0 .25rem;
            a {
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
                color: _colour(body-text);
                border-radius: 50%;
                background-color: pink;
                color: _palette(white);
                width: 1rem;
                height: 1rem;
                font-size: _font(size-tiny);
                line-height: 1.1rem;
                align-items: center;
                text-align: center;
                &.current-item {
                    font-family: _font(family-medium);
                    background-color: _colour(primary);
                }

                &.material-icons {
                    background-color: transparent;
                    color: _colour(primary);
                    font-size: _font(size-regular);
                    line-height: 1.5rem;
                }
            }
        }
    }
}