/* we should start setting our bg-colours or borders at the component level as seen below. This is because when nesting
components inside a flex-group and using flex additional rules such as 'flex-stretch' the stretch is being
applied to the actual component markup BUT not our css rules for borders and backgrounds applied the the components child
wrappers and therefor the effects of flex-stretch cannot be observed */

aa-info-panel {
  display: flex;
  margin-bottom: .75rem;
  .info-panel {
      .foreground {
        position: relative;
        border: 2px solid _colour(aa-grey-25);
        background-color: _colour(aa-white-100);
        height: 100%;
      }
      
      .background {
        display: none;
      }
      
      &:hover {
        .info-panel-footer {
          button {
            &.material-icons,
            &.material-icons-outlined {
              visibility: visible;
            }
          }
        }    
      }
    
      .material-icons,
      .material-icons-outlined {
          &:not(button) {
            font-size: _font(size-large);
          }
      }
      
      .info-panel-header {
          border-bottom: 1px solid _palette(aa-light-blue-50);
          // maintain the section icon colour
          .material-icons,
          .material-icons-outlined {
            color: _palette(aa-light-blue-100);
          }
          h3 {
              margin: .25rem 0 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width:13rem;
          }
      }
      
      .info-panel-footer {
        padding: 0 .5rem .5rem 1rem;
        align-items: baseline;
        button {
          &.material-icons,
          &.material-icons-outlined {
            visibility: hidden;
            margin-right: 0;
        }
        }
    }
      
      .info-panel-content {
          height: calc(100% - 8rem);
          .image {
            width: 4rem;
            height: 5rem;
            overflow: hidden;
            border-radius: .25rem;
            img {
              outline: none;
              width: 100%;
              height: 100%;
              vertical-align: initial;
            }
          }
      }
      
      // colour changes based on status
      &.approved .foreground {
        border: 2px solid _palette(aa-green-100);
          .material-icons,
          .material-icons-outlined {
              color: _palette(aa-green-100);
          }
          button {
              &.material-icons,
              &.material-icons-outlined {
                  &:focus, &:hover {
                    background-color: _colour(aa-green-15);
                  }
              }
          }
      }
      &.pending .foreground {
        border: 2px solid _palette(aa-orange-100);
          .material-icons,
          .material-icons-outlined {
              color: _palette(aa-orange-100);
          }
          button {
              &.material-icons,
              &.material-icons-outlined {
                  &:focus, &:hover {
                    background-color: _colour(aa-orange-10);
                  }
              }
          }
      }
      &.rejected .foreground,
      &.withdrawn .foreground,
      &.returned .foreground,
      &.abandoned .foreground,
      &.withdrawn-pending .foreground {
        border: 2px solid _palette(aa-red-100);
          .material-icons,
          .material-icons-outlined {
              color: _palette(aa-red-100);
          }
          button {
              &.material-icons,
              &.material-icons-outlined {
                  &:focus, &:hover {
                    background-color: _colour(aa-red-10);
                  }
              }
          }
      }
      &.draft .foreground {
        border: 2px solid _palette(grey-100);
          .material-icons,
          .material-icons-outlined {
              color: _palette(grey-100);
          }
          button {
              &.material-icons,
              &.material-icons-outlined {
                  &:focus, &:hover {
                    background-color: _colour(aa-light-blue-10);
                  }
              }
          }
      }
      &.info .foreground {
        border: 2px solid _palette(aa-light-blue-100);
          .material-icons,
          .material-icons-outlined {
              color: _palette(aa-light-blue-100);
          }
          button {
              &.material-icons,
              &.material-icons-outlined {
                  &:focus, &:hover {
                    background-color: _colour(aa-light-blue-10);
                  }
              }
          }
      }
      &.approved {
        div {
          &.material-icons,
          &.material-icons-outlined {
            visibility: visible;
            color: _palette(aa-light-blue-100);
          }
        }
        }
   }
}

// Stacked panels
.info-panel-stacked {
  position: relative;
  margin-bottom: 1rem;

  h3 * {
    flex: revert!important;
  }
  
  &.full-width {
    margin-right: .5rem;
    .info-panel {
      width: 100%;
      .info-panel-content {
        overflow-y: auto;
        > .field {
          min-width: 14rem;
        }
      }
    }
  }
  
  aa-info-panel {
    margin-bottom: 0;
    &:nth-child(odd) {
      .info-panel {
        z-index: 1;
      }
    }
    &:nth-child(even) {
      .info-panel {
        top: 1rem;
        left: 1rem;
        z-index: 0;
      }
    }
    &.selected {
      position: relative;
      z-index: 10;
      .foreground {
        opacity: 1!important; // The !important attribube is required on this occasion because of switching structure depth!
      }
    }
  }
  
  .info-panel {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    
    .background {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: _colour(aa-white-100);
    }
  }
  
  // state changes
  &.approved-forward {
    .info-panel {
      .foreground {
        opacity: .3;
      }
      &.approved {
        z-index: 2;
        .foreground {
          opacity: 1;
        }
      }
    }
  }
  
  &.pending-forward {
    .info-panel {
      .foreground {
        opacity: .3;
      }
      &.pending {
        z-index: 2;
        .foreground {
          opacity: 1;
        }
      }
    }
  }
  
  &.rejected-forward {
    .info-panel {
      .foreground {
        opacity: .3;
      }
      &.rejected {
        z-index: 2;
        .foreground {
          opacity: 1;
        }
      }
    }
  }
  
  &.withdrawn-forward {
    .info-panel {
      .foreground {
        opacity: .3;
      }
      &.withdrawn {
        z-index: 2;
        .foreground {
          opacity: 1;
        }
      }
    }
  }
  
  &.returned-forward {
    .info-panel {
      .foreground {
        opacity: .3;
      }
      &.returned {
        z-index: 2;
        .foreground {
          opacity: 1;
        }
      }
    }
  }
  
  &.abandoned-forward {
    .info-panel {
      .foreground {
        opacity: .3;
      }
      &.abandoned {
        z-index: 2;
        .foreground {
          opacity: 1;
        }
      }
    }
  }
  
  &.widthdrawn-pending-forward {
    .info-panel {
      .foreground {
        opacity: .3;
      }
      &.withdrawn-pending {
        z-index: 2;
        .foreground {
          opacity: 1;
        }
      }
    }
  }
  
  
  &.draft-forward {
    .info-panel {
      .foreground {
        opacity: .3;
      }
      &.draft {
        z-index: 2;
        .foreground {
          opacity: 1;
        }
      }
    }
  }
  
  &.reset-all {
    aa-info-panel {
      &:nth-child(odd) {
        .info-panel {
          z-index: 1;
        }
      }
      &:nth-child(even) {
        .info-panel {
          z-index: 0;
        }
      }
    }
  }
} // end .info-panel-stacked