// SETTING AG-GRID FULL HEIGHT (.ag-grid-full-height class should be added to th epage wrapper, e.g. content-container)
.ag-grid-full-height {
  display: flex!important;
  flex-direction: column;

  .ag-grid-wrapper {
      flex: 1 1 auto;

      ag-grid-angular {
          width: 100%;
          height: 100%;
      }
  }
}

// AG-GRID PARENT COMPONENT STYLING
.blade {
  .ag-grid {
    .ag-header, 
    .ag-body-viewport {
      padding-left: .5rem;
    }
  }
}

.feature-box {
  .ag-header {
    white-space: normal;
  }
}

.ag-theme-balham:not(.disable-cell-focus-colour) {
  .ag-cell-focus {
    background-color: _colour(aa-light-blue-15)!important;
  }
}

// START AG-GRID CUSTOM STYLING
.ag-theme-balham {

  .date-picker {
    .input-group:not(.input-group .dropdown-menu button) {
      button {
        display: none!important;
      }
    }

    input {
      width: 100%;
    }
    button.material-icons {
      top: .1rem;
      background-color: transparent!important;
      box-shadow: none!important;
      position: absolute!important;
    }
  }

  .ag-details-row {
    background-color: _colour(aa-white-100)!important;
  }

  input:not(.ng-select input) {
    color: _colour(aa-grey-100)!important;
    background-color: _colour(aa-white-100)!important;
  }
  .ag-ltr {
    input[class^=ag-][type=text] {
      padding-top: .25rem;
      padding-bottom: .25rem;
    }
    .ag-has-focus {
      .ag-cell-focus:not(.ag-cell-range-selected) {
        border: none!important;
      }
    }
   }
  .ag-popup-child {
    color: _colour(aa-grey-100)!important;
  }
  .ag-select-agg-func-virtual-list-item {
    &:hover {
      background-color: _colour(trans-light-blue-10-to-blue-dark)!important;
    }
  }
  .ag-side-bar {
    background-color: _colour(aa-white-100)!important;
    .ag-side-buttons {
      padding-top: 0;
      .ag-side-button {
        button {
          color: _colour(aa-grey-100)!important;
          border-left: 3px solid transparent;
          border-top: none;
        }
        &.ag-selected {
          button {
            background-color: _colour(aa-white-100)!important;
            border-left: 3px solid _colour(trans-light-blue-to-white);
          }
        }
      }
    }
  }
  .ag-tool-panel-wrapper {
    background-color: _colour(aa-white-100)!important;
    color: _colour(aa-grey-100)!important;
    .ag-drag-handle {
      color: _colour(aa-grey-100)!important;
    }
    .ag-select-agg-func-virtual-list-item,
    .ag-column-select-column-label,
    .ag-column-drop-vertical-icon,
    
    .ag-column-drop-vertical-title,
    .ag-group-title-bar,
    .ag-filter-toolpanel-group-title-bar-icon {
      background-color: _colour(aa-white-100)!important;
      color: _colour(aa-grey-100)!important;
    }

    .ag-column-drop-vertical-cell {
      background-color: _colour(trans-grey-5-to-grey-dark)!important;
    }
  }

  .ag-tooltip {
    background-color: _colour(aa-white-100)!important;
    color: _colour(aa-grey-100)!important;
    border-radius: .25rem!important;
  }

  // custom tooltip sits at top level within ag-grid wrapper
  .custom-tooltip {
    background-color: _colour(aa-white-100);
    padding: .5rem;
    border-radius: .25rem;
    color: _colour(aa-grey-100);

    p {
      margin: 0 0 .25rem 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  // Styling for ag-grid context-menuborder
  &.ag-popup {
    .ag-menu {
      .ag-menu-list {
        padding: 0!important;
      }
    }
  }

  .ag-popup-child:not(.ag-tooltip-custom) {
    box-shadow: 0 0 3pt 1pt _colour(aa-light-blue-15);
    border: 1px solid _colour(aa-grey-5);
    background: _colour(aa-white-100);
    border-radius: .25rem;
  }
  // wrappers
  .ag-root-wrapper {border: none;}
  .ag-root {background-color: _colour(aa-white-100);}
  .ag-column-drop-wrapper {
    .ag-column-drop {
      background-color: _colour(aa-white-100);
      border-bottom-color: _colour(aa-light-blue-30);
      .ag-icon {
        color: _colour(aa-grey-100);
      }
      .ag-column-drop-cell {
        background-color: _colour(aa-white-100);
        color: _colour(aa-grey-100);
      }
    }
  }

  // ------------------ SHARED ACROSS HEADER & ROWS -------------------
  .link-grid-primary {
    color: _colour(trans-light-blue-to-blue-light);
  }
  .ag-checkbox-input-wrapper {
    height: 14px;
  }
  .ag-checkbox-input-wrapper,
  .ag-radio-button-input-wrapper {
    &:after {
      background-color: _colour(aa-white-100)!important;
    }
    
    &.ag-checked {
      &:after {
        color: _colour(trans-light-blue-to-blue-light);
      }
    }
  }
  // ---------------------------- HEADER ------------------------------
  .ag-header {
    color: _colour(aa-grey-100);
    font-family: _font(family-main);
    font-size: _font(size-default);
    font-weight: _font(weight-regular);
    background-color: _colour(aa-white-100);
    border-bottom: solid .0875rem _colour(aa-grey-25);

    .ag-header-row {
      color: _colour(aa-grey-100);

      .ag-header-group-cell {
        &:first-child {
          padding-left:$cell-horizontal-padding-first;
        }
      }
    }

    .feature-box {
      white-space: normal;
    }

    .ag-header-cell {
      &:first-child {
        padding-left:$cell-horizontal-padding-first;
      }
      .ag-header-icon {
        color: _colour(aa-grey-100);
      }
      .ag-header-cell-text {
        color: _colour(aa-grey-100);
        font-size: _font(size-default);
        font-weight: _font(weight-bold);
      }
    }
  }

  // ------------------------ MAIN CONTENT ROWS -------------------------
  .ag-row {
    color: _colour(aa-grey-100);
    font-family: _font(family-main);
    font-size: _font(size-default);
    font-weight: _font(weight-regular);
    border-color: _colour(aa-light-blue-30);
    background-color: _colour(aa-white-100);
    border-width: .0875rem;
    min-height: 2.25rem!important;

    &.ag-row-selected {
      &:before {
        background-color: _colour(aa-grey-10)!important;
      }
    }

    &.ag-row-hover, 
    &.ag-row-focus {
        background-color: _colour(aa-grey-5);

        &.ag-row-selected {
          &:before {
            background-color: _colour(aa-grey-10)!important;
            background-image: none!important
          }
        }
    }

    // Start ag-cell styles
    .ag-cell {
      padding-left: calc(#{$cell-horizontal-padding}) !important;
      padding-right: calc(#{$cell-horizontal-padding}) !important;
      line-height: 2rem;

      input[type=text],
      input[type=datepicker] {
        line-height: initial!important; // override reboot
        padding: .56rem .75rem!important; // tweak input padding for ag-grid only
      }

      &.ag-cell-inline-editing {
        input {
          background-color: _colour(aa-white-100)!important;

          &:focus {
            box-shadow: inset 0 0 3px 1px _colour(aa-light-blue-100)!important;
          }
        }
      }

      .date-picker {
        .anchor-close {
          &:after {
            top: -.25rem;
            padding: .25rem
          }
        }
      }

      .avatar {
        margin-top: .075rem;
      }

      button.btn-ellipsis {
        margin-top: .6rem;
        min-width: 1.5rem !important;
        max-width: 1.5rem !important;
        height: 1.5rem !important;
        min-height: 1.5rem !important;
        max-height: 1.5rem !important;
      }

      &:first-child {
        padding-left: calc(#{$cell-horizontal-padding-first}) !important;
      }

      &.ag-cell.ag-cell-inline-editing {
        height: 100%;
      }

      &.ag-cell-inline-editing {
        padding: 0!important;
        border: 1px solid _colour(aa-light-blue-100)!important;
        background: _colour(aa-grey-2);
        .ag-cell-edit-wrapper {
          .ag-cell-editor {
            .ag-input-field-input {
              height: 100%;
              padding-left: .75rem;
              background-color: transparent;
              border: none;
              box-shadow: none;
            }
          }
        }
      }

      // Validation
      &.error + .custom-tooltip {
        color: red!important;
        background-color: red!important;
        
      }
      &.error {
        background-color: _colour(aa-red-10);
        padding-right: 2rem!important;
        &:after {
          content: 'error_outline';
          position: absolute;
          right: .5rem;
          top: 0;
          font-family: _font(material-icons);
          font-size: _font(size-medium);
          color: _colour(aa-red-100);
        }
        .ag-input-field-input {
          padding-right: 0;
        }
      }

      &.cell-marker-red,
      &.cell-marker-orange,
      &.cell-marker-green,
      &.cell-marker-blue,
      &.cell-marker-grey
       {
        &:after {
          content:'';
          position: absolute;
          top: 0;
          right: 0;
          width: 0; 
          height: 0; 
          border-bottom: .25rem solid transparent;
          border-left: .25rem solid transparent;
        }
      }

      &.cell-marker-red {
        &:after {
          border-top: .25rem solid _palette(aa-red-100);
          border-right: .25rem solid _palette(aa-red-100);

        }
      }

      &.cell-marker-orange {
        &:after {
          border-top: .25rem solid _palette(aa-orange-100);
          border-right: .25rem solid _palette(aa-orange-100);

        }
      }

      &.cell-marker-green {
        &:after {
          border-top: .25rem solid _palette(aa-green-100);
          border-right: .25rem solid _palette(aa-green-100);
        }
      }

      &.cell-marker-blue {
        &:after {
          border-top: .25rem solid _palette(aa-light-blue-100);
          border-right: .25rem solid _palette(aa-light-blue-100);
        }
      }

      &.cell-marker-grey {
        &:after {
          border-top: .25rem solid _palette(aa-grey-10);
          border-right: .25rem solid _palette(aa-grey-10);
        }
      }

      .ag-select {
        .ag-picker-field-wrapper {
          background-color: _colour(aa-white-100)!important;
          color: _colour(aa-grey-100)!important;
        }
      }
      
      .ag-icon {
        color: _colour(aa-grey-100)!important;
      }

      // Force ALL alert-shields small by default
      .alert-shield {
        height: 1.5rem;
        background-size: 1rem;
        font-size: _font(size-small);
        padding: .275rem .75rem .275rem 1.75rem;
        line-height: initial;

        &.green,
        &.blue,
        &.orange,
        &.red {
          padding-left: .75rem;
        }
      }

      .custom-alert-shield {
        padding-top: .25rem;
        .custom-alert-shield-container {
          font-size: _font(size-small);
          height: 1.5rem;
          padding: 0 0 0 .15rem;
          line-height: initial;
      
          span {
            font-size: _font(size-small);
            padding-right: .75rem
          }
      
          .material-icons,
          .material-icons-outlined {
            font-size: _font(size-medium);
            margin-right: .25rem;
          }
        }
      }

      &.ag-cell-range-selected {
        border: none!important;
        button {
          &.material-icons,
          &.material-icons-outlined {
            box-shadow: 0 0 3pt 1pt _palette(aa-light-blue-50);
          }
        }
      }
      
      button:not(.ag-paging-panel) {
        line-height: 14px !important;
      }

      button {
        margin-top: 0;
        padding-top: .4rem;
        padding-bottom: .4rem;
        letter-spacing: 0rem;
        font-size: _font(size-small);
        min-width: auto;
        &:after {
          top: .35rem;
        }
        
        &:before {
          font-size: 1.2rem!important;
        }
        
        &.material-icons,
        &.material-icons-outlined {
          width: 1.5rem;
          height: 1.5rem;
          padding: 0;
        }
      }

      .checkbox, 
      .radio {
        label {
          margin-top: .158rem;
          display: flex;
          align-items: center;
          float: left;
          padding: 0.25rem 0.75rem 0.25rem 0.75rem!important;
          span {
            line-height: initial;
          }
        }
      }
    }
  }

  // header menus - sits outside header at top level
  .ag-list-item {
    background-color: _colour(aa-white-100);
    color: _colour(aa-grey-100)!important;
    &.ag-active-item {
      background-color: _colour(aa-grey-5)!important;
    }
  }

  .ag-menu, 
  .ag-menu-header, 
  .ag-tab-selected {
    background-color: _colour(aa-white-100);
    border-color: _colour(aa-light-blue-30);
    color: _colour(aa-grey-100);
  }

  .ag-menu-separator {
    height: 3px!important;
    .ag-menu-separator-part {
      &:after {
        border-color: _colour(aa-light-blue-30);
      }
    }
  }

  .ag-menu-option-active, .ag-compact-menu-option-active {
    background-color: _colour(aa-grey-5);
    color: _colour(aa-grey-100);
  }

  .ag-menu-list {
    padding: 4px 0 0!important
  }
  
  // pagination
  .ag-paging-panel {
    padding: 1.5rem 0;
    justify-content: left;
    background-color: _colour(aa-white-100);
    color: _colour(aa-grey-100);
    border-color: _colour(aa-light-blue-30);
    
    .ag-paging-button {
      padding: .25rem .5rem;
      font-size: _font(size-small);
    }
    
    button[ref=btFirst] {
      margin-left: 1rem;
      @include button-white;
      &:hover {
        @include button-white-hover;
      }
    }
  
    button[ref=btPrevious] {
      margin-right: 1rem;
      @include button-light-blue;
      &:hover {
        @include button-light-blue-hover;
      }
    }
  
    button[ref=btNext] {
      margin-left: 1rem;
      @include button-light-blue;
      &:hover {
        @include button-light-blue-hover;
      }
    }
  
    button[ref=btLast] {
      margin-right: 1rem;
        @include button-white;
        &:hover {
          @include button-white-hover;
        }
    }
  }
  
  .ag-row-drag {
    background-position-y: calc(#{$grid-size} / 2 + 2px) !important;
  }
} // END


