.nav-vertical {
  background-color: _colour(aa-white-100)!important;
  border-right: 1px solid _colour(aa-light-blue-30)!important;
}
ul {
  padding-left: 0;
  &.nav-tabs {
    // DEFAULTS
    padding-left: 0;
    a {
      border-left: none!important;
      text-decoration: none!important;
      position: relative;
      line-height: 1.5rem;
    }
    span {
      color:unset!important;
      background-color: transparent!important;
    }
    // tweak chevron position
    [data-toggle=collapse] {
      &:after {
        top: 5px!important;
        right: 10px!important;
      }
    }
    // PARENT LIST
    > li {
      a.nav-link {
        font-size: .8rem!important;
        background-color: _colour(aa-white-100)!important;
        color: _colour(trans-blue-to-white)!important;
        &.active {
          background-color: _palette(aa-blue-100)!important;
          color: _palette(aa-white-100)!important;
          i {
            color: _palette(aa-white-100)!important;
          }
        }
        i {
          color: _colour(trans-blue-to-white)!important;
        }
        &:hover {
          color: _palette(aa-white-100)!important;
          background-color: _palette(aa-blue-100)!important;
          i {
            color: _palette(aa-white-100)!important;
          }
        }
        // expanded active sections
        &[data-toggle="collapse"] {
          &[aria-expanded="true"] {
            background-color: _palette(aa-plum-100) !important;
            color: _palette(aa-white-100)!important;
            i {
              color: _palette(aa-white-100)!important;
            }  
            // little chevron when active
            &:after {
              color: _palette(aa-white-100)!important;
            }
          }
        }
        // little chevron
        &.collapsed {
          &:after {
            color: _colour(trans-blue-to-white)!important;
          }
          &:hover {
            &:after {
              color: _palette(aa-white-100)!important;
            }
          }
        }
      }
    }
  }
}