.header {
  background-color: _colour(trans-blue-to-grey);
  border-bottom: 2px solid _colour(aa-blue-100);
  color: _colour(aa-white-100);
  a {
    color: _colour(force-white)!important;
    text-decoration: none!important;
  }
  .app-menu-dropdown {
    font-size: 1.5rem;
  }
  .nav-link {
    .thumb-image {
      height: 1.75rem!important;
      width: 1.75rem!important;
    }
  }
  .navbar-brand {
    .app-logo {
      background-color: transparent!important;
      font-size: 1.25rem;
    }
  }
  .blade-content {
    a {
      color: _colour(trans-light-blue-to-blue-light)!important;
    }
  }
}