.csh {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #323232;
}

.csh-container {
  display: flex;
}

.csh-content {
  flex-grow: 4;
  margin-right: 1rem;
}

.csh-toggle-button {
  float: right;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.csh-toggle-panel {
  border: 1px solid#ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  flex-grow: 1;
  background-color: white;
  box-shadow: 0 8px 10px 1px #ccc;
}

.csh p {
  font-size: 0.85rem;
}

.csh button {
  border-radius: 0.4rem;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8125rem;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.0575rem;
  padding: 0.5rem 0.75rem;
}
.csh button:focus {
  outline:1px solid #66add0;
}
.csh button.primary {
  background-color: #002776;
  border-color: #002776;
  color: white;
}
.csh button.primary:hover {
  background-color: #4d689f;
  border-color: #4d689f;
}
.csh button.secondary {
  background-color: #0075b0;
  border-color: #0075b0;
  color: white;
}
.csh button.secondary:hover {
  background-color: #3391c0;
  border-color: #3391c0;
}
.csh button.cancel {
  background-color: white;
  border-color: #002776;
  color: #002776;
}
.csh button.cancel:hover {
  background-color: #f2f8fb;
  border-color: #002776;
  color: #002776;
}

.csh button + button {
  margin-left: 1rem;
}

.csh {
  .field {
    max-width: 35rem;
    padding-top: 1rem;
  }
  .field.small {
    max-width: 17rem;
  }
  .field.radio {
    padding-top: 1rem;
  }
  .field.checkbox {
    margin-top: 1rem;
    padding-top: 0;
  }
}

.csh input {
  font-size: 0.85rem;
  color: #323232;
}
.csh input[type="text"],
.csh input.list {
  display: block;
  border: 1px solid #c7c7c7;
  border-radius: 0.25rem;
  width: calc(100% - 1rem);
}
.csh input[type="text"]:not([role="combobox"]),
input.list:not([role="combobox"]) {
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}
.csh input[type="radio"] {
  margin-right: 0.75rem;
}
.csh input:focus:not([type="checkbox"]) {
  outline: 1px solid #66add0;
}
.csh input [role="combobox"] {
  border-radius: 0.25rem;
}
.csh label,
.csh legend {
  display: block;
  font-size: 0.85rem;
  font-weight: 700;
  padding: 0.75rem 0 0.5rem 0 !important;
}

.csh .field.radio label {
  display: inline;
  font-weight: 400;
}

.csh select {
  display: block;
  border: 1px solid #c7c7c7;
  border-radius: 0.25rem;
  width: calc(100% - 1rem);
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  font-size: 0.85rem;
}

.csh {
  .checkbox {
    background-color: white;
    border: 1px solid #0075b0;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    display: inline-block;
  }
  .checkbox label {
    display: inline-block;
    padding: 0.5rem 1rem !important;
    margin: 0;
  }
  .checkbox span {
    display: inline-block;
  }
  .checkbox input[type="checkbox"] {
    margin-right: 1rem;
  }

  .describe {
    padding: 0.25rem 0.75rem;
    font-size: 0.8125rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-color: #f1f1f1;
  }

  // stolen tooltip styling

  .ng-tooltip {
    background: white;
    border: 1px solid_colour(secondary);
    border-radius: 0.5rem;
    _colour(primary);
    font-size: _font(size-default);
    max-width: 19rem;
    text-align: center;
    padding: 0.25rem 0.75rem;
    position: absolute;
    opacity: 0;
    //z-index: 1000;
    p {
      margin-bottom: 0;
    }
  }
  .ng-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  .ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent _colour(secondary); transparent transparent;
  }
  .ng-tooltip-show {
    opacity: 1;
  }
}

.csh .ng-select {
  font-size: 0.8125rem;
}
.csh .ng-select.ng-select-single .ng-select-container {
  background-color: white !important;
}
.csh .ng-select.is-invalid.ng-select-single .ng-select-container {
  background-color: #fcf3f4 !important;
}
.csh .ng-select.ng-select-opened > .ng-select-container {
  border-width: 1px !important;
}

.csh .hidden {
  display: none !important;
}

// page help container in Anglo Angular CORE

.page-help-container {
  h1,
  h2,
  h3,
  h4 {
    color: rgb(0, 39, 118);
    letter-spacing: -0.015rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 2rem 0 1rem 0;
  }

  h3 {
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0 0.5rem 0;
  }

  h4 {
    font-weight: 300;
    margin: 1rem 0 0.5rem 0;
  }

  .boxed {
    margin-top: 0;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    &.spacing-lg li {
      padding-bottom: 1rem;
    }
  }

  .describe {
    padding: 0.25rem 0.75rem;
    font-size: 0.85rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-color: rgb(241, 241, 241);
  }

  .padding-2 {
    padding: 2rem;
  }

  .editorial-content {
    font-size: 0.9rem;
    line-height: 1.35rem;
    max-width: 40rem;
  }

  button {
    border-radius: 1.5rem;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.0575rem;
    padding: 0.5rem 1rem;
  }

  button.primary {
    background-color: rgb(0, 117, 176);
    border-color: rgb(0, 117, 176);
    color: white;
    &:hover {
      background-color: rgb(51, 145, 192);
      border-color: rgb(51, 145, 192);
    }
  }
}
