&.design-language {

  .happy-chappy {
    width: 1.5rem;
    height: 1.75rem;
    margin-top: .4rem;
  }

  .minimize-menu + main {
    .unauthorised {
      left: 5rem;
    }
  }

  .unauthorised {
    left: 16rem;
    transition: all .25s linear;
  }
  
  main.main-content {
    padding-left: 16rem;
    transition: all .25s linear;

    &.menu-minimized {
      padding-left: 5rem;

      .questions-and-answers {
        width: calc(100% - 5rem);
      }
    }
  }

  .questions-and-answers {
    width: calc(100% - 16rem);
  }
  
  .header-secondary {
    display: block;
  }

  header.page-header {
    background-image: url("#{$logo-path}anglo-american-logo-white.svg");
    background-position: center left 54.5%;
    background-repeat: no-repeat;
    background-size: 8.5rem;
    transition: all 0.25s linear;
    &.shift-aa-logo {
      background-position: center left 50.9%;
      transition: all 0.25s linear;
    }
    .mobile-menu {
      display: none;
      margin-right: 0;
      .aa-blade-modal {
        top: 3.5rem;
        width: 100%;
      }
      button {
        position: relative;
        z-index: 999;
      }
    }
  }
  .nav-container,
  main {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .router-outlet {
    a,
    table, 
    .mini-menu, 
    .content-repeater {
      display: none;
    }
    .control-bar {
      border-bottom: none;
      padding-top: 0;
    }
  }

  .content-repeater {
    position: relative;
    padding: 1.5rem 1.25rem 2rem;
    border-bottom: 1px solid _colour(aa-grey-25);
    
    .fade {
      visibility: hidden;
      &.fade-in-out {
        -webkit-animation: fadeinout 1s linear forwards;
        animation: fadeinout 1s linear forwards;
        visibility: visible;
      }
      
      @-webkit-keyframes fadeinout {
        0%,100% { opacity: 0; }
        50% { opacity: 1; }
      }
      
      @keyframes fadeinout {
        0%,100% { opacity: 0; }
        50% { opacity: 1; }
      }
    }

    &.padding-bottom-1 {
      padding-bottom: 1rem;
    }
    
    > .col-right {
      table.half-width {
        width: 60%;
        background-color: transparent;
        
        tr {
          &.highlight {
            background-color: _colour(aa-white-100);
          }
          
          th, td {
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
    
    &:last-child {
      border-bottom: none;
    }
    
    > .col-left {
      margin-right: 4rem;
      //min-width: 30rem;
      margin-bottom: 1.5rem;
    }
    
    h2:not(.ql-editor h2, .csh-container h2) {
      margin-top: 0;
    }
    &:nth-child(odd) {
      background-color: _colour(trans-grey-2-to-grey-dark);
    }
    &:nth-child(even) {
      background-color: _colour(aa-white-100);
    }
    
    .mini-menu {
      position: absolute;
      z-index: 1;
      margin-right: 0;
      top: 0;
      right: 0;
      button {
        margin: 0;
        padding: 0.25rem 1rem;
        border-radius: 0;
        border-right: 1px solid _colour(aa-grey-25);
        font-size: .7rem;
        span {
          &.material-icons,
          &.material-icons-outlined {
            font-size: _font(size-regular);
          }
        }
        span {
          &:not(.material-icons, .material-icons-outlined) {
            line-height: initial;
          }
        }
        &:last-child {
          border-right: none;
        }
        &:hover {
          background-color: _colour(aa-blue-100);
        }
      }
    }
    
    .flex-dl {
      div {
        padding: .5rem 1rem;
        border-radius: .5rem;
        border-width: 1px;
        border-style: dashed;
      }
      &.blue {
        div {
          border-color: _colour(aa-light-blue-50);
          background-color: _colour(aa-light-blue-15);
        }
      }
      &.pink {
        div {
          border-color: _colour(aa-pink-100);
          background-color: _colour(aa-pink-25);
          color: _colour(aa-grey-100);
        }
      }
      &.green {
        div {
          border-color: _colour(aa-green-50);
          background-color: _colour(aa-green-5);
          color: _colour(aa-grey-100);
        }
      }
      &.ochre {
        div {
          border-color: _colour(aa-ochre-100);
          background-color: _colour(aa-ochre-8);
          color: _colour(aa-grey-100);
        }
      }
      &.orange {
        div {
          border-color: _colour(aa-orange-100);
          background-color: _colour(aa-orange-5);
          color: _colour(aa-grey-100);
        }
      }
    }
    
    .colour-swatch {
      position: relative;
      border-radius: .5rem;
      margin-bottom: .75rem;
      box-shadow: .1rem .1rem .5rem _colour(box-shadow-strong);
      max-width: 18rem;
      min-width: 15rem;
      min-height: 7rem;
      dl {
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: _colour(aa-grey-2);
        border-radius: 0 0 .4rem .4rem;
        padding: .5rem .75rem;
        font-size: _font(size-small);
        
        dt {
          clear: left;
          float: left;
          min-width: 4.75rem;
        }
        dd {
          display: block;
        }
      }
    }
  }
  
  // added to blade for info purposes for devs
  .blade-navigation {
    .aa-tooltip {
      position: absolute;
      top: 0;
      left: 2rem;
      right: 2rem;
      bottom: 3rem;
      width: auto;
      color: transparent;
      
      .feature-box {
        text-align: left;
        top: 4rem;
        left: -3rem;
        
        div.small {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: .5rem;
        }
      }
    }
  }

  .show-search {
    .change-theme-button {
      margin-right: 10.75rem;
    }
    .aa-search-dl {
      input[type=text] {
        width: 12rem;
        padding-right: 2rem;
        color: _colour(aa-white-100);
        &::placeholder {
          visibility: visible;
          color:_colour(aa-light-blue-50);
        }
      }
      .material-icons:not(.nav-icon),
      .material-icons-outlined:not(.nav-icon) {
        transform: rotate(90deg);
      }
  
      .clear-search { 
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .aa-search-dl {
    position: relative;
    width: 2rem;
    height: 2rem;
    input[type=text] {
      position: absolute;
      right: 0;
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
      border: none;
      color: transparent;
      background-color: _colour(trans-light-blue-to-white);
      &::placeholder {
        visibility: hidden;
      }
    }
    .material-icons:not(.nav-icon, .clear-search),
    .material-icons-outlined:not(.nav-icon, .clear-search) {
      font-size: _font(size-large);
      color: _colour(aa-white-100);
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;
      text-align: center;
      line-height: 2rem;
    }

    .search-results {
      background-color: _colour(trans-blue-to-grey);
      padding: 0 1rem 1rem;
      margin: 2rem 0 0;
      position: fixed;
      z-index: 999;
      right: 0;
      top: 1.5rem;
      bottom: 0;
      width: 21rem;
      border-radius: 0 0 0 .5rem;
      overflow-y: auto;

      ul {
        margin-top: -1rem;
        li {
          list-style: none;
          text-align: left;
          margin-top: .5rem;
          width: auto;
          height: auto;

          h2 {
            margin: 1.5rem 0 .75rem 0;
          }
        
          .nav-icon {
            color: _palette(aa-white-100);
            font-size: _font(size-regular);
          }
    
          a {
            color: _colour(aa-white-100);
            font-size: _font(size-small);
            &::first-letter {
              text-transform: capitalize;
            }
          }
        }
      }
  
      .highlight {
        color: _colour(aa-orange-100);
      }
    }
  }
  
  .landing-page {  
    &.sticky {
      .quick-links {
        position: fixed;
        z-index: 1;
        top: 3.5rem;
        left: 16rem;
        right: 0;
        border-top: none;
        box-shadow: 0 .25rem 2rem _colour(box-shadow);
      }
    }

    .drop-area {
      padding: 10rem;
    }
    
    .content-repeater {
      padding: 5rem 10%;
      border-bottom: none;

      &.dl-info {
        background-color: _colour(aa-pink-25);

        h3 {
          strong {
            font-size: _font(size-medium);
          }
        }

        div {
          margin-right: 4rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
      
      h1 {
        margin-bottom: .5rem;
      }
      
      &:nth-child(odd):not(.dl-info) {
        background-color: _colour(aa-white-100);
      }
      &:nth-child(even) {
        background-color: _colour(trans-grey-2-to-grey-dark);
      }
      
      .anchor-point {
        position: absolute;
        top: -4rem;
      }
      
      .call-to-action {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        margin: 0 .75rem .75rem 0;
        text-decoration: none;
        width: 6.5rem;
        height: 6.5rem;
        padding: .5rem;
        border: 1px dashed _colour(aa-grey-25);
        border-radius: 0;
        background-color: _colour(aa-white-100);
        .material-icons,
        .material-icons-outlined {
          font-size: 2.5rem;
          margin: .75rem 0 0 0;
          &.small {
            font-size: 2.25rem;
          }
        }
        p {
          font-size: _font(size-small);
          color: _colour(aa-grey-100);
          line-height: .9rem;
        }
        
        &:hover {
          background-color: _colour(aa-grey-2);
        }
      }
    }
    .dl-banner {
      background-image: linear-gradient(to right, _colour(dl-gradient-light) , _colour(dl-gradient-dark));
      padding: 1rem 3rem 0;
      min-height: 20rem;

      .new {
        font-size: _font(size-small);
        font-family: _font(family-medium);
      }
      
      h1 {
        margin-top: 1rem;
      }
      
      .search {
        position: relative;
        width: 18rem;
        .material-icons.search-icon,
        .material-icons-outlined.search-icon {
          position: absolute;
          color: _colour(aa-orange-100);
          right: .5rem;
          top: .5rem;
        }
        input {
          border-radius: 2rem;
          padding: .75rem 3rem .75rem 1rem;
          font-size: _font(size-regular);
          &:focus + {
            .material-icons,
            .material-icons-outlined {
              transform: rotate(90deg);
            }
          }
          
          &::placeholder {
            opacity: .4;
          }
        }
        
        .search-results {
          position: absolute;
          z-index: 1;
          width: 16rem;
          left: 0;
          margin-top: .5rem;
          border-radius: .5rem;
          padding: 0 1rem 1rem;
          overflow-y: auto;
          overflow-x: hidden;
          max-height: 20rem;
          background-color: _colour(aa-white-100);
          border: 1px solid _colour(aa-grey-25);

          h2 {
            margin: 1.5rem 0 .75rem 0;
            color: _colour(aa-grey-100);
          }
          
          ul {
            margin-top: -1rem;
            li {
              list-style: none;
              margin-top: .5rem;
  
              .material-icons,
              .material-icons-outlined {
                background-color: transparent!important;
                font-size: _font(size-regular)!important;
              }
  
              .material-icons:not(.aa-green-50 .material-icons),
              .material-icons-outlined:not(.aa-green-50 .material-icons) {
                color: _palette(aa-white-100)!important;
              }
            }
          }
          
          a {
            color: _colour(aa-grey-100);
            .highlight {
              color: _palette(aa-orange-100);
            }
          }
        }
      }
      
      .getting-started {
        margin: 0 0 1rem 0;
        min-width: 19rem;
        .material-icons,
        .material-icons-outlined {
          font-size: _font(size-medium);
          
          &.star {
            font-size: 2rem;
            margin: 1.25rem .25rem 0 0;
          }
        }
      }
  
      img {
        max-height: 20rem;
        margin-right:18rem;
      }
      
      .graphic {
        @include dl-graphic;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
        min-height: 20rem;
        margin: 0 -4.5rem 0 -4.5rem;
        width: 100%;
        max-width: 53rem;
      }

      .features {
        min-width: 27rem;
      }
    }
    
    .blade {
      ol.code {
        margin-bottom: .5rem;
        padding: .5rem 1.5rem .5rem 1.75rem;
        border-radius: .25rem;
        background-color: _colour(aa-grey-5);
        li {
          padding:0;
        }
      }
    }
    .quick-links {
      background-color: _colour(aa-grey-2);
      border-top: 1px solid _colour(aa-grey-25);
      border-bottom: 1px solid _colour(aa-grey-25);
      padding: .75rem 1.25rem 0;
      
      button {
        color: _colour(trans-light-blue-to-white);
        background-color: _colour(aa-white-100);
        border-color: _colour(tratrans-light-blue-to-orange);
        margin-bottom: .75rem;
        &:hover {
          background-color: _colour(trans-blue-to-orange);
          border-color: _colour(tratrans-light-blue-to-orange);
          color: _palette(aa-white-100);
        }
      }
    }
  }
}

.blade {
  iframe {
    body {
      margin: 0;
    }
  }
  .poem {
    display: none;
  }
}

.tab-nav-page {
  .blades-data {
    display: none;
  }
}

.gist {
  .gist-data,
  table {
    background-color: transparent;
  }

  .blob-code-inner {
    color: _colour(aa-grey-100);
    span.pl-s {
      color: _colour(aa-grey-100);
    }
    span.pl-c1 {
      color: _colour(aa-blue-100);
    }
  }

  td {
    border-bottom: none !important;
  }

  .gist-file {
    border-color: _colour(aa-grey-5);
    background-color: _colour(aa-grey-2);
  }

  .gist-meta {
    background-color: _colour(aa-grey-2);
  }

  .gist-data {
    border-bottom: 1px solid _colour(aa-grey-5) !important;
  }
}

.email-container {
  td {
    color: _colour(aa-grey-100);
  }
  p, th, tr:last-child td span {
    color: _colour(aa-blue-100);
  }
}

.page-template-container {
  margin-right: 4rem;
  &:last-child {
    margin-right: 0
  }

  .describe {
    width: 19rem;
    opacity: .3;
  }

  &:hover {
    .describe {
      opacity: 1;
    }
    > h2 {
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    .page-template .hover {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: _colour(aa-blue-100);
      opacity: .9;
      border-radius: .25rem;
      z-index: 1;
      color: _palette(white);
      p {
        color: _palette(white);
        font-size: _font(size-small);
        margin: 0;
        padding: 0;
      }
      > div {
        margin: 4rem 0 0 4.5rem;
        text-align: center;
        .material-icons,
        .material-icons-outlined {
          font-size: _font(size-regular);
          margin-right: .25rem;
        }

        &.copied {
          margin: 2.5rem 0 0 0;
          text-align: center;
          .material-icons,
          .material-icons-outlined {
            font-size: 4rem;
            margin: 0;
          }
        }
      }
    }
  }

  > h2 {
    position: relative;
    overflow: hidden;
    display: inline;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -.15rem;
      width: 100%;
      height: 0.1em;
      background-color:_palette(aa-pink-100);
      opacity: 0;
      transition: opacity 500ms, transform 500ms;
      transform: translate3d(-100%, 0, 0);
    }
  }

  .page-template {
    margin-top: .75rem;
    position: relative;
    background-color: _colour(aa-grey-2);
    border-radius: .25rem;
    padding: 1.5rem .25rem .25rem 2.75rem;
    height: 8.25rem;
    width: 16rem;
    .hover {
      display: none;
    }

    h1 {
      font-size: _font(size-small);
      margin: 0;
    }
    h2 {
      font-size: _font(size-xsmall);
      margin: 0;
    }

    .content-container {
      height: 6.5rem;
      div:not(.flex-group) {
        background-color: _colour(aa-light-blue-30);
        border-radius: .25rem;
        padding: .25rem .75rem;
        margin: .25rem .25rem 0 0;
      }
      .flex-group {
        div:last-child {
          margin-right: 0;
        }
      }
    }
    .control-bar, .content-container {
      position: relative;
      border: 2px solid _palette(aa-orange-100);
      border-radius: .25rem;
      padding: .25rem!important;
      margin-bottom: .25rem;
      &.tagged {
        &:after {
          background-color: _palette(aa-orange-100);
          position: absolute;
          right: 0;
          top: 0;
          color: _colour(white);
          font-size: _font(size-xsmall);
          padding: 0 .25rem .125rem .25rem;
        }
      }
      &.control-bar.tagged {
        &:after {
          content: 'class = control-bar';
        }
      }
      &.content-container.tagged {
        &:after {
          content: 'class = content-container';
        }
      }
    }

    .header {
      background-color: _colour(aa-blue-100);
      height: 1rem;
      border-radius: .25rem;
      position: absolute;
      top: .25rem;
      right: .25rem;
      left: .25rem;
      &:before {
        line-height: 1rem;
        position: absolute;
        content: 'Page header';
        color: _colour(white);
        font-size: _font(size-xsmall);
        width: 100%;
        text-align: center;
        opacity: .6;
      }
    }
    .nav {
      position: absolute;
      left:.25rem;
      top: 1.5rem;
      bottom: .25rem;
      width: 2.25rem;
      border-radius: .25rem;
      background-color: _colour(aa-blue-100);
      &:before {
        position: absolute;
        content: 'Left nav';
        color: _colour(white);
        font-size: _font(size-xsmall);
        margin: .5rem 0 0 .5rem;
        opacity: .6;
      }
    }
    td {
      border: 2px solid _colour(aa-white-100);
      background-color: _colour(aa-light-blue-30);
      border-radius: .25rem;
      padding: .25rem;
    }
    > div:not(
      .nav, 
      .header, 
      .control-bar, 
      .content-container,
      .hover div
      ) {
      border: 2px solid _colour(aa-white-100);
      background-color: _colour(aa-light-blue-30);
      padding: .25rem;
      border-radius: .25rem;
      > div {
        border: none;
        background-color: _colour(aa-grey-2);
        padding: .25rem .75rem;
        border-radius: .25rem;
        margin-right: .5rem;
      }
    }
  }
}

// mobile
@media screen and (max-width: _breakpoint(breakpoint-50rem)) {
  &.design-language {
    main {
      padding-left: 0!important;

      .control-bar {
        .error {
          display: none;
        }
      }
      
      .landing-page {
        &.sticky {
          .quick-links {
            left: 0;
          }
        }
        .dl-banner {
            padding: 1rem 1.5rem 0;
          .graphic {
            max-width: 33rem;
            margin: 0;
            min-height: 12rem;
          }
          .getting-started {
            margin-top: 0;
          }
          .search-section {
            margin-bottom: 0;
          }
          .features {
            min-width: auto;
          }
        }
        .content-repeater {
          padding: 5rem 1.5rem;
          
          .col-right {
            .flex-end {
              --gap: 1.5rem;
              width: calc(100% + var(--gap));
              
              .call-to-action {
                margin: 0 .55rem .55rem 0;
              }
            }
          }
        }
      }
    }
    
    .blade {
      z-index: 9999!important;
    }
    
    header.page-header {
      background-image: none;
      .mobile-menu {
        display: block;
      }
    }
    
    // mobile
    .nav-core.nav-container {
      position: fixed;
      height: 0;
      transition: all .25s linear;
      overflow: auto;
      width: 100%;
      padding-top: 0;
      opacity: 0;
      bottom: unset;
      border-right: none;
      z-index: 99999;
      
      .nav-min-max {
        display: none;
      }

      &.show-mobile-menu {
        height: 16.75rem;
        border-bottom: 1px solid _colour(aa-grey-25);
        box-shadow: 0 .5rem 1rem _colour(box-shadow);
        padding-top: .25rem;
        opacity: 1;
      }
      
      .expand-collapse {
        display: none;
      }
      
      > ul > li >, 
      > ul > li.show > {
        a {
          &:after {
            right: 2.25rem;
          }
          div {
            &:first-child {
              margin-right: .35rem;
            }
          }
        }
      }
    }

    .content-repeater {
      flex-direction: column;
      > .col-left {
        min-width: initial;
        margin-right: 0;
      }
      .col-right {
        justify-content: flex-start;
        margin-right: 0;
        .flex-end {
          justify-content: flex-start;
        }
        
        table {
          width: 100%;
          &.half-width {
            width: 100%;
          }
        }
      }
      
      .nav-context {
        position: static;
      }
    }
    .nav-core {
      position: static;
      > ul {
        height: auto;
      }
    }
  }
}

// Template builder
.template-builder {
  .cdk-drag-placeholder {
    opacity: 0;
  }
  .aa-overlay {
    .aa-overlay-container {
      max-width: 100%;
      top: 2rem;
      right: 2rem;
      bottom: 2rem;
      left: 2rem;
      .aa-overlay-content {
          height: calc(100vh - 11rem);
          .aa-icon-picker {
            margin-bottom: 0!important;
            color: _colour(aa-grey-100);
            position: absolute;
            top: .75rem;
      
            .aa-ip-filter {
              padding-left: 2.5rem;
              .material-icons {
                position: absolute;
                top: 0;
                left: 0;
              }
      
              &:hover {
                .field {
                  display: block;
                  z-index: 999;
                }
              }
            }
      
            .field {
              display: none;
            }
      
            .material-icons {
              margin-top: .1rem;
            }
            
            label {
              display: none;
            }
            
      
            .aa-ip-results {
              top: 3rem;
              z-index: 999999;
            }
          }
          input[type=text].picker-label {
            margin-left: 1.75rem;
            border: none;
            background: transparent;
          }
      }
    }





  }
}

// page template
.tb-page-template  {
  overflow: hidden;
  position: relative;
  padding-top: 3rem;
  height: 75vh;
  border: 1px solid _colour(aa-grey-25);
  background-color: _colour(aa-grey-2);

  // hide stuff by default
  .material-icons:not(
    .date-picker .material-icons,
    header .material-icons,
    .left-navigation .material-icons, 
    .blade-instance .material-icons,
    .blade-bottom .material-icons,
    button .material-icons,
    .aa-icon-picker .material-icons,
    .bad .material-icons
    ),
    .add-inputs-cntrl,
    .table-wrapper,
    .title:not(.left-navigation .title),
    .picker,
    .bad,
    .field-instance-input,
    .field-instance-select,
    .tabs,
    .add-inputs-cntrl,
    .controls {
    display: none;
  }

  .bad {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    padding: 0 0 0 .75rem;
    .material-icons {
      font-size: _font(size-xxlarge)!important;
    }
  }

  input[type=text] {
    &.label {
      display: flex;
      width: auto;
      max-width: 7rem;
      padding: 0;
      background-color: transparent;
      border: none;
      font-family: _font(family-medium);
      font-size: _font(size-default);
      font-weight: initial;
      color: _colour(aa-grey-100);
      padding: 0 0 .25rem 0;
    }
    &.select {
      @include chevron-down;
    }
  }

  .button {
    max-width: 8rem;
    .primary {
      @include button-light-blue;
      &:hover {
        @include button-light-blue-hover;
      }
      &::placeholder {
        color: _palette(aa-white-100);
      }
    }
    .cancel {
      @include button-white;
      &:hover {
        @include button-white-hover;
      }
      &::placeholder {
        color: _palette(aa-grey-100);
      }
    }
    .primary,
    .cancel {
      border-radius: 1.5rem;
      font-family: _font(family-medium);
      font-size: _font(size-default);
      letter-spacing: 0.0575rem;
      line-height: 1.15rem;
      padding: .425rem .75rem;
      text-align: center;
      display: flex;
    }
  }
  .add-inputs-cntrl {
    display: none;
    .section-heading {
      margin-bottom: 1rem;
      position: relative;
      input[type=text] {
        background-color: transparent;
        color: _colour(aa-blue-100);
        font-size: _font(size-medium);
        font-weight: _font(weight-medium);
        border: none;
        margin-right: 0;
        padding: 0;
        max-width: 100%;
      }
      &:hover {
        button.material-icons {
          display: block;
          top: -1.25rem;
          left: -.75rem;
        }
      }
    }
    .controls {
      position: absolute;
      z-index: 30;
      right: 100%;
      width: 9rem;
      background-color: _colour(aa-grey-2);
      border-top: 1px solid _colour(aa-grey-25);
      border-bottom: 1px solid _colour(aa-grey-25);

      button.add-btn {
        padding: .5rem;
        border-radius: 0;
        width: 100%;
        font-size: 0.5rem;
        min-height: 1rem;
        line-height: 0.5rem;
        border: none;
        background-color: _colour(aa-grey-2);
        &:last-child {
          border-bottom: none;
        }
        .material-icons {
          line-height: 1rem;
          color: _palette(aa-white-100);
          + span {
            padding-left: .75rem;
          }
        }
      }
    }
    .hide-label {
      opacity: 0;
    }
    .field {
      display: block;
      position: relative;
      .checkbox,
      .radio {
        margin-right: 0;
        margin-bottom: 0;
        label {
          width: 7rem;
          height: 2.08rem;
          &.checked {
            input[type=text].label {
              color: _palette(aa-white-100);
              &::placeholder {
                color: _palette(aa-white-100);
              }
            }
          }
          input[type=text] {
            margin: 0 0 0 1.25rem;
          }
        }
      }
      &:hover {
        button.material-icons:not(.date-picker button.material-icons) {
          display: block!important;
          position: absolute;
          top: -.25rem;
          right: 0;
          padding: 0rem!important;
          width: 1.25rem!important;
          height: 1.25rem!important;
          
        }
      }
    }
  }

  label {
    padding-bottom: .25rem 
  }

  .field, 
  input:not(.title) {
    max-width: 11rem;
  }
  
  header {
    background-color: _colour(trans-blue-to-grey);
    color: _colour(aa-white-100);
    border-bottom: none;
    box-sizing: border-box;
    padding: .5rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .material-icons {
      display: inline-block;
    }
    .aa-icon-picker {
      top: .5rem!important;
    }
    input:not(.aa-icon-picker input) {
      background-color: transparent;
      border: none;
      color: _colour(aa-white-100);
      width: auto!important;
      &:focus {
        border: none!important;
        box-shadow: none!important;
      }
      &::placeholder {
        color: _colour(aa-light-blue-100);
      }
    }
  }
  &.show-left-nav {
    .left-navigation {
      display: block;
    }
    .drag-item.control-bar,
    .drag-item.blade-bottom,
    .drag-item.filter,
    .drag-item.filter .controls,
    .drag-item.table th:first-child,
    .drag-item.table td:first-child,
    .drag-item.h2,
    .drag-item.input,
    .drag-item.select,
    .bad {
      padding-left: 14rem!important;
    }
    .tab-navigation {
      padding-left: 13rem!important;
    }
  }
  .left-navigation {
    + .control-bar {
      .bad {
        display: none;
      }
    }

    + .h2,
    + .input,
    + .select,
    + .tab-navigation,
    + .filter,
    + .table {
      .bad {
        display: flex;
      }
    }

    display: none;
    position: absolute;
    z-index: 3;
    border-right: 1px solid _colour(aa-grey-25);
    background-color: _colour(aa-white-100);
    bottom: 0;
    top: 3rem;
    bottom: 0;
    width: 13rem;
    &:hover {
      .add-inputs-cntrl, 
      .controls {
        display: block;
      }
      .controls {
        right: 0;
        left: 0;
        width: 100%;
        button:not(:last-child) {
          border-left: none;
          border-right: none;
          border-bottom: 1px solid _colour(aa-grey-25);
        }
      }
    }
    ul {
      position: relative;
      z-index: 100;
      li {
        padding: .25rem 0 .25rem 1rem;
        position: relative;
        border-bottom: 1px solid _colour(aa-grey-25);

        &:last-child {
          padding-bottom: .5rem;
          border-bottom: none
        }
  
        input[type=text] {
          &.title {
            width: 7rem;
            padding: 0;
            background-color: transparent;
            border: none;
          }
        }
  
        .aa-icon-picker {
          top: .25rem;
          .aa-ip-filter {
            .material-icons {
              top: 0;
            }
          }
          .field {
            margin-bottom: .25rem;
            max-width: 9rem;
          }
        }
      }
    }
  }
  .blade-instance {
    top: 3rem;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 3;
    width: 22rem;
    padding: .75rem;
    border-left: 1px solid _colour(aa-grey-25);
    background-color: _colour(aa-grey-2);

    + .control-bar {
      .bad {
        display: none;
      }
    }

    .blade-header {
      border-bottom: 2px solid _colour(aa-light-blue-30);
      background-color: _colour(aa-white-100);
      margin-left: -0.75rem;
      width: calc(100% + 1.5rem);
      height: 2.75rem;
      padding-left: 0.5rem;
    }

    input[type=text].title,
    button:not(.save, .cancel),
    .aa-icon-picker label,
    .aa-icon-picker .field {
      display: none;
    }

    .picker {
      display: block;
      input[type=text].picker-label {
        margin: .25rem 0 .25rem 1.75rem;
        padding: 0;
        font-size: _font(size-medium);
        font-weight: _font(weight-medium);
        color: _colour(aa-blue-100);
        width: 100%;
        max-width: 100%;
      }
    }

    .blade-footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      padding: .75rem;
      border-top: 2px solid _colour(aa-light-blue-30);
      background-color: _colour(aa-white-100);
      .button {
        max-width: initial;
        padding-top: 0;
        input {
          max-width: 6.5rem;
        }
      }
    }
    .add-inputs-cntrl {
      &.blade-inputs {
        display: block;
      }
    }
    &:hover {
      .blade-inputs {
        .controls,
        button.add-btn {
          display: block;
        }
        .controls {
          border: 1px solid _colour(aa-grey-25);
          button.add-btn:not(:last-child) {
            border-bottom: 1px solid _colour(aa-grey-25);
          }
        }
      }
    }
    .blade-inputs {
      margin-top: 1rem;
      .field:not(.radio, .checkbox, .button) {
        width: 100%;
        max-width: 100%;
        input,
        select {
          max-width: 100%;
        }
      }

      .field {
        width: auto;
        margin-bottom: 1rem;
        &.reposition {
          width: 35%!important;
        }
        .radio,
        .checkbox,
        .button {
          max-width: 7rem;
        }

        .button {
          padding-top: 0;
        }
      }
      
      .controls {
        top: 1.4rem;
        right: 100%;
      }
    }

    hr {
      display: block;
      position: relative;
      top: 0.75rem;
      left: -0.75rem;
      width: calc(100% + 1.5rem);
    }
  }
}

// left menu
.component-menu {
  width: 10rem;
  max-width: 10rem;
  border: 1px solid _colour(aa-grey-25);
  overflow-y: auto;
  .drag-item {
    position: static;
    padding: .5rem 1rem;
    border-bottom: 1px solid _colour(aa-grey-25);
  }
}

// DRAG-ITEM AND IT'S APPENDED ARRAY ITEMS
.drag-item {
  cursor: pointer;
  font-size: _font(size-default);
  position: relative;
  z-index: 1;
  &:hover {
    z-index: 999;
  }

  // ALL DRAG-ITEM NESTED ELEMENTS
  hr {
    display: none;
    border-top: 2px solid _colour(aa-light-blue-30);
    border-bottom: none;
  }

  input[type=text] {
    &.title {
      width: auto;
      padding: 0;
      background-color: transparent;
      border: none;
    }
  }

  .material-icons:not(
    .aa-icon-picker .material-icons,
    .blade .material-icons,
    .bad .material-icons
    ) {
    font-size: _font(size-regular);
    position: absolute;
  }

  // DRAG-ITEM APPENDED ARRAY OBJECTS
  // drag-item.input, drag-item.select
  &.input {.field-instance-select {display: none!important;}} 
  &.select {.field-instance-input {display: none!important;}}
  &.input,
  &.select {
    position: relative;
    padding: 1rem 1rem 0 1rem;
    .field-instance-input,
    .field-instance-select {
      display: block;
      padding-top: 0;
      width: 22rem;
      max-width: 22rem;
      input[type=text]:not(.label) {
        max-width: 100%;
      }
    }
  }

  &.control-bar {
    .bad {display: flex;}
    position: relative;
    right: 0;
    left: 0;
    padding: .5rem 1rem;
    input[type=text].title {
      display: block;
      width: 100%;
      font-size: 1.625rem;
      font-weight: _font(weight-regular);
      color: _colour(aa-blue-100);
    }
  }

  &.filter {
    position: relative;
    left: 0;
    right: 0;
    min-height: 5rem;
    padding: .75rem 1rem;
    background-color: _colour(aa-light-blue-30);
    .add-inputs-cntrl {
      &.filter-inputs {
        display: block;
      }
    }
    &:hover {
      .controls {
        display: block;
        bottom: 100%;
        left: 0;
        width: 100%;
        text-align: center;
      }
      button.add-btn {
        display: inline-block!important;
        width: auto;
        border-left: 1px solid _colour(aa-grey-25);
        border-bottom: none;
        margin: auto;
        &:last-child {
          border-right: 1px solid _colour(aa-grey-25);
        }
      }
    }
    .filter-inputs {
      display: block;
    }
  }

  &.blade-bottom {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: _palette(aa-orange-100);
    color: _palette(aa-white-100);
    padding: .25rem 1rem .25rem 1rem;

    .material-icons:not(.aa-icon-picker .material-icons),
    input[type=text].title {
      display: none;
    }

    .picker {
      display: block;
      .aa-icon-picker {
        top:.25rem;
        .aa-ip-results {
          top: auto!important;
          bottom: 3rem;
        }
      }
      input[type=text].picker-label {
        margin-left: 1.25rem;
        padding: .4rem;
        color: _palette(aa-white-100);
        font-size: _font(size-regular);
      }
    }
  }

  &.table {
    position: relative;
    left: 0;
    right: 0;

    .table-wrapper {
      display: block;
      position: relative;
      &:hover {
        .add-inputs-cntrl,
        .controls {
            display: block;
        }
        .controls {
          width: 100%;
          right: 0;
          bottom: 100%;
          text-align: center;
          button.add-btn {
            width: 8rem;
            border-bottom: none;
            border-left: 1px solid _colour(aa-grey-25);
            &:last-child {
              border-right: 1px solid _colour(aa-grey-25);
            }
          }
        }
      }
      table input[type=text].title {
        display: block;
      }
      table {
        th, td {
          &:first-child {
            padding-left: 1rem;
          }
        }
        thead th {
          position: relative;
          &:hover {
            button.material-icons {
              display: block;
              left: -0.75rem;
              top: 0;
            }
          }
        }
        tbody tr {
          position: relative;
          &:hover {
            button.material-icons {
              display: block;
              right: 2rem;
              top: 0;
            }
          }
        }
      }
    }
  }

  &.h2 {
    position: relative;
    padding: 1rem;
    input[type=text].title {
      display: block;
      width: 100%;
      color: _colour(aa-blue-100);
      font-size: _font(size-medium);
      font-weight: _font(weight-medium);
    }
  }

  &.tab-navigation {
    position: relative;
    padding: 0;
    border-bottom: none;
    .tabs  {
      border-bottom: 1px solid _colour(aa-light-blue-100);
      padding: .25rem 0 0 1rem;
      height: 2.95rem;
      display: block;
      position: relative;
      .add-inputs-cntrl {
        display: block;
      }
      .tab {
        margin-right: 1.5rem;
        max-width: 100%;
        height: 2.65rem;
        strong {
          position: relative;
          z-index: 0;
          &:focus {
            opacity: 0;
          }
        }
        input[type=text].label {
          position: absolute;
          opacity: 0;
          top: 1rem;
          z-index: 1;
          border-radius: 0;
          padding: 0;
          margin-bottom: .5rem;
          font-family: _font(family-medium);
          font-size: _font(size-default);
          max-width: 100%;
          min-width: 3rem;
          &:focus {
            opacity: 1;
            + strong {
              opacity: 0;
            }
          }
        }
        &.selected {
          border-bottom: 3px solid _colour(trans-light-blue-to-blue-light);
          color: _colour(trans-light-blue-to-blue-light);
        }
      }
    }
    &:hover {
      .tabs {
        .controls {
          display: block;
          text-align: center;
          width: 100%;
          left: 0;
          bottom: 100%;
          button.add-btn {
            width: 8rem;
            margin: auto;
            border-left: 1px solid _colour(aa-grey-25);
            &:last-child {
              border-right: 1px solid _colour(aa-grey-25);
            }
          }
        }
      }
    }
  }
}
