// ng-select overrides

.allow-text-wrapping {
  // regular dropdowns
  .ng-option {
    white-space: normal!important;
    display: flex;
  }
  
  // multi-select
  &.ng-select-multiple {
    .ng-select-container {
      .ng-value {
        white-space: normal!important;
        display: flex;

        .ng-value-icon {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

// When nested in ag-grid - this is because the dropdown part of ng-select is apended to the page body
.ng-dropdown-panel:not(.ng-select .ng-option .ng-option-label) {
  .ng-option {
    white-space: normal!important;
    display: flex;
  }
}

.ng-select {
  font-size: _font(size-default);

  &.ng-select-disabled.ng-select-single,
  &.ng-select-disabled.ng-select-multiple {
    .ng-select-container {
      background-color: _colour(aa-grey-5)!important;
      background-image: none!important;
      border-style: dashed;
    }

    .ng-select-container,
    .ng-input>input {
      cursor: not-allowed!important;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .ng-arrow-wrapper {
    width: 30px;
  }

  .ng-clear-wrapper {
    text-align: center;
    width: 20px;
    margin-top: .15rem;
  }
  
  &.ng-select-focused {
    .ng-select-container {
      outline: 0;
      border: 1px solid _colour(aa-light-blue-100)!important;
      box-shadow: 0 0 3pt 1pt _colour(aa-light-blue-15);
    }
  }
  
  input[type=text] {
    border: none!important;
    border-radius: 0;
    min-height: 1.25rem;
    &:focus {
      outline: none!important;
    }
  }
  
  &[aria-disabled=true],
  &[disabled] {
    border: none;
    border-bottom: 1px solid _colour(aa-grey-5);
    border-radius: 0;
    cursor: not-allowed;
    
    option {
      display: none;
    }
    
    &:focus {
      border: none;
      border-bottom: 1px solid _colour(aa-grey-5);
      box-shadow: none;
    }
  }

  .ng-select-container {
    min-height: 2.1rem;
    line-height: initial;
    @include chevron-down;

    background-color: _colour(aa-white-100) !important; // aa override
    border: 1px solid _colour(aa-grey-25);
    border-radius: .25rem !important;

    .ng-value-container {
      padding-top: 3px!important;
      .ng-placeholder {
        top: 9px!important;
      }
      .ng-value {
        color: _colour(aa-grey-100);
      }
    }
    .ng-arrow {
      display: none!important;
    }
  }

  &.ng-select-single {
    .ng-select-container {
      height: 2.1rem; // only set height when it's single
      background-color: _colour(aa-white-100) !important; // aa override
      border: 1px solid _colour(aa-grey-25);
      border-radius: .25rem !important;
      .ng-value-container {
        .ng-input {
          top: .35rem;
        }
      }
    }
  }

  &.is-invalid {
    &.ng-select-single {
      .ng-select-container {
        border: 1px solid _palette(aa-red-100) !important;
        border-radius: 0.25rem !important;
      }
    }

    &.ng-select-multiple {
      .ng-select-container {
        border: 1px solid _palette(aa-red-100) !important;
        border-radius: 0.25rem !important;
      }
    }
  }

  &.ng-select-opened > .ng-select-container {
    border-width: 1px !important; // aa override
  }

  .ng-dropdown-panel {
    border: 1px solid _colour(aa-grey-25)!important;
    background-color: _colour(aa-white-100)!important;

    .ng-dropdown-panel-items {
      .ng-optgroup {
        font-family: _font(family-bold) !important;
        color: _palette(aa-grey-100) !important;
      }
      .ng-option:not(.ng-option-marked) {
        background-color: transparent!important;
      }
      .ng-option {
        padding: .25rem 1rem;
        color: _colour(aa-grey-100)!important;
        background-color: _colour(aa-light-blue-10) !important;

        .ng-tag-label {
          color: _colour(aa-white-100);
          background-color: _colour(aa-light-blue-100);
          border-radius: .25rem;
          padding: .25rem .5rem;
          margin: .25rem .5rem .25rem -.5rem;
          display: inline-block;
          font-size: _font(size-small);
        }

        &.ng-option-selected {
          .ng-option-label {
            opacity: .3;
          }
        }
    
        &:hover {
          background-color: _colour(aa-light-blue-10) !important;
        }

        &.ng-option-disabled {
          .ng-option-label {
            font-style: italic;
            opacity: .3;
            &:after {
              content: " (disabled)";
            }
          }
        }
      }
      .ng-option-disabled {
        color: _colour(aa-grey-100)!important;
      }
    }
  }

  &.ng-select-multiple {
    .ng-select-container {
      .ng-value-container {
        .ng-value {
          background-color: _colour(aa-light-blue-10) !important;
          color: _colour(aa-grey-100)!important;
          padding: .175rem 0;
        }
      }
    }
  }

  &.ng-select-multiple
    .ng-select-container
    .ng-value-container
    .ng-value
    .ng-value-icon {

    &:hover {
      background-color: _palette(aa-light-blue-40);
    }
  }
}

.gradient {
  .ng-select {
    .ng-select-container {
      color: _palette(aa-white-100)!important;
      background-color: _palette(aa-blue-100) !important; // aa override
      background-image: url("../../assets/icons/keyboard_arrow_down-wht-24px.svg");
      background-repeat: no-repeat;
      background-position: center right .25rem;
      border-radius: 0!important;
      border: none;
      
      .ng-clear-wrapper {
        width: 10px;
      }
    }
  }
}
