// NGB DATEPICKER CSS - this will ensure that the ngb-datepicker works when bootstrap is removed from a given project.

.date-picker {
  position: relative!important;
  width: 100%;

  .anchor-close {
    position: absolute;
    top: 0;
    right: 2rem
  }
  
  button {
    &:before,
    &:after {
      content: none!important;
    }

    &.material-icons {
      background-color: transparent!important;
      color: _colour(aa-light-blue-100)!important;
      position: absolute!important;
      top: 0!important;
      bottom: 0!important;
      right: 0!important;
      border-radius: 0!important;
      box-shadow: none!important;
      width: 2rem!important;
      height: 2rem!important;
      &:hover, &:focus {
        border: none!important;
        background-color: transparent!important;
        color: _colour(aa-blue-100)!important;
      }
      &:disabled {
        background-color: transparent !important;
      }
    }
  }
  input {
    padding-right: 2rem;
    width: 100%;
    &[readonly] {
      + button {
        opacity: .5;
        color: _colour(aa-grey-5);
        cursor: not-allowed;
      }
    }
  }
  input[type=date] {
    + button {
      display: none;
    }
  }
}

ngb-datepicker.dropdown-menu,
.ngb-datepicker {
    z-index: 999999;
    float: left;
    min-width: 10rem;
    padding: 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: _palette(aa-grey-100);
    text-align: left;
    list-style: none;
    background-color: _colour(aa-grey-2);
    background-clip: padding-box;
    border-radius: .25rem;
    box-shadow: 0 0 .3rem .3rem _colour(box-shadow);
    -webkit-box-shadow: 0 0 .3rem .3rem _colour(box-shadow);
    -moz-box-shadow: 0 0 .3rem .3rem _colour(box-shadow);
    
    // START HEADER STYLES
    .ngb-dp-header {
      background-color: _colour(aa-grey-5);
      border-bottom: 0;
      border-radius: .25rem .25rem 0 0;
      padding-top: .25rem;
      display: flex;
      flex: 1 1 9rem;
      
      ngb-datepicker-navigation,
      .ngb-datepicker-navigation {
        width: 100%;
        align-items: center;
        display: flex;
        
        .ngb-dp-arrow {
          display: flex;
          flex: 1 1 auto;
          height: 2rem;
          margin: 0;
          padding-left: 0;
          padding-right: 0;
          width: 2rem;
          
          .ngb-dp-arrow-btn {
            background-color: transparent;
            border: none;
            margin: 0 .5rem;
            padding: 0 .25rem;
            z-index: 1;
            font-weight: 400;
            color: _palette(aa-blue-sky-100);
            text-decoration: none;
            display: inline-block;
            font-size: .75rem;
            line-height: 1.5;
            border-radius: .25rem;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            user-select: none;
            transition: color .15s ease-in-out, 
            background-color .15s ease-in-out, 
            border-color .15s ease-in-out, 
            box-shadow .15s ease-in-out;
            -webkit-appearance: button;
            
            .ngb-dp-navigation-chevron {
              border-style: solid;
              border-width: .2em .2em 0 0;
              display: inline-block;
              height: .75em;
              margin-left: .25em;
              margin-right: .15em;
              transform: rotate(-135deg);
              width: .75em;
            }
          }
        }
        .ngb-dp-navigation-select {
          display: flex;
          flex: 1 1 9rem;

          select {
            @include chevron-down;
          }
          
          .custom-select {
            background-color: _colour(aa-grey-2);
            flex: 1 1 auto;
            font-size: .875rem;
            height: 1.85rem;
            padding: 0 .5rem;
            border-width: 0;
            border-radius: 0;
            border-bottom-width: 4px;
            margin-right: 4px;
            transition: background-color .15s ease-in-out,
            border-color .15s ease-in-out,
            box-shadow .15s ease-in-out;
            width: 100%;
            font-weight: 400;
            line-height: 1.5;
            color: _colour(aa-grey-50);
            vertical-align: middle;
            border: 1px solid _colour(aa-grey-5);
            -webkit-appearance: none;
            min-height: 2.1rem;
          }
        }
        
        .ngb-dp-arrow.right {
          justify-content: flex-end;
          
          .ngb-dp-navigation-chevron {
            margin-left: .15em;
            margin-right: .25em;
            transform: rotate(45deg);
          }
        }
      }
    }
    // START CONTENT STYLES
    .ngb-dp-content {
      display: flex;

      .text-white {
        color: _colour(aa-grey-100)!important;
      }

      .btn-light {
        color: _colour(aa-grey-100);
      }
      
      // IF MONTHS
      .ngb-dp-month {
        pointer-events: none;
        
        &:first-child {
          .ngb-dp-week {
            padding-left: .25rem;
          }
        }
        
        &:last-child {
          .ngb-dp-week {
            padding-right: .25rem;
          }
        }
        
        .ngb-dp-day {
          cursor: pointer;
          height: 2rem;
          width: 2rem;
          &:hover {
            background-color: _colour(aa-grey-10);
          }
        }
        
        [ngbDatepickerDayView] {
          background: transparent;
          border-radius: .25rem;
          height: 2rem;
          line-height: 2rem;
          text-align: center;
          width: 2rem;
        }
        
        .ngb-dp-week {
          border-radius: .25rem;
          display: flex;
        }
        
        .ngb-dp-weekdays {
          background-color: _colour(aa-grey-5);
          border-radius: 0;
        }
        
        .ngb-dp-weekday {
          height: 2rem;
          width: 2rem;
          color: _colour(aa-grey-100)!important;
          font-style: italic;
          line-height: 2rem;
          text-align: center;
          font-size: 80%;
          font-weight: 400;
        }
        
        ngb-datepicker-month,
        .ngb-datepicker-month {
          display: block;
          pointer-events: auto;
        }
      }
    }
  }
