.NgxEditor__Wrapper {
    border: none;

    ngx-image {
        display: none;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 .5rem 0
    }

    .NgxEditor__Popup {
        top: unset;
        background-color: _colour(aa-white-100);
        width: 208px;

// ------------- MAP TO DESIGN LANGUAGE COLOR PALETTE -----------------
        .NgxEditor__ColorContainer {
            // hide
            button.NgxEditor__Color[title='#fbca04'],
            button.NgxEditor__Color[title='#d4c5f9'] {
                display: none;
            }
            // red
            button.NgxEditor__Color[title='#b60205'] {
                background-color: _palette(aa-red-100)!important
            }
            // orange
            button.NgxEditor__Color[title='#d93f0b'] {
                background-color: _palette(aa-orange-100)!important
            }
            // green
            button.NgxEditor__Color[title='#0e8a16'] {
                background-color: _palette(aa-green-100)!important
            }
            // light-blue
            button.NgxEditor__Color[title='#006b75'] {
                background-color: _palette(aa-light-blue-100)!important
            }
            // blue
            button.NgxEditor__Color[title='#1d76db'] {
                background-color: _palette(aa-blue-100)!important
            }
            // plum
            button.NgxEditor__Color[title='#5319e7'] {
                background-color: _palette(aa-plum-100)!important
            }
            // burgundy
            button.NgxEditor__Color[title='#0052cc'] {
                background-color: _palette(aa-burgundy-100)!important
            }
            // pink
            button.NgxEditor__Color[title='#e99695'] {
                background-color: _palette(aa-pink-100)!important
            }
            // light-blue
            button.NgxEditor__Color[title='#f9d0c4'] {
                background-color: _palette(aa-light-blue-40)!important
            }
            // Ochre
            button.NgxEditor__Color[title='#fef2c0'] {
                background-color: _palette(aa-ochre-100)!important
            }
            // green-50
            button.NgxEditor__Color[title='#c2e0c6'] {
                background-color: _palette(aa-green-50)!important
            }
            // grey-25
            button.NgxEditor__Color[title='#bfdadc'] {
                background-color: _palette(aa-grey-25)!important
            }
            // grey-10
            button.NgxEditor__Color[title='#c5def5'] {
                background-color: _palette(aa-grey-10)!important
            }
            // grey-5
            button.NgxEditor__Color[title='#bfd4f2'] {
                background-color: _palette(aa-grey-5)!important
            }
        }
    }

    .NgxEditor {
        background-color: _colour(aa-white-100);
        border-radius: .5rem;
        // hide
        span[style*='color:#fbca04'],
        span[style*='color:#d4c5f9'] {
            display: none!important
        }
        // red
        span[style*='color:#b60205'] {
            color: _palette(aa-red-100)!important
        }
        span[style*='background-color:#b60205'] {
            background-color: _palette(aa-red-100)!important;
            color: unset!important;
        }
        // orange
        span[style*='color:#d93f0b'] {
            color: _palette(aa-orange-100)!important
        }
        span[style*='background-color:#d93f0b'] {
            background-color: _palette(aa-orange-100)!important;
            color: unset!important;
        }
        // green
        span[style*='color:#0e8a16'] {
            color: _palette(aa-green-100)!important
        }
        span[style*='background-color:#0e8a16'] {
            background-color: _palette(aa-green-100)!important;
            color: unset!important;
        }
        // light-blue
        span[style*='color:#006b75'] {
            color: _palette(aa-light-blue-100)!important
        }
        span[style*='background-color:#006b75'] {
            background-color: _palette(aa-light-blue-100)!important;
            color: unset!important;
        }
        // light-blue
        span[style*='color:#1d76db'] {
            color: _palette(aa-blue-100)!important
        }
        span[style*='background-color:#1d76db'] {
            background-color: _palette(aa-blue-100)!important;
            color: unset!important;
        }
        // plum
        span[style*='color:#5319e7'] {
            color: _palette(aa-plum-100)!important
        }
        span[style*='background-color:#5319e7'] {
            background-color: _palette(aa-plum-100)!important;
            color: unset!important;
        }
        // burgundy
        span[style*='color:#0052cc'] {
            color: _palette(aa-burgundy-100)!important
        }
        span[style*='background-color:#0052cc'] {
            background-color: _palette(aa-burgundy-100)!important;
            color: unset!important;
        }
        // pink
        span[style*='color:#e99695'] {
            color: _palette(aa-pink-100)!important
        }
        span[style*='background-color:#e99695'] {
            background-color: _palette(aa-pink-100)!important;
            color: unset!important;
        }
        // light-blue
        span[style*='color:#f9d0c4'] {
            color: _palette(aa-light-blue-40)!important
        }
        span[style*='background-color:#f9d0c4'] {
            background-color: _palette(aa-light-blue-40)!important;
            color: unset!important;
        }
        // ochre
        span[style*='color:#fef2c0'] {
            color: _palette(aa-ochre-100)!important
        }
        span[style*='background-color:#fef2c0'] {
            background-color: _palette(aa-ochre-100)!important;
            color: unset!important;
        }
        // green-50
        span[style*='color:#c2e0c6'] {
            color: _palette(aa-green-50)!important
        }
        span[style*='background-color:#c2e0c6'] {
            background-color: _palette(aa-green-50)!important;
            color: unset!important;
        }
        // grey-25
        span[style*='color:#bfdadc'] {
            color: _palette(aa-grey-25)!important
        }
        span[style*='background-color:#bfdadc'] {
            background-color: _palette(aa-grey-25)!important;
            color: unset!important;
        }
        // grey-10
        span[style*='color:#c5def5'] {
            color: _palette(aa-grey-10)!important
        }
        span[style*='background-color:#c5def5'] {
            background-color: _palette(aa-grey-10)!important;
            color: unset!important;
        }
        // grey-5
        span[style*='color:#bfd4f2'] {
            color: _palette(aa-grey-5)!important
        }
        span[style*='background-color:#bfd4f2'] {
            background-color: _palette(aa-grey-5)!important;
            color: unset!important;
        }
    }

// ------------ END MAP TO DESIGN LANGUAGE COLOR PALETTE ---------------
    
    .NgxEditor__Dropdown {
        align-items: flex-start;

        .NgxEditor__Dropdown--DropdownMenu {
            background-color: _colour(aa-white-100);
            .NgxEditor__Dropdown--Item {
                &:nth-child(n+4) {
                    display: none;
                }
                &:hover {
                    background-color: _colour(aa-grey-2);
                }
            }
        }

        &:hover {
            background-color: _colour(aa-white-100);
        }

        .NgxEditor__Dropdown--Text {
            align-items: flex-start;
            &:after {
                margin-top: .5rem;
            }
        }

        &.NgxEditor__Dropdown--Open, 
        &.NgxEditor__Dropdown--Selected {
            background-color: _colour(aa-white-100);

            .NgxEditor__Dropdown--Text {
                color: _palette(aa-green-100);
                align-items: flex-start;
                &:after {
                    margin-top: .5rem;
                }
            }
        }
    }

    .NgxEditor__MenuBar {
        position: relative;
        z-index: 999!important;
        padding: .25rem .5rem;
        background-color: _colour(aa-white-100);
    }
    
    svg {
        fill: _colour(aa-grey-100);
    }

    ol, ul {
        list-style-position: unset;
        margin: .75rem .25rem;
        padding: 0 2.25rem;
    }

    .NgxEditor__Content {
        padding: .5rem .75rem;
        white-space: nowrap;
        p {
            margin-top: 0;
        }
    }

    button {
        @include button-light-blue;
        &:hover {
          @include button-light-blue-hover;
        }
    }
}