<section class="control-bar">
  <h1>Accordion</h1>
</section>
<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Accordion</h2>
      <div class="describe margin-bottom-1">
        <p>
          Pass in a custom Material Icon by setting iconsEnabled to true and adding an iconName. You can trigger the
          <strong>showBody</strong> event dynamically be calling <strong>(open)=&quot;showBody=true&quot;</strong>. To show the drag icon,
          set <strong>dragable=&quot;true&quot;</strong>
        </p>
      </div>

      <aa-accordion
        (open)="showBodyOne=true"
        [dragable]="false"
        [showBody]="showBodyOne"
        [enableAnimation]="true"
        [clearPadding]="false"
        minWidth="26"
        accordionHeading="Accordion default"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconName="account_balance"
      >
        <div header-custom>
          <button *ngIf="!showJustification" class="primary small" (click)="justification()">Add business justification</button>
          <strong *ngIf="addJustification" class="alert-shield small info">Justification msg</strong>
        </div>
        <ng-container animate>
          <div *ngIf="showJustification && !addJustification" class="flex-group margin-bottom-1">
            <input type="text" /> 
            <div class="field boxed">
              <button class="primary" (click)="addJustification=!addJustification; showBodyOne=false" placeholder="Business justification">Add</button>
            </div>
          </div>
          <p>Add accordion content in here</p>
        </ng-container>
      </aa-accordion>

      <aa-accordion
        (open)="showBodyTwo=true"
        [dragable]="true"
        [showBody]="showBodyTwo"
        [enableAnimation]="true"
        minWidth="26"
        accordionHeading="Accordion drag/drop"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconName="extension"
      >
        <div header-custom>
          <div class="alert-shield small info">Custom content</div>
        </div>
        <ng-container animate>
          <p>Add accordion content in here</p>
        </ng-container>
        
      </aa-accordion>

      <aa-accordion
        [disabled]="true"
        (open)="showBodyThree=true"
        [dragable]="true"
        [showBody]="showBodyThree"
        [enableAnimation]="true"
        minWidth="26"
        accordionHeading="Accordion disabled"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconName="toys"
      >
        <ng-container animate>
          <p>Add accordion content in here</p>
        </ng-container>
      </aa-accordion>

      <aa-accordion
        (open)="showBodyCustom=true"
        [dragable]="false"
        [showBody]="showBodyFour"
        [enableAnimation]="true"
        minWidth="26"
        customBgColor="bg-aa-red-100"
        accordionHeading="Accordion custom colour (see inside)"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconName="surfing"
      >
        <ng-container animate>
          <h3 class="boxed">There are currently 11 available custom colours</h3>
          <div class="editorial-content">
            <ol>
              <li>
                <a routerLink="/colours">bg-aa-blue-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-blue-70</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-blue-60</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-red-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-light-blue-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-grey-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-green-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-orange-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-burgundy-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-plum-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-blue-sky-100</a>
              </li>
            </ol>
          </div>
        </ng-container>
        
      </aa-accordion>
      <aa-accordion
        (open)="showBodyCustom=true"
        [dragable]="false"
        [showBody]="showBodyFive"
        [enableAnimation]="true"
        minWidth="26"
        customBgColor="bg-aa-blue-sky-100"
        accordionHeading="Accordion custom colour (see inside)"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconName="emoji_transportation"
      >
      <ng-container animate>
        <h3 class="boxed">There are currently 11 available custom colours</h3>
        <div class="editorial-content">
          <ol>
            <li>
              <a routerLink="/colours">bg-aa-blue-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-blue-70</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-blue-60</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-red-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-light-blue-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-grey-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-green-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-orange-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-burgundy-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-plum-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-blue-sky-100</a>
            </li>
          </ol>
        </div>
      </ng-container>
      </aa-accordion>
      <aa-accordion
        (open)="showBodyCustom=true"
        [dragable]="false"
        [showBody]="showBodySix"
        [enableAnimation]="true"
        minWidth="26"
        customBgColor="bg-aa-green-100"
        accordionHeading="Accordion custom colour (see inside)"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconName="rocket_launch"
      >
      <ng-container animate>
        <h3 class="boxed">There are currently 11 available custom colours</h3>
        <div class="editorial-content">
          <ol>
            <li>
              <a routerLink="/colours">bg-aa-blue-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-blue-70</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-blue-60</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-red-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-light-blue-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-grey-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-green-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-orange-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-burgundy-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-plum-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-blue-sky-100</a>
            </li>
          </ol>
        </div>
      </ng-container>
      </aa-accordion>
      <aa-accordion
        (open)="showBodyCustom=true"
        [dragable]="false"
        [showBody]="showBodySeven"
        [enableAnimation]="true"
        minWidth="26"
        customBgColor="bg-aa-orange-100"
        accordionHeading="Accordion custom colour (see inside)"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconName="tips_and_updates"
      >
      <ng-container animate>
        <h3 class="boxed">There are currently 11 available custom colours</h3>
        <div class="editorial-content">
          <ol>
            <li>
              <a routerLink="/colours">bg-aa-blue-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-blue-70</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-blue-60</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-red-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-light-blue-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-grey-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-green-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-orange-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-burgundy-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-plum-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-blue-sky-100</a>
            </li>
          </ol>
        </div>
      </ng-container>
      </aa-accordion>
      <h2 class="margin-top-2">Nested accordions</h2>
      <aa-accordion
      (open)="showBodyOne=true"
      [clearPadding]="true"
      [dragable]="false"
      [showBody]="showBodyOne"
      [enableAnimation]="false"
      minWidth="26"
      accordionHeading="Note on animated accordions"
      accordionId="accordion01"
      sectionId="section01"
      [iconsEnabled]="true"
      iconName="account_balance"
    >
      <ng-container>
        <div>
          <div *ngIf="showJustification && !addJustification" class="flex-group margin-bottom-1">
            <input type="text" /> 
            <div class="field boxed">
              <button class="primary" (click)="addJustification=!addJustification; showBodyOne=false" placeholder="Business justification">Add</button>
            </div>
          </div>

          <aa-accordion
            (open)="showBodyOneNested=true"
            [dragable]="false"
            [showBody]="showBodyOneNested"
            [enableAnimation]="false"
            minWidth="26"
            accordionHeading="Animation will not work with nested accordions"
            accordionId="accordion01"
            sectionId="section01"
            [iconsEnabled]="true"
            iconName="account_balance"
          >
            <ng-container>
                <div *ngIf="showJustification && !addJustification" class="flex-group margin-bottom-1">
                  <input type="text" /> 
                  <div class="field boxed">
                    <button class="primary" (click)="addJustification=!addJustification; showBodyOne=false" placeholder="Business justification">Add</button>
                  </div>
                </div>
                <p>
                  If you want nested accordions, you will need to set "enableAnimation" to false,
                  then remove "animate" from your ng-container. Please see Gist for markup
                </p>
            </ng-container>
          </aa-accordion>
        </div>
      </ng-container>
    </aa-accordion>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">showBody</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">showBody</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">(open)</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">showBody=true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">clearPadding</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">minWidth</td>
            <td datalabel="Type">Number</td>
            <td datalabel="Default">Your number - returns a rem value</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">enableIcons</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">iconName (Material Icons only)</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">
              <a href="https://fonts.google.com/icons?selected=Material+Icons:accessibility_new" target="_blank">Your Material icon</a>
            </td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">customBgColor</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">Expand the left "red" accordion for details</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">accordionHeading</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your heading</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">accordionId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">Your Id</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">sectionId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">Your Id</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">dragable</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">disabled</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">enableAnimation</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">animate (if enableAnimation)</td>
            <td datalabel="Type">Binding</td>
            <td datalabel="Default">Add animate string to your ng-container</td>
          </tr>
          <tr>
            <td datalabel="Element">header-custom</td>
            <td datalabel="Attribute">header-custom</td>
            <td datalabel="Type">Custom HTML</td>
            <td datalabel="Default">Add your content</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event); showAccordion=true; showAccordionAlt=false; showAccordionVertical=false">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>

   <!-- start content repeater -->
   <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Accordion vertical</h2>
      <div class="describe margin-bottom-1">
        <p>
          Pass in a custom Material Icon by setting iconsEnabled to true and adding an iconName. You can trigger the
          <strong>showBody</strong> event dynamically be calling <strong>(open)=&quot;showBody=true&quot;</strong>. To show the drag icon,
          set <strong>dragable=&quot;true&quot;</strong>
        </p>
      </div>

      <div class="flex-group flex-start">
        <aa-accordion
          (open)="showBodyOne=true; showBodyTwo=false; showBodyThree=false; showBodyFour=false; showBodyFive=false"
          [dragable]="false"
          [showBody]="showBodyOne"
          [enableAnimation]="false"
          [clearPadding]="false"
          [verticalDisplay]="true"
          verticalMinHeight="30vh"
          class="margin-right-0-25"
          accordionHeading="Accordion default"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconName="account_balance"
        >
          <div header-custom>
            <button *ngIf="!showJustification" class="primary small" (click)="justification()">Add business justification</button>
            <strong *ngIf="addJustification" class="alert-shield small info">Justification msg</strong>
          </div>
          <ng-container>
            <div *ngIf="showJustification && !addJustification" class="flex-group margin-bottom-1">
              <input type="text" /> 
              <div class="field boxed">
                <button class="primary" (click)="addJustification=!addJustification; showBodyOne=false" placeholder="Business justification">Add</button>
              </div>
            </div>
            <p>Add accordion content in here</p>
          </ng-container>
        </aa-accordion>
        
        <aa-accordion
          (open)="showBodyOne=false; showBodyTwo=true; showBodyThree=false; showBodyFour=false; showBodyFive=false"
          [dragable]="false"
          [showBody]="showBodyTwo"
          [enableAnimation]="false"
          [verticalDisplay]="true"
          verticalMinHeight="30vh"
          class="margin-right-0-25"
          customBgColor="bg-aa-red-100"
          accordionHeading="Accordion custom colour (see inside)"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconName="surfing"
        >
          <ng-container>
            <h3 class="boxed">There are currently 11 available custom colours</h3>
            <div class="editorial-content">
              <ol>
                <li>
                  <a routerLink="/colours">bg-aa-blue-100</a>
                </li>
                <li>
                  <a routerLink="/colours">bg-aa-blue-70</a>
                </li>
                <li>
                  <a routerLink="/colours">bg-aa-blue-60</a>
                </li>
                <li>
                  <a routerLink="/colours">bg-aa-red-100</a>
                </li>
                <li>
                  <a routerLink="/colours">bg-aa-light-blue-100</a>
                </li>
                <li>
                  <a routerLink="/colours">bg-aa-grey-100</a>
                </li>
                <li>
                  <a routerLink="/colours">bg-aa-green-100</a>
                </li>
                <li>
                  <a routerLink="/colours">bg-aa-orange-100</a>
                </li>
                <li>
                  <a routerLink="/colours">bg-aa-burgundy-100</a>
                </li>
                <li>
                  <a routerLink="/colours">bg-aa-plum-100</a>
                </li>
                <li>
                  <a routerLink="/colours">bg-aa-blue-sky-100</a>
                </li>
              </ol>
            </div>
          </ng-container>
          
        </aa-accordion>
        <aa-accordion
          (open)="showBodyOne=false; showBodyTwo=false; showBodyThree=true; showBodyFour=false; showBodyFive=false"
          [dragable]="false"
          [showBody]="showBodyThree"
          [enableAnimation]="false"
          [verticalDisplay]="true"
          verticalMinHeight="30vh"
          class="margin-right-0-25"
          customBgColor="bg-aa-blue-sky-100"
          accordionHeading="Accordion custom colour (see inside)"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconName="emoji_transportation"
        >
        <ng-container>
          <h3 class="boxed">There are currently 11 available custom colours</h3>
          <div class="editorial-content">
            <ol>
              <li>
                <a routerLink="/colours">bg-aa-blue-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-blue-70</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-blue-60</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-red-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-light-blue-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-grey-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-green-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-orange-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-burgundy-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-plum-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-blue-sky-100</a>
              </li>
            </ol>
          </div>
        </ng-container>
        </aa-accordion>
        <aa-accordion
          (open)="showBodyOne=false; showBodyTwo=false; showBodyThree=false; showBodyFour=true; showBodyFive=false"
          [dragable]="false"
          [showBody]="showBodyFour"
          [enableAnimation]="false"
          [verticalDisplay]="true"
          verticalMinHeight="30vh"
          class="margin-right-0-25"
          customBgColor="bg-aa-green-100"
          accordionHeading="Accordion custom colour (see inside)"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconName="rocket_launch"
        >
        <ng-container>
          <h3 class="boxed">There are currently 11 available custom colours</h3>
          <div class="editorial-content">
            <ol>
              <li>
                <a routerLink="/colours">bg-aa-blue-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-blue-70</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-blue-60</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-red-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-light-blue-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-grey-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-green-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-orange-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-burgundy-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-plum-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-blue-sky-100</a>
              </li>
            </ol>
          </div>
        </ng-container>
        </aa-accordion>
        <aa-accordion
          (open)="showBodyOne=false; showBodyTwo=false; showBodyThree=false; showBodyFour=false; showBodyFive=true"
          [dragable]="false"
          [showBody]="showBodyFive"
          [enableAnimation]="false"
          [verticalDisplay]="true"
          verticalMinHeight="30vh"
          class="margin-right-0-25"
          customBgColor="bg-aa-orange-100"
          accordionHeading="Accordion custom colour (see inside)"
          accordionId="accordion01"
          sectionId="section01"
          [iconsEnabled]="true"
          iconName="tips_and_updates"
        >
        <ng-container>
          <h3 class="boxed">There are currently 11 available custom colours</h3>
          <div class="editorial-content">
            <ol>
              <li>
                <a routerLink="/colours">bg-aa-blue-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-blue-70</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-blue-60</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-red-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-light-blue-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-grey-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-green-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-orange-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-burgundy-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-plum-100</a>
              </li>
              <li>
                <a routerLink="/colours">bg-aa-blue-sky-100</a>
              </li>
            </ol>
          </div>
        </ng-container>
        </aa-accordion>
      </div>

    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes - <span class="aa-red-100">As above but with additional attributes</span>
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">verticalDisplay</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">True</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">verticalMinHeight</td>
            <td datalabel="Type">Any</td>
            <td datalabel="Default">Your preferred min-height in rem, % or vh</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event); showAccordion=false; showAccordionAlt=false; showAccordionVertical=true">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Accordion clean version</h2>
      <div class="describe margin-bottom-1">
        <p>
          The below is an alternative version of the accordion. You can choose to use Material Icons or alternatively you can use our
          existing Font Awesome set. To use the clean version, set [accordionClean], [iconsEnabled] and [fontAwesome] to true, set the icon
          class with fontClassName.
        </p>
      </div>

      <aa-accordion
        [accordionClean]="true"
        [iconsEnabled]="true"
        [fontAwesome]="true"
        [enableAnimation]="true"
        fontClassName="fas fa-book-open bg-aa-ochre-100"
        (open)="showBodyEight=true"
        [showBody]="showBodyEight"
        minWidth="26"
        [accordionHeading]="'Accordion heading 1'"
        [accordionId]="'accordion01'"
        [sectionId]="'section01'"
        [dragable]="false"
      >
        <div header-custom>
          <input type="checkbox" />
        </div>
        <ng-container animate>
          <p>Add your description here...</p>
        </ng-container>
      </aa-accordion>
      <aa-accordion
        [accordionClean]="true"
        [iconsEnabled]="true"
        [fontAwesome]="true"
        [enableAnimation]="true"
        fontClassName="fas fa-sitemap bg-aa-plum-100"
        (open)="showBodyNine=true"
        [showBody]="showBodyNine"
        minWidth="26"
        [accordionHeading]="'Accordion heading 2'"
        [accordionId]="'accordion01'"
        [sectionId]="'section01'"
        [dragable]="false"
      >
        <div header-custom>
          <input type="checkbox" />
        </div>
        <ng-container animate>
          <p>Add your description here...</p>
        </ng-container>
        
      </aa-accordion>
      <aa-accordion
        [disabled]="true"
        [accordionClean]="true"
        [iconsEnabled]="true"
        [fontAwesome]="false"
        [enableAnimation]="true"
        iconName="settings"
        iconBgColor="bg-aa-blue-sky-100"
        (open)="showBodyTen=true"
        [showBody]="showBodyTen"
        minWidth="26"
        [accordionHeading]="'Accordion disabled'"
        [accordionId]="'accordion01'"
        [sectionId]="'section01'"
        [dragable]="false"
      >
        <div header-custom>
          <input type="checkbox" />
        </div>
        <ng-container animate>
          <p>Add your description here...</p>
        </ng-container>
        
      </aa-accordion>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">accordionClean</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">iconsEnabled</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">fontAwesome</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true (false if using Material icons)</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">fontClassName (when using font awesome only)</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your Font Awesome classname</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">iconName - Material icons only</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default"><a href="https://fonts.google.com/icons?selected=Material+Icons:accessibility_new" target="_blank">Material icons friendly name</a></td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">iconBgColor</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">Your <a routerLink="/colours">bg color</a></td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">showBody</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">showBody</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">clearPadding</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">(open)</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">showBody=true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">iconsEnabled</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">fontAwesome</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">accordionHeading</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your heading</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">accordionId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">Your Id</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">sectionId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">Your Id</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">dragable</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">disabled</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">header-custom</td>
            <td datalabel="Attribute">header-custom</td>
            <td datalabel="Type">Custom HTML</td>
            <td datalabel="Default">Add your content</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event); showAccordion=false; showAccordionAlt=true; showAccordionVertical=false">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
</section>

<aa-blade
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
>
  <article class="blade-content">
    <div *ngIf="showAccordion">
      <a href="https://gist.github.com/angloux/3eff6d63f90bb98be1d11ae0a5650da1" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/3eff6d63f90bb98be1d11ae0a5650da1"></app-gist>
    </div>
    <div *ngIf="showAccordionVertical">
      <a href="https://gist.github.com/angloux/4f5141e2fed537c3508b981bad56f9b5" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/4f5141e2fed537c3508b981bad56f9b5"></app-gist>
    </div>
    <div *ngIf="showAccordionAlt">
      <a href="https://gist.github.com/angloux/2eedd82aed88a87b2fbedfdde8d476fa" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/2eedd82aed88a87b2fbedfdde8d476fa"></app-gist>
    </div>
  </article>
</aa-blade>