<section class="control-bar">
  <h1>Accordion</h1>
</section>
<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Accordion</h2>
      <div class="describe margin-bottom-1">
        <p>
          Pass in a custom Material Icon by setting iconsEnabled to true and adding an iconName. You can trigger the
          <strong>showBody</strong> event dynamically be calling <strong>(open)=&quot;showBody=true&quot;</strong>. To show the drag icon,
          set <strong>dragable=&quot;true&quot;</strong>
        </p>
      </div>

      <aa-accordion
        (open)="showBodyOne=true"
        [dragable]="false"
        [showBody]="showBodyOne"
        accordionHeading="Accordion heading 1"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconName="account_balance"
      >
        <div header-custom>
          <button *ngIf="!showJustification" class="primary small" (click)="justification()">Add business justification</button>
          <strong *ngIf="addJustification" class="alert-shield small info">Justification msg</strong>
        </div>
        <div>
          <div *ngIf="showJustification && !addJustification" class="flex-group margin-bottom-1">
            <input type="text" /> 
            <div class="field boxed">
              <button class="primary" (click)="addJustification=!addJustification; showBodyOne=false" placeholder="Business justification">Add</button>
            </div>
          </div>
          <p>Add accordion content in here</p>
        </div>
        
      </aa-accordion>

      <aa-accordion
        (open)="showBodyTwo=true"
        [dragable]="true"
        [showBody]="showBodyTwo"
        accordionHeading="Accordion heading 2"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconName="extension"
      >
        <div header-custom><div class="alert-shield small info">Custom content</div></div>
        <p>Add accordion content in here</p>
      </aa-accordion>

      <aa-accordion
        [disabled]="true"
        (open)="showBodyThree=true"
        [dragable]="true"
        [showBody]="showBodyThree"
        accordionHeading="Accordion disabled"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconName="toys"
      >
        <div header-custom><div class="alert-shield small info">Custom content</div></div>
        <p>Add accordion content in here</p>
      </aa-accordion>

      <aa-accordion
        (open)="showBodyCustom=true"
        [dragable]="false"
        [showBody]="showBodyTwo"
        customBgColor="bg-aa-red-100"
        accordionHeading="Using a custom bg class (see inside)"
        accordionId="accordion01"
        sectionId="section01"
        [iconsEnabled]="true"
        iconName="extension"
      >
        <h3 class="boxed">There are currently 11 available custom colours</h3>
        <div class="editorial-content">
          <ol>
            <li>
              <a routerLink="/colours">bg-aa-blue-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-blue-70</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-blue-60</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-red-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-light-blue-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-grey-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-green-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-orange-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-burgundy-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-plum-100</a>
            </li>
            <li>
              <a routerLink="/colours">bg-aa-blue-sky-100</a>
            </li>
          </ol>
        </div>
      </aa-accordion>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">showBody</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">showBody</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">(open)</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">showBody=true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">enableIcons</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">iconName (Material Icons only)</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">
              <a href="https://fonts.google.com/icons?selected=Material+Icons:accessibility_new" target="_blank">Your Material icon</a>
            </td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">customBgColor</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">Expand the left "red" accordion for details</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">accordionHeading</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your heading</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">accordionId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">Your Id</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">sectionId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">Your Id</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">dragable</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">disabled</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">header-custom</td>
            <td datalabel="Attribute">header-custom</td>
            <td datalabel="Type">Custom HTML</td>
            <td datalabel="Default">Add your content</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event); showAccordion=true; showAccordionAlt=false">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>Accordion clean version</h2>
      <div class="describe margin-bottom-1">
        <p>
          The below is an alternative version of the accordion. You can choose to use Material Icons or alternatively you can use our
          existing Font Awesome set. To use the clean version, set [accordionClean], [iconsEnabled] and [fontAwesome] to true, set the icon
          class with fontClassName.
        </p>
      </div>

      <aa-accordion
        [accordionClean]="true"
        [iconsEnabled]="true"
        [fontAwesome]="true"
        fontClassName="fas fa-book-open bg-aa-ochre-100"
        (open)="showBodyFour=true"
        [showBody]="showBodyFour"
        [accordionHeading]="'Accordion heading 1'"
        [accordionId]="'accordion01'"
        [sectionId]="'section01'"
        [dragable]="false"
      >
        <div header-custom>
          <input type="checkbox" />
        </div>
        <p>Add your description here...</p>
      </aa-accordion>
      <aa-accordion
        [accordionClean]="true"
        [iconsEnabled]="true"
        [fontAwesome]="true"
        fontClassName="fas fa-sitemap bg-aa-plum-100"
        (open)="showBodyFive=true"
        [showBody]="showBodyFive"
        [accordionHeading]="'Accordion heading 2'"
        [accordionId]="'accordion01'"
        [sectionId]="'section01'"
        [dragable]="false"
      >
        <div header-custom>
          <input type="checkbox" />
        </div>
        <p>Add your description here...</p>
      </aa-accordion>
      <aa-accordion
        [disabled]="true"
        [accordionClean]="true"
        [iconsEnabled]="true"
        [fontAwesome]="false"
        iconName="settings"
        iconBgColor="bg-aa-blue-sky-100"
        (open)="showBodySix=true"
        [showBody]="showBodySix"
        [accordionHeading]="'Accordion disabled'"
        [accordionId]="'accordion01'"
        [sectionId]="'section01'"
        [dragable]="false"
      >
        <div header-custom>
          <input type="checkbox" />
        </div>
        <p>Add your description here...</p>
      </aa-accordion>
    </section>

    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>
          Attributes
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">accordionClean</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">iconsEnabled</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">fontAwesome</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true (false if using Material icons)</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">fontClassName (when using font awesome only)</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your Font Awesome classname</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">iconName - Material icons only</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default"><a href="https://fonts.google.com/icons?selected=Material+Icons:accessibility_new" target="_blank">Material icons friendly name</a></td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">iconBgColor</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">Your <a routerLink="/colours">bg color</a></td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">showBody</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">showBody</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">(open)</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">showBody=true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">iconsEnabled</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">fontAwesome</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">true</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">accordionHeading</td>
            <td datalabel="Type">String</td>
            <td datalabel="Default">Your heading</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">accordionId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">Your Id</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">sectionId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">Your Id</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">dragable</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">aa-accordion</td>
            <td datalabel="Attribute">disabled</td>
            <td datalabel="Type">Boolean</td>
            <td datalabel="Default">False</td>
          </tr>
          <tr>
            <td datalabel="Element">header-custom</td>
            <td datalabel="Attribute">header-custom</td>
            <td datalabel="Type">Custom HTML</td>
            <td datalabel="Default">Add your content</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
      <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event); showAccordion=false; showAccordionAlt=true">
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
  </section>
</section>

<aa-blade
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
>
  <article class="blade-content">
    <div *ngIf="showAccordion">
      <app-gist src="angloux/3eff6d63f90bb98be1d11ae0a5650da1"></app-gist>
      <a href="https://gist.github.com/angloux/3eff6d63f90bb98be1d11ae0a5650da1" target="_blank">View Gist on GitHub</a>
    </div>
    <div *ngIf="showAccordionAlt">
      <app-gist src="angloux/2eedd82aed88a87b2fbedfdde8d476fa"></app-gist>
      <a href="https://gist.github.com/angloux/2eedd82aed88a87b2fbedfdde8d476fa" target="_blank">View Gist on GitHub</a>
    </div>
  </article>
</aa-blade>