<header class="page-header flex-group space-between flex-align-center" [ngClass]="{ 'shift-ph-logo' : minimizeMenu }">
  <!--LEFT SECTION -->
  <nav>
    <a 
      class="flex-align-center app-name" 
      title="PixelHeads UI homepage" routerLink="/"
      (click)="onHomeLinkClick()"
    >
      <span class="material-icons {{appLogoColor}} {{appLogoBgColor}} margin-right-0-75">{{appIconName}}</span>
      PixelHeads UI
    </a>
  </nav>

  <!-- MOBILE MENU - HIDDEN FOR DESKTOP -->
  <nav class="mobile-menu flex-group flex-end flex-nowrap">
    <div *ngIf="mobileMenu" class="ph-blade-modal"></div>
    <button (click)="toggleTheme()" class="material-icons">brightness_2</button>
    <button (click)="toggleMobileMenu()" class="material-icons">menu</button>
    <div class="avatar overflow-hidden width-2 height-2"
      (click)="toggleLoginBlade()">
      <div>
        <img onerror="this.style.display='none'" src="./assets/images/samples/han-solo.png" />
      </div>
    </div>
  </nav>

  <!-- RIGHT SECTION NAV-->
  <nav class="login-nav flex-group flex-end flex-align-center">
    <ul>
        <!-- colour theme toggle -->
      <li class="change-theme-button animate-normal">
        <ph-button class="height-2" *ngIf="!darkTheme" (buttonClick)="toggleTheme()" buttonClass="bg-ph-red-80"
          fieldClass="boxed" [customIconsRound]="true" [showLabel]="false" buttonLabel="" buttonIcon="light_mode">
        </ph-button>
        <ph-button class="height-2" *ngIf="darkTheme" (buttonClick)="toggleTheme()"
          buttonClass="bg-ph-orange-100 ph-white-100" fieldClass="boxed" [customIconsRound]="true" [showLabel]="false"
          buttonLabel="" buttonIcon="dark_mode">
        </ph-button>
      </li>
      <!-- search -->
      <li class="cursor-pointer">
        <app-dl-search></app-dl-search>
      </li>
      <!-- login blade -->
      <li class="cursor-pointer" (click)="toggleLoginBlade()">
        <div class="avatar">
          <div>
            <img onerror="this.style.display='none'" src="./assets/images/samples/han-solo.png" />
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>
