<section class="control-bar flex-group space-between">
  <h1>File upload</h1>
  <aa-alert alertClass="error" alertText="Please ensure ALL elements are wrapped in div.field"></aa-alert>
</section>

<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-1 col-left flex-start">
      <h2>File upload</h2>
      <div class="describe margin-bottom-1">
        <p>When using the file upload component, remember to 
          define your file documnet types with fileUploadExtention.
        </p>
      </div>
      <aa-file-upload 
        fileUploadLabel="Upload your file..." 
        fileUploadId="fileUploadId" 
        fileUploadName="fileUploadName.pdf"
        fileUploadExtentions=".csv,.xlsx,.xls,.pdf"
        fileUploadText="Choose file..."
        fieldClass="boxed label-hidden">
      </aa-file-upload>
    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">fieldClass</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.boxed</td>
          </tr>
          <tr>
            <td datalabel="Element">Label</td>
            <td datalabel="Attribute">fileUploadLabel</td>
            <td datalabel="Type">Label</td>
            <td datalabel="Default">Upload your file...</td>
          </tr>
          <tr>
            <td datalabel="Element">Input Id</td>
            <td datalabel="Attribute">fileUploadId</td>
            <td datalabel="Type">Id</td>
            <td datalabel="Default">fileUpoadId</td>
          </tr>
          <tr>
            <td datalabel="Element">Input accept</td>
            <td datalabel="Attribute">fileUploadExtentions</td>
            <td datalabel="Type">File type</td>
            <td datalabel="Default">.csv,.xlsx,.xls,.pdf</td>
          </tr>
          <tr>
            <td datalabel="Element">Div</td>
            <td datalabel="Attribute">fileUploadText</td>
            <td datalabel="Type">Div</td>
            <td datalabel="Default">Choose file...</td>
          </tr>
          <tr>
            <td datalabel="Element">Uploaded file</td>
            <td datalabel="Attribute">fileUploadName</td>
            <td>Span</td>
            <td datalabel="Default">fileUploadName.pdf</td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event)">
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>
</section>

<aa-blade 
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
  >
  <article class="blade-content">
    <a href="https://gist.github.com/angloux/4385c2e940bed171da9891b8a980a0fa" target="_blank">View Gist on GitHub</a>
    <app-gist src="angloux/4385c2e940bed171da9891b8a980a0fa"></app-gist>
  </article>
</aa-blade>
