<section class="control-bar flex-group space-between">
  <h1>Tables</h1>
  <aa-alert alertClass="error max-width-unset" alertText="When using tables, remember to add the class .grid to the page content container. Other page graphics will need their own content-container"></aa-alert>
</section>
<section class="content-container padding-0">
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-2 col-left flex-start">
      <h2>Native table</h2>
      <div class="describe margin-bottom-1">
        <p>The default native table spans the full width of the browser window.</p>
      </div>
      <table>
        <thead>
          <tr>
            <th>Created by</th>
            <th>Modified by</th>
            <th>Status</th>
            <th>Approver</th>
            <th class="align-right">Created date</th>
            <th class="align-right">Modified date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let approval of approvals">
            <td datalabel="Created by">{{ approval.createdBy }}</td>
            <td datalabel="Modified by">{{ approval.modifiedBy }}</td>
            <td datalabel="Status"><span class="alert-shield small" ngClass="{{ approval.statusClass }}">{{ approval.status }}</span></td>
            <td datalabel="Approver">{{ approval.approver }}</td>
            <td datalabel="Created date" class="align-right">{{ approval.created }}</td>
            <td datalabel="Modified date" class="align-right">{{ approval.modified }}</td>
          </tr>
        </tbody>
      </table>

      <h2 class="margin-top-1">Native table pagination</h2>
      <nav class="aa-pagination flex-group flex-start flex-align-center bg-aa-white-100 padding-0-25 padding-left-1-5 padding-right-1-5">
        <div>Items per page</div>
        <div>
          <select>
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
            <option>60</option>
            <option>70</option>
            <option>80</option>
            <option>90</option>
            <option>100</option>
          </select>
        </div>
        <div class="padding-x-2">Page 1 of 5</div>
        <button class="material-icons">first_page</button>
        <button class="material-icons rotate">chevron_left</button>
        <button class="material-icons">chevron_right</button>
        <button class="material-icons">last_page</button>
      </nav>
    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">Table</td>
            <td datalabel="Attribute">table</td>
            <td datalabel="Type">HTML element</td>
            <td datalabel="Default">N/A</td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button 
          class="custom-icons bg-aa-light-blue-100" 
          (click)="
          bladeIsOpen($event); 
          tableStandard=true; 
          tableStandardScrolling=false; 
          tableStandardExpandable=false; 
          tableStatus=false;
          tableHalfWidth=false; 
          tableRowHeadings=false; 
          tableFeature=false;
          multiTables=false;
          dynamicTable=false"
        >
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>
  
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-2 col-left flex-start">
      <h2>Native table with fixed header</h2>
      <div class="describe margin-bottom-1">
        <p>For a scrollable table with a fixed header you will need to nest your table inside 
          two div elements. Add the class .tbl-container to the outer div and .tbl-fixed 
          to the inner div along with an [ngStyle] used to set the rem max-height. Then inside your 
          table thead th cell, add a div with a nested span, inside this span add you cell text.
        </p>
      </div>
      <div class="tbl-container">
        <div class="tbl-fixed" style="max-height: 15rem"><!-- You would normally use a calc() max-height here, see Gist -->
          <table>
            <thead>
              <tr>
                <th></th>
                <th class="padding-left-0">Created by</th>
                <th>Modified by</th>
                <th>Status</th>
                <th>Approver</th>
                <th>Created date</th>
                <th>Modified date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let approval of approvals">
                <td class="padding-right-0 padding-left-0-5">
                  <aa-context-menu [showOnLeft]="false" minWidth="11.5">
                    <aa-context-menu-item menuItemText="Design Language home" routerLink="/"></aa-context-menu-item>
                    <aa-context-menu-item menuItemText="See our buttons" routerLink="/buttons"></aa-context-menu-item>
                    <aa-context-menu-item menuItemText="View blades" routerLink="/blade"></aa-context-menu-item>
                  </aa-context-menu>
                </td>
                <td class="padding-left-0" datalabel="Created by">{{ approval.createdBy }}</td>
                <td datalabel="Modified by">{{ approval.modifiedBy }}</td>
                <td datalabel="Status"><span class="alert-shield small" ngClass="{{ approval.statusClass }}">{{ approval.status }}</span></td>
                <td datalabel="Approver">{{ approval.approver }}</td>
                <td datalabel="Created date">{{ approval.created }}</td>
                <td datalabel="Modified date">{{ approval.modified }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">Outer div</td>
            <td datalabel="Attribute">HTML</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.tbl-container</td>
          </tr>
          <tr>
            <td datalabel="Element">Inner div</td>
            <td datalabel="Attribute">HTML</td>
            <td datalabel="Type">Class</td>
            <td datalabel="Default">.tbl-fixed</td>
          </tr>
          <tr>
            <td datalabel="Element">Table</td>
            <td datalabel="Attribute">Thead th</td>
            <td datalabel="Type">Nested div</td>
            <td datalabel="Default">N/A</td>
          </tr>
          <tr>
            <td datalabel="Element">Table</td>
            <td datalabel="Attribute">Thead th</td>
            <td datalabel="Type">Nested span</td>
            <td datalabel="Default">N/A</td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button 
          class="custom-icons bg-aa-light-blue-100" 
          (click)="
          bladeIsOpen($event); 
          tableStandard=false; 
          tableStandardScrolling=true; 
          tableStandardExpandable=false; 
          tableStatus=false;
          tableHalfWidth=false; 
          tableRowHeadings=false; 
          tableFeature=false;
          multiTables=false;
          dynamicTable=false"
        >
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>

    <!-- start content repeater -->
    <section class="content-repeater flex-group">
      <section class="flex-2 col-left flex-start">
        <h2>Native table with fixed header and expandable rows</h2>
        <div class="describe margin-bottom-1">
          <p>For a scrollable table with a fixed header you will need to nest your table inside 
            two div elements. Add the class .tbl-container to the outer div and .tbl-fixed 
            to the inner div along with an [ngStyle] used to set the rem max-height. Then inside your 
            table thead th cell, add a div with a nested span, inside this span add you cell text.
          </p>
        </div>
        <div class="tbl-container">
          <div class="tbl-fixed" style="max-height: 30rem"><!-- You would normally use a calc() max-height here, see Gist -->
            <table class="expandable-rows">
              <thead>
                <tr>
                  <th><!-- IMPORTANT --></th>
                  <th>Name</th>
                  <th>Pipeline</th>
                  <th>Created date</th>
                  <th>Modified date</th>
                </tr>
              </thead>
              <ng-container *ngFor="let approval of approvals; let i = index">
                <tbody>
                  <tr [class.expanded]="expandedIndex === i">
                    <td (click)="setExpandedIndex(i)" class="cursor-pointer padding-right-0">
                      <div class="material-icons toggle">chevron_right</div>
                    </td>
                    <td datalabel="Approver">{{ approval.approver }}</td>
                    <td>
                      <aa-status-indicator [currentStatus]="currentStatus"></aa-status-indicator>
                    </td>
                    <td datalabel="Created date">{{ approval.created }}</td>
                    <td datalabel="Modified date">{{ approval.modified }}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="expandedIndex === i" class="bg-aa-grey-5">
                  <tr *ngFor="let approval of approvals">
                      <td datalabel="status"><!-- IMPORTANT --></td>
                      <td datalabel="approver">{{ approval.approver }}</td>
                      <td><aa-status-indicator [currentStatus]="currentStatus"></aa-status-indicator></td>
                      <td datalabel="created-date">{{ approval.created }}</td>
                      <td datalabel="modified-date">{{ approval.modified }}</td>
                      <td datalabel="empty-cell"></td>
                  </tr>
                </tbody>
              </ng-container>
            </table>
          </div>
        </div>
      </section>
        
      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">Outer div</td>
              <td datalabel="Attribute">Class</td>
              <td datalabel="Type">HTML</td>
              <td datalabel="Default">.tbl-container</td>
            </tr>
            <tr>
              <td datalabel="Element">Inner div</td>
              <td datalabel="Attribute">Class</td>
              <td datalabel="Type">HTML</td>
              <td datalabel="Default">.tbl-fixed</td>
            </tr>
            <tr>
              <td datalabel="Element">Table</td>
              <td datalabel="Attribute">Thead th</td>
              <td datalabel="Type">Nested div</td>
              <td datalabel="Default">N/A</td>
            </tr>
            <tr>
              <td datalabel="Element">Table</td>
              <td datalabel="Attribute">Thead th</td>
              <td datalabel="Type">Nested span</td>
              <td datalabel="Default">N/A</td>
            </tr>
            <tr>
              <td datalabel="Element">Table</td>
              <td datalabel="Attribute">setExpandedIndex</td>
              <td datalabel="Type">Method</td>
              <td datalabel="Default">N/A</td>
            </tr>
          </tbody>
        </table>
      </section>
      
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
          <button 
            class="custom-icons bg-aa-light-blue-100" 
            (click)="
            bladeIsOpen($event); 
            tableStandard=false; 
            tableStandardScrolling=false; 
            tableStandardExpandable=true; 
            tableStatus=false;
            tableHalfWidth=false; 
            tableRowHeadings=false; 
            tableFeature=false;
            multiTables=false;
            dynamicTable=false"
          >
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
    </section>

    <!-- start content repeater -->
    <section class="content-repeater flex-group">
      <section class="flex-2 col-left flex-start">
        <h2>Native table with progress status</h2>
        <div class="describe margin-bottom-1">
          <p>For a scrollable table with a fixed header you will need to nest your table inside 
            two div elements. Add the class .tbl-container to the outer div and .tbl-fixed 
            to the inner div along with an [ngStyle] used to set the rem max-height. Then inside your 
            table thead th cell, add a div with a nested span, inside this span add you cell text.
          </p>
        </div>
        <div class="tbl-container">
          <div class="tbl-fixed padding-top-2" style="max-height: 20rem"><!-- You would normally use a calc() max-height here, see Gist -->
            <table class="table-progress expandable-rows">
              <thead>
                <tr>
                  <th><!-- IMPORTANT --></th>
                  <th>COB date</th>
                  <th>CMT</th>
                  <th>Auto run</th>
                  <th class="padding-top-4"><div class="rotate">Exposures</div></th>
                  <th class="padding-top-4"><div class="rotate">Market date</div></th>
                  <th class="padding-top-4"><div class="rotate">PnL Calc</div></th>
                  <th class="padding-top-4"><div class="rotate">Options</div></th>
                  <th class="padding-top-4"><div class="rotate">Emb. Options</div></th>
                  <th class="padding-top-4"><div class="rotate">TotalVAR</div></th>
                  <th class="padding-top-4"><div class="rotate">USD Exp.</div></th>
                  <th class="padding-top-4"><div class="rotate">Clean PnL</div></th>
                </tr>
              </thead>
              <ng-container *ngFor="let item of myProgress; let i = index">
              <tbody>
                  <tr [class.expanded]="expandedIndexTwo === i">
                    <td (click)="setExpandedIndexTwo(i)" class="cursor-pointer padding-right-0">
                      <div class="material-icons toggle">chevron_right</div>
                    </td>
                    <td datalabel="Approver">{{ item.approver }}</td>
                    <td>{{item.CMT}}</td>
                    <td>
                      <aa-slider
                        [sliderInline]="false"
                        labelText="Apples"
                        fieldClass=""
                        sliderId=""
                        sliderName=""
                        sliderValue=""
                        disabled=""
                      >
                      </aa-slider>
                    </td>
                    <td class="status-indicator progress-cell">
                      <div class="status-container padding-0">
                        <div *ngIf="item.colOneMarker" class="marker star material-icons">star</div>
                        <div 
                          class="{{item.iconClass}} {{item.iconStatusOne}}">
                          {{item.iconNameOne}}
                        </div>
                      </div>
                    </td>
                    <td class="status-indicator progress-cell">
                      <div class="status-container padding-0">
                        <div *ngIf="item.colTwoMarker" class="marker star material-icons">star</div>
                        <div 
                          class="{{item.iconClass}} {{item.iconStatusTwo}}">
                          {{item.iconNameTwo}}
                        </div>
                      </div>
                    </td>
                    <td class="status-indicator progress-cell">
                      <div class="status-container padding-0">
                        <div *ngIf="item.colThreeMarker" class="marker star material-icons">star</div>
                        <div 
                          class="{{item.iconClass}} {{item.iconStatusThree}}">
                          {{item.iconNameThree}}
                        </div>
                      </div>
                    </td>
                    <td class="status-indicator progress-cell">
                      <div class="status-container padding-0">
                        <div *ngIf="item.colFourMarker" class="marker star material-icons">star</div>
                        <div 
                          class="{{item.iconClass}} {{item.iconStatusFour}}">
                          {{item.iconNameFour}}
                        </div>
                      </div>
                    </td>
                    <td class="status-indicator progress-cell">
                      <div class="status-container padding-0">
                        <div *ngIf="item.colFiveMarker" class="marker star material-icons">star</div>
                        <div 
                          class="{{item.iconClass}} {{item.iconStatusFive}}">
                          {{item.iconNameFive}}
                        </div>
                      </div>
                    </td>
                    <td class="status-indicator progress-cell">
                      <div class="status-container padding-0">
                        <div *ngIf="item.colSixMarker" class="marker star material-icons">star</div>
                        <div 
                          class="{{item.iconClass}} {{item.iconStatusSix}}">
                          {{item.iconNameSix}}
                        </div>
                      </div>
                    </td>
                    <td class="status-indicator progress-cell">
                      <div class="status-container padding-0">
                        <div *ngIf="item.colSevenMarker" class="marker star material-icons">star</div>
                        <div 
                          class="{{item.iconClass}} {{item.iconStatusSeven}}">
                          {{item.iconNameSeven}}
                        </div>
                      </div>
                    </td>
                    <td class="status-indicator progress-cell">
                      <div class="status-container padding-0">
                        <div *ngIf="item.colEightMarker" class="marker star material-icons">star</div>
                        <div 
                          class="{{item.iconClass}} {{item.iconStatusEight}}">
                          {{item.iconNameEight}}
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="expandedIndexTwo === i" class="bg-aa-grey-5">
                    <tr>
                      <td><!-- IMPORTANT --></td>
                      <td>31 Oct 2022</td>
                      <td>Base Metals</td>
                      <td>
                        <aa-slider
                          [sliderInline]="false"
                          labelText="Apples"
                          fieldClass=""
                          sliderId=""
                          sliderName=""
                          sliderValue=""
                          disabled=""
                        >
                        </aa-slider>
                      </td>
                      <td class="status-indicator progress-cell">
                        <div class="status-container padding-0">
                          <div *ngIf="item.colOneMarker" class="marker star material-icons">star</div>
                          <div 
                            class="{{item.iconClass}} {{item.iconStatusOne}}">
                            {{item.iconNameOne}}
                          </div>
                        </div>
                      </td>
                      <td class="status-indicator progress-cell">
                        <div class="status-container padding-0">
                          <div *ngIf="item.colTwoMarker" class="marker star material-icons">star</div>
                          <div 
                            class="{{item.iconClass}} {{item.iconStatusTwo}}">
                            {{item.iconNameTwo}}
                          </div>
                        </div>
                      </td>
                      <td class="status-indicator progress-cell">
                        <div class="status-container padding-0">
                          <div *ngIf="item.colThreeMarker" class="marker star material-icons">star</div>
                          <div 
                            class="{{item.iconClass}} {{item.iconStatusThree}}">
                            {{item.iconNameThree}}
                          </div>
                        </div>
                      </td>
                      <td class="status-indicator progress-cell">
                        <div class="status-container padding-0">
                          <div *ngIf="item.colFourMarker" class="marker star material-icons">star</div>
                          <div 
                            class="{{item.iconClass}} {{item.iconStatusFour}}">
                            {{item.iconNameFour}}
                          </div>
                        </div>
                      </td>
                      <td class="status-indicator progress-cell">
                        <div class="status-container padding-0">
                          <div *ngIf="item.colFiveMarker" class="marker star material-icons">star</div>
                          <div 
                            class="{{item.iconClass}} {{item.iconStatusFive}}">
                            {{item.iconNameFive}}
                          </div>
                        </div>
                      </td>
                      <td class="status-indicator progress-cell">
                        <div class="status-container padding-0">
                          <div *ngIf="item.colSixMarker" class="marker star material-icons">star</div>
                          <div 
                            class="{{item.iconClass}} {{item.iconStatusSix}}">
                            {{item.iconNameSix}}
                          </div>
                        </div>
                      </td>
                      <td class="status-indicator progress-cell">
                        <div class="status-container padding-0">
                          <div *ngIf="item.colSevenMarker" class="marker star material-icons">star</div>
                          <div 
                            class="{{item.iconClass}} {{item.iconStatusSeven}}">
                            {{item.iconNameSeven}}
                          </div>
                        </div>
                      </td>
                      <td class="status-indicator progress-cell">
                        <div class="status-container padding-0">
                          <div *ngIf="item.colEightMarker" class="marker star material-icons">star</div>
                          <div 
                            class="{{item.iconClass}} {{item.iconStatusEight}}">
                            {{item.iconNameEight}}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </ng-container>
            </table>
          </div>
        </div>
      </section>
        
      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">Outer div</td>
              <td datalabel="Attribute">Class</td>
              <td datalabel="Type">HTML</td>
              <td datalabel="Default">.tbl-container</td>
            </tr>
            <tr>
              <td datalabel="Element">Inner div</td>
              <td datalabel="Attribute">Class</td>
              <td datalabel="Type">HTML</td>
              <td datalabel="Default">.tbl-fixed</td>
            </tr>
            <tr>
              <td datalabel="Element">Table</td>
              <td datalabel="Attribute">Thead th</td>
              <td datalabel="Type">Nested div</td>
              <td datalabel="Default">N/A</td>
            </tr>
            <tr>
              <td datalabel="Element">Table</td>
              <td datalabel="Attribute">Thead th</td>
              <td datalabel="Type">Nested span</td>
              <td datalabel="Default">N/A</td>
            </tr>
            <tr>
              <td datalabel="Element">Table</td>
              <td datalabel="Attribute">setExpandedIndex</td>
              <td datalabel="Type">Method</td>
              <td datalabel="Default">N/A</td>
            </tr>
            <tr>
              <td datalabel="Element">Table > th > div</td>
              <td datalabel="Attribute">rotate</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">rotate</td>
            </tr>
          </tbody>
        </table>
      </section>
      
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
          <button 
            class="custom-icons bg-aa-light-blue-100" 
            (click)="
            bladeIsOpen($event); 
            tableStandard=false; 
            tableStandardScrolling=false; 
            tableStandardExpandable=false; 
            tableStatus=false;
            tableProgress=true;
            tableHalfWidth=false; 
            tableRowHeadings=false; 
            tableFeature=false;
            multiTables=false;
            dynamicTable=false"
          >
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
    </section>

     <!-- start content repeater -->
 <section class="content-repeater flex-group">
  <section class="flex-2 col-left flex-start">
    <h2>Native Table with status cells</h2>
    <div class="describe margin-bottom-1">
      <p>For a scrollable table with a fixed header you will need to nest your table inside 
        two div elements. Add the class .tbl-container to the outer div and .tbl-fixed 
        to the inner div along with an [ngStyle] used to set the rem max-height. Then inside your 
        table thead th cell, add a div with a nested span, inside this span add you cell text.
      </p>
    </div>
    <div class="tbl-container">
      <div class="tbl-fixed" style="max-height: 15rem"><!-- You would normally use a calc() max-height here, see Gist -->
        <table class="table-status">
          <thead>
            <tr>
              <th class="padding-top-4">CORE Applications</th>
              <th class="padding-top-4"><div class="rotate">Dev</div></th>
              <th class="padding-top-4"><div class="rotate">Test</div></th>
              <th class="padding-top-4"><div class="rotate">Staging</div></th>
              <th class="padding-top-4"><div class="rotate">Pre-prod</div></th>
              <th class="padding-top-4"><div class="rotate">Prod</div></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of myTableStatus">
              <td datalabel="CORE Applications"><a href="https://dev.core.angloamerican.com/aurora/" target="_blank">{{item.appName}}</a></td>
              <td datalabel="Dev" class="status-cell {{item.statusOne}}"></td>
              <td datalabel="Test" class="status-cell {{item.statusTwo}}"></td>
              <td datalabel="Staging" class="status-cell {{item.statusThree}}"></td>
              <td datalabel="Pre-prod" class="status-cell {{item.statusFour}}"></td>
              <td datalabel="Prod" class="status-cell {{item.statusFive}}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
    
  <section class="flex-2 col-right flex-start">
    <table class="half-width">
      <caption>Attributes</caption>
      <thead>
        <tr>
          <th>Element</th>
          <th>Attribute</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td datalabel="Element">Outer div</td>
          <td datalabel="Attribute">HTML</td>
          <td datalabel="Type">Class</td>
          <td datalabel="Default">.tbl-container</td>
        </tr>
        <tr>
          <td datalabel="Element">Inner div</td>
          <td datalabel="Attribute">HTML</td>
          <td datalabel="Type">Class</td>
          <td datalabel="Default">.tbl-fixed</td>
        </tr>
        <tr>
          <td datalabel="Element">Table</td>
          <td datalabel="Attribute">Class</td>
          <td datalabel="Type">Class</td>
          <td datalabel="Default">table-status</td>
        </tr>
        <tr>
          <td datalabel="Element">Table (for rotated headers)</td>
          <td datalabel="Attribute">th</td>
          <td datalabel="Type">Class</td>
          <td datalabel="Default">rotate, status-cell</td>
        </tr>
        <tr>
          <td datalabel="Element">Table (for rotated headers)</td>
          <td datalabel="Attribute">td</td>
          <td datalabel="Type">Class</td>
          <td datalabel="Default">status-cell</td>
        </tr>
      </tbody>
    </table>
  </section>
  
  <!-- mini menu -->
  <nav class="mini-menu flex-group flex-end">
      <button 
        class="custom-icons bg-aa-light-blue-100" 
        (click)="
        bladeIsOpen($event); 
        tableStandard=false; 
        tableStandardScrolling=false; 
        tableStandardExpandable=false; 
        tableStatus=true;
        tableProgress=false;
        tableHalfWidth=false; 
        tableRowHeadings=false; 
        tableFeature=false;
        multiTables=false;
        dynamicTable=false"
      >
        <span class="material-icons">visibility</span><span>View gist</span>
      </button>
    </nav>
</section>
  
  <!-- start content repeater -->
  <section class="content-repeater flex-group">
    <section class="flex-2 col-left flex-start">
      <h2>.half-width</h2>
      <div class="describe margin-bottom-1">
        <p>Add the class .half-width to reduce the table width by 50%.</p>
      </div>
      <table class="half-width">
        <thead>
          <tr>
            <th>Created by</th>
            <th>Modified by</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let approval of approvals">
            <td datalabel="Created by">{{approval.createdBy}}</td>
            <td datalabel="Modified by">{{approval.modifiedBy}}</td>
            <td datalabel="Empty cell" class="align-right">
              <button class="delete small">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
      
    <section class="flex-2 col-right flex-start">
      <table class="half-width">
        <caption>Attributes</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td datalabel="Element">Table</td>
            <td datalabel="Attribute">table</td>
            <td datalabel="Type">HTML element</td>
            <td datalabel="Default">N/A</td>
          </tr>
          <tr>
            <td datalabel="Element">Table class</td>
            <td datalabel="Attribute">class</td>
            <td datalabel="Type">Classname</td>
            <td datalabel="Default">.half-width</td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <!-- mini menu -->
    <nav class="mini-menu flex-group flex-end">
        <button 
          class="custom-icons bg-aa-light-blue-100" 
          (click)="
          bladeIsOpen($event); 
          tableHalfWidth=true; 
          tableStandard=false; 
          tableStandardScrolling=false; 
          tableStandardExpandable=false; 
          tableStatus=false;
          tableProgress=false;
          tableRowHeadings=false; 
          tableFeature=false;
          multiTables=false;
          dynamicTable=false"
        >
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
  </section>
  
    <!-- start content repeater -->
    <section class="content-repeater flex-group">
      <section class="flex-2 col-left flex-start">
        <h2>Native table row headings</h2>
        <div class="describe margin-bottom-1">
          <p>Specify that the first header cell is a header for a column.</p>
        </div>
        <table>
          <thead>
            <th></th>
            <th>Created by</th>
            <th>Modified by</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let approval of approvals">
              <th scope="row">{{approval.created}}</th>
              <td datalabel="Created by">{{approval.createdBy}}</td>
              <td datalabel="Modified by">{{approval.modifiedBy}}</td>
              <td class="align-right">
                <button class="delete small">Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
        
      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">Table</td>
              <td datalabel="Attribute">table</td>
              <td datalabel="Type">HTML element</td>
              <td datalabel="Default">N/A</td>
            </tr>
            <tr>
              <td datalabel="Element">Th first-child</td>
              <td datalabel="Attribute">scope="row"</td>
              <td>Cell attribute</td>
              <td datalabel="Default">row</td>
            </tr>
          </tbody>
        </table>
      </section>
      
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
          <button 
            class="custom-icons bg-aa-light-blue-100" 
            (click)="
            bladeIsOpen($event); 
            tableRowHeadings=true; 
            tableStandard=false; 
            tableStandardScrolling=false; 
            tableStandardExpandable=false; 
            tableStatus=false;
            tableProgress=false;
            tableHalfWidth=false; 
            tableFeature=false;
            multiTables=false;
            dynamicTable=false"
          >
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
    </section>
    
    <!-- start content repeater -->
    <section class="content-repeater flex-group">
      <section class="flex-2 col-left flex-start">
        <h2>Native table feature</h2>
        <div class="describe margin-bottom-1">
          <p>Currently only used for CMaT application.</p>
        </div>
        <section class="margin-top-1 overflow-x-scroll">
          <table class="table-feature">
            <tr>
              <td>&nbsp;</td>
              <!-- start feature -->
              <td class="feature-cell" rowspan="6">
                <table>
                  <tr>
                    <td class="flex-group space-between flex-align-center flex-nowrap min-width-14">
                        <h3>Feature 1</h3>
                        <aa-tooltip [isInfo]="true" setMinWidth="11" ypos="bottom" xpos="right">
                          <h4>Ahoy there</h4>
                          <p>Mr Beaver had begun telling them that the<br/> White Witch wasn’t really human at all </p>
                        </aa-tooltip>
                    </td>
                  </tr>
                  <tr><td><input type="text" placeholder="Full legal name" /></td></tr>
                  <tr><td><input type="text" placeholder="Company BRN" /></td></tr>
                  <tr><td><input type="text" placeholder="Company type" /></td></tr>
                  <tr><td><input type="text" placeholder="Current status" /></td></tr>
                  <tr><td><button class="approve small">Accept</button></td></tr>
                </table>
              </td>
              <td><!-- spacer cell --></td>
              <!-- end feature -->

              <!-- start feature -->
              <td class="feature-cell" rowspan="6">
                <table>
                  <tr>
                    <td class="flex-group space-between flex-align-center flex-nowrap min-width-14">
                        <h3>Feature 2</h3>
                        <div class="field boxed">
                          <select class="width-auto"><option>Please select</option></select>
                        </div>
                    </td>
                  </tr>
                  <tr><td><input type="text" placeholder="Full legal name" /></td></tr>
                  <tr><td><input type="text" placeholder="Company BRN" /></td></tr>
                  <tr><td><input type="text" placeholder="Company type" /></td></tr>
                  <tr><td><input type="text" placeholder="Current status" /></td></tr>
                  <tr><td><button class="approve small">Accept</button></td></tr>
                </table>
              </td>
              <td><!-- spacer cell --></td>
              <!-- end feature -->

              <!-- start feature -->
              <td class="feature-cell" rowspan="6">
                <table>
                  <tr>
                    <td class="flex-group space-between flex-align-center flex-nowrap min-width-14">
                        <h3>Feature 3</h3>
                        <aa-alert-shield
                          [alertShieldSmall]="false"
                          [showTooltip]="false"
                          [hideLabel]="false"
                          minWidth="12rem"
                          alertShieldStatus="info"
                          alertShieldText="Optional"
                        >
                        </aa-alert-shield>
                    </td>
                  </tr>
                  <tr><td><input type="text" placeholder="Full legal name" /></td></tr>
                  <tr><td><input type="text" placeholder="Company BRN" /></td></tr>
                  <tr><td><input type="text" placeholder="Company type" /></td></tr>
                  <tr><td><input type="text" placeholder="Current status" /></td></tr>
                  <tr><td><button class="approve small">Accept</button></td></tr>
                </table>
              </td>
              <td><!-- spacer cell --></td>
              <!-- end feature -->
            </tr>
            
            <!-- these are your left column row labels -->
            <tr><td>Full legal name</td><td>&nbsp;</td><td>&nbsp;</td></tr>  
            <tr><td>Company number (BRN)</td><td>&nbsp;</td><td>&nbsp;</td></tr> 
            <tr><td>Company type</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>Current status</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
          </table>
        </section>
      </section>
        
      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">Table</td>
              <td datalabel="Attribute">table</td>
              <td datalabel="Type">HTML element</td>
              <td datalabel="Default">N/A</td>
            </tr>
            <tr>
              <td datalabel="Element">Table class</td>
              <td datalabel="Attribute">class</td>
              <td datalabel="Type">Classname</td>
              <td datalabel="Default">.table-feature</td>
            </tr>
          </tbody>
        </table>
      </section>
      
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
          <button 
            class="custom-icons bg-aa-light-blue-100" 
            (click)="
            bladeIsOpen($event); 
            tableFeature=true; 
            tableRowHeadings=false; 
            tableStandardScrolling=false; 
            tableStandardExpandable=false; 
            tableStatus=false;
            tableProgress=false;
            tableStandard=false; 
            tableHalfWidth=false;
            multiTables=false;
            dynamicTable=false"
          >
            <span class="material-icons">visibility</span><span>View gist</span>
          </button>
        </nav>
    </section>

    <!-- start content repeater -->
    <section class="content-repeater flex-group">
      <section class="flex-2 col-left flex-start">
        <h2>Multiple native table with horizontal scrolling</h2>
        <div class="describe margin-bottom-1">
          <p>In some instances you may need to display multiple tables. 
            Please refer to the side gist for details</p>
        </div>
      </section>
        
      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">Section</td>
              <td datalabel="Attribute">HTML wrapper</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">.multi-tables</td>
            </tr>
            <tr>
              <td datalabel="Element">Table</td>
              <td datalabel="Attribute">HMTL</td>
              <td datalabel="Type">Table element</td>
              <td datalabel="Default">Your tables</td>
            </tr>
          </tbody>
        </table>
      </section>
      
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
        <button 
          class="custom-icons bg-aa-light-blue-100" 
          (click)="
          bladeIsOpen($event); 
          tableFeature=false; 
          tableRowHeadings=false; 
          tableStandardScrolling=false; 
          tableStandardExpandable=false; 
          tableStatus=false;
          tableProgress=false;
          tableStandard=false; 
          tableHalfWidth=false;
          multiTables=true;
          dynamicTable=false"
        >
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
    </section>
    <section class="multi-tables content-repeater">
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Approver</th>
            <th class="align-right">Created date</th>
            <th class="align-right">Modified date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let approval of approvals">
            <td datalabel="Status"><span class="alert-shield small" ngClass="{{ approval.statusClass }}">{{ approval.status }}</span></td>
            <td datalabel="Approver">{{ approval.approver }}</td>
            <td datalabel="Created date" class="align-right">{{ approval.created }}</td>
            <td datalabel="Modified date" class="align-right">{{ approval.modified }}</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Approver</th>
            <th class="align-right">Created date</th>
            <th class="align-right">Modified date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let approval of approvals">
            <td datalabel="Status"><span class="alert-shield small" ngClass="{{ approval.statusClass }}">{{ approval.status }}</span></td>
            <td datalabel="Approver">{{ approval.approver }}</td>
            <td datalabel="Created date" class="align-right">{{ approval.created }}</td>
            <td datalabel="Modified date" class="align-right">{{ approval.modified }}</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Approver</th>
            <th class="align-right">Created date</th>
            <th class="align-right">Modified date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let approval of approvals">
            <td datalabel="Status"><span class="alert-shield small" ngClass="{{ approval.statusClass }}">{{ approval.status }}</span></td>
            <td datalabel="Approver">{{ approval.approver }}</td>
            <td datalabel="Created date" class="align-right">{{ approval.created }}</td>
            <td datalabel="Modified date" class="align-right">{{ approval.modified }}</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Approver</th>
            <th class="align-right">Created date</th>
            <th class="align-right">Modified date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let approval of approvals">
            <td datalabel="Status"><span class="alert-shield small" ngClass="{{ approval.statusClass }}">{{ approval.status }}</span></td>
            <td datalabel="Approver">{{ approval.approver }}</td>
            <td datalabel="Created date" class="align-right">{{ approval.created }}</td>
            <td datalabel="Modified date" class="align-right">{{ approval.modified }}</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Approver</th>
            <th class="align-right">Created date</th>
            <th class="align-right">Modified date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let approval of approvals">
            <td datalabel="Status"><span class="alert-shield small" ngClass="{{ approval.statusClass }}">{{ approval.status }}</span></td>
            <td datalabel="Approver">{{ approval.approver }}</td>
            <td datalabel="Created date" class="align-right">{{ approval.created }}</td>
            <td datalabel="Modified date" class="align-right">{{ approval.modified }}</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Approver</th>
            <th class="align-right">Created date</th>
            <th class="align-right">Modified date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let approval of approvals">
            <td datalabel="Status"><span class="alert-shield small" ngClass="{{ approval.statusClass }}">{{ approval.status }}</span></td>
            <td datalabel="Approver">{{ approval.approver }}</td>
            <td datalabel="Created date" class="align-right">{{ approval.created }}</td>
            <td datalabel="Modified date" class="align-right">{{ approval.modified }}</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Approver</th>
            <th class="align-right">Created date</th>
            <th class="align-right">Modified date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let approval of approvals">
            <td datalabel="Status"><span class="alert-shield small" ngClass="{{ approval.statusClass }}">{{ approval.status }}</span></td>
            <td datalabel="Approver">{{ approval.approver }}</td>
            <td datalabel="Created date" class="align-right">{{ approval.created }}</td>
            <td datalabel="Modified date" class="align-right">{{ approval.modified }}</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Approver</th>
            <th class="align-right">Created date</th>
            <th class="align-right">Modified date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let approval of approvals">
            <td datalabel="Status"><span class="alert-shield small" ngClass="{{ approval.statusClass }}">{{ approval.status }}</span></td>
            <td datalabel="Approver">{{ approval.approver }}</td>
            <td datalabel="Created date" class="align-right">{{ approval.created }}</td>
            <td datalabel="Modified date" class="align-right">{{ approval.modified }}</td>
          </tr>
        </tbody>
      </table>
    </section>
    <!-- start content repeater -->
    <section class="content-repeater flex-group">
      <section class="flex-2 col-left flex-start">
        <h2>Drag, drop and resize</h2>
        <div class="describe margin-bottom-1">
          <p>
            Using the below table you can resize columns and reorder rows/columns
          </p>
        </div>
        <div class="tbl-container">
          <div class="tbl-fixed" style="max-height: 15rem">
            <table class="dynamic-table">
              <thead>
                <tr
                  class="test"
                  cdkDropList
                  cdkDropListOrientation="horizontal"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)"
                  cdkDropListAutoScrollStep="10"
                >
                  <th 
                    *ngFor="let column of columns" 
                    cdkDrag 
                    cdkDragLockAxis="x"
                    (mousedown)="$event.stopPropagation()"
                    resizable
                  >
                    {{column.text}}
                  </th>
                </tr>
              </thead>
              <tbody
                cdkDropList
                cdkDropListOrientation="vertical"
                (cdkDropListDropped)="dropRow($event)"
                cdkDropListAutoScrollStep="10"
              >
                <tr cdkDrag *ngFor="let row of rows" cdkDragLockAxis="y">
                  <!-- Drag preview -->
                  <ng-container *cdkDragPreview class="my-custom-cdk-drag">
                    <div *ngIf="nameColumn">
                      {{row[nameColumn.key]}}
                    </div>
                    <div *ngIf="!nameColumn">
                      {{row[columns[0].key]}}
                    </div>
                  </ng-container>
                  <td *ngFor="let column of columns">
                    <div *ngIf="column.key === 'status'" class="alert-shield {{row.statusClass}}">{{row[column.key]}}</div>
                    <div *ngIf="column.key !== 'status'">{{row[column.key]}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
        
      <section class="flex-2 col-right flex-start">
        <table class="half-width">
          <caption>Attributes</caption>
          <thead>
            <tr>
              <th>Element</th>
              <th>Attribute</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td datalabel="Element">Section</td>
              <td datalabel="Attribute">tbl-container</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">N/A</td>
            </tr>
            <tr>
              <td datalabel="Element">Section</td>
              <td datalabel="Attribute">tbl-fixed</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">N/A</td>
            </tr>
            <tr>
              <td datalabel="Element">Table</td>
              <td datalabel="Attribute">dynamic-table</td>
              <td datalabel="Type">Class</td>
              <td datalabel="Default">N/A</td>
            </tr>
          </tbody>
        </table>
      </section>
      
      <!-- mini menu -->
      <nav class="mini-menu flex-group flex-end">
        <button 
          class="custom-icons bg-aa-light-blue-100" 
          (click)="
          bladeIsOpen($event); 
          tableFeature=false; 
          tableRowHeadings=false; 
          tableStandardScrolling=false; 
          tableStandardExpandable=false; 
          tableStatus=false;
          tableProgress=false;
          tableStandard=false; 
          tableHalfWidth=false;
          multiTables=false;
          dynamicTable=true"
        >
          <span class="material-icons">visibility</span><span>View gist</span>
        </button>
      </nav>
    </section>
</section>

<aa-blade 
    [showModal]="false"
    [toggleBlade]="toggleBlade"
    suppressAutoClose="false"
    topPosition="3.5"
    zIndex="2"
    bladeSize="one-column-width"
    bladeHeading="Gist"
    [enableIcon]="true"
    iconName="table_rows"
    (close)="toggleBlade = false"
  >
  <article class="blade-content">
    <div *ngIf="tableStandard">
      <a href="https://gist.github.com/angloux/d578a74086b9bff7b9a6872d7fcea316" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/d578a74086b9bff7b9a6872d7fcea316"></app-gist>
    </div>
    <div *ngIf="tableStandardScrolling">
      <a href="https://gist.github.com/angloux/6837ab47f7d60c9fba2d24754fe95510" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/6837ab47f7d60c9fba2d24754fe95510"></app-gist>
    </div>
    <div *ngIf="tableStandardExpandable">
      <a href="https://gist.github.com/angloux/bed2190360c79d8e56e33f3140a3a96a" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/bed2190360c79d8e56e33f3140a3a96a"></app-gist>
    </div>
    <div *ngIf="tableStatus">
      <a href="https://gist.github.com/angloux/b22be5a5093f79771e19c8f8ab7515e2" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/b22be5a5093f79771e19c8f8ab7515e2"></app-gist>
    </div>
    <div *ngIf="tableProgress">
      <a href="https://gist.github.com/angloux/6543a13ccafd4ab6978035c60216508e" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/6543a13ccafd4ab6978035c60216508e"></app-gist>
    </div>
    <div *ngIf="tableHalfWidth">
      <a href="https://gist.github.com/angloux/c47e21b038a33bfcc5eabdbee7a6a3ba" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/c47e21b038a33bfcc5eabdbee7a6a3ba"></app-gist>
    </div>
    <div *ngIf="tableRowHeadings">
      <a href="https://gist.github.com/angloux/d9661f4ed516aa52aa8f7eee2f2a5672" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/d9661f4ed516aa52aa8f7eee2f2a5672"></app-gist>
    </div>
    <div *ngIf="tableFeature">
      <a href="https://gist.github.com/angloux/6a1ac7be032e564528323f69a815644f" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/6a1ac7be032e564528323f69a815644f"></app-gist>
    </div>
    <div *ngIf="multiTables">
      <a href="https://gist.github.com/angloux/c4054fcf8b6c0fee6fbda1d7a38f0401" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/c4054fcf8b6c0fee6fbda1d7a38f0401"></app-gist>
    </div>
    <div *ngIf="dynamicTable">
      <a href="https://gist.github.com/angloux/9494cd8eb64ecfe33ef5ea1bebe64834" target="_blank">View Gist on GitHub</a>
      <app-gist src="angloux/9494cd8eb64ecfe33ef5ea1bebe64834"></app-gist>
    </div>
  </article>
</aa-blade>

