<section class="control-bar">
    <h1>UI block</h1>
</section>

<section class="content-container padding-0">
    <!-- start content repeater -->
    <section class="content-repeater flex-group">
        <section class="flex-1 col-left flex-start">
            <h2>Ui block</h2>
            <div class="flex-group flex-column">
                <div class="describe margin-bottom-1">
                    <p>
                        A simply UI block with custom description.
                        Used to block the user from making changes to the entire page
                    </p>
                </div>
                <div>
                    <button 
                    (click)="showUiBlock=!showUiBlock" 
                    class="primary" 
                    [ngStyle]="{'z-index' : showUiBlock&&'999'}"
                    >
                    <span *ngIf="!showUiBlock">Show UI block</span>
                    <span *ngIf="showUiBlock">Hide UI block</span>
                </button>
                </div>
            </div>

            <aa-ui-block 
                [showUiBlock]="showUiBlock" 
                zIndex="1"
                topPos="3.5" 
                bottomPos="0" 
                message="Read only data" 
                [allCaps]="true"
                fontSize="6"
            >
            </aa-ui-block>

        </section>

        <section class="flex-2 col-right flex-start">
            <table class="half-width">
                <caption>Attributes</caption>
                <thead>
                    <tr>
                        <th>Element</th>
                        <th>Attribute</th>
                        <th>Type</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td datalabel="Element">aa-ui-block</td>
                        <td datalabel="Attribute">showUiBlock</td>
                        <td datalabel="Type">Boolean</td>
                        <td datalabel="Default">True</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-ui-block</td>
                        <td datalabel="Attribute">topPos</td>
                        <td datalabel="Type">Number</td>
                        <td datalabel="Default">3.5rem</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-ui-block</td>
                        <td datalabel="Attribute">bottomPos</td>
                        <td datalabel="Type">Number</td>
                        <td datalabel="Default">0</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-ui-block</td>
                        <td datalabel="Attribute">fontSize</td>
                        <td datalabel="Type">Number</td>
                        <td datalabel="Default">6</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-ui-block</td>
                        <td datalabel="Attribute">allCaps</td>
                        <td datalabel="Type">Boolean</td>
                        <td datalabel="Default">True</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-ui-block</td>
                        <td datalabel="Attribute">message</td>
                        <td datalabel="Type">String</td>
                        <td datalabel="Default">Your message</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-ui-block</td>
                        <td datalabel="Attribute">zIndex</td>
                        <td datalabel="Type">Number</td>
                        <td datalabel="Default">1</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- mini menu -->
        <nav class="mini-menu flex-group flex-end">
            <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen($event)">
                <span class="material-icons">visibility</span><span>View gist</span>
            </button>
        </nav>
    </section>

    <aa-blade [showModal]="false" [toggleBlade]="toggleBlade" suppressAutoClose="false" topPosition="3.5" zIndex="2"
        bladeSize="one-column-width" bladeHeading="Gist" [enableIcon]="true" iconName="table_rows"
        (close)="toggleBlade = false">
        <article class="blade-content">
            <a href="https://gist.github.com/angloux/929a7dab99736c9df8b0989b96d1bf22" target="_blank">View Gist on
                GitHub</a>
            <app-gist src="angloux/929a7dab99736c9df8b0989b96d1bf22"></app-gist>
        </article>
    </aa-blade>

</section>