<section class="questions-and-answers position-fixed top-3-5 z-index-1 box-shadow">
    <section class="control-bar flex-group space-between">
        <h1>Common Q&A's</h1>
        <aa-button (buttonClick)="
            toggleFilter=!toggleFilter;
            QuestionOne=false;
            QuestionTwo=false;
            QuestionThree=false;
            QuestionFour=false;
            QuestionFive=false;
            QuestionSix=false;
            QuestionSeven=false;
            QuestionEight=false;
            QuestionNine=false;
            QuestionTen=false
            " fieldClass="boxed label-hidden" buttonClass="secondary filter" buttonLabel="Filter" buttonText="Filter"
            disabled="">
        </aa-button>
    </section>

    <article *ngIf="!toggleFilter" class="
        flex-group 
        flex-start 
        filter-container 
        padding-1-25">
        <div class="field boxed">
            <label>Questions</label>
            <aa-custom-select [options]="optionArray" defaultName="Please select a question" defaultIcon="touch_app"
                defaultIconColor="aa-red-100" (optionSelected)="onOptionSelected($event)"
                (highlightSection)="highlight($event)">
            </aa-custom-select>
        </div>
    </article>
</section>

<section class="content-container padding-left-0 padding-right-0" [ngStyle]="toggleFilter ? {'padding-top' : '3.5rem'}:{'padding-top' : '10rem'}">
    <article id="whichThirdPary" style="scroll-margin-top: 13.5rem;" class="content-repeater" [ngClass]="{'
        bg-aa-pink-25 
        bd-left-6 
        bd-left-pink 
        bd-left-solid' : selectedIndex === 0}">
        <h1>Questions about 3rd-party components</h1>
        <h3>Which 3rd party components do we currently support?</h3>
        <ul class="margin-top-1">
            <li class="margin-bottom-0-5"><a routerLink="/ag-grid">AG-Grid</a> Enterprise version 24.1.0. <strong
                    class="aa-red-100">We are currently waiting for procurement to grant licences for version
                    26^</strong></li>
            <li class="margin-bottom-0-5"><a routerLink="/ngb-datepicker">NGB datepicker</a></li>
            <li><a routerLink="/ng-select">NG select</a></li>
        </ul>
    </article>

    <article id="whatDateFormat" style="scroll-margin-top: 13.5rem;" class="content-repeater" [ngClass]="{'
        bg-aa-pink-25 
        bd-left-6 
        bd-left-pink 
        bd-left-solid' : selectedIndex === 1}">
        <h3 class="margin-top-0">What date format should I use for the NGB-datepicker</h3>
        <p class="max-width-50">The format is <a routerLink="/ngb-datepicker">described here</a> but just to reiterate,
            the datepicker placeholder format should be <strong class="aa-red-100">dd-mon-yyyy</strong> and the rendered
            date format that
            then appears in the UI should be unhyphenated and capitalized, for example <strong class="aa-red-100">01 Jan
                2021</strong></p>
    </article>

    <article id="contextMenu" style="scroll-margin-top: 13.5rem;" class="content-repeater" [ngClass]="{'
        bg-aa-pink-25 
        bd-left-6 
        bd-left-pink 
        bd-left-solid' : selectedIndex === 2}">
        <h3 class="margin-top-0">How do I add a context-menu to AG-grid?</h3>
        <p class="max-width-50">Please visit the <a routerLink="/ag-grid">AG-grid</a> page of this site and open the
            right
            <strong class="aa-red-100">View gist</strong> blade for instructions on how to add a context-menu
        </p>
    </article>

    <article id="toolTip" style="scroll-margin-top: 13.5rem;" class="content-repeater" [ngClass]="{'
        bg-aa-pink-25 
        bd-left-6 
        bd-left-pink 
        bd-left-solid' : selectedIndex === 3}">
        <h3 class="margin-top-0">How do I add a tooltip to AG-grid?</h3>
        <p class="max-width-50">Please visit the <a routerLink="/ag-grid">AG-grid</a> page of this site and open the
            right
            <strong class="aa-red-100">View gist</strong> blade for instructions on how to add a custom tooltip
        </p>
    </article>

    <article id="setHeight" style="scroll-margin-top: 13.5rem;" class="content-repeater" [ngClass]="{'
        bg-aa-pink-25 
        bd-left-6 
        bd-left-pink 
        bd-left-solid' : selectedIndex === 4}">
        <h3 class="margin-top-0">How do I set the height on AG-grid?</h3>
        <p class="max-width-50">Please visit the <a routerLink="/ag-grid">AG-grid</a> page of this site and open the
            right
            <strong class="aa-red-100">View gist</strong> blade for instructions on how to set the height
        </p>
    </article>

    <article id="dlInAgGrid" style="scroll-margin-top: 13.5rem;" class="content-repeater" [ngClass]="{'
        bg-aa-pink-25 
        bd-left-6 
        bd-left-pink 
        bd-left-solid' : selectedIndex === 5}">
        <h3 class="margin-top-0">Which Design Language components can I use with AG-grid?</h3>
        <p class="max-width-50">
            You can use some of our components. These include:
        </p>
        <ul class="margin-top-1 margin-bottom-1">
            <li class="margin-bottom-0-5"><a routerLink="/buttons">Buttons</a></li>
            <li class="margin-bottom-0-5"><a routerLink="/checkbox">Checkboxs</a></li>
            <li class="margin-bottom-0-5"><a routerLink="/input-radio">Radios</a></li>
            <li class="margin-bottom-0-5"><a routerLink="/select">Selects</a></li>
            <li class="margin-bottom-0-5"><a routerLink="/input">Inputs</a></li>
            <li class="margin-bottom-0-5"><a routerLink="/alert-shields">Alert shields</a></li>
            <li><a routerLink="/icons">Material-icons</a></li>
        </ul>
        <p class="max-width-50">If you need to add a specific component that's not listed above, please contact the UX
            Team and we'll
            endeavour to create/adapt to display with AG-grid.
            <strong class="aa-red-100">Please do not use custom background colours
                as this will not work in dark-mode
            </strong>
        </p>
    </article>

    <article id="agGridHelp" style="scroll-margin-top: 13.5rem;" class="content-repeater" [ngClass]="{'
        bg-aa-pink-25 
        bd-left-6 
        bd-left-pink 
        bd-left-solid' : selectedIndex === 6}">
        <h3 class="margin-top-0">Where can I get further help with AG-grid?</h3>
        <p class="max-width-50">Please visit the Angular Data Grid - Getting Started page on the <a
                href="https://www.ag-grid.com/angular-data-grid/">AG-grid website</a></p>
    </article>

    <article id="dlComponents" style="scroll-margin-top: 13.5rem;" class="content-repeater" [ngClass]="{'
        bg-aa-pink-25 
        bd-left-6 
        bd-left-pink 
        bd-left-solid' : selectedIndex === 7}">
        <h1>Questions about Design Language components</h1>
        <h3>Where can I find the markup for a given component?</h3>
        <p class="max-width-50">Most if not all of our components listed in the left menu from Animations to Widgets
            have an
            accompanying gist file that can be accessed by opening the right side <strong class="aa-red-100">View
                gist</strong> blade
        </p>
    </article>

    <article id="customCss" style="scroll-margin-top: 13.5rem;" class="content-repeater" [ngClass]="{'
        bg-aa-pink-25 
        bd-left-6 
        bd-left-pink 
        bd-left-solid' : selectedIndex === 8}">
        <h3 class="margin-top-0">Can we use custom css in our projects?</h3>
        <p class="max-width-50"><strong class="aa-red-100">No, please do not use custom css!</strong> This is for a very
            good reason. All of our components have accompanying SASS files that are designed specifically for our Apps
            to work
            correctly with <a routerLink="/flex">Flex</a> and dark-mode. If you really need to tweak things, you can use
            our collection of
            helpers/modifiers that are listed under the <strong class="aa-red-100">Modifiers</strong> section in the
            left navigation. Have a play around,
            you can actually build the foundations of a component just using these alone, here's one below
        </p>
        <div
            class="border-radius-0-5 bd-3 bd-orange bd-dashed padding-1 margin-top-1 max-width-50 bg-aa-grey-100 aa-white-100">
            <h2 class="aa-white-100">This was created using the Modifiers only, found in the left navigation</h2>
            <p class="aa-pink-100">Hello there. Check dev-tools to see how you can create stuff just by just using the
                Modifiers</p>
        </div>
    </article>

    <article id="whichNode" style="scroll-margin-top: 13.5rem;" class="content-repeater" [ngClass]="{'
        bg-aa-pink-25 
        bd-left-6 
        bd-left-pink 
        bd-left-solid' : selectedIndex === 9}">
        <h3 class="margin-top-0">How do I know which node packages to use?</h3>
        <p class="max-width-50">We advise that you always update to the very latest Styles and Components packages.
            Along with new components that are being
            regularly included in our library, there are also frequent bug fixes and improvements added on a weekly
            basis
        </p>
        <ul class="margin-top-1">
            <li class="margin-bottom-0-5"><a target="_blank"
                    href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fstyles/versions/">Click
                    here</a> to see the very latest Styles npm package</li>
            <li class="margin-bottom-0-5"><a target="_blank"
                    href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions/">Click
                    here</a> to see the very latest Components npm package</li>
            <li><a target="_blank"
                    href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fanglo-angular-framework/versions/">Click
                    here</a> to see the very latest Core Anglo Framework npm package</li>
        </ul>
    </article>

</section>