a:not(.nav-core a, .tab-navigation a, .context-menu a), a.icon-info {
  color: _colour(trans-light-blue-to-blue-light); // don't make this important or it breaks the header
  font-size: _font(size-default);

  &:-webkit-any-link {
    text-decoration: none;
  }

  &:hover {
    color: _colour(trans-light-blue-to-blue-light);
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5 {
    color: _colour(trans-light-blue-to-blue-light);
  }
}

.anchor-back {
  color: _colour(trans-light-blue-to-blue-light) !important;
  font-family: _font(family-medium);
  display: inline-block;
  padding-left: .85rem;
  margin-right: 2rem;
  margin-bottom: .5rem;
  margin-left: -.5rem;
  position: relative;
  font-size: 0.8125rem;
  cursor: pointer;

  &:hover {
    color: _colour(aa-light-blue-100);
    text-decoration: underline;
  }

  &:before {
    content: "\f053";
    font-family: font-awesome;
    font-size: .75rem;
    left: 0;
    top: .09rem;
    position: absolute;
  }
}

.anchor-close {
  color: _colour(trans-light-blue-to-blue-light);
  cursor: pointer;
  display: inline-block;
  font-size: _font(size-default);
  padding-right: 1rem;
  position: relative;

  &:hover {
    text-decoration: underline;
    &:after {
      transform: rotate(180deg);
      transition-duration: 0.3s;
    }
  }

  &:after {
    @include icon-right-before-small;
    content: "\f00d";
  }
}

.feature-box.solid {
  a {
    color: _colour(aa-light-blue-100);
  }
}

.anchor-blue {
  color: _palette(aa-light-blue-100);
}

.anchor-small {
  font-size: _font(size-default);
}

.gradient {
  a {
    color: _palette(aa-white-100)
  }
}