.aa-comments {
  position: relative;
  z-index: 10;

  h3 {
    &:hover {
      text-decoration: underline;
    }
  }

  .material-icons {
    font-size: _font(size-medium);
  }

  .comments-trigger {
      &:hover + .comments-panel {
          display: block;
      }
  }

  .comments-panel {
      position: absolute;
      min-width: 30rem;
      display: none;

      &.show-comments {
          display: block;
      }

      textarea {
        min-height: 6rem;
        max-width: 35rem;
      }
  }
  .scroll-panel {
    border: 1px solid _colour(aa-grey-10);
    border-radius: .25rem;
    padding-top: 1.75rem;
    .table-comments {
      font-size: _font(size-small);
      td, th {
        .material-icons,
        .material-icons-outlined {
          height: unset;
          padding: 0;
        }
      }

      th {
        &:first-child {
          span {
            padding-left: .5rem;
          }
        }
        div {
          padding-bottom: .5rem;
          span {
            padding: .5rem;
          }
        }
      }
      td {
        vertical-align: middle;
        padding: 0 .5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 8rem;
        &:nth-child(2),
        &:nth-child(3) {
          max-width: 5rem;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}