fieldset {
  border: none;
  max-width: 35rem;
  margin: 1rem 0 0 0;
  padding: 0;

  &.boxed.checkbox {
    margin-top: 0;
    margin-bottom: 0;
  }

  legend {
    padding: .5rem 0 .5rem 0;
  }
  
  &.flex-column {
    .radio, .checkbox {
      margin-bottom: 2.6rem;
      
      &.margin-bottom-0 {
        margin-bottom: 0;
      }
      
      &.margin-bottom-0-5 {
        margin-bottom: .5rem;
      }
      
      &:last-child() {
        margin-bottom: .5rem;
      }
    }
  }
}