input:not(.ag-filter-filter input, input[type='range']) {
  display: inline-block;
  border: 1px solid _colour(ph-grey-25);
  border-radius: 0.25rem;
  font-family: _font(family-regular);
  font-size: _font(size-default);
  color: _colour(ph-grey-100);
  background-color: _colour(ph-white-100);
  -webkit-appearance: none;
  
  &[type=text], 
  &[type=number] {
    width: 100%;
  }
  
  &:not([role='combobox']) { // for ng-select
    padding: .51rem .75rem;
  }

  &:focus:not([type=checkbox], [type=radio], .ng-select input) {
    outline: 0;
    border: 1px solid _colour(ph-light-blue-100);
    box-shadow: 0 0 3pt 1pt _colour(ph-light-blue-15);
  }

  &[type=checkbox],
  &[type=radio] {
    padding: 0;
    &:-moz-focusring {
      outline:0;
    }
  }

  &[type=radio] {
    -webkit-appearance: radio;
  }

  &[type=checkbox] {
    -webkit-appearance: checkbox;
  }

  &[aria-readonly=true],
  &[readonly],
  &[aria-disabled=true],
  &[disabled] {
    background-color: _colour(ph-grey-5);
    border-style: dashed;
    cursor: not-allowed;

    &:focus {
      border-color: _colour(ph-grey-25)!important;
      box-shadow: none!important;
    }
  }

  ::-webkit-input-placeholder {
    color: _palette(ph-grey-40);
    font-style: italic;
  }

  ::-moz-placeholder {
    color: _palette(ph-grey-40);
    font-style: italic;
  }

  :-ms-input-placeholder {
    color: _palette(ph-grey-40);
    font-style: italic;
  }
  
  // override chrome's autofill bg color for darkmode
  &:-webkit-autofill, 
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: _colour(ph-grey-100)!important;
    -webkit-box-shadow: 0 0 0 1000px _colour(ph-white-100) inset!important;
  }

  &.search {
    @include search-icon;
    background-position: center right .25rem;
    background-size: 1.5rem;
    padding-right: 2rem;
    border-radius: 2rem;
  }
}

input[type=range] {
  border: solid 1px _colour(ph-light-blue-80);
  background-color: _colour(ph-light-blue-5)!important;
  border-radius: 1rem;
  height: .4rem;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;

  /*Chrome thumb*/
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 1rem;
    height: .75rem;
    width: .75rem;
    border-radius: 1rem;
    background: _colour(ph-blue-100);

    &:hover {
      background: _colour(ph-orange-100);
      cursor: pointer;
    }
  }

  /*Mozilla thumb*/
  &::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-border-radius: 1rem;
    height: .75rem;
    width: .75rem;
    border-radius: 1rem;
    background: _colour(ph-blue-100);

    &:hover {
      background: _colour(ph-orange-100);
      cursor: pointer;
    }
  }
}

.gradient {
  input {
    background-color: _palette(ph-blue-100);
    border: none;
    color: _palette(ph-white-100);
    border-radius: 0;
    &::placeholder {
      color: _palette(ph-white-100);
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  input:not(.ag-filter-filter) {
    &[type='text'] {
      padding: 0.5rem 0.5rem 0.75rem 0.75rem !important;
    }
  }
}


