ul:not(nav ul, ul.aa-stepper-header, .aa-card-list, .list-arrows) {padding: 0 0 0 1rem}
ol:not(nav ul, nav ol, ul.aa-stepper-header) {padding: 0 0 0 1.25rem}

ul,
ol {
  margin: 0;
  list-style-position: outside;
  font-size: _font(size-default);
  line-height: 1.35rem;

  &.highlight {
    li:before {
      color: _colour(aa-light-blue-100);
    }
  }

  &.primary {
    li:before {
      color: _colour(aa-grey-100);
    }
  }

  &.secondary {
    li:before {
      color: _colour(aa-light-blue-100);
    }
  }

  &.tertiary {
    li:before {
      color: _colour(aa-white-100);
    }
  }

  &.orange {
    li:before {
      color: _palette(aa-orange-100);
    }
  }

  &.error,
  &.red {
    li:before {
      color: _palette(aa-red-100);
    }
  }

  &.spacing-lg li {
    padding-bottom: 1rem;
  }
}

.list-arrows,
.arrow {
  // use .arrow
  list-style: none;
  padding-left: 0;

  li {
    &:before {
      content: "arrow_forward";
      @include icon-material;
      @include icon-medium;
      vertical-align: bottom;
      padding-right: .5rem;
    }
  }
}

.strip-bullets {
  list-style-type: none;
}