p {
    margin: 0;
    color: _colour(body-text);
    line-height: 1.15rem;
    &.small {
      font-size: _font(size-small);
      line-height: initial;
    }
}

p + p:not(.aa-csh p) {
  margin-top: 1rem;
}