::-webkit-scrollbar {
    width: 15px!important;
    height: 15px!important;
}

::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: rgba(199,199,199,1);
    min-height: 2rem;
}

::-webkit-scrollbar-button {
    display: none;
}