.aa-pagination {
  width: 100%;
  button {
    background-color: transparent;
    width: 1.75rem!important;
    height: 1.75rem!important;
    color: _colour(aa-grey-100);
  }
}

table {
  &.table-fixed {
    table-layout: fixed;
  }

  &.vertical-align-top {
    tbody {
      td {
        vertical-align: top;
      }
    }
  }

  &.expandable-rows {
    tr {
      .toggle {
        transition: all .15s linear;
        padding: 0;
        font-size: _font(size-medium);
        border: none;
        background: transparent;
      }
      &.expanded {
        .toggle {
          transform: rotate(90deg);
        }
      }
      th {
        &:nth-child(2) {
          padding-left: 0;
        }
      }
      td {
        &:first-child {
          padding-left: .75rem;
          padding-right: .5rem!important;
          width: 2.75rem;
        }
        &:nth-child(2) {
          padding-left: 0;
        }
        table {
          background-color: transparent;
          tr {
            td {
              background-color: transparent;
            }

            &:last-child {
              td {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }

  // make all alert-shields small
  .alert-shield {
    background-size: 1rem;
    font-size: _font(size-small);
    padding: .275rem .5rem .275rem 1.75rem;
    height: 1.5rem;
    line-height: .75rem;
    span, div {
      padding-right: 0;
    }
  }
}

table:not(.table-feature) {
  th {
    white-space: nowrap;
  }
  td {
    overflow-wrap: break-word;
    vertical-align: inherit;

    .context-menu {
      ul {
        z-index: 1;
      }
    }
    .slider {
      label {
        &:last-child {
          width: 2.25rem;
          height: 1.25rem;
          input {
            &:checked + .slider-btn {
              &:before {
                -webkit-transform: translateX(1rem);
                -ms-transform: translateX(1rem);
                transform: translateX(1rem);
              }
            }
          }

          .slider-btn {
            &:before {
              height: .75rem;
              width: .75rem;
              left: .25rem;
            }
          }
        }
      }
    }
  }
  button {
    min-width: unset;
  }

  &.table-progress,
  &.table-status {
    th {
      .rotate {
        transform: rotate(-90deg);
        padding-bottom: 0;
        letter-spacing: .025rem;
        width: 1.25rem;
        min-width: 1.25rem;
        max-width: 1.25rem;
        height: 1.25rem;
        min-height: 1.25rem;
        max-height: 1.25rem;
        position: absolute;
        bottom: .25rem;
        &:after {
          content: "";
          position: absolute;
          width: 100vh;
          height: 1.2rem;
          left: -0.25rem;
          border-top: 1px solid _colour(aa-grey-10);
          top: 0.2rem;
        }
      }
    }
  }

  &.table-status {
    th {
      padding: 0 0 .25rem 0;
      border-bottom: none;
      .rotate {
        transform-origin: .45rem .6rem;
        padding-top: .325rem;
        &:after {
          content: "";
          position: absolute;
          width: 100vh;
          height: 1.2rem;
          left: -0.25rem;
          border-top: 1px solid _colour(aa-grey-10);
          top: 0.2rem;
        }
      }
      &:last-child .rotate {
        &:after {
          border-bottom: 1px solid _colour(aa-grey-10);
        }
      }
    }
    td {
      padding: .15rem;
      border-bottom: solid 1px _colour(aa-grey-10);
      &.status-cell {
        border: .084rem solid _colour(aa-white-100);
      }

      a {
        text-decoration: none;
        padding-left: 0;
      }
    }
    th, td {
      white-space: nowrap;
      &.status-cell {
        width: 1.3rem;
        min-width: 1.3rem;
        max-width: 1.3rem;
        height: 1.3rem;
        min-height: 1.3rem;
        max-height: 1.3rem;
      }
    }
  }
  &.table-progress {
    th {
      padding: 0 0 .25rem 0;
      border-bottom: none;
      border-bottom: solid 2px _colour(aa-light-blue-100);
      .rotate {
        transform-origin: .4rem .6rem;
        padding-top: .6rem;
      }
    }
    td {
      padding: .15rem;
      border-bottom: solid 1px _colour(aa-grey-10);
      
      a {
        text-decoration: none;
      }

      &.progress-cell {
        &:last-child {
          border-right: solid 1px _colour(aa-grey-10);
        }
      }
    }
    th, td {
      white-space: nowrap;
      &.progress-cell {
        width: 1.75rem;
        min-width: 1.75rem;
        max-width: 1.75rem;
        height: 1.75rem;
        min-height: 1.75rem;
        max-height: 1.75rem;
        border-left: solid 1px _colour(aa-grey-10);
        padding: 0;
      }
    }
  }
}

table:not(
  .table-condensed, 
  .email-container, 
  .table-feature, 
  .js-file-line-container,
  .table-comments
  ) {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background-color: _colour(aa-white-100);

  &.half-width,
  &.small {
    width: 50%;
  }

  caption {
    text-align: left;
    caption-side: top;
    font-size: _font(size-medium);
    padding-bottom: 0.75rem;
    padding-top: 0;
    *.boxed {
      font-size: _font(size-default);
    }
  }

  thead {
    th, [datalabel] {
      border-bottom: solid 2px _colour(aa-light-blue-100);
      font-family: _font(family-medium);
      font-weight: normal;
      padding: 0.5rem 1rem;
      &:first-child {
        padding-left: 1.5rem;
      }
    }
  }

  tbody {
    tr {
      &.row-selected {
        background-color: _palette(aa-light-blue-5);
      }

      // when we've using a heading tag in a tbody row
      th {
        padding-left: 1.5rem;
        color: _colour(aa-blue-100);
        font-size: _font(size-default)
      }

      td {
        padding: 0.5rem 1rem;
        border-bottom: solid 1px _colour(aa-grey-5);
        &:first-child:not(.expandable-rows td) {
          padding-left: 1.5rem;
        }
      }
    }
  }
}

// start table feature...
table.table-feature {
  border-spacing: 0;

  h3 {
    margin: 0 .75rem 0 0;
  }

  tr {
    &:last-child {
      td {
        border-bottom: none;
      }
    }
    td {
      padding: .25rem .75rem;
      border-bottom: 1px solid _colour(aa-light-blue-30);
      font-family: _font(family-medium);
      font-size: _font(size-default);
      height: 3.25rem;
      white-space: nowrap;
      &.feature-cell {
        text-align: left;
        vertical-align: top;
        padding: 0;
        height: auto;
        border: none;
      
        table {
          background-color: transparent;
          width: 100%;
          tr {
            &:first-child {
              td {
                padding: .5rem .75rem;
                vertical-align: bottom;
                border-radius: .5rem .5rem 0 0; 
                .field {
                  margin-top: 0;
                  padding-top: 0;
                }
              }
            }
            &:last-child {
              td {
                padding: .5rem .75rem;
                border-radius: 0 0 .5rem .5rem;
                text-align: center;
              }
            }
            td {
              background-color: _colour(aa-light-blue-15);
            }
          }
        }
      }
    }
  }
}

// fixed headers
.tbl-container {
  .tbl-fixed {
    overflow: auto;
    table {
      min-width: max-content;
      border-collapse: separate;
      thead {
        position: relative;
        z-index: 100;
        tr {
          position: sticky;
          top: 0;
          th {
            background-color: _colour(aa-white-100);
          }
        }
      }
    }
  }
}

// legacy fixed header - do not use
.scroll-panel {
  position: relative;
  overflow-x: hidden;
  padding-top: 2rem;
  .scroll-panel-content {
    overflow-y: auto;
    table {
      th {
        border-bottom: none;
        padding: 0;
        &:first-child {
          padding-left: 0;
          span {
            padding-left: 1.25rem;
          }
        }
        div {
          position: absolute;
          border-bottom: solid 2px _colour(aa-light-blue-100);
          padding-bottom: 1rem;
          top: .85rem;
          width: 100%;
  
          span {
            position: absolute;
            top: -1rem;
            left: 0;
            padding: .5rem 1rem .25rem 1rem;
          }
        }
      }
      
      td {
        vertical-align: middle;
      }
    }
  }
}

.slim {
  width: 4rem;
}


.multi-tables {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  flex-wrap: nowrap!important;
  table {
    flex: 1;
    border-right: 2px solid _palette(aa-light-blue-100);
    border-left: none;
    &:last-child {
      border-right: none;
    }
  }
}

.dynamic-table {
  :host {
    &:last-child .bar {
        display: none;
    }
  }
  
  .wrapper {
    display: flex;
    justify-content: flex-end;
  }
  
  .content {
    flex: 1;
    padding-right: 1rem;
  }
  
  .bar {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 -1.25rem 0 .75rem;
    padding: 0 .5rem; // increase grabable area
    justify-self: flex-end;
    background-clip: content-box;
    cursor: ew-resize;
    transition: opacity .3s;
    .bar-inner {
      background: _colour(aa-grey-25)!important;
      width: 1px;
      height: 100%;
    }
  }

  th {
    position: relative;
    &:last-child {
      width: auto!important;

      .bar {
        display: none;
      }
    }
    
    .arrow-up,
    .arrow-down {
      display: none;
      position: absolute;
      font-size: _font(size-default);
      top: .5rem;
      right: .75rem;
      color: _colour(aa-pink-100);
    }


    &:hover {
      .arrow-up {
        display: block;
      }
    }

    &.asc {
      &:hover {
        .arrow-down {
          display: block;
        }
        .arrow-up {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {

  table {
    tr {
      th, td {
        &:first-child {
          padding-left: 0!important;
        }
      }
    }

    &.table-progress {
      tbody {
        tr {
          td {
            width: auto!important;
            max-width: unset!important;
            min-width: unset!important;
            border-left: none!important;

            .material-icons,
            .material-icons-outlined {
              display: inline-block!important;
            }
          }
        }
      }
    }

    &.table-feature {
      tr:not(:first-child, 
      .table-feature table tr) {
        display: none;
      }
      tr {
        td:not(.table-feature .feature-cell table td) {
          &:first-child {
            display: none!important
          }
        }
        td {
          display: block!important;
          border: none!important;
          input {
            float: left;
            margin-top: .25rem!important;
          }

          table {
            background-color: _colour(aa-light-blue-15)!important;
            border-radius: .5rem!important;

            tr {
              td {
                margin-top: 0!important;
                padding: .75rem!important;
                height: auto!important;
                border: none!important;

                h1, h2, h3, h4 {
                  margin-bottom: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .tbl-container {
    .tbl-fixed {
      table {
        thead {
          position: absolute;
        }
      }
    }
  }

  .bs-datepicker-body {
    table {
      th,
      td {
        display: table-cell;
      }
    }
  }
  
  .blade-bottom {
    table {
      tbody tr th, 
      tbody tr td {
        padding: .5rem 1.5rem .5rem 1.5rem!important;
      }
    }
  }

  table:not(.email-container, .table-feature, .js-file-line-container) {
    &.two-col-row {
      th[scope='row'] {
        display: none;
      }
    }

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr + tr,
    .table-td-spacer-top {
      td:first-child {
        margin-top: 1rem;
      }
    }

    tbody tr td,
    thead tr th {
      display: block;
      text-align: right;
      margin-bottom: 0.25rem;
      padding: .5rem 0 .5rem 0;

      &:first-child {
        padding-left: 0;
      }

      &.empty-cell,
      &.cell-title {
        display: none;
      }
    }

    th[scope='row'] {
      text-align: left;
    }

    td, th {
      &:before {
        content: attr(datalabel);
        float: left;
        display: inline-block;
        font-family: _font(family-medium);
      }
    }

    &.table-status {
      padding-top: 0!important;
      th {
        display: none;
      }
      td:not(:first-child) {
        &:before {
          content: attr(datalabel);
          padding-left: 1.5rem
        }
      }
    }
  }
}
