.aa-pagination {
  width: 100%;
  button {
    background-color: transparent;
    width: 1.75rem!important;
    height: 1.75rem!important;
    color: _colour(body-text);
  }
}

table {
  &.table-fixed {
    table-layout: fixed;
  }

  &.expandable-rows {
    tr {
      .toggle {
        transition: all .15s linear;
        padding: 0;
        font-size: _font(size-medium);
        border: none;
        background: transparent;
      }
      &.expanded {
        .toggle {
          transform: rotate(90deg);
        }
      }
      td {
        &:first-child {
          padding-left: .75rem;
          padding-right: .5rem!important
        }
        table {
          background-color: transparent;
          tr {
            td {
              background-color: transparent;
            }

            &:last-child {
              td {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}

table:not(.table-feature) {
  th {
    vertical-align: baseline;
  }
  td {
    overflow-wrap: break-word;
    vertical-align: inherit;

    .context-menu {
      ul {
        z-index: 1;
      }
    }
    .slider {
      label {
        &:last-child {
          width: 2.25rem;
          height: 1.25rem;
          input {
            &:checked + .slider-btn {
              &:before {
                -webkit-transform: translateX(1rem);
                -ms-transform: translateX(1rem);
                transform: translateX(1rem);
              }
            }
          }

          .slider-btn {
            &:before {
              height: .75rem;
              width: .75rem;
              left: .25rem;
            }
          }
        }
      }
    }
  }
  button {
    min-width: unset;
  }

  &.table-status {
    th {
      padding: 0 0 .25rem 0;
      border-bottom: none;
      .rotate {
        transform: rotate(-90deg);
        transform-origin: .45rem .6rem;
        padding-top: .25rem;
        padding-bottom: 0;
        letter-spacing: .025rem;
        width: 1.25rem;
        min-width: 1.25rem;
        max-width: 1.25rem;
        height: 1.25rem;
        min-height: 1.25rem;
        max-height: 1.25rem;
      }
    }
    td {
      padding: .15rem;
      border-bottom: solid 1px _colour(border-box);
      &.status-cell {
        border: .084rem solid _colour(aa-white-100);
      }

      a {
        text-decoration: none;
        padding-left: 0;
      }
    }
    th, td {
      white-space: nowrap;
      &.status-cell {
        width: 1.3rem;
        min-width: 1.3rem;
        max-width: 1.3rem;
        height: 1.3rem;
        min-height: 1.3rem;
        max-height: 1.3rem;
      }
    }
  }
  &.table-progress {
    th {
      padding: 0 0 .25rem 0;
      border-bottom: none;
      border-bottom: solid 2px _colour(secondary);
      .rotate {
        transform: rotate(-90deg);
        transform-origin: .5rem;
        padding-top: .5rem;
        padding-bottom: 0;
        letter-spacing: .025rem;
        width: 1.75rem;
        min-width: 1.75rem;
        max-width: 1.75rem;
        height: 1.75rem;
        min-height: 1.75rem;
        max-height: 1.75rem;
      }
    }
    td {
      padding: .15rem;
      border-bottom: solid 1px _colour(border-box);
      
      a {
        text-decoration: none;
      }

      &.progress-cell {
        &:last-child {
          border-right: solid 1px _colour(border-box);
        }
      }
    }
    th, td {
      white-space: nowrap;
      &.progress-cell {
        width: 1.75rem;
        min-width: 1.75rem;
        max-width: 1.75rem;
        height: 1.75rem;
        min-height: 1.75rem;
        max-height: 1.75rem;
        border-left: solid 1px _colour(border-box);
        padding: 0;
      }
    }
  }
}

table:not(
  .table-condensed, 
  .email-container, 
  .table-feature, 
  .js-file-line-container,
  .table-comments
  ) {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background-color: _colour(bg-ag-grid);

  &.half-width,
  &.small {
    width: 50%;
  }

  caption {
    text-align: left;
    caption-side: top;
    font-size: _font(size-medium);
    padding-bottom: 0.75rem;
    *.boxed {
      font-size: _font(size-default);
    }
  }

  thead {
    th, [datalabel] {
      border-bottom: solid 2px _colour(secondary);
      font-family: _font(family-medium);
      font-weight: normal;
      padding: 0.5rem 1rem;
      &:first-child {
        padding-left: 1.5rem;
      }
    }
  }

  tbody {
    tr {
      &.row-selected {
        background-color: _palette(aa-light-blue-5);
      }

      td {
        padding: 0.5rem 1rem;
        border-bottom: solid 1px _colour(border-subtle);
        &:first-child:not(.expandable-rows td) {
          padding-left: 1.5rem;
        }
      }
    }
  }
}

// start table feature...
table.table-feature {
  border-spacing: 0;

  h3 {
    margin: 0 .75rem 0 0;
  }

  tr {
    &:last-child {
      td {
        border-bottom: none;
      }
    }
    td {
      padding: .25rem .75rem;
      border-bottom: 1px solid _colour(border-secondary);
      font-family: _font(family-medium);
      font-size: _font(size-default);
      height: 3.25rem;
      white-space: nowrap;
      &.feature-cell {
        text-align: left;
        vertical-align: top;
        padding: 0;
        height: auto;
        border: none;
      
        table {
          background-color: transparent;
          width: 100%;
          tr {
            &:first-child {
              td {
                padding: .5rem .75rem;
                vertical-align: bottom;
                border-radius: .5rem .5rem 0 0; 
                .field {
                  margin-top: 0;
                  padding-top: 0;
                }
              }
            }
            &:last-child {
              td {
                padding: .5rem .75rem;
                border-radius: 0 0 .5rem .5rem;
                text-align: center;
              }
            }
            td {
              background-color: _colour(border-feature-box);
            }
          }
        }
      }
    }
  }
}

// fixed headers
.tbl-container {
  .tbl-fixed {
    overflow: auto;

    table {
      min-width: max-content;
      border-collapse: separate;

      thead {
        position: relative;
        z-index: 100;

        th {
          position: sticky;
          top: 0;
          background-color: _colour(bg-primary);
        }

      }
    }
  }
}

// legacy fixed header - do not use
.scroll-panel {
  position: relative;
  overflow-x: hidden;
  padding-top: 2rem;
  .scroll-panel-content {
    overflow-y: auto;
    table {
      th {
        border-bottom: none;
        padding: 0;
        &:first-child {
          padding-left: 0;
          span {
            padding-left: 1.25rem;
          }
        }
        div {
          position: absolute;
          border-bottom: solid 2px _colour(secondary);
          padding-bottom: 1rem;
          top: .85rem;
          width: 100%;
  
          span {
            position: absolute;
            top: -1rem;
            left: 0;
            padding: .5rem 1rem .25rem 1rem;
          }
        }
      }
      
      td {
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .bs-datepicker-body {
    table {
      th,
      td {
        display: table-cell;
      }
    }
  }
  
  .blade-bottom {
    table {
      tbody tr th, 
      tbody tr td {
        padding: .5rem 1.5rem .5rem 1.5rem!important;
      }
    }
  }

  table:not(.email-container, .table-feature, .js-file-line-container) {
    &.two-col-row {
      th[scope='row'] {
        display: none;
      }
    }

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr + tr,
    .table-td-spacer-top {
      td:first-child {
        margin-top: 1rem;
      }
    }

    tbody tr td,
    thead tr th {
      display: block;
      text-align: right;
      margin-bottom: 0.25rem;
      padding: .5rem 0 .5rem 0;

      &:first-child {
        padding-left: 0;
      }

      &.empty-cell,
      &.cell-title {
        display: none;
      }
    }

    th[scope='row'] {
      text-align: left;
    }

    td, th {
      &:before {
        content: attr(datalabel);
        float: left;
        display: inline-block;
        font-family: _font(family-medium);
      }
    }

    &.table-status {
      padding-top: 0!important;
      th {
        display: none;
      }
      td:not(:first-child) {
        &:before {
          content: attr(datalabel);
          padding-left: 1.5rem
        }
      }
    }
  }
}

.slim {
  width: 4rem;
}


.multi-tables {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  flex-wrap: nowrap!important;
  table {
    flex: 1;
    border-right: 2px solid _palette(aa-light-blue-100);
    border-left: none;
    &:last-child {
      border-right: none;
    }
  }
}