<div class="scroll-panel">
  <div class="scroll-panel-content" [ngStyle]="{'max-height':'calc(100vh - 22.5rem)'}">
  <table>
      <thead>
        <tr>
          <th><div><span>Version</span></div></th>
          <th width="200"><div><span>Apps affected</span></div></th>
          <th width="1000"><div><span>Changes</span></div></th>
          <th width="200"><div><span>Author</span></div></th>
          <th width="200"><div><span>Date</span></div></th>
        </tr>
      </thead>
      <tbody>
        <!-- COMPONENTS ONLY -->
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.157
            </a>
          </td>
          <td>Global</td>
          <td>Table with progress indicators</td>
          <td>Michael King</td>
          <td class="nowrap">01-dec-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.156
            </a>
          </td>
          <td>Global</td>
          <td>Rebuild accordions to include animation option</td>
          <td>Michael King</td>
          <td class="nowrap">01-dec-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.155
            </a>
          </td>
          <td>Global</td>
          <td>NEW - Custom alert shields - ability to add tooltips</td>
          <td>Michael King</td>
          <td class="nowrap">01-dec-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.154
            </a>
          </td>
          <td>Global</td>
          <td>NEW - Custom alert shields</td>
          <td>Michael King</td>
          <td class="nowrap">30-nov-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.153
            </a>
          </td>
          <td>Global</td>
          <td>Accordion - allow min-width</td>
          <td>Michael King</td>
          <td class="nowrap">29-nov-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.152
            </a>
          </td>
          <td>Global</td>
          <td>Accordion improvements</td>
          <td>Michael King</td>
          <td class="nowrap">29-nov-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.151
            </a>
          </td>
          <td>Global</td>
          <td>Accordions consistency change - remove chevrons, use plus minus instead</td>
          <td>Michael King</td>
          <td class="nowrap">28-nov-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.150
            </a>
          </td>
          <td>Global</td>
          <td>Progress Indicator - ability to hide chevron, add bg-color and status icons</td>
          <td>Michael King</td>
          <td class="nowrap">28-nov-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.149
            </a>
          </td>
          <td>Global</td>
          <td>Slider: Use setter</td>
          <td>Michael King</td>
          <td class="nowrap">23-nov-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.148
            </a>
          </td>
          <td>Global</td>
          <td>Slider: Remove console log</td>
          <td>Michael King</td>
          <td class="nowrap">23-nov-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.147
            </a>
          </td>
          <td>Global</td>
          <td>Slider: Remove console log</td>
          <td>Michael King</td>
          <td class="nowrap">23-nov-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.146
            </a>
          </td>
          <td>Global</td>
          <td>Slider: Improvements - no need for setter</td>
          <td>Michael King</td>
          <td class="nowrap">22-nov-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.145
            </a>
          </td>
          <td>Global</td>
          <td>Slider: Update EventEmitter and Summary-top: Add truncation</td>
          <td>Michael King</td>
          <td class="nowrap">22-nov-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.144
            </a>
          </td>
          <td>Global</td>
          <td>Slider - Add EvenetEmitter to detect state change</td>
          <td>Michael King</td>
          <td class="nowrap">22-nov-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.143
            </a>
          </td>
          <td>Global</td>
          <td>Add alert shield tooltip positioning</td>
          <td>Michael King</td>
          <td class="nowrap">04-nov-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.142
            </a>
          </td>
          <td>Global</td>
          <td>Add conditional style for aa-popover</td>
          <td>Michael King</td>
          <td class="nowrap">31-oct-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.141
            </a>
          </td>
          <td>Global</td>
          <td>Update aa-popover</td>
          <td>Michael King</td>
          <td class="nowrap">31-oct-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.140
            </a>
          </td>
          <td>Global</td>
          <td>Add event to subscribe to for aa-popover</td>
          <td>Michael King</td>
          <td class="nowrap">31-oct-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.139
            </a>
          </td>
          <td>Global</td>
          <td>Add ability to customise z-index on aa-popover component</td>
          <td>Michael King</td>
          <td class="nowrap">31-oct-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.138
            </a>
          </td>
          <td>Global</td>
          <td>Update summary-top to allow block display</td>
          <td>Michael King</td>
          <td class="nowrap">27-oct-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.137
            </a>
          </td>
          <td>Global</td>
          <td>Add new status-indicator component</td>
          <td>Michael King</td>
          <td class="nowrap">20-oct-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.136
            </a>
          </td>
          <td>Global</td>
          <td>Add rightPos for popover component</td>
          <td>Michael King</td>
          <td class="nowrap">30-sep-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.135
            </a>
          </td>
          <td>Global</td>
          <td>Make modal colour class names more unique - core-framework overriding colours</td>
          <td>Michael King</td>
          <td class="nowrap">16-sep-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.134
            </a>
          </td>
          <td>Global</td>
          <td>New component - UI-Block</td>
          <td>Michael King</td>
          <td class="nowrap">15-sep-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.133
            </a>
          </td>
          <td>Global</td>
          <td>New component - list-selectable</td>
          <td>Michael King</td>
          <td class="nowrap">14-sep-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.131
            </a>
          </td>
          <td>Global</td>
          <td>Actions summary updates</td>
          <td>Michael King</td>
          <td class="nowrap">12-sep-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.129
            </a>
          </td>
          <td>Global</td>
          <td>Update context-menu part 2</td>
          <td>Michael King</td>
          <td class="nowrap">06-sep-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.129
            </a>
          </td>
          <td>Global</td>
          <td>Update context-menu</td>
          <td>Michael King</td>
          <td class="nowrap">06-sep-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.128
            </a>
          </td>
          <td>Global</td>
          <td>Add new 'Button Summary' and 'Actions Summary' components</td>
          <td>Michael King</td>
          <td class="nowrap">24-aug-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.127
            </a>
          </td>
          <td>Global</td>
          <td>Add click event for card-mini</td>
          <td>Michael King</td>
          <td class="nowrap">01-aug-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.126
            </a>
          </td>
          <td>Global</td>
          <td>Update overlay to allow min-width setting and modify standard accordion to allow different bg colours</td>
          <td>Michael King</td>
          <td class="nowrap">26-jul-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.125
            </a>
          </td>
          <td>Global</td>
          <td>Update Accordion fancy</td>
          <td>Michael King</td>
          <td class="nowrap">25-jul-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.124
            </a>
          </td>
          <td>Global</td>
          <td>Update Alert shield tooltip to allow any content</td>
          <td>Michael King</td>
          <td class="nowrap">22-jul-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.123
            </a>
          </td>
          <td>Global</td>
          <td>Add new component for Alert shield & include optional tooltips</td>
          <td>Michael King</td>
          <td class="nowrap">22-jul-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.122
            </a>
          </td>
          <td>Global</td>
          <td>Add ability to modify count colour</td>
          <td>Michael King</td>
          <td class="nowrap">16-jun-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.120
            </a>
          </td>
          <td>Global</td>
          <td>Update custon and standard buttons</td>
          <td>Michael King</td>
          <td class="nowrap">08-jun-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.119
            </a>
          </td>
          <td>Global</td>
          <td>Comments widget - fix validation msg</td>
          <td>Michael King</td>
          <td class="nowrap">31-may-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.118
            </a>
          </td>
          <td>Global</td>
          <td>Add updated comment widget - add boolean for delete</td>
          <td>Michael King</td>
          <td class="nowrap">31-may-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.117
            </a>
          </td>
          <td>Global</td>
          <td>Add updated comment widget</td>
          <td>Michael King</td>
          <td class="nowrap">31-may-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.116
            </a>
          </td>
          <td>Global</td>
          <td>Update new custom select to include icons</td>
          <td>Michael King</td>
          <td class="nowrap">27-may-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.115
            </a>
          </td>
          <td>Global</td>
          <td>Add custom select</td>
          <td>Michael King</td>
          <td class="nowrap">25-may-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.114
            </a>
          </td>
          <td>Global</td>
          <td>Create NEW advanced progress-indicator</td>
          <td>Michael King</td>
          <td class="nowrap">20-may-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.113
            </a>
          </td>
          <td>Global</td>
          <td>Create a Carousel for Design Language</td>
          <td>Michael King</td>
          <td class="nowrap">19-may-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.111
            </a>
          </td>
          <td>Global</td>
          <td>Update EventEmitter for blade close</td>
          <td>Michael King</td>
          <td class="nowrap">13-may-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.110
            </a>
          </td>
          <td>Global</td>
          <td>Add for value for tooltip label</td>
          <td>Michael King</td>
          <td class="nowrap">11-may-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.109
            </a>
          </td>
          <td>Global</td>
          <td>Fix aa-tootip when using a custom icon</td>
          <td>Michael King</td>
          <td class="nowrap">04-may-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.107
            </a>
          </td>
          <td>Global</td>
          <td>Ability to hide modal header</td>
          <td>Michael King</td>
          <td class="nowrap">22-april-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.106
            </a>
          </td>
          <td>Global</td>
          <td>Add ability to truncate the standard blade heading which will in-turn prevent text wrapping</td>
          <td>Michael King</td>
          <td>22-april-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.105
            </a>
          </td>
          <td>Global</td>
          <td>Add divider for tab-navigation</td>
          <td>Michael King</td>
          <td>19-april-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.104
            </a>
          </td>
          <td>Global</td>
          <td>Fix transparency bug on info-panels</td>
          <td>Michael King</td>
          <td>14-april-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.103
            </a>
          </td>
          <td>Global</td>
          <td>Fix Slider layout</td>
          <td>Michael King</td>
          <td>12-april-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.102
            </a>
          </td>
          <td>Global</td>
          <td>Export the modal service</td>
          <td>Michael King</td>
          <td>06-april-2022</td>
        </tr>
        <tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.100
            </a>
          </td>
          <td>Global</td>
          <td>Fix Toastr</td>
          <td>Michael King</td>
          <td>06-april-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.99
            </a>
          </td>
          <td>Global</td>
          <td>Update accordion fancy</td>
          <td>Michael King</td>
          <td>06-april-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.91
            </a>
          </td>
          <td>Global</td>
          <td>Blade custom header custom button styles</td>
          <td>Michael King</td>
          <td>01-march-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.89
            </a>
          </td>
          <td>Global</td>
          <td>Update tabs for blades</td>
          <td>Michael King</td>
          <td>24-feb-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.86
            </a>
          </td>
          <td>Global</td>
          <td>Update Accordion for blades</td>
          <td>Michael King</td>
          <td>22-feb-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.83
            </a>
          </td>
          <td>Global</td>
          <td>Update Accordion fancy</td>
          <td>Michael King</td>
          <td>11-feb-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.82
            </a>
          </td>
          <td>Global</td>
          <td>Updates for dark-mode</td>
          <td>Michael King</td>
          <td>11-feb-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.81
            </a>
          </td>
          <td>Global</td>
          <td>Fix issue with auto-resize directive not resizing, when the form control is passed with a value set</td>
          <td>Mykhailo Seniutovych</td>
          <td>08-feb-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.79
            </a>
          </td>
          <td>Global</td>
          <td>Fix blade pinning</td>
          <td>Michael King</td>
          <td>08-feb-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.78
            </a>
          </td>
          <td>Global</td>
          <td>Updates to User Feedback Panel</td>
          <td>Michael King</td>
          <td>08-feb-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.77
            </a>
          </td>
          <td>Global</td>
          <td>Add ability to disabled accordions</td>
          <td>Michael King</td>
          <td>07-feb-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.76
            </a>
          </td>
          <td>Global</td>
          <td>Update textarea auto-resize directive to support resizing when form control value changes</td>
          <td>Mykhailo Seniutovych</td>
          <td>07-feb-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.74
            </a>
          </td>
          <td>Global</td>
          <td>Add slider</td>
          <td>Michael King</td>
          <td>02-feb-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.73
            </a>
          </td>
          <td>Global</td>
          <td>Create Toastr components and associated styles</td>
          <td>Michael King</td>
          <td>28-jan-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.72
            </a>
          </td>
          <td>Global</td>
          <td>Fix dodgy expand/collapse icons on accordion-fancy</td>
          <td>Michael King</td>
          <td>28-jan-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.70
            </a>
          </td>
          <td>Global</td>
          <td>Add ability to add aa-buttons to modal</td>
          <td>Michael King</td>
          <td>20-jan-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.69
            </a>
          </td>
          <td>Global</td>
          <td>Add new component - button split</td>
          <td>Michael King</td>
          <td>14-jan-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.68
            </a>
          </td>
          <td>Global</td>
          <td>Remove hard-coded icon colour inside component. The colour should be set usuing the appropriate type</td>
          <td>Michael King</td>
          <td>07-jan-2022</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.67
            </a>
          </td>
          <td>Global</td>
          <td>Add count for tabs and add tooltip for legends</td>
          <td>Michael King</td>
          <td>21-dec-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.66
            </a>
          </td>
          <td>Global</td>
          <td>Revert components package.json peerDependencies to version 11.x</td>
          <td>Michael King</td>
          <td>21-dec-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.64
            </a>
          </td>
          <td>Global</td>
          <td>NEW directive for textarea auto-resize</td>
          <td>Michael King</td>
          <td>08-dec-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.62
            </a>
          </td>
          <td>Global</td>
          <td>Change overlay zIndex from boolean to string</td>
          <td>Michael King</td>
          <td>02-dec-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.57
            </a>
          </td>
          <td>Global</td>
          <td>Add new component buttonEnriched and fix popovers</td>
          <td>Michael King</td>
          <td>01-dec-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.56
            </a>
          </td>
          <td>Global</td>
          <td>Fix icons for accordion and buttons</td>
          <td>Michael King</td>
          <td>15-nov-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.55
            </a>
          </td>
          <td>Global</td>
          <td>Prevent opacity boolean for info-panels</td>
          <td>Michael King</td>
          <td>28-oct-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.53
            </a>
          </td>
          <td>Global</td>
          <td>Fix aa-card layout.</td>
          <td>Michael King</td>
          <td>26-oct-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.51
            </a>
          </td>
          <td>Global</td>
          <td>Fix text wrapping issue on people card by reducing truncation count.</td>
          <td>Michael King</td>
          <td>06-oct-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.50
            </a>
          </td>
          <td>Global</td>
          <td>Add customizable z-index for tooltips.</td>
          <td>Michael King</td>
          <td>23-sept-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.47
            </a>
          </td>
          <td>Global & DL</td>
          <td>Add new page header and associated menu/blade components for Core project.</td>
          <td>Michael King</td>
          <td>14-sept-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.46
            </a>
          </td>
          <td>Global</td>
          <td>Add ability to set z-index on modal</td>
          <td>Michael King</td>
          <td>13-sept-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.45
            </a>
          </td>
          <td>Global</td>
          <td>Update modal to allow maxWidth setting and rightPos for displaying over aa-blade. Have also added colour theming</td>
          <td>Michael King</td>
          <td>10-sept-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.41
            </a>
          </td>
          <td>Global</td>
          <td>Add an avatar image profile container</td>
          <td>Michael King</td>
          <td>08-sept-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.40
            </a>
          </td>
          <td>Global</td>
          <td>Card styling</td>
          <td>Michael King</td>
          <td>07-sept-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.38
            </a>
          </td>
          <td>Global</td>
          <td>Fix tab navigation for rout-outlet implementation.</td>
          <td>Michael King</td>
          <td>06-sept-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.36
            </a>
          </td>
          <td>Design Language</td>
          <td>Create a DL only component for release notes.</td>
          <td>Michael King</td>
          <td>26-aug-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.35
            </a>
          </td>
          <td>Global</td>
          <td>Update truncation for card-mini (requires Styles version 11.2.79).</td>
          <td>Michael King</td>
          <td>26-aug-2021</td>
        </tr>
        <tr>
          <td>
            <a target="_blank" href="https://angloteamproject.visualstudio.com/CoreTeamProject/_artifacts/feed/Core/Npm/@angloamerican%2Fcomponents/versions">
              11.2.33
            </a>
          </td>
          <td>Global</td>
          <td>Blade-top update.</td>
          <td>Michael King</td>
          <td>17-aug-2021</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
