<section class="control-bar">
    <aa-anchor-back [anchorBackText]="'Style guide'" routerLink=""></aa-anchor-back>
    <h1>List selectable</h1>
</section>

<section class="content-container padding-0">
    <!-- start content repeater -->
    <section class="content-repeater flex-group">
        <section class="flex-1 col-left flex-start">
            <h2>List selectable</h2>
            <div class="describe margin-bottom-1">
                <p>A customisable, selectable list</p>
            </div>

            <aa-list-selectable
                [fixedPosition]="false"
                [flexStart]="true"
            >
                <li
                    *ngFor="let item of listSelectableItems; let i = index"
                    (click)="setIndex(i)"
                    [ngClass]="{'selected':selectedIndex === i, 'disabled':item.disabled}"
                    class="flex-group flex-start flex-align-center"
                >
                    <a>{{item.name}}</a>
                </li>
            </aa-list-selectable>

        </section>

        <section class="flex-2 col-right flex-start">
            <table class="half-width">
                <caption>Attributes</caption>
                <thead>
                    <tr>
                        <th>Element</th>
                        <th>Attribute</th>
                        <th>Type</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td datalabel="Element">aa-list-selectable</td>
                        <td datalabel="Attribute">[fixedPosition]</td>
                        <td datalabel="Type">Boolean</td>
                        <td datalabel="Default">False</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-list-selectable</td>
                        <td datalabel="Attribute">[flexStart]</td>
                        <td datalabel="Type">Boolean</td>
                        <td datalabel="Default">True (for full width set to false)</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-list-selectable</td>
                        <td datalabel="Attribute">topPos</td>
                        <td datalabel="Type">Any</td>
                        <td datalabel="Default">Only applicable if 'fixedPosition' is true</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-list-selectable</td>
                        <td datalabel="Attribute">rightPos</td>
                        <td datalabel="Type">Any</td>
                        <td datalabel="Default">Only applicable if 'fixedPosition' is true</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-list-selectable</td>
                        <td datalabel="Attribute">bottomPos</td>
                        <td datalabel="Type">Any</td>
                        <td datalabel="Default">Only applicable if 'fixedPosition' is true</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-list-selectable</td>
                        <td datalabel="Attribute">leftPos</td>
                        <td datalabel="Type">Any</td>
                        <td datalabel="Default">Only applicable if 'fixedPosition' is true</td>
                    </tr>
                    <tr>
                        <td datalabel="Element">aa-list-selectable</td>
                        <td datalabel="Attribute">zIndex</td>
                        <td datalabel="Type">Number</td>
                        <td datalabel="Default">Only applicable if 'fixedPosition' is true</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- mini menu -->
        <nav class="mini-menu flex-group flex-end">
            <button class="custom-icons bg-aa-light-blue-100" (click)="bladeIsOpen(true)">
                <span class="material-icons">visibility</span><span>View gist</span>
            </button>
        </nav>
    </section>

    <aa-blade
        [blockPageUI]="false"
        [toggleBlade]="toggleBlade"
        [suppressAutoClose]="false"
        topPosition="3.5rem"
        [zIndex]="2"
        bladeSize="one-column-width"
        bladeHeading="Gist"
        [enableIcon]="true"
        iconName="table_rows"
        (bladeOpen)="bladeIsOpen($event)"
    >
        <article class="blade-content">
            <a href="https://gist.github.com/angloux/679fa7cc34b47a08f4fc0b9fee12835b" target="_blank">View Gist on GitHub</a>
            <app-gist src="angloux/679fa7cc34b47a08f4fc0b9fee12835b"></app-gist>
        </article>
    </aa-blade>

</section>
