<section class="control-bar">
  <h1>NGB datepicker</h1>
</section>
<section class="content-container">
  <div class="flex-group flex-column">
    <a href="https://ng-bootstrap.github.io/#/components/datepicker/overview">NGB datepicker info</a>
    <div class="describe margin-top-1">
      <p>For all NG11 > apps, please uninstall Bootstrap with the following:<br /> <strong>'npm uninstall bootstrap'</strong>.</p>
      <p>The NGB datepicker CSS is now included in Design Language.</p>
    </div>
    <h2 class="margin-bottom-0">Example</h2>
    <app-gist src="angloux/cd720ceeb8278c691e52facbf8a27990"></app-gist>
  </div>
</section>